@import '../common/base.less';

.sheet {
  width: 1140px;
  margin: 0 auto;
  padding-bottom: 500px;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .sheet-box1 {
    tr{
      td{
        padding: 20px;
        border: 4px solid #231815;
        .t1{
          color: #231815;
          font-size: 82px;
        }
        .text{
          margin-left: 18px;
          .t2{
            font-size: 32px;
            width: 695px;
            color: #313333;
            opacity: 0.8;
          }
          .t3{
            font-size: 32px;
            width: 695px;
            color: #313333;
            opacity: 0.8;
          }
        }
        .t4{
          font-size: 32px;
          color: #313333;
          opacity: 0.8;
          padding-bottom: 18px;
          border-bottom: 4px solid #231815;
        }
        .t5{
          color: #231815;
          font-size: 82px
        }
        .t6{
          width: 66px;
          color: #afaeae;
          font-size: 50px;
        }
        .t7{
          border-top: 4px solid #231815;
          color: #231815;
          font-size: 82px;
        }
      }
    }
  }

  .sheet-box2 {
    tr{
      td{
        padding: 20px;
        border: 4px solid #231815;
        .text{
          margin-left: 18px;
          .t1{
            font-size: 32px;
            width: 695px;
            color: #313333;
            opacity: 0.8;
          }
          .t2{
            font-size: 32px;
            width: 730px;
            color: #313333;
            opacity: 0.8;
          }
        }
        .t3{
          font-size: 32px;
          color: #313333;
          opacity: 0.8;
        }
        .t4{
          font-size: 32px;
          color: #313333;
          opacity: 0.8;
        }
        .ttt{
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 20px;
        }
        .tt{
          padding-left: 20px;
          padding-top: 18px;
          padding-bottom: 10px;
          border-top: 4px solid #231815;
        }
      }
    }
  }

  .sheet-box3 {
    tr{
      td{
        padding: 20px;
        border: 4px solid #231815;
        .t1{
          font-size: 32px;
          width: 695px;
          color: #313333;
          opacity: 0.8;
        }
        .t2{
          font-size: 32px;
          width: 730px;
          color: #313333;
          opacity: 0.8;
        }
        .t3{
          font-size: 24px;
          color: #313333;
          opacity: 0.8;
          white-space: nowrap;
        }
        .t4{
          font-size: 24px;
          color: #313333;
          opacity: 0.8;
          white-space: nowrap;
          span{
            width: 28%;
            display: inline-block;
          }
        }
        .t5{
          padding-left: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 24px;
          color: #313333;
          opacity: 0.8;
          white-space: nowrap;
          border-bottom: 4px solid #231815;
        }
        .t6{
          padding-left: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 24px;
          color: #313333;
          opacity: 0.8;
          white-space: nowrap;
        }
        .t7{
          padding-left: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 24px;
          color: #313333;
          white-space: nowrap;
        }
        .t8{
          padding-left: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 24px;
          color: #313333;
          white-space: nowrap;
        }
      }
    }
  }
}