html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  font-family: sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  border: none;
}
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul,
dl {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
a {
  text-decoration: none;
  transition: color 0.2s ease;
}
img {
  border: none;
}
em {
  font-style: normal;
}
.clr {
  zoom: 1;
}
.clr:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.i-hide {
  display: none;
}
.i-show {
  display: block;
}
.lineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
}
.lbBox {
  font-size: 0 !important;
  *word-spacing: -1px !important;
}
.emptys {
  margin-left: -1px;
  width: 1px;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
label,
dd,
dd,
dt {
  font-weight: normal;
}
.boxsiz {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a:hover,
a:focus {
  text-decoration: none;
}
html,
body {
  width: 100%;
  min-width: 1360px;
}
body {
  min-width: 1180px;
}
.width-1180 {
  width: 1180px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
/* 两侧对齐 */
.bothSide {
  justify-content: space-between;
}
/* 平均分布 */
.avarage {
  justify-content: space-around;
}
/* 水平居中 */
.rowCenter {
  justify-content: center;
}
/* 垂直居中 */
.verCenter {
  align-items: center;
}
.sheet {
  width: 1140px;
  margin: 0 auto;
}
.sheet .sheet1 {
  width: 1138px;
  border: 4px solid #000000;
}
.sheet .sheet1 li {
  border-bottom: 4px solid #000000;
}
.sheet .sheet1 li.box1 {
  height: 263px;
}
.sheet .sheet1 li.box1 .w1 {
  width: 856px;
  height: 100%;
  border-right: 4px solid #000000;
}
.sheet .sheet1 li.box1 .w1 img {
  display: block;
  margin: 0 auto;
}
.sheet .sheet1 li.box1 .w1 p {
  margin-top: 23px;
  font-size: 40px;
  color: #000000;
}
.sheet .sheet1 li.box1 .w2 {
  width: 286px;
}
.sheet .sheet1 li.box2 {
  position: relative;
  height: 324px;
}
.sheet .sheet1 li.box2 .shou {
  position: absolute;
  left: 9px;
  bottom: 88px;
}
.sheet .sheet1 li.box2 .cod {
  position: absolute;
  right: 0;
  bottom: 129px;
}
.sheet .sheet1 li.box2 .icon-txt {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: -54px auto 0;
  font-size: 99px;
  color: #999999;
  text-align: center;
}
.sheet .sheet1 li.box2 .tit {
  font-size: 116px;
  color: #000000;
  text-align: left;
  width: 100%;
  padding-left: 15px;
}
.sheet .sheet1 li.box2 .text {
  width: 100%;
  padding-left: 100px;
}
.sheet .sheet1 li.box2 .text .t1 {
  font-size: 36px;
  color: #000000;
}
.sheet .sheet1 li.box2 .text .t2 {
  font-size: 36px;
  color: #000000;
}
.sheet .sheet1 li.box3 {
  height: 311px;
}
.sheet .sheet1 li.box3 .w1 {
  width: 394px;
  border-right: 4px solid #000000;
}
.sheet .sheet1 li.box3 .w1 .t1 {
  height: 74px;
  line-height: 74px;
  text-align: right;
  font-size: 36px;
  color: #000000;
  padding-right: 65px;
  border-bottom: 4px solid #000000;
}
.sheet .sheet1 li.box3 .w1 .t2 {
  font-size: 166px;
  color: #000000;
  text-align: center;
}
.sheet .sheet1 li.box3 .w2 {
  width: 382px;
  border-right: 4px solid #000000;
}
.sheet .sheet1 li.box3 .w3 {
  width: 122px;
  border-right: 4px solid #000000;
}
.sheet .sheet1 li.box3 .w3 p {
  font-size: 86px;
  color: #afaeae;
  text-align: center;
  line-height: 98px;
}
.sheet .sheet1 li.box3 .w4 {
  width: 252px;
}
.sheet .sheet1 li.box3 .w4 .t1 {
  height: 205px;
  border-bottom: 4px solid #000000;
}
.sheet .sheet1 li.box3 .w4 .t2 {
  font-size: 81px;
  color: #000000;
  text-align: center;
}
.sheet .sheet1 li:last-child {
  border-bottom: none;
}
.sheet .sheet2 {
  width: 1138px;
  border: 4px solid #000000;
}
.sheet .sheet2 li {
  border-bottom: 4px solid #000000;
}
.sheet .sheet2 li.box1 {
  height: 134px;
}
.sheet .sheet2 li.box1 p {
  width: 100%;
  text-align: left;
  font-size: 36px;
  color: #000000;
  padding-left: 120px;
}
.sheet .sheet2 li.box2 {
  height: 312px;
}
.sheet .sheet2 li.box2 .w {
  border-right: 4px solid #000000;
  flex: 0 0 50%;
}
.sheet .sheet2 li.box2 .w:last-child {
  border-right: none;
}
.sheet .sheet2 li.box2 .t1 {
  padding-left: 27px;
  padding-top: 30px;
  font-size: 36px;
  color: #000000;
}
.sheet .sheet2 li.box2 .t2 {
  height: 158px;
  padding-left: 27px;
  padding-top: 30px;
  font-size: 36px;
  color: #000000;
  border-bottom: 4px solid #000000;
}
.sheet .sheet2 li.box2 .t3 {
  padding-left: 17px;
  height: 158px;
  font-size: 34px;
  color: #000000;
}
.sheet .sheet2 li.box2 .t3 p {
  width: 100%;
  text-align: left;
}
.sheet .sheet2 li.box3 {
  height: 263px;
}
.sheet .sheet2 li.box3 .w {
  border-right: 4px solid #000000;
  flex: 0 0 50%;
}
.sheet .sheet2 li.box3 .w:last-child {
  border-right: none;
}
.sheet .sheet2 li:last-child {
  border-bottom: none;
}
.sheet .sheet3 {
  margin-top: 54px;
  margin-bottom: 54px;
  width: 1138px;
  border: 4px solid #000000;
}
.sheet .sheet3 li {
  border-bottom: 4px solid #000000;
}
.sheet .sheet3 li.box1 {
  height: 206px;
}
.sheet .sheet3 li.box1 .w1 {
  width: 1136px;
  text-align: right;
  border-right: 4px solid #000000;
  padding-right: 55px;
  align-items: flex-end;
}
.sheet .sheet3 li.box1 .w1 p {
  font-size: 40px;
  color: #000000;
}
.sheet .sheet3 li.box1 .w2 {
  width: 170px;
}
.sheet .sheet3 li.box1 .w2 p {
  line-height: 103px;
  height: 103px;
  font-size: 33px;
  color: #000000;
  text-align: center;
  white-space: nowrap;
}
.sheet .sheet3 li.box1 .w2 p:first-child {
  border-bottom: 4px solid #000000;
}
.sheet .sheet3 li.box2 {
  height: 110px;
}
.sheet .sheet3 li.box2 p {
  width: 100%;
  text-align: left;
  font-size: 36px;
  color: #000000;
  padding-left: 109px;
}
.sheet .sheet3 li.box3 {
  height: 216px;
}
.sheet .sheet3 li.box3 .w1 {
  width: 370px;
  border-right: 4px solid #000000;
}
.sheet .sheet3 li.box3 .w2 {
  width: 772px;
  padding-left: 10px;
}
.sheet .sheet3 li.box3 .t1 {
  height: 144px;
  border-bottom: 4px solid #000000;
  font-size: 34px;
  color: #000000;
  padding-left: 20px;
}
.sheet .sheet3 li.box3 .t2 {
  line-height: 68px;
  height: 68px;
  font-size: 34px;
  padding-left: 20px;
  color: #000000;
}
.sheet .sheet3 li.box3 .text {
  width: 100%;
  text-align: left;
}
.sheet .sheet3 li.box3 .text p {
  width: 33%;
  text-align: left;
  font-size: 25px;
  color: #000000;
  white-space: nowrap;
}
.sheet .sheet3 li.box4 {
  color: #000000;
  font-size: 30px;
}
.sheet .sheet3 li.box4 p {
  line-height: 64px;
}
.sheet .sheet3 li.box4 .w1 {
  width: 201px;
  height: 64px;
  white-space: nowrap;
  padding-left: 18px;
  border-right: 4px solid #000000;
}
.sheet .sheet3 li.box4 .w2 {
  width: 257px;
  height: 64px;
  white-space: nowrap;
  padding-left: 18px;
  border-right: 4px solid #000000;
}
.sheet .sheet3 li.box4 .w3 {
  width: 688px;
  white-space: nowrap;
  padding-left: 14px;
}
.sheet .sheet3 li:last-child {
  border-bottom: none;
}
.sheets {
  width: 1140px;
  margin: 0 auto;
}
.sheets .sheet1 {
  width: 1138px;
  border: 1px solid #000000;
}
.sheets .sheet1 li {
  border-bottom: 1px solid #000000;
}
.sheets .sheet1 li.box1 {
  height: 240px;
}
.sheets .sheet1 li.box1 span {
  color: #000000;
  font-size: 42px;
}
.sheets .sheet1 li.box2 {
  height: 147px;
}
.sheets .sheet1 li.box2 .w1 {
  width: 87px;
  border-right: 1px solid #000000;
}
.sheets .sheet1 li.box2 .w1 p {
  font-size: 23px;
  color: #000000;
  text-align: center;
  width: 37px;
  margin: 0 auto;
}
.sheets .sheet1 li.box2 .w2 {
  width: 448px;
  border-right: 1px solid #000000;
}
.sheets .sheet1 li.box2 .w2 .t1 {
  padding-left: 10px;
  font-size: 50px;
  color: #000000;
}
.sheets .sheet1 li.box2 .w2 .t2 {
  padding-right: 26px;
  text-align: right;
  font-size: 60px;
  color: #000000;
}
.sheets .sheet1 li.box2 .w3 {
  width: 87px;
  border-right: 1px solid #000000;
}
.sheets .sheet1 li.box2 .w3 p {
  font-size: 23px;
  color: #000000;
  text-align: center;
  width: 37px;
  margin: 0 auto;
}
.sheets .sheet1 li.box2 .w4 {
  width: 531px;
}
.sheets .sheet1 li.box2 .w4 .t1 {
  padding-top: 8px;
  padding-left: 10px;
  font-size: 50px;
  color: #000000;
}
.sheets .sheet1 li.box2 .w4 .t2 {
  font-size: 60px;
  color: #000000;
  text-align: center;
}
.sheets .sheet1 li.box3 {
  height: 73px;
}
.sheets .sheet1 li.box3 .w1 {
  width: 87px;
  border-right: 1px solid #000000;
}
.sheets .sheet1 li.box3 .w2 {
  width: 540px;
  border-right: 1px solid #000000;
}
.sheets .sheet1 li.box3 .w2 p {
  color: #000000;
  font-size: 50px;
  text-align: center;
}
.sheets .sheet1 li.box3 .w3 {
  width: 200px;
  border-right: 1px solid #000000;
}
.sheets .sheet1 li.box3 .w3 p {
  color: #000000;
  font-size: 50px;
  text-align: center;
}
.sheets .sheet1 li.box3 .w4 {
  width: 335px;
}
.sheets .sheet1 li.box3 .w4 p {
  font-size: 50px;
  color: #000000;
  text-align: center;
}
.sheets .sheet1 li.box4 {
  height: 193px;
}
.sheets .sheet1 li.box4 .w1 {
  width: 87px;
  border-right: 1px solid #000000;
}
.sheets .sheet1 li.box4 .w1 p {
  font-size: 23px;
  color: #000000;
  text-align: center;
  width: 37px;
  margin: 0 auto;
}
.sheets .sheet1 li.box4 .w2 {
  width: 618px;
  border-right: 1px solid #000000;
}
.sheets .sheet1 li.box4 .w2 p {
  padding-left: 16px;
  color: #000000;
  font-size: 32px;
  text-align: left;
}
.sheets .sheet1 li.box4 .w2 .t1 {
  margin-top: 22px;
  margin-bottom: 70px;
}
.sheets .sheet1 li.box4 .w3 {
  width: 122px;
  border-right: 1px solid #000000;
}
.sheets .sheet1 li.box4 .w3 p {
  color: #000000;
  font-size: 32px;
  height: 98px;
  text-align: center;
  margin: 0 auto;
  padding: 0 27px;
}
.sheets .sheet1 li.box4 .w3 .t1 {
  border-bottom: 1px solid #000000;
}
.sheets .sheet1 li.box4 .w4 {
  width: 335px;
}
.sheets .sheet1 li:last-child {
  border-bottom: none;
}
.sheets .sheet2 {
  width: 1138px;
  border: 1px solid #000000;
}
.sheets .sheet2 li {
  border-bottom: 1px solid #000000;
}
.sheets .sheet2 li.box1 {
  height: 87px;
}
.sheets .sheet2 li.box1 p {
  color: #000000;
  font-size: 42px;
}
.sheets .sheet2 li.box2 {
  height: 194px;
}
.sheets .sheet2 li.box2 .w1 {
  width: 690px;
  border-right: 1px solid #000000;
}
.sheets .sheet2 li.box2 .w1 .text {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 5px;
}
.sheets .sheet2 li.box2 .w1 .text p {
  font-size: 23px;
  color: #000000;
}
.sheets .sheet2 li.box2 .w1 img {
  width: 100%;
  height: 96px;
  display: block;
}
.sheets .sheet2 li.box2 .w1 .t1 {
  font-size: 23px;
  color: #000000;
}
.sheets .sheet2 li.box2 .w2 {
  width: 453px;
}
.sheets .sheet2 li.box2 .w2 p {
  padding-top: 18px;
  padding-left: 18px;
  color: #000000;
  font-size: 32px;
}
.sheets .sheet2 li.box3 {
  line-height: 87px;
  height: 87px;
}
.sheets .sheet2 li.box3 .w1 {
  width: 289px;
  border-right: 1px solid #000000;
}
.sheets .sheet2 li.box3 .w2 {
  width: 406px;
  border-right: 1px solid #000000;
}
.sheets .sheet2 li.box3 .w2 p {
  text-align: center;
  font-size: 42px;
  color: #000000;
}
.sheets .sheet2 li.box3 .w3 {
  width: 263px;
  border-right: 1px solid #000000;
}
.sheets .sheet2 li.box3 .w3 p {
  font-size: 32px;
  color: #000000;
  padding-left: 15px;
}
.sheets .sheet2 li.box3 .w4 {
  width: 194px;
}
.sheets .sheet2 li.box4 {
  height: 163px;
}
.sheets .sheet2 li.box4 .w1 {
  width: 690px;
  border-right: 1px solid #000000;
}
.sheets .sheet2 li.box4 .w1 p {
  width: 100%;
  text-align: left;
  padding-left: 15px;
}
.sheets .sheet2 li.box4 .w1 .t1 {
  color: #000000;
  font-size: 32px;
}
.sheets .sheet2 li.box4 .w1 .t2 {
  font-size: 25px;
  color: #000000;
}
.sheets .sheet2 li.box4 .w1 .t3 {
  font-size: 25px;
  color: #000000;
}
.sheets .sheet2 li.box4 .w2 {
  width: 453px;
}
.sheets .sheet2 li.box4 .w2 p {
  width: 100%;
  text-align: left;
  padding-left: 5px;
  font-size: 25px;
  color: #000000;
}
.sheets .sheet2 li.box4 .w2 .t1 {
  margin-top: 20px;
  white-space: nowrap;
}
.sheets .sheet2 li.box5 {
  height: 87px;
}
.sheets .sheet2 li.box5 .w1 {
  width: 690px;
  padding-left: 16px;
  border-right: 1px solid #000000;
}
.sheets .sheet2 li.box5 .w1 p {
  width: 100%;
  text-align: left;
  font-size: 19px;
  color: #000000;
}
.sheets .sheet2 li.box5 .w1 .t1 {
  margin-bottom: 15px;
}
.sheets .sheet2 li.box5 .w2 {
  width: 453px;
  line-height: 87px;
}
.sheets .sheet2 li.box5 .w2 p {
  padding-left: 7px;
  font-size: 19px;
  color: #000000;
}
.sheets .sheet2:last-child {
  border-bottom: none;
}
/*# sourceMappingURL=index.css.map */