<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="./js/flexible.min.js"></script>
    <link rel="stylesheet" href="./js/vue/index.css"/>
    <link rel="stylesheet" href="./css/register/index.css">
</head>
<body>
<div id="app">
    <div class="register">
        <input type="hidden" value="" id="Nc_token">
        <input type="hidden" value="" id="Nc_sessionid">
        <input type="hidden" value="" id="Nc_sign">
        <div class="head row verCenter rowCenter">
            <img src="./images/register/logo.png">
        </div>
        <div class="form-box">
            <div class="inp-wrap row verCenter">
                <i class="iconfont iconicondanseshouji"></i>
                <input type="text" placeholder="请输入注册手机号码" class="inp" v-model="form.Mobile"/>
            </div>
            <div class="inp-wrap row verCenter bothSide">
                <div class="row verCenter">
                    <i class="iconfont iconicondanseshouji1"></i>
                    <input type="text" placeholder="请输入短信验证码" class="inp" v-model="form.ValidCode"/>
                </div>
                <div>
                    <input type="button" class="code" :value="codetext" :class="{'disabled':codeactive}" :disabled="disabled" @click="codeFn"/>
                </div>
            </div>
            <div class="inp-wrap row verCenter bothSide">
                <div class="row rowCenter">
                    <i class="iconfont iconicondanseshouji11"></i>
                    <input :type="type" placeholder="请设置6-20位登录密码" class="inp" v-model="form.Pwd"/>
                </div>
                <van-switch v-model="checked" size="24" @change="change"></van-switch>
            </div>
            <div class="inp-wrap row verCenter">
                <i class="iconfont iconicondanseshouji11"></i>
                <input :type="type" placeholder="请两次确认登录密码" class="inp" v-model="form.PwdConfirm"/>
            </div>
            <div id="verCode" class="boxsiz"></div>
            <div class="agreement row verCenter">
                <div class="gou row rowCenter verCenter" :class="agreement ? '':'gouactive'" @click="agreement=!agreement">
                    <i class="iconfont iconbianzu"></i>
                </div>
                <p class="txt">
                    <span>同意</span>
                    <a @click="tip">《猎板网用户服务协议》</a>
                </p>
            </div>
            <a href="javascript:;" class="btn" @click="submit()">注册</a>
        </div>
        <div class="activity">
            <div class="title">
                <b class="l"></b>
                <b class="r"></b>
                <em class="l"></em>
                <em class="r"></em>
                <span>活动</span>
            </div>
            <div class="ad row rowCenter verCenter">
                <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
                    <van-swipe-item>
                        <van-image fit="cover" src="./images/register/85foropend.png" alt=""/>
                    </van-swipe-item>
                    <van-swipe-item>
                        <van-image fit="cover" src="./images/register/160forcoupon.png" alt=""/>
                    </van-swipe-item>
                </van-swipe>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8" src="//g.alicdn.com/sd/nch5/index.js?t=2015052012"></script>
<script src="./js/vue/vue.min.js"></script>
<script src="./js/vue/axios.min.js"></script>
<script src="./js/vue/vant.min.js"></script>
<script src="./js/util.js"></script>
<script type="text/javascript">
  var nc_token = ["CF_APP_1", (new Date()).getTime(), Math.random()].join(':');

  window.onload = function () {
    var nc = NoCaptcha.init({
      //声明滑动验证需要渲染的目标元素ID。
      renderTo: '#verCode',
      //应用类型标识。它和使用场景标识（scene字段）一起决定了滑动验证的业务场景与后端对应使用的策略模型。您可以在人机验证控制台的配置管理页签找到对应的appkey字段值，请务必正确填写。
      appkey: 'CF_APP_1',
      //使用场景标识。它和应用类型标识（appkey字段）一起决定了滑动验证的业务场景与后端对应使用的策略模型。您可以在人机验证控制台的配置管理页签找到对应的scene值，请务必正确填写。
      scene: 'register',
      //滑动验证码的主键，请勿将该字段定义为固定值。确保每个用户每次打开页面时，其token值都是不同的。系统默认的格式为：”您的appkey”+”时间戳”+”随机数”。
      token: nc_token,
      //业务键字段，可为空。为便于线上问题的排查，建议您按照线上问题定位文档中推荐的方法配置该字段值。
      trans: {"key1": "code0"},
      //语言，默认值为cn（中文）。HTML5应用类型默认支持简体中文、繁体中文、英文语言。
      language: "cn",
      //内部网络请求的超时时间。一般情况建议保持默认值（10000ms）。
      timeout: 10000,
      //允许服务器超时重复次数，默认5次。
      retryTimes: 5,
      //验证通过后，验证码组件是否自动隐藏，默认不隐藏（false）。
      bannerHidden: false,
      //是否默认不渲染，默认值false。当设置为true时，不自动渲染，需要自行调用show方法进行渲染。
      initHidden: false,
      //前端滑动验证通过时会触发该回调参数。您可以在该回调参数中将请求标识（token）、会话ID（sessionid）、签名串（sig）字段记录下来，随业务请求一同发送至您的服务端调用验签。
      callback: function (data) {

        window.console && console.log(nc_token)
        window.console && console.log(data.csessionid)
        window.console && console.log(data.sig)

        document.getElementById('Nc_token').value = nc_token;
        document.getElementById('Nc_sessionid').value = data.csessionid;
        document.getElementById('Nc_sign').value = data.sig;

      },
      error: function (s) {

      }
    });
    NoCaptcha.setEnabled(true);
    //请务必在此处调用一次reset()方法。
    nc.reset();
    //用于配置滑动验证的自定义文案。详细信息，请参见自定义文案与多语言文档。
    NoCaptcha.upLang('cn', {
      //加载状态提示。
      'LOADING': "加载中...",
      //等待滑动状态提示。
      'SLIDER_LABEL': "请向右滑动验证",
      //验证通过状态提示。
      'CHECK_Y': "验证通过",
      //验证失败触发拦截状态提示。
      'ERROR_TITLE': "非常抱歉，这出错了..."
    });
  }
</script>
<script>

  var apiUrl = 'http://111.231.8.26:5000'; //测试
  //var apiUrl = 'https://test.pcbhunt.com'; //预发

  axios.defaults.headers.post['Content-Type'] = 'application/json';


  new Vue({
    el: '#app',
    data: {
      agreement: true,
      type: 'password',
      checked: false,
      codetext: '发送验证码',
      disabled: false,
      codeactive: false,
      c: '',
      form: {
        Mobile: '',
        ValidCode: '',
        Pwd: '',
        PwdConfirm: '',
        WebPromotion: '',
        WebSource: '',
        Nc_token: '',
        Nc_sessionid: '',
        Nc_sign: ''
      }
    },
    created() {

      //注册来源  15天缓存
      var c = Util.getRequest('c');

      if (c) {
        if (!Util.getCookie('WebPromotion')) {
          Util.setCookie('WebPromotion', c, 15);
        }
      }


    },
    methods: {
      tip() {
        var html = `
            <div class="reg-agreement">
        <p class="tit">总则</p>
        <p class="t1">本协议详述您在猎板网平台（https://www.pcbhunt.com/）使用我们的服务所须遵守的条款和条件。如您有任何疑问，请及时联系我们。</p>
        <p class="tit">提示条款</p>
        <p class="t1">
            欢迎您与猎板网平台共同签署本《猎板网平台服务协议》（下称“本协议”）并使用猎板网平台服务！
            各服务条款前所列索引关键词仅为帮助您理解该条款表达的主旨之用，不影响或限制本协议条款的含义或解释。为维护您自身权益，建议您仔细阅读各条款具体表述。
            【审慎阅读】您在申请注册流程中点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将以粗体下划线标识，您应重点阅读。如您对协议有任何疑问，可向猎板网平台客服咨询。
            【签约动作】当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与猎板网达成一致，成为猎板网平台“用户”。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。
        </p>
        <p class="tit">一、定义</p>
        <p class="t1">
            (一) 【猎板网平台】：指包括猎板网（www.pcbhunt.com），猎板网网站移动版（m.pcbhunt.com）等网站及客户端。
            (二) 【猎板网平台服务】：猎板网基于互联网，以包含猎板网平台网站、客户端等在内的各种形态（包括未来技术发展出现的新的服务形态）向您提供的各项服务
            (三) 【同一用户】：使用同一身份认证信息或经猎板网排查认定多个猎板网账户的实际控制人为同一人的，均视为同一用户。
            (四) 【补充协议】：由于互联网高速发展，您与猎板网签署的本协议列明的条款并不能完整罗列并覆盖您与猎板网所有权利与义务，现有的约定也不能保证完全符合未来发展的需求。因此，猎板网平台法律声明及隐私权政策、猎板网平台规则均为本协议的补充协议猎板网平台服务，如您使用上述补充协议，视为您同意上述协议，与本协议不可分割且具有同等法律效力。
        </p>
    </div>
        `;
        vant.Dialog.alert({
          title: '用户服务协议',
          message: html,
          confirmButtonText: '我已阅读用户协议',
          messageAlign: 'left'
        }).then(() => {

        });
      },
      timeNum() {

        var me = this;
        var wait = 60;
        me.disabled = true;
        me.codeactive = true;
        me.codetext = wait + '秒后获取';
        var clock = setInterval(doLoop, 1000);

        function doLoop() {
          wait--;
          if (wait > 0) {
            me.codetext = wait + '秒后获取';
            me.codeactive = true;
          } else {
            clearInterval(clock);
            me.disabled = false;
            me.codeactive = false;
            me.codetext = '重新获取';
            wait = 60;
          }
        }
      },
      codeFn() {
        var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;

        if (!this.form.Mobile) {
          vant.Toast('请输入手机号');
          return false;
        }

        if (!myreg.test(this.form.Mobile)) {
          vant.Toast('请输入正确的手机号');
          return false;
        }

        axios.post(apiUrl + '/api/MemberShip/SendValidCode', {
          'Mobile': this.form.Mobile
        }).then((data) => {
          let res = data.data;

          if (res.Code === 200) {
            this.timeNum();
          } else {
            vant.Toast(res.Message);
          }
        }).catch(function (error) {
          vant.Toast('网络出现问题，请重试！');
        });


      },
      change(val) {
        if (val) {
          this.type = 'text';
        } else {
          this.type = 'password';
        }
      },
      submit() {

        var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;

        if (!this.form.Mobile) {
          vant.Toast('请输入手机号');
          return false;
        }

        if (!myreg.test(this.form.Mobile)) {
          vant.Toast('请输入正确的手机号');
          return false;
        }

        if (!this.form.ValidCode) {
          vant.Toast('请输入短信验证码');
          return false;
        }

        if (!this.form.Pwd) {
          vant.Toast('请输入密码');
          return false;
        }

        if (!this.form.PwdConfirm) {
          vant.Toast('请再次输入密码');
          return false;
        }

        if (!this.agreement) {
          vant.Toast('请同意协议继续');
          return false;
        }


        axios.post(apiUrl + '/api/MemberShip/MinARegister', {
          'Mobile': this.form.Mobile,
          'Pwd': this.form.Pwd,
          'PwdConfirm': this.form.PwdConfirm,
          'ValidCode': this.form.ValidCode,
          'WebPromotion': Util.getCookie('WebPromotion'),
          'WebSource': this.form.WebSource,
          'Nc_token': document.getElementById('Nc_token').value,
          'Nc_sessionid': document.getElementById('Nc_sessionid').value,
          'Nc_sign': document.getElementById('Nc_sign').value,
        }).then((data) => {
          let res = data.data;
          if (res.Code === 200) {
            vant.Toast.success(res.Message);

            Util.setCookie('token', res.Data.Token, 1);

            setTimeout(() => {
              window.location.href = './regSuccess.html'
            }, 2000)

          } else {

            vant.Toast(res.Message);

          }
        }).catch(function (error) {

        });


      }
    }
  });
</script>
</body>
</html>
