<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="./js/flexible.min.js"></script>
    <link rel="stylesheet" href="./js/vue/index.css"/>
    <link rel="stylesheet" href="./css/register/index.css">
</head>
<body>
<div id="app">
    <div class="register">
        <div class="head row verCenter rowCenter">
            <img src="./images/register/logo.png">
        </div>
        <div class="form-box">
            <div class="inp-wrap row verCenter">
                <i class="iconfont iconicondanseshouji"></i>
                <input type="text" placeholder="请输入注册手机号码" class="inp" v-model="form.Mobile"/>
            </div>
            <div class="inp-wrap row verCenter bothSide">
                <div class="row verCenter">
                    <i class="iconfont iconicondanseshouji1"></i>
                    <input type="text" placeholder="请输入短信验证码" class="inp" v-model="form.ValidCode"/>
                </div>
                <div>
                    <input type="button" class="code" :value="codetext" :class="{'disabled':codeactive}" :disabled="disabled" @click="codeFn"/>
                </div>
            </div>
            <div class="inp-wrap row verCenter bothSide">
                <div class="row rowCenter">
                    <i class="iconfont iconicondanseshouji11"></i>
                    <input :type="type" placeholder="请设置6-20位登录密码" class="inp" v-model="form.Pwd"/>
                </div>
                <van-switch v-model="checked" size="24" @change="change"></van-switch>
            </div>
            <div class="inp-wrap row verCenter">
                <i class="iconfont iconicondanseshouji11"></i>
                <input :type="type" placeholder="请两次确认登录密码" class="inp" v-model="form.PwdConfirm"/>
            </div>
            <div class="agreement row verCenter">
                <div class="gou row rowCenter verCenter" :class="agreement ? '':'gouactive'" @click="agreement=!agreement">
                    <i class="iconfont iconbianzu"></i>
                </div>
                <p class="txt">
                    <span>同意</span>
                    <a @click="tip">《猎板网用户服务协议》</a>
                </p>
            </div>
            <a href="javascript:;" class="btn" @click="submit()">注册</a>
        </div>
        <div class="activity">
            <div class="title">
                <b class="l"></b>
                <b class="r"></b>
                <em class="l"></em>
                <em class="r"></em>
                <span>活动</span>
            </div>
            <div class="ad row rowCenter verCenter">
                <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
                    <van-swipe-item>
                        <van-image fit="cover" src="https://img.yzcdn.cn/vant/apple-1.jpg" alt="" />
                    </van-swipe-item>
                    <van-swipe-item>
                        <van-image fit="cover" src="https://img.yzcdn.cn/vant/apple-1.jpg" alt="" />
                    </van-swipe-item>
                </van-swipe>
            </div>
        </div>
    </div>
</div>

<script src="./js/vue/vue.min.js"></script>
<script src="./js/vue/axios.min.js"></script>
<script src="./js/vue/vant.min.js"></script>
<script src="./js/util.js"></script>
<script>

  var apiUrl = 'http://111.231.8.26:5000'; //测试
  //var apiUrl = 'https://test.pcbhunt.com'; //预发

  axios.defaults.headers.post['Content-Type'] = 'application/json';


  new Vue({
    el: '#app',
    data: {
      agreement: true,
      type: 'password',
      checked: false,
      codetext: '发送验证码',
      disabled: false,
      codeactive: false,
      c: '',
      form: {
        Mobile: '',
        ValidCode: '',
        Pwd: '',
        PwdConfirm: '',
        WebPromotion: '',
        WebSource: ''
      }
    },
    created() {

      //注册来源  15天缓存
      var c = Util.getRequest('c');

      if (c) {
        if (!Util.getCookie('WebPromotion')) {
          Util.setCookie('WebPromotion', c, 15);
        }
      }


    },
    methods: {
      tip() {
        var html = `
            <div class="reg-agreement">
        <p class="tit">总则</p>
        <p class="t1">本协议详述您在猎板网平台（https://www.pcbhunt.com/）使用我们的服务所须遵守的条款和条件。如您有任何疑问，请及时联系我们。</p>
        <p class="tit">提示条款</p>
        <p class="t1">
            欢迎您与猎板网平台共同签署本《猎板网平台服务协议》（下称“本协议”）并使用猎板网平台服务！
            各服务条款前所列索引关键词仅为帮助您理解该条款表达的主旨之用，不影响或限制本协议条款的含义或解释。为维护您自身权益，建议您仔细阅读各条款具体表述。
            【审慎阅读】您在申请注册流程中点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将以粗体下划线标识，您应重点阅读。如您对协议有任何疑问，可向猎板网平台客服咨询。
            【签约动作】当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与猎板网达成一致，成为猎板网平台“用户”。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。
        </p>
        <p class="tit">一、定义</p>
        <p class="t1">
            (一) 【猎板网平台】：指包括猎板网（www.pcbhunt.com），猎板网网站移动版（m.pcbhunt.com）等网站及客户端。
            (二) 【猎板网平台服务】：猎板网基于互联网，以包含猎板网平台网站、客户端等在内的各种形态（包括未来技术发展出现的新的服务形态）向您提供的各项服务
            (三) 【同一用户】：使用同一身份认证信息或经猎板网排查认定多个猎板网账户的实际控制人为同一人的，均视为同一用户。
            (四) 【补充协议】：由于互联网高速发展，您与猎板网签署的本协议列明的条款并不能完整罗列并覆盖您与猎板网所有权利与义务，现有的约定也不能保证完全符合未来发展的需求。因此，猎板网平台法律声明及隐私权政策、猎板网平台规则均为本协议的补充协议猎板网平台服务，如您使用上述补充协议，视为您同意上述协议，与本协议不可分割且具有同等法律效力。
        </p>
    </div>
        `;
        vant.Dialog.alert({
          title: '用户服务协议',
          message: html,
          confirmButtonText:'我已阅读用户协议',
          messageAlign: 'left'
        }).then(() => {

        });
      },
      timeNum() {

        var me = this;
        var wait = 60;
        me.disabled = true;
        me.codeactive = true;
        me.codetext = wait + '秒后获取';
        var clock = setInterval(doLoop, 1000);

        function doLoop() {
          wait--;
          if (wait > 0) {
            me.codetext = wait + '秒后获取';
            me.codeactive = true;
          } else {
            clearInterval(clock);
            me.disabled = false;
            me.codeactive = false;
            me.codetext = '重新获取';
            wait = 60;
          }
        }
      },
      codeFn() {
        var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;

        if (!this.form.Mobile) {
          vant.Toast('请输入手机号');
          return false;
        }

        if (!myreg.test(this.form.Mobile)) {
          vant.Toast('请输入正确的手机号');
          return false;
        }

        axios.post(apiUrl + '/api/MemberShip/SendValidCode', {
          'Mobile': this.form.Mobile
        }).then((data) => {
          let res = data.data;

          if (res.Code === 200) {
            this.timeNum();
          } else {
            vant.Toast(res.Message);
          }
        }).catch(function (error) {
          vant.Toast('网络出现问题，请重试！');
        });


      },
      change(val) {
        if (val) {
          this.type = 'text';
        } else {
          this.type = 'password';
        }
      },
      submit() {

        var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;

        if (!this.form.Mobile) {
          vant.Toast('请输入手机号');
          return false;
        }

        if (!myreg.test(this.form.Mobile)) {
          vant.Toast('请输入正确的手机号');
          return false;
        }

        if (!this.form.ValidCode) {
          vant.Toast('请输入短信验证码');
          return false;
        }

        if (!this.form.Pwd) {
          vant.Toast('请输入密码');
          return false;
        }

        if (!this.form.PwdConfirm) {
          vant.Toast('请再次输入密码');
          return false;
        }

        if (!this.agreement) {
          vant.Toast('请同意协议继续');
          return false;
        }


        axios.post(apiUrl + '/api/MemberShip/MinARegister', {
          'Mobile': this.form.Mobile,
          'Pwd': this.form.Pwd,
          'PwdConfirm': this.form.PwdConfirm,
          'ValidCode': this.form.ValidCode,
          'WebPromotion': Util.getCookie('WebPromotion'),
          'WebSource': this.form.WebSource
        }).then((data) => {
          let res = data.data;
          if (res.Code === 200) {
            vant.Toast.success(res.Message);

            Util.setCookie('token', res.Data.Token, 1);

            setTimeout(() => {
              window.location.href = './regSuccess.html'
            }, 2000)

          } else {

            vant.Toast(res.Message);

          }
        }).catch(function (error) {

        });


      }
    }
  });
</script>
</body>
</html>
