<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="./js/flexible.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <link rel="stylesheet" href="./js/vue/index.css"/>
    <link rel="stylesheet" href="./css/caseshow/index.css">
</head>
<body>
<div id="app" class="caseshow">
    <!--head-->
    <div class="pcbbuy-head row verCenter rowCenter">
        <a class="arrow" href="javascript:;">
            <i class="iconfont iconback"></i>
        </a>
        <h2>晒单详细</h2>
        <div class="menu">
            <i class="iconfont iconicondanseshouji7"></i>
        </div>
    </div>
    <!--head end-->

    <!--section-->
    <div class="section-detail">
        <div class="detail">
            <div class="top row bothSide">
                <div class="pic row verCenter">
                    <img src="./images/abouts/t2.png" alt="" class="im">
                    <div class="text">
                        <p class="t1">蔡先生</p>
                        <p class="t2">2020-07-20 14:10 </p>
                    </div>
                </div>
                <div class="star row verCenter">
                    <img src="./images/index/s1.png" alt="">
                    <img src="./images/index/s1.png" alt="">
                    <img src="./images/index/s1.png" alt="">
                    <img src="./images/index/s1.png" alt="">
                    <img src="./images/index/s2.png" alt="">
                </div>
            </div>
            <p class="desc">10.00*10.00cm，1.6mm，2层，数量：5SET</p>
            <div class="content">
                经单高较算办号之分员复信听处细价以料平为写领压同增老于但千技反青始王边称共保了西复金它可般并局米省样名和片指传使片市资我形却调数儿海将类制进报小展群步飞农一图。
                值美行声空列事定无什或圆角了声节流间把断观加声样已因电效你称角特回龙难林连同进油件阶马。
                值美行声空列事定无什或圆角了声节流间把断观加声样已因电效你称角特回龙难林连同进油件阶马。样已因电效你称角特回龙难林连同进油件阶马。
            </div>
            <div class="share-box">
                <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
                    <van-swipe-item>
                        <van-image fit="cover" src="http://img.ichunt.com/images/cms/202001/17/34dbed9a18740816d1ff0f006c82cc52.jpg" alt=""/>
                    </van-swipe-item>
                    <van-swipe-item>
                        <van-image fit="cover" src="http://img.ichunt.com/images/cms/202001/17/dc3f594fce33ed782f16172958b64746.jpg" alt=""/>
                    </van-swipe-item>
                </van-swipe>
            </div>
            <div class="share-box-ico row avarage">
                <div class="box row verCenter">
                    <i class="iconfont iconicondanseshouji8"></i>
                    <span>1,000</span>
                </div>
                <div class="box row verCenter">
                    <i class="iconfont iconicondanseshouji14"></i>
                    <span>1,000</span>
                </div>
                <div class="box row verCenter">
                    <i class="iconfont iconicondanseshouji22"></i>
                    <span>分享</span>
                </div>
            </div>
        </div>
        <div class="title row bothSide">
            <span class="left">晒单推荐</span>
            <div class="right row verCenter">
                <span class="iconfont iconicondansewenhao"></span>
                <span class="t1">我也要晒单</span>
            </div>
        </div>
        <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
            <ul class="list row">
                <li v-for="item in list" :key="item" >
                    <div class="time-b row rowCenter verCenter">
                        <span class="row rowCenter verCenter">48</span>
                        <em class="row rowCenter verCenter">h</em>
                    </div>
                    <div class="pic">
                        <img src="./images/index/b1.png" alt="">
                    </div>
                    <div class="text">
                        <p class="t1">猎板是我打板速度最快的，服务态度非常好，下次还会在下次还会在猎下次还会在猎猎</p>
                        <div class="bottom row bothSide">
                            <div class="person row verCenter">
                                <img src="./images/abouts/t2.png" alt="">
                                <span>王先生</span>
                            </div>
                            <div class="star row verCenter">
                                <img src="./images/index/s1.png" alt="">
                                <img src="./images/index/s1.png" alt="">
                                <img src="./images/index/s1.png" alt="">
                                <img src="./images/index/s1.png" alt="">
                                <img src="./images/index/s2.png" alt="">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </van-list>

    </div>
    <!--section end-->

    <!--bar-->
    <div class="bar-box row rowCenter">
        <a href="javascript:;" class="btn1 row rowCenter verCenter">立即登录</a>
        <a href="javascript:;" class="btn2 row rowCenter verCenter">免费注册</a>
    </div>
    <!--bar end-->

    <!--nav-->
    <ul class="nav row  avarage verCenter">
        <li class="curr">
            <a href="javascript:;">
                <i class="iconfont iconjuxing"></i>
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iconfont iconjijia"></i>
                <p>计价</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iconfont icongouwuche"></i>
                <p>购物车</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iconfont icondingdan"></i>
                <p>订单</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iconfont iconwode"></i>
                <p>我的</p>
            </a>
        </li>
    </ul>
    <!--nav end-->

    <!--menu-->
    <div class="menu-box">
        <div class="box">
            <div class="logo-box">
                <i class="logo"></i>
            </div>
            <div class="menu">
                <ul>
                    <li class="row verCenter curr">
                        <i class="iconfont iconshaidan"></i>
                        <span>客户晒单</span>
                    </li>
                    <li class="row verCenter">
                        <i class="iconfont iconzhicheng"></i>
                        <span>制程工艺</span>
                    </li>
                    <li class="row verCenter">
                        <i class="iconfont icongongchang"></i>
                        <span>工厂展示</span>
                    </li>
                    <li class="row verCenter">
                        <i class="iconfont iconguanyu1"></i>
                        <span>关于猎板</span>
                    </li>
                    <li class="row verCenter">
                        <i class="iconfont iconlianxi"></i>
                        <span>联系我们</span>
                    </li>
                    <li class="row verCenter">
                        <i class="iconfont iconbangzhu"></i>
                        <span>帮助中心</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--menu end-->

</div>

<script src="./js/vue/vue.min.js"></script>
<script src="./js/vue/axios.min.js"></script>
<script src="./js/vue/vant.min.js"></script>
<script src="./js/util.js"></script>
<script>

  new Vue({
    el: '#app',
    data: {
      list: [],
      loading: false,
      finished: false
    },
    created() {

    },
    methods: {
      onLoad() {



        // setTimeout 仅做示例，真实场景中一般为 ajax 请求
        setTimeout(() => {
          for (let i = 0; i < 10; i++) {
            this.list.push(this.list.length + 1);
          }

          // 加载状态结束
          this.loading = false;

          // 数据全部加载完成
          if (this.list.length >= 40) {
            this.finished = true;
          }
        }, 1000);
      }



    }
  });


</script>
</body>
</html>
