<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="./js/flexible.min.js"></script>
    <link rel="stylesheet" href="./js/vue/index.css"/>
    <link rel="stylesheet" href="./css/register/index.css">
</head>
<body>
<div id="app">
    <div class="register">
        <div class="head row verCenter rowCenter">
            <img src="images/register/logo.png">
        </div>
        <div class="form-box">
            <div class="inp-wrap row verCenter">
                <i class="iconfont iconicondanseshouji"></i>
                <input type="text" placeholder="请输入注册手机号码" class="inp" v-model="form.phone"/>
            </div>
            <div class="inp-wrap row verCenter bothSide">
                <div class="row verCenter">
                    <i class="iconfont iconicondanseshouji1"></i>
                    <input type="text" placeholder="请输入短信验证码" class="inp" v-model="form.code"/>
                </div>
                <div>
                    <input type="button" class="code" :value="codetext" :class="{'disabled':codeactive}" :disabled="disabled" @click="codeFn"/>
                </div>
            </div>
            <div class="inp-wrap row verCenter bothSide">
                <div class="row rowCenter">
                    <i class="iconfont iconicondanseshouji11"></i>
                    <input :type="type" placeholder="请设置6-20位登录密码" class="inp" v-model="form.password"/>
                </div>
                <van-switch v-model="checked" size="24" @change="change"></van-switch>
            </div>
            <div class="inp-wrap row verCenter">
                <i class="iconfont iconicondanseshouji11"></i>
                <input type="password" placeholder="请两次确认登录密码" class="inp" v-model="form.repassword"/>
            </div>
            <div class="agreement row verCenter">
                <div class="gou row rowCenter verCenter">
                    <i class="iconfont iconbianzu"></i>
                </div>
                <p class="txt">
                    <span>同意</span>
                    <a href="javascript:;">《猎板网用户服务协议》</a>
                </p>
            </div>
            <a href="javascript:;" class="btn" @click="submit()">注册</a>
        </div>
        <div class="activity">
            <div class="title">
                <b class="l"></b>
                <b class="r"></b>
                <em class="l"></em>
                <em class="r"></em>
                <span>活动</span>
            </div>
            <div class="ad row rowCenter verCenter">广告位</div>
        </div>
    </div>
</div>

<script src="./js/vue/vue.min.js"></script>
<script src="./js/vue/vant.min.js"></script>
<script>

  new Vue({
    el: '#app',
    data: {
      type:'password',
      checked: false,
      codetext: '发送验证码',
      disabled: false,
      codeactive: false,
      form: {
        phone: '',
        code: '',
        password: '',
        repassword: ''
      }
    },
    methods: {
      timeNum() {
        var me = this;
        var wait = 60;
        me.disabled = true;
        me.codeactive = true;
        me.codetext = wait + '秒后获取';
        var clock = setInterval(doLoop, 1000);

        function doLoop() {
          wait--;
          if (wait > 0) {
            me.codetext = wait + '秒后获取';
            me.codeactive = true;
          } else {
            clearInterval(clock);
            me.disabled = false;
            me.codeactive = false;
            me.codetext = '重新获取';
            wait = 60;
          }
        }
      },
      codeFn() {

        if (!this.form.phone) {
          vant.Toast('请输入手机号');
          return false;
        }

        this.timeNum();

      },
      change(val) {
        if (val) {
            this.type='text';
        } else {
          this.type='password';
        }
      },
      submit() {
        if (!this.form.phone) {
          vant.Toast('请输入手机号');
          return false;
        }

        if (!this.form.code) {
          vant.Toast('请输入短信验证码');
          return false;
        }

        if (!this.form.password) {
          vant.Toast('请输入密码');
          return false;
        }

        if (!this.form.repassword) {
          vant.Toast('请再次输入密码');
          return false;
        }


      }
    }
  });


</script>
</body>
</html>
