@import '../common/base.less';

.login-box {
  padding: 88px 0;
  background: #F5F5F5;
  text-align: center;

  .pic {
    width: 520px;
    height: 510px;
    background: url("../../images/login/login_bg.png") no-repeat center;
    background-size: cover;
    overflow: hidden;
  }

  .login-bar {
    text-align: left;
    width: 400px;
    height: 510px;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0px 8px 8px 0px;

    .tit {
      text-align: right;
      padding-top: 20px;
      padding-right: 37px;

      span {
        font-size: 14px;
        color: #666666;
      }

      em {
        font-size: 14px;
        color: #1180c9;
      }
    }

    .t1 {
      margin-top: 18px;
      margin-bottom: 20px;
      font-size: 22px;
      color: #222222;
      font-weight: bold;
      padding-left: 50px;
    }

    .wrap {
      padding-left: 50px;

      .inp-box {
        margin-bottom: 30px;

        .tt {
          font-size: 14px;
          color: #222222;
          margin-bottom: 10px;
        }

        .inp {
          input {
            width: 288px;
            height: 38px;
            background: #FFFFFF;
            border-radius: 3px;
            border: 1px solid #DDDDDD;
            font-size: 14px;
            text-indent: 7px;
          }
        }
      }

      .btn {
        width: 300px;
        height: 40px;
        background: #1180C9;
        border-radius: 3px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        color: #ffffff;
        font-weight: bold;
        display: block;
      }

      .keep {
        padding-right: 50px;
        margin-top: 20px;

        .l {
          .check {
            width: 16px;
            height: 16px;
            border: 1px solid #CCCCCC;
          }

          .tt {
            margin-left: 5px;
            font-size: 12px;
            color: #666666;
          }
        }

        .r {
          font-size: 12px;
          color: #1180c9;
        }
      }

      .or {
        margin-top: 28px;
        position: relative;
        width: 300px;
        height: 1px;
        background: #E8EAEC;

        em {
          position: absolute;
          left: 0;
          right: 0;
          text-align: center;
          font-size: 12px;
          color: #999999;
          width: 18px;
          padding: 0 3px;
          background: #ffffff;
          z-index: 11;
          margin: 0 auto;
          top: -10px;
        }
      }

      .google {
        width: 297px;
        height: 38px;
        background: #FFFFFF;
        border-radius: 20px;
        border: 1px solid #CCCCCC;
        line-height: 38px;
        text-align: center;
        margin-top: 27px;
        display: block;

        .icn {
          width: 16px;
          height: 16px;
          background: url("../../images/login/icon／login／google.png") no-repeat center;
          background-size: cover;
        }

        span {
          font-size: 14px;
          color: #222222;
          margin-left: 40px;
        }
      }
    }
  }
}

