
* {
    margin: 0;
    padding: 0;
}

.f50 {
    font-size: 50px;
}

.f16 {
    font-size: 16px;
}

.btn-yellow {
    background-color: #ff9900;
}

.cl-666 {
    color: #666;
}

.btn-yellow:hover {
    background-color: #ffad33;
}

.faqdetail p span {
    font-family: "Arial" !important;
    font-size: 16px !important
}

body {
    background: #f8f8f8;
}

.container {
    background: #fff;
}

.faq-banner {
    width: 100%;
    max-width: 1920px;
    height: 400px;
    background: url(../../images/faq/top.jpg) no-repeat center 0;
    text-align: center;
    margin: auto;
    padding-top: 60px;
    background-size: cover;
}

.faq-banner > div {
    width: 680px;
    height: 54px;
    border-radius: 27px;
    padding-left: 47px;
    margin: auto;
    background: url(../../images/faq/search.png) no-repeat 22px center #fff;
    background-size: 30px;
}

.faq-banner h3 {
    line-height: 90px;
    color: #fff;
}

.faq-banner > div input {
    width: 580px;
    height: 50px;
    border: 0px;
    line-height: 54px;
    outline: none;
    font-size: 20px;
    font-weight: normal;
}

.faqdetail-list a {
    word-wrap: break-word;
    word-break: normal;
    width: 100%
}

.faqindex-ul p.f24 {
    font-size: 24px;
    color: #000;
}

.faqindex-ul p a {
    font-size: 16px;
    color: #666;
}

.faqindex-ul p a:hover {
    color: #f90;
}

.faqdetail-content img {
    max-width: 100%;
}

.faq-bottom {
    width: 100%;
    max-width: 1920px;
    height: 300px;
    background: url(../../images/faq/bottom.jpg) no-repeat center 0;
    text-align: center;
    margin: auto;
    padding-top: 60px;
    background-size: cover;
}

.faq-bottom p {
    margin-bottom: 0;
    line-height: 32px;
    margin-bottom: 14px;
}

.faq-bottom .sumbit-btn {
    margin: 30px auto 0;
    display: block;
    width: 160px;
    height: 42px;
    border-radius: 21px;
    text-align: center;
    line-height: 42px;
    color: #ba9935;
    border: 1px solid #ba9935;
    background: #fff;
    font-size: 16px;
    font-weight: 600
}

.viewall-btn {
    display: block;
    width: 110px;
    height: 38px;
    border: 1px solid #ccc;
    color: #666;
    text-align: center;
    line-height: 38px;
    border-radius: 4px;
}

input::-webkit-input-placeholder {
    color: #999;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999;
}

.faqlist-text .paginationzone a {
    line-height: 24px;
}

.faqindex-ul li p {
    margin: 15px 0;
}

.faqlist-text li {
    line-height: 36px;
}

.faqlist-text li a {
    color: #666;
    font-size: 16px;
    display: inline-block
}

.faqlist-find {
    height: 42px;
    border-radius: 21px;
    padding-left: 40px;
    outline: none;
    border: 1px solid #bdbdbd;
    background: url(../../images/faq/search.png) no-repeat 10px center;
}

.faqlist-find:focus {
    border-color: #f90
}

.faqlist-title {
    line-height: 42px;
}

.faqdetail-content {
    padding: 40px 25px 40px 0;
}

.faq-pop {
    width: 560px;
    height: 600px;
    padding: 60px 40px;
    background: #fff;
    font-size: 16px
}

.faq-pop select {
    width: 470px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    float: right;
    font-size: 16px;
    padding-left: 15px;
}

.faq-pop textarea {
    width: 470px;
    height: 200px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    float: right;
}

.faq-pop .div-input1 {
    width: 470px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    float: right;
    padding-left: 15px;
}

.code-input {
    width: 180px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    padding-left: 15px;
}

.code {
    width: 100px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    background: pink
}

.pop-btnbox a {
    display: block;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
}

.ok-btn {
    color: #fff !important;
    border: 0;
    margin: 40px auto 0;
}

.ok-btn:active {
    height: 42px;
    line-height: 42px;
    margin: 43px auto 0;
    width: 154px;
    font-size: 14px;
}

.layui-layer-page .layui-layer-content {
    padding: 0;
}

@media (min-width: 1200px) {
    .container {
        width: 1280px;
        margin: auto;
    }

    ul {
        margin-bottom: 0
    }

    .faqlist-title {
        padding: 0 30px;
    }

    .faqlist-text, .faqdetail-text {
        padding: 30px;
    }

    /*首页*/
    .faqindex-ul {
        border-bottom: 1px solid #e3e3e3;
        overflow: hidden;
        width: 1160px;
        margin: auto
    }

    .faqindex-ul:nth-of-type(3) {
        border: 0px solid #ccc
    }

    .faqindex-ul li:nth-of-type(1) {
        padding: 40px 40px 40px 0;
    }

    .faqindex-ul li:nth-of-type(2) {
        padding: 40px 20px;
    }

    .faqindex-ul li:nth-of-type(3) {
        padding: 40px 0px 40px 40px;
    }

    /*列表*/
    .faqlist-find {
        width: 350px;
    }

    /*详情*/
    .faqdetail {
        width: 775px;
        padding: 0;
    }

    .faqdetail-list {
        margin: 15px 0;
        width: 350px;
        float: right;
        padding: 0
    }

    .faqdetail p {
        margin-bottom: 0;
    }

    .faqdetail-list a {
        line-height: 20px;
        font-size: 16px;
        color: #333333;
    }

    .faqdetail-list li {
        margin: 15px 0
    }

}

@media (max-width: 1200px) {
    .faqdetail-list a {
        line-height: 26px;
        font-size: 16px;
        color: #333333;
    }

    .faqdetail-list {
        margin: 15px 0;
        width: 300px;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 20px 15px 60px;
    }

    .faqlist-find {
        width: 350px;
        float: right;
    }
}

@media (max-width: 750px) {
    .container {
        padding: 40px 15px;
    }

    .faq-banner {
        height: 200px;
        padding: 0
    }

    .faq-banner > div {
        width: 300px;
        height: 34px;
        border-radius: 27px;
        background: #fff;
        padding-left: 10px;
        margin: auto;
    }

    .faq-banner h3 {
        line-height: 90px;
        color: #fff;
        font-size: 24px;
        margin: 0
    }

    .faq-banner > div input {
        width: 260px;
        height: 34px;
        border: 0px;
        line-height: 34px;
        outline: none;
        font-size: 16px;
        font-weight: normal;
    }

    .faqlist-title {
        padding: 30px 0;
    }

    .faqlist-text {
        padding: 0;
    }

    .faqdetail-list {
        margin: 15px 0;
        width: 100%;
    }

    .faqindex-ul p, .viewall-btn, .faqdetail-list li, .faqlist-text li {
        margin-bottom: 20px;
    }


}