html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  font-family: sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  border: none;
}
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul,
dl {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
a {
  text-decoration: none;
  transition: color 0.2s ease;
}
img {
  border: none;
}
em {
  font-style: normal;
}
.clr {
  zoom: 1;
}
.clr:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.i-hide {
  display: none;
}
.i-show {
  display: block;
}
.lineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
}
.lbBox {
  font-size: 0 !important;
  *word-spacing: -1px !important;
}
.emptys {
  margin-left: -1px;
  width: 1px;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
label,
dd,
dd,
dt {
  font-weight: normal;
}
.boxsiz {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a:hover,
a:focus {
  text-decoration: none;
}
html,
body {
  width: 100%;
  min-width: 1360px;
}
body {
  min-width: 1180px;
}
.width-1180 {
  width: 1180px;
  margin: 0 auto;
}
.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mr24 {
  margin-right: 24px;
}
.mr26 {
  margin-right: 26px;
}
.mr20 {
  margin-right: 20px;
}
.ml56 {
  margin-left: 56px;
}
.mb20 {
  margin-bottom: 20px;
}
.pcb-head {
  width: 100%;
  height: 70px;
}
.pcb-head .pcb-head-wrap {
  height: 100%;
}
.pcb-head .pcb-head-wrap .l {
  height: 100%;
}
.pcb-head .pcb-head-wrap .l .t1 {
  font-size: 13px;
  color: #5c5f66;
  font-weight: 600;
  margin-left: 20px;
}
.pcb-head .pcb-head-wrap .r {
  height: 100%;
}
.pcb-head .pcb-head-wrap .r .t1 em {
  font-size: 12px;
  color: #959ba6;
}
.pcb-head .pcb-head-wrap .r .t1 .iconfont {
  color: #0081d2;
  font-size: 20px;
  cursor: pointer;
}
.pcb-head .pcb-head-wrap .r .t1 span {
  font-size: 12px;
  color: #737780;
}
.pcb-head .pcb-head-wrap .r .t2 em {
  font-size: 12px;
  color: #959ba6;
}
.pcb-head .pcb-head-wrap .r .t2 span {
  font-size: 12px;
  color: #5c5f66;
  font-weight: bold;
}
.pcb-footer {
  padding: 30px 0;
  border-top: 1px solid #E6EAF2;
}
.pcb-footer .pcb-footer-top .l ul {
  border-right: 1px dashed #E6EAF2;
  padding-right: 86px;
}
.pcb-footer .pcb-footer-top .l ul li {
  float: left;
  margin-right: 90px;
}
.pcb-footer .pcb-footer-top .l ul li a {
  margin-bottom: 10px;
  font-size: 14px;
  color: #5c5f66;
  display: block;
}
.pcb-footer .pcb-footer-top .l ul li a:hover {
  color: #0081d2;
}
.pcb-footer .pcb-footer-top .l ul li a:first-child {
  margin-bottom: 12px;
  color: #3a3c40;
  font-weight: bold;
}
.pcb-footer .pcb-footer-top .l ul li:last-child {
  margin-right: 0;
}
.pcb-footer .pcb-footer-top .r {
  padding-left: 60px;
}
.pcb-footer .pcb-footer-top .r .t1 {
  font-size: 14px;
  color: #5c5f66;
  margin-bottom: 3px;
}
.pcb-footer .pcb-footer-top .r .t2 {
  font-size: 20px;
  color: #3a3c40;
  font-weight: bold;
  margin-bottom: 20px;
}
.pcb-footer .pcb-footer-top .r .t3 {
  font-size: 14px;
  color: #5c5f66;
  margin-bottom: 4px;
}
.pcb-footer .pcb-footer-top .r .t4 {
  font-size: 14px;
  color: #5c5f66;
}
.pcb-footer .pcb-footer-top .r .code-pic {
  padding-left: 47px;
}
.pcb-footer .pcb-footer-top .r .code-pic img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
}
.pcb-footer .pcb-footer-top .r .code-pic p {
  font-size: 12px;
  color: #959ba6;
  text-align: center;
}
.pcb-footer .pcb-footer-bottom {
  border-top: 1px solid #E6EAF2;
  padding-top: 20px;
  margin-top: 10px;
}
.pcb-footer .pcb-footer-bottom .l .text {
  width: 504px;
  margin-right: 97px;
}
.pcb-footer .pcb-footer-bottom .l .text p {
  font-size: 12px;
  color: #959ba6;
}
.pcb-footer .pcb-footer-bottom .l .text p.t1 {
  margin-bottom: 8px;
}
.pcb-footer .pcb-footer-bottom .l .pic p {
  font-size: 12px;
  color: #959ba6;
  margin-bottom: 12px;
}
.pcb-footer .pcb-footer-bottom .l .pic img {
  width: 120px;
  height: 40px;
  margin-right: 20px;
}
.pcb-footer .pcb-footer-bottom .r p {
  font-size: 12px;
  color: #959ba6;
}
.pcb-footer .pcb-footer-bottom .r .pic img {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}
.sldie-bar {
  position: fixed;
  right: 5px;
  bottom: 100px;
  width: 48px;
  z-index: 999;
  display: none;
}
.sldie-bar dl {
  width: 48px;
}
.sldie-bar dl dd {
  width: 48px;
  height: 50px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 2px 24px 0px rgba(230, 234, 242, 0.5);
}
.sldie-bar dl dd:hover {
  background-color: #E6EAF2;
}
.sldie-bar dl dd a {
  height: 50px;
  display: block;
  text-align: center;
}
.sldie-bar dl dd a.phone-a {
  position: relative;
}
.sldie-bar dl dd a.phone-a:hover .phone-div {
  display: block;
}
.sldie-bar dl dd a.phone-a .phone-div {
  text-align: left;
  position: absolute;
  height: 185px;
  width: 200px;
  box-shadow: 0px 2px 24px 0px rgba(230, 234, 242, 0.5);
  background-color: #fff;
  z-index: 99;
  padding: 8px 0;
  box-sizing: border-box;
  top: 0;
  left: -215px;
  display: none;
}
.sldie-bar dl dd a.phone-a .phone-div .item {
  padding: 12px 0 0 20px;
}
.sldie-bar dl dd a.phone-a .phone-div .item h3 {
  font-size: 12px;
  color: #959BA6;
}
.sldie-bar dl dd a.phone-a .phone-div .item p {
  font-size: 14px;
  color: #3A3C40;
  padding-top: 4px;
}
.sldie-bar dl dd a.ewm-a {
  position: relative;
}
.sldie-bar dl dd a.ewm-a:hover .ewm-div {
  display: block;
}
.sldie-bar dl dd a.ewm-a .ewm-div {
  position: absolute;
  height: 225px;
  width: 200px;
  box-shadow: 0px 2px 24px 0px rgba(230, 234, 242, 0.5);
  background-color: #fff;
  z-index: 99;
  top: 0;
  left: -215px;
  display: none;
  box-sizing: border-box;
  padding-top: 20px;
}
.sldie-bar dl dd a.ewm-a .ewm-div img {
  width: 160px;
  height: 160px;
}
.sldie-bar dl dd a.ewm-a .ewm-div p {
  font-size: 12px;
  color: #959BA6;
  margin-top: 8px;
}
.sldie-bar dl dd a .icon {
  height: 40px;
  width: 40px;
  margin: 5px 4px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sldie-bar dl dd a .icon.car-icon {
  background-image: url('../../images/common/slide1.png');
}
.sldie-bar dl dd a .icon.message-icon {
  background-image: url('../../images/common/slide2.png');
}
.sldie-bar dl dd a .icon.jsq-icon {
  background-image: url('../../images/common/slide3.png');
}
.sldie-bar dl dd a .icon.ewm-icon {
  background-image: url('../../images/common/slide4.png');
}
.sldie-bar dl dd a .icon.edit-icon {
  background-image: url('../../images/common/slide5.png');
}
.sldie-bar dl dd a .circle {
  position: absolute;
  right: 0;
  top: -4px;
  min-width: 10px;
  height: 16px;
  background: #E82121;
  border-radius: 8px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  padding: 0 3px;
  z-index: 99;
}
.sldie-bar dl dt {
  width: 48px;
  height: 48px;
  margin-top: 10px;
  background: #737780;
}
.sldie-bar dl dt a {
  height: 48px;
  display: block;
  text-align: center;
  line-height: 48px;
}
.sldie-bar dl dt a .iconfont {
  font-size: 40px;
  color: #fff;
}
.home {
  height: 48px;
  background: #0081D2;
}
.home .nav-wrap {
  height: 48px;
}
.home .nav-wrap .nav li {
  position: relative;
  float: left;
  height: 48px;
  line-height: 48px;
  margin-right: 40px;
  white-space: nowrap;
  transition: all 0.2s ease;
}
.home .nav-wrap .nav li.curr:after {
  position: absolute;
  left: 0;
  bottom: 1px;
  background: #FFFFFF;
  width: 100%;
  height: 3px;
  content: '';
}
.home .nav-wrap .nav li a.xb {
  position: absolute;
  left: 41px;
  top: -5px;
  width: 50px;
  height: 20px;
  background: url('../../images/home/yu.png') no-repeat center;
  background-size: cover;
}
.home .nav-wrap .nav li a.link {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
}
.home .nav-wrap .nav li .iconzujiantubiaojiantou1 {
  font-size: 14px;
  color: #FFFFFF;
}
.home .nav-wrap .nav li dl {
  position: absolute;
  bottom: -74px;
  width: 100%;
  left: 0;
  background: #0081D2;
  z-index: 99999999;
  display: none;
}
.home .nav-wrap .nav li dl dd {
  text-align: center;
  height: 37px;
  line-height: 37px;
  transition: all 0.2s ease;
}
.home .nav-wrap .nav li dl dd:hover {
  background: #0090EB;
}
.home .nav-wrap .nav li dl dd a {
  font-size: 14px;
  color: #ffffff;
}
.home .nav-wrap .nav li.curr a,
.home .nav-wrap .nav li:hover a {
  color: #FFFFFF;
}
.home .nav-wrap .nav li:hover:after {
  position: absolute;
  left: 0;
  bottom: 1px;
  background: #FFFFFF;
  width: 100%;
  height: 3px;
  content: '';
}
.home .nav-wrap .nav li:hover dl {
  display: block;
}
.home .nav-wrap .login-bar {
  height: 100%;
  white-space: nowrap;
}
.home .nav-wrap .login-bar .logged {
  height: 100%;
  padding: 0 20px;
  vertical-align: top;
}
.home .nav-wrap .login-bar .logged a:hover {
  color: #0090eb;
}
.home .nav-wrap .login-bar .logged .lg .iconfont {
  font-size: 20px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged .lg span {
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
}
.home .nav-wrap .login-bar .logged .line {
  width: 1px;
  height: 14px;
  background: #E6EAF2;
  color: #e6eaf2;
  margin: 0 5px 0 5px;
}
.home .nav-wrap .login-bar .logged .rg {
  font-size: 14px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged .car {
  margin-left: 30px;
}
.home .nav-wrap .login-bar .logged .car .iconfont {
  font-size: 20px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged .car span {
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
  margin-right: 6px;
}
.home .nav-wrap .login-bar .logged .car .circle {
  min-width: 10px;
  height: 16px;
  background: #E82121;
  border-radius: 8px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  padding: 0 3px;
}
.home .nav-wrap .login-bar .logged-in {
  height: 100%;
  vertical-align: top;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar {
  position: relative;
  text-align: center;
  cursor: pointer;
  height: 100%;
  padding: 0 10px;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar ul {
  position: absolute;
  bottom: -74px;
  width: 100%;
  left: 0;
  background: #0081D2;
  z-index: 99999999;
  display: none;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar ul li {
  height: 37px;
  line-height: 37px;
  transition: all 0.2s ease;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar ul li:hover {
  background: #0090EB;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar ul li a {
  font-size: 14px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar .iconzujiantubiaojiantou9 {
  font-size: 20px;
  color: #FFFFFF;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar .iconzujiantubiaojiantou1 {
  font-size: 14px;
  color: #FFFFFF;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar .tel {
  font-weight: bold;
  padding: 0 5px;
  font-size: 14px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar:hover {
  background: #0090EB;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar:hover ul {
  display: block;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar:hover .iconzujiantubiaojiantou1:before {
  content: "\e628";
}
.home .nav-wrap .login-bar .logged-in .car {
  height: 100%;
  padding: 0 10px;
}
.home .nav-wrap .login-bar .logged-in .car .iconfont {
  font-size: 20px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged-in .car span {
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
  margin-right: 6px;
}
.home .nav-wrap .login-bar .logged-in .car .circle {
  min-width: 10px;
  height: 16px;
  background: #E82121;
  border-radius: 8px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  padding: 0 3px;
}
.home .nav-wrap .login-bar .logged-in .car:hover {
  background: #0090EB;
}
.layui-layer-setwin {
  right: 36px !important;
  top: 19px !important;
}
.layui-layer-title {
  font-size: 13px !important;
  font-weight: bold !important;
  background: #ffffff !important;
  height: auto !important;
  line-height: 21px !important;
  padding: 10px 0 15px 0 !important;
  margin: 0 30px;
}
.layui-layer-title span {
  position: relative;
  display: inline-block;
}
.layui-layer-title span:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  text-align: center;
  width: 100%;
  height: 5px;
  background: #0081D2;
  content: "";
  display: inline-block;
}
.layui-layer-page .layui-layer-content {
  height: auto;
  overflow: hidden;
}
.login-layer {
  padding: 20px 60px 40px 60px;
}
.login-layer .inpt {
  position: relative;
  margin-bottom: 20px;
  white-space: nowrap;
}
.login-layer .inpt .iconfont {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 30px;
  color: #e6eaf2;
  margin-top: -17px;
}
.login-layer .inpt .imgCode {
  width: 164px;
  height: 60px;
  text-align: right;
}
.login-layer .inpt .imgCode img {
  width: 120px;
  height: 60px;
}
.login-layer .inpt .inp {
  width: 320px;
  height: 58px;
  line-height: 58px;
  background: #f7f9fc;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
  padding-left: 60px;
  transition: all 0.4s ease;
}
.login-layer .inpt .inp:focus {
  border: 1px solid #0081d2;
  background: #ffffff;
}
.login-layer .inpt .inp::-webkit-input-placeholder {
  color: #959ba6;
}
.login-layer .inpt.error .iconfont {
  color: #e82121;
}
.login-layer .inpt.error .inp {
  border: 1px solid #e82121;
  color: #e82121;
}
.login-layer .inpt.status .iconfont {
  color: #0081d2;
}
.login-layer .btn {
  margin-top: 20px;
}
.login-layer .btn a {
  width: 380px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #0081D2;
  border-radius: 2px;
  display: block;
  font-size: 18px;
  color: #ffffff;
}
.login-layer .login-bar {
  padding-top: 30px;
}
.login-layer .login-bar .l .circle {
  width: 12px;
  height: 12px;
  padding: 3px;
  border-radius: 18px;
  border: 1px solid #C2C7CC;
  position: relative;
  top: -2px;
  cursor: pointer;
}
.login-layer .login-bar .l .circle.act {
  border-color: #0081D2;
}
.login-layer .login-bar .l .circle.act i {
  display: block;
  width: 12px;
  height: 12px;
  background: #0081D2;
  border-radius: 12px;
}
.login-layer .login-bar .l .txt {
  font-size: 14px;
  color: #959ba6;
  margin-left: 6px;
}
.login-layer .login-bar .r a {
  font-size: 14px;
  color: #0081d2;
}
.website-tip {
  text-align: center;
  height: 40px;
  line-height: 40px;
  background: rgba(255, 224, 178, 0.5);
}
.website-tip .tip-wrap {
  position: relative;
}
.website-tip .tip-wrap span {
  font-size: 14px;
  color: #e89721;
}
.website-tip .tip-wrap .iconfont {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
  color: #e89721;
  cursor: pointer;
}
.selects-qty {
  position: absolute;
  left: 0px;
  top: 39px;
  z-index: 9;
  width: 461px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding: 10px 0 16px 18px;
  display: none;
}
.selects-qty .arrow {
  position: absolute;
  left: 21px;
  top: -10px;
  width: 13px;
  height: 11px;
  background: url("../../images/common/ico.png") no-repeat -5px -52px;
  background-color: #fff;
}
.selects-qty dl dd {
  float: left;
  width: 14%;
  margin-bottom: 15px;
  cursor: pointer;
}
.selects-qty dl dd .arr {
  width: 14px;
  height: 13px;
  background: url("../../images/common/ico.png") no-repeat 0 0;
}
.selects-qty dl dd.curr .arr {
  width: 14px;
  height: 13px;
  background: url("../../images/common/ico.png") no-repeat -16px 0;
}
.selects-qty dl dd span {
  font-size: 14px;
  color: #666666;
  margin-left: 5px;
}
.selects-qty .wrap {
  margin-top: 3px;
}
.selects-qty .wrap label {
  font-size: 14px;
  color: #666666;
  margin-right: 13px;
  white-space: nowrap;
}
.selects-qty .wrap .inp {
  width: 158px;
  border: solid 1px #e5e5e5;
}
.selects-qty .wrap .inp::-webkit-outer-spin-button,
.selects-qty .wrap .inp::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
.selects-qty .wrap .inp:focus {
  border: solid 1px #00a0e9;
}
.selects-qty .wrap .btn {
  margin-left: 40px;
}
.selects-qty .wrap .btn a {
  width: 68px;
  height: 30px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.selects-qty .wrap .btn a.ok {
  background-color: #1080d0;
  color: #fefefe;
  margin-right: 10px;
}
.selects-qty .wrap .btn a.canel {
  background-color: #f3f3f3;
  color: #666666;
}
.pcb-ad .indexRightAd {
  position: fixed;
  width: 140px;
  height: 254px;
  bottom: 54px;
  z-index: 101;
}
.pcb-ad .indexRightAd img {
  width: 140px;
  height: 254px;
}
.pcb-ad .indexRightAd.none {
  left: -150px;
}
.pcb-ad .indexRightAd.show {
  left: 10px;
}
.pcb-ad .fast-key {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 120px;
  background: #0860BF;
  z-index: 999;
}
.pcb-ad .fast-key.none {
  display: none;
}
.pcb-ad .fast-key.show {
  display: block;
}
.pcb-ad .fast-key .fast-key-wrap .l {
  position: relative;
  height: 120px;
  white-space: nowrap;
}
.pcb-ad .fast-key .fast-key-wrap .l .pic {
  position: absolute;
  top: -46px;
  left: 0;
  width: 162px;
  height: 146px;
  background: url("../../images/registerPage/b.png") no-repeat center;
  background-size: cover;
}
.pcb-ad .fast-key .fast-key-wrap .l .text {
  margin-left: 191px;
}
.pcb-ad .fast-key .fast-key-wrap .l .text .t1 {
  font-size: 20px;
  color: #f7f9fc;
}
.pcb-ad .fast-key .fast-key-wrap .l .text .t2 {
  font-size: 30px;
  color: #f7f9fc;
  font-weight: bold;
}
.pcb-ad .fast-key .fast-key-wrap .l .text .t2 em {
  font-size: 30px;
  color: #e0c629;
  font-weight: bold;
}
.pcb-ad .fast-key .fast-key-wrap .r {
  position: relative;
  height: 120px;
  white-space: nowrap;
}
.pcb-ad .fast-key .fast-key-wrap .r .iconzujiantubiaojiantou10 {
  position: absolute;
  right: -46px;
  top: 10px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}
.pcb-ad .fast-key .fast-key-wrap .r .input-wrap {
  width: 360px;
  height: 48px;
  border-radius: 2px;
  background: #FFFFFF;
  border: 1px solid #ffffff;
}
.pcb-ad .fast-key .fast-key-wrap .r .input-wrap .iconfont {
  font-size: 30px;
  color: #BBC1CC;
  margin-left: 16px;
  margin-right: 16px;
}
.pcb-ad .fast-key .fast-key-wrap .r .input-wrap input {
  font-size: 14px;
  height: 100%;
  vertical-align: middle;
}
.pcb-ad .fast-key .fast-key-wrap .r .input-wrap input::-webkit-input-placeholder {
  color: #959ba6;
}
.pcb-ad .fast-key .fast-key-wrap .r .btn {
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #e89721;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  margin-left: 20px;
}
.layui-form-checked[lay-skin=primary] i {
  border-color: #0081D2 !important;
  background-color: #0081D2 !important;
}
#nc_1_wrapper {
  width: 100% !important;
}
.nc-container .nc_scale .nc_ok,
.nc-container .nc_scale .nc_bg {
  background: #0081D2 !important;
}
.nc-container .nc_scale .btn_ok {
  color: #0081D2 !important;
}
.pcb-seo .pcb-seo-head {
  width: 100%;
  height: 300px;
  background: url("../../images/seo/seo.png") no-repeat center;
  background-size: cover;
}
.pcb-seo .pcb-seo-head .wrap {
  width: 680px;
  text-align: center;
  padding-top: 86px;
  margin: 0 auto;
}
.pcb-seo .pcb-seo-head .wrap .inp {
  position: relative;
}
.pcb-seo .pcb-seo-head .wrap .inp input {
  width: 680px;
  height: 60px;
  line-height: 60ex;
  background: #FFFFFF;
  border-radius: 2px;
  font-size: 16px;
  margin: 0 auto;
  text-indent: 1em;
}
.pcb-seo .pcb-seo-head .wrap .inp input::-webkit-input-placeholder {
  color: #959ba6;
}
.pcb-seo .pcb-seo-head .wrap .inp .iconfont {
  position: absolute;
  right: 19px;
  top: 10px;
  font-size: 40px;
  color: #0d7bbf;
  cursor: pointer;
}
.pcb-seo .pcb-seo-head .wrap dl {
  margin-top: 20px;
}
.pcb-seo .pcb-seo-head .wrap dl dt {
  font-size: 14px;
  color: #ffffff;
  float: left;
  margin-right: 10px;
}
.pcb-seo .pcb-seo-head .wrap dl dd {
  float: left;
  margin-right: 10px;
}
.pcb-seo .pcb-seo-head .wrap dl dd a {
  font-size: 14px;
  color: #0081d2;
}
.pcb-seo .pcb-seo-section {
  padding-top: 37px;
  padding-bottom: 70px;
}
.pcb-seo .pcb-seo-section .l {
  width: 280px;
}
.pcb-seo .pcb-seo-section .l .tit {
  font-size: 20px;
  color: #3a3c40;
  font-weight: bold;
  margin-bottom: 14px;
}
.pcb-seo .pcb-seo-section .l .tab {
  width: 280px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
  padding-bottom: 20px;
}
.pcb-seo .pcb-seo-section .l .tab li {
  position: relative;
  padding-left: 30px;
  height: 44px;
  line-height: 44px;
}
.pcb-seo .pcb-seo-section .l .tab li a {
  font-size: 14px;
  color: #5c5f66;
}
.pcb-seo .pcb-seo-section .l .tab li.curr {
  background: #F7F9FC;
}
.pcb-seo .pcb-seo-section .l .tab li.curr a {
  color: #0081d2;
  font-weight: bold;
}
.pcb-seo .pcb-seo-section .l .tab li.curr:after {
  position: absolute;
  left: 0;
  top: 11px;
  content: '';
  width: 4px;
  height: 20px;
  background: #0081d2;
}
.pcb-seo .pcb-seo-section .l .contact {
  width: 248px;
  height: 184px;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
  padding: 24px 0 0 30px;
}
.pcb-seo .pcb-seo-section .l .contact li {
  margin-bottom: 15px;
}
.pcb-seo .pcb-seo-section .l .contact li .iconfont {
  font-size: 30px;
  color: #959ba6;
}
.pcb-seo .pcb-seo-section .l .contact li .text {
  margin-left: 20px;
}
.pcb-seo .pcb-seo-section .l .contact li .t1 {
  font-size: 14px;
  color: #959ba6;
  margin-bottom: 2px;
}
.pcb-seo .pcb-seo-section .l .contact li .t2 {
  font-size: 14px;
  color: #0081d2;
  font-weight: bold;
}
.pcb-seo .pcb-seo-section .l .ad {
  width: 280px;
  height: 160px;
  margin-top: 20px;
}
.pcb-seo .pcb-seo-section .r {
  width: 860px;
}
.pcb-seo .pcb-seo-section .r .title {
  border-bottom: 1px solid #E6EAF2;
}
.pcb-seo .pcb-seo-section .r .title .l {
  position: relative;
  padding-bottom: 15px;
}
.pcb-seo .pcb-seo-section .r .title .l span {
  font-size: 20px;
  color: #3a3c40;
  font-weight: bold;
}
.pcb-seo .pcb-seo-section .r .title .l span:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 87px;
  height: 5px;
  background: #0081D2;
  content: '';
}
.pcb-seo .pcb-seo-section .r .title .l b {
  padding-left: 30px;
  font-weight: normal;
  font-size: 14px;
  color: #5c5f66;
  display: block;
  position: relative;
  top: 9px;
}
.pcb-seo .pcb-seo-section .r .title .l b a {
  color: #e89721;
}
.pcb-seo .pcb-seo-section .r .title .r span {
  font-size: 13px;
  color: #959ba6;
}
.pcb-seo .pcb-seo-section .r .title .r .iconfont {
  font-size: 14px;
  color: #5c5f66;
}
.pcb-seo .pcb-seo-section .r .title .r .btn {
  width: 120px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #0081D2;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  display: block;
}
.pcb-seo .pcb-seo-section .r .edit {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 30px;
  font-size: 14px;
  color: #5c5f66;
  line-height: 28px;
}
/*# sourceMappingURL=index.css.map */