html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  font-family: sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
}

button, input, select, textarea {
  font-size: 100%;
  border: none;
}

input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul, dl {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}

a {
  text-decoration: none;
  transition: color 0.2s ease;

}

img {
  border: none;
}

em {
  font-style: normal;
}

.clr {
  zoom: 1;
}

.clr:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

.fl {
  float: left;
  _display: inline;
}

.fr {
  float: right;
  _display: inline;
}

.va-t {
  vertical-align: top;
}

.va-m {
  vertical-align: middle;
}

.va-b {
  vertical-align: bottom;
}

.i-hide {
  display: none;
}

.i-show {
  display: block;
}

.lineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
}

.lbBox {
  font-size: 0 !important;
  *word-spacing: -1px !important;
}

.emptys {
  margin-left: -1px;
  width: 1px;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}

label, dd, dd, dt {
  font-weight: normal;
}

.boxsiz {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a:hover, a:focus {
  text-decoration: none;
}

html, body {
  width: 100%;
}

body {
  min-width: 1280px;
}

.width-1280 {
  width: 1280px;
  margin: 0 auto;
}

.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pcbbuy-head {
  height: 60px;
  background: #ffffff;

  .l {
    height: 60px;

    .logo {
      width: 384px;
      height: 33px;

      img {
        width: 384px;
        height: 33px;
      }
    }

    .text {
      margin-left: 80px;

      .t1 {
        font-size: 11px;
        color: #666666;
        margin-bottom: 3px;
      }

      .t2 {
        font-size: 11px;
        color: #666666;
      }
    }
  }

  .r {
    height: 60px;

    .text {
      .t1 {
        margin-bottom: 3px;

        .iconfont {
          font-size: 12px;
          color: #222222;
        }

        span {
          font-size: 12px;
          color: #222222;
          font-weight: bold;
          margin-left: 3px;
        }
      }

      .t2 {
        font-size: 11px;
        color: #666666;
      }
    }

    .car-bar {
      margin-left: 60px;

      .iconfont {
        font-size: 19px;
        color: #ed3400;
      }

      span {
        font-size: 12px;
        color: #222222;
        margin-left: 3px;
        margin-right: 3px;
      }

      em {
        font-size: 12px;
        color: #ed3400;
      }
    }

    .login-bar {
      margin-left: 19px;

      .iconfont {
        font-size: 19px;
        color: #1180c9;
        margin-right: 3px;
      }

      a {
        font-size: 12px;
        color: #1180c9;
        vertical-align: middle;
        font-weight: bold;
      }

      em {
        font-size: 12px;
        color: #222222;
        vertical-align: middle;
        margin: 0 7px;
      }
    }
  }
}

.pcbbuy-nav {
  height: 40px;
  background: #1360A7;
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  .box {
    height: 40px;

    a {
      position: relative;
      font-size: 14px;
      color: #FFFFFF;
      vertical-align: middle;
      opacity: 0.7;
      margin-right: 60px;

      &.curr {
        font-weight: bold;
        opacity: 1;

        &:after {
          position: absolute;
          bottom: -7px;
          left: 0;
          right: 0;
          width: 80%;
          height: 3px;
          background: #FFFFFF;
          border-radius: 2px;
          margin: 0 auto;
          content: '';
        }
      }
    }
  }
}

.pcbbuy-footer {
  width: 100%;

  .footer-top {
    background: #09223C;
    border-radius: 1px;
    padding-top: 40px;
    padding-bottom: 40px;

    .l {
      img {
        width: 157px;
        height: 33px;
      }

      .t1 {
        font-size: 12px;
        color: #1180c9;
        font-weight: bold;
        margin-top: 14px;
        margin-bottom: 10px;
      }

      .t2 {
        font-size: 10px;
        color: #ffffff;
        width: 359px;
        line-height: 14px;
        opacity: 0.6;
      }
    }

    .r {
      padding-top: 40px;

      dl {
        vertical-align: top;
        margin-right: 150px;

        dt {
          font-size: 18px;
          color: #ffffff;
          font-weight: bold;
          margin-bottom: 15px;
        }

        dd {
          margin-bottom: 15px;

          a {
            font-size: 14px;
            color: #ffffff;
            opacity: 0.6;
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #17395D;
    height: 69px;
    background: #04192F;
    border-radius: 1px;

    .l {
      height: 69px;
    }

    .r {
      height: 69px;
    }

    span {
      font-size: 10px;
      color: #ffffff;
    }

    .im1 {
      width: 181px;
      height: 38px;
      margin-left: 8px;
    }

    .im2 {
      width: 418px;
      height: 25px;
      margin-left: 4px;
    }
  }
}

.layui-layer-title {
  color: #222222 !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.pcbbuy-footer-top {
  padding: 33px 0;
  background: #F1F9FF;

  ul {
    white-space: nowrap;

    li {
      width: 25%;
      text-align: center;
      border-right: 1px solid #D7E8F5;

      &:last-child {
        border-right: none;
      }

      i {
        width: 66px;
        height: 66px;
        background-image: url("../../images/icn.png");
        background-repeat: no-repeat;
      }

      .i-1 {
        background-position: 0 -76px;
      }

      .i-2 {
        background-position: -69px -76px;
      }

      .i-3 {
        background-position: -139px -77px;
      }

      .i-4 {
        background-position: -208px -80px;
      }

      .text {
        text-align: left;
        margin-left: 15px;

        .t1 {
          font-size: 24px;
          color: #1180c9;
          font-weight: bold;
        }

        .t2 {
          margin-top: 5px;
          font-size: 14px;
          color: #222222;
          font-weight: bold;
        }
      }
    }
  }
}

.pcbbuy-tip {
  height: 38px;
  background: #E6F7FF;
  border: 1px solid #91D5FF;
  padding: 0 16px;

  .l {
    height: 38px;

    .iconfont {
      font-size: 14px;
      color: #1890ff;
    }

    span {
      font-size: 14px;
      color: #222222;
      margin-left: 8px;
    }
  }

  .r {
    height: 38px;

    .iconfont {
      font-size: 12px;
      color: #8a9499;
      cursor: pointer;
    }
  }
}

.layui-layer {
  border-radius: 6px !important;
}

.layui-layer-title {
  border-radius: 6px 6px 0 0 !important;
  background: transparent !important;
}

.layui-layer-page .layui-layer-content {
  height: auto !important;
  overflow: hidden;
}

.layer-footer {
  text-align: right;
  padding: 12px 20px 12px 0;
  background: #F8F8F8;
  box-shadow: 0px 1px 0px 0px #DDDDDD;
  border-radius: 0px 0px 6px 6px;
  border-top: 1px solid #DDDDDD;

  .btn1 {
    width: 67px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    font-size: 14px;
    color: #222222;
    margin-right: 15px;
  }

  .btn2 {
    min-width: 70px;
    padding: 0 12px;
    height: 30px;
    background: #1180C9;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
  }
}

.circle {
  position: relative;
  width: 14px;
  height: 14px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 50%;

  &.act {
    border: 1px solid #1180C9;

    span {
      position: absolute;
      left: 0;
      right: 0;
      top: 3px;
      width: 8px;
      height: 8px;
      background: #1180C9;
      border-radius: 50%;
      margin: 0 auto;
      text-align: center;
    }
  }
}




























