html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  font-family: sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
}

button, input, select, textarea {
  font-size: 100%;
  border: none;
}

input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul, dl {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}

a {
  text-decoration: none;
  transition: color 0.2s ease;

}

img {
  border: none;
}

em {
  font-style: normal;
}

.clr {
  zoom: 1;
}

.clr:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

.fl {
  float: left;
  _display: inline;
}

.fr {
  float: right;
  _display: inline;
}

.va-t {
  vertical-align: top;
}

.va-m {
  vertical-align: middle;
}

.va-b {
  vertical-align: bottom;
}

.i-hide {
  display: none;
}

.i-show {
  display: block;
}

.lineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
}

.lbBox {
  font-size: 0 !important;
  *word-spacing: -1px !important;
}

.emptys {
  margin-left: -1px;
  width: 1px;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}

label, dd, dd, dt {
  font-weight: normal;
}

.boxsiz {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a:hover, a:focus {
  text-decoration: none;
}

html, body {
  width: 100%;
  min-width: 1360px;
}

body {
  min-width: 1180px;
}

.width-1180 {
  width: 1180px;
  margin: 0 auto;
}

.width-1280 {
  width: 1280px;
  margin: 0 auto;
}

.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.p-head {
  height: 68px;
  background: #ffffff;

  .box {
    .l {
      height: 68px;

      .logo {
        img {
          width: 133px;
          height: 38px;
        }
      }

      .text {
        p {
          font-size: 14px;
          color: #131414;
          line-height: 20px;
          margin-left: 14px;
          font-weight: bold;
        }
      }
    }

    .r {
      height: 68px;

      .line1 {
        width: 1px;
        height: 12px;
        background: #BEC5C6;
        color: #bec5c6;
        margin: 0 12px;
      }

      .line2 {
        width: 1px;
        height: 12px;
        background: #BEC5C6;
        color: #bec5c6;
        margin: 0 8px;
      }

      .line3 {
        width: 1px;
        height: 16px;
        background: #BEC5C6;
        color: #bec5c6;
        margin: 0 6px;
      }

      .t1 {
        font-size: 14px;
        color: #131414;
        opacity: 0.6;
      }

      .t2 {
        margin-right: 20px;

        .iconfont {
          font-size: 28px;
          color: #0a60be;
          margin-right: 4px;
        }

        span {
          font-size: 14px;
          color: #131414;
          opacity: 0.6;
        }
      }

      .car-ico {
        position: relative;
        margin-right: 20px;
        cursor: pointer;

        span {
          position: absolute;
          top: -9px;
          left: 0;
          right: 0;
          width: 16px;
          height: 16px;
          background: #E59115;
          border-radius: 8px;
          margin: 0 auto;
          text-align: center;
          line-height: 16px;
          font-size: 11px;
          color: #ffffff;
        }

        .iconfont {
          font-size: 28px;
          color: #0a60be;
        }
      }

      .avatar {
        width: 28px;
        height: 28px;
        margin-right: 8px;
        cursor: pointer;

        img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
        }
      }

      .material {
        height: 68px;
        position: relative;
        cursor: pointer;

        .wrap {
          .tel {
            font-size: 14px;
            color: #131414;
          }

          .point {
            position: absolute;
            top: -5px;
            right: 11px;
            width: 6px;
            height: 6px;
            background: #E59115;
            border-radius: 50%;
          }

          .icon {
            width: 7px;
            height: 6px;
            background: url("../../images/p-home/arrow.png") no-repeat center;
            background-size: cover;
            margin-left: 5px;
          }
        }

        .list-box {
          position: relative;
          display: none;

          .up {
            position: absolute;
            top: -7px;
            right: 53px;
            width: 18px;
            height: 8px;
            background: url("../../images/p-home/up.png") no-repeat center;
            background-size: cover;
            z-index: 1;
          }

          .list {
            position: absolute;
            top: 100%;
            right: 0;
            width: 162px;
            background: #FFFFFF;
            border: 1px solid #E4ECED;
            z-index: 9999;

            li {
              position: relative;
              padding-left: 12px;
              height: 40px;
              line-height: 40px;
              border-bottom: 1px solid #E4ECED;

              &:last-child {
                border-bottom: none;
              }

              .iconfont {
                font-size: 18px;
                color: #131414;
              }

              .num {
                position: absolute;
                right: 12px;
                top: 12px;
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                background: #E59115;
                border-radius: 8px;
                font-size: 12px;
                color: #ffffff;
                display: block;
              }

              span {
                font-size: 14px;
                color: #0a60be;
                margin-left: 12px;

                &.color {
                  color: #131414;
                  opacity: 0.6;
                }
              }

            }
          }
        }
      }

      .hov:hover {
        .list-box {
          display: block;
        }
      }

      .icontubiao16 {
        font-size: 28px;
        color: #0a60be;
      }

      .link {
        font-size: 14px;
        color: #0a60be;
        font-weight: bold;

        &.ml {
          margin-left: 8px;
        }
      }
    }
  }
}

.p-nav {
  height: 48px;
  background: #0A60BE;

  .box {
    height: 48px;

    ul {
      height: 48px;

      li {
        height: 100%;
        position: relative;
        padding: 0 20px;

        text-align: center;
        vertical-align: middle;
        margin-right: 10px;

        .hot {
          position: absolute;
          top: -3px;
          right: 10px;
          width: 31px;
          height: 14px;
          line-height: 14px;
          background: #E59115;
          border-radius: 3px;
          text-align: center;

          span {
            font-size: 11px;
            color: #ffffff;
          }

          i {
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            width: 8px;
            height: 8px;
            margin: 0 auto;
            background: url("../../images/p-home/hot.png") no-repeat center;
            background-size: cover;
          }
        }

        .link {
          font-size: 16px;
          color: #ffffff;

          font-weight: bold;
        }

        .arrow {
          width: 7px;
          height: 6px;
          background: url(../../images/p-home/arrow.png) no-repeat center;
          background-size: cover;
          margin-left: 4px;
        }

        .list-box {
          position: relative;
          display: none;

          .up {
            position: absolute;
            top: -7px;
            left: 0;
            right: 0;
            width: 18px;
            height: 8px;
            margin: 0 auto;
            background: url("../../images/p-home/up.png") no-repeat center;
            background-size: cover;
            z-index: 1;
          }

          .list {
            position: absolute;
            top: 0px;
            width: 132px;
            background: #FFFFFF;
            border: 1px solid #E4ECED;
            right: -52px;


            dd {
              position: relative;
              height: 40px;
              line-height: 40px;
              border-bottom: 1px solid #E4ECED;
              text-align: left;

              &:last-child {
                border-bottom: none;
              }

              .iconfont {
                font-size: 18px;
                color: #131414;
              }

              .num {
                position: absolute;
                right: 12px;
                top: 12px;
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                background: #E59115;
                border-radius: 8px;
                font-size: 12px;
                color: #ffffff;
                display: block;
              }

              span {
                font-size: 14px;
                color: #0a60be;
                margin-left: 12px;

                &.color {
                  color: #131414;
                  opacity: 0.6;
                }
              }

            }
          }
        }

        &:hover {

          .list-box {
            display: block;
          }
        }

        &.curr {
          height: 32px;
          line-height: 32px;
          background: #FFFFFF;
          border-radius: 2px;

          a.link {
            color: #0a60be;
          }
        }
      }
    }
  }
}

.p-footer {
  background: #131414;
  padding: 35px 0 20px 0;

  .box {
    .top {
      width: 1280px;

      .l {
        width: 50%;
        border-right: 1px solid rgba(151, 151, 151, 0.1);

        ul {
          li {
            float: left;
            margin-right: 96px;

            dl {
              dt {
                font-size: 16px;
                color: #ffffff;
                font-weight: bold;
                margin-bottom: 8px;
              }

              dd {

                margin-bottom: 8px;

                a {
                  font-size: 14px;
                  color: #686c6d;
                }
              }
            }
          }
        }
      }

      .r {
        padding-left: 100px;

        .iconfont {
          font-size: 48px;
          color: #0a60be;
        }

        .text {
          padding-top: 13px;
          margin-left: 12px;

          .t1 {
            font-size: 16px;
            color: #ffffff;
            margin-bottom: 4px;
          }

          .t2 {
            font-size: 28px;
            color: #ffffff;
            margin-bottom: 3px;
          }

          .t3 {
            font-size: 16px;
            color: #ffffff;
            margin-bottom: 12px;
          }

          .t4 {
            font-size: 14px;
            color: #686c6d;
            margin-bottom: 3px;
          }

          .t5 {
            font-size: 14px;
            color: #686c6d;
          }
        }

        .code-pic {
          width: 120px;
          margin-left: 120px;

          img {
            width: 120px;
            height: 120px;
          }

          p {
            text-align: center;
            margin-top: 7px;
            font-size: 14px;
            color: #494c4d;
          }
        }
      }
    }

    .bottom {
      margin-top: 54px;
      padding-bottom: 16px;
      text-align: center;
      border-bottom: 1px solid rgba(151, 151, 151, 0.1);

      .t1 {
        font-size: 14px;
        color: #494c4d;
        margin-bottom: 8px;
      }

      .t2 {
        font-size: 14px;
        color: #494c4d;
      }
    }

    .copyright {
      margin-top: 20px;

      .tit {
        font-size: 14px;
        color: #494c4d;
        margin-right: 20px;
      }

      .i1 {
        width: 110px;
        height: 36px;
        margin-right: 20px;
        background: url("../../images/p-footer/a (1).png") no-repeat center;
        background-size: cover;
      }

      .i2 {
        width: 110px;
        height: 36px;
        background: url("../../images/p-footer/a (2).png") no-repeat center;
        background-size: cover;
      }

      .i3 {
        width: 110px;
        height: 36px;
        margin-right: 20px;
        background: url("../../images/p-footer/a (3).png") no-repeat center;
        background-size: cover;
      }

      .i4 {
        width: 110px;
        height: 36px;
        margin-right: 20px;
        background: url("../../images/p-footer/a (5).png") no-repeat center;
        background-size: cover;
      }

      .i5 {
        width: 110px;
        height: 36px;
        background: url("../../images/p-footer/a (4).png") no-repeat center;
        background-size: cover;
      }
    }
  }
}

.selects-qty {
  position: absolute;
  left: 0px;
  top: 39px;
  z-index: 9;
  width: 461px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding: 10px 0 16px 18px;
  display: none;

  .arrow {
    position: absolute;
    left: 21px;
    top: -10px;
    width: 13px;
    height: 11px;
    background: url("../../images/p-home/ico.png") no-repeat -5px -52px;
    background-color: #fff;
  }

  dl {
    dd {
      float: left;
      width: 14%;
      margin-bottom: 15px;
      cursor: pointer;

      .arr {
        width: 14px;
        height: 13px;
        background: url("../../images/p-home/ico.png") no-repeat 0 0;
      }

      &.curr {
        .arr {
          width: 14px;
          height: 13px;
          background: url("../../images/p-home/ico.png") no-repeat -16px 0;
        }
      }

      span {
        font-size: 14px;
        color: #666666;
        margin-left: 5px;
      }
    }
  }

  .wrap {
    margin-top: 3px;

    label {
      font-size: 14px;
      color: #666666;
      margin-right: 13px;
      white-space: nowrap;
    }

    .inp {
      width: 158px;
      border: solid 1px #e5e5e5;

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
      }

      &:focus {
        border: solid 1px #00a0e9;
      }
    }

    .btn {
      margin-left: 40px;

      a {
        width: 68px;
        height: 30px;
        border-radius: 2px;
        font-size: 14px;
        line-height: 30px;
        text-align: center;

        &.ok {
          background-color: #0A60BE;
          color: #fefefe;
          margin-right: 10px;
        }

        &.canel {
          background-color: #f3f3f3;
          color: #666666;
        }
      }
    }
  }
}

.layui-layer-setwin .layui-layer-close1 {
  background-position: -96px -37px !important;
}

.layui-layer-ico {
  background: url("../../images/p-home/icon.png") no-repeat !important;
}

.layui-layer-setwin a {
  width: 18px !important;
  height: 18px !important;
}

.layui-layer-title {
  height: auto !important;
  padding: 16px 0 !important;
  background-color: #ffffff !important;
  border: none !important;
  line-height: inherit !important;

  span {
    padding: 0 24px;
    height: 30px;
    background: #0A60BE;
    display: inline-block;
    line-height: 30px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;

    &.disabled {
      width: 144px;
      height: 28px;
      background: #FFFFFF;
      border: 1px solid rgba(166, 173, 173, 0.5);
      color: #0a60be;
      font-weight: bold;
    }
  }
}

.layui-layer-page .layui-layer-content {
  height: auto !important;
  overflow-y: hidden !important;
}

.pcb-layer-box .layui-layer-title {
  margin-left: 24px;

  span {
    cursor: pointer;
  }
}

.slide-bar-box {
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -118px;
  z-index: 9999;

  dl {
    height: 50px;

    dd {
      position: relative;
      height: 49px;
      background: #FFFFFF;
      border: 1px solid #AAD0F2;
      border-bottom: none;
      text-align: center;

      &.last {
        height: 48px;
        border-bottom: 1px solid #AAD0F2;
      }

      a {
        .iconfont {
          font-size: 40px;
          color: #0a60be;
          vertical-align: middle;
        }
      }

      .show {
        position: absolute;
        left: -164px;
        top: -1px;
        width: 162px;
        background: #FFFFFF;
        padding: 10px 0;
        border: 1px solid #E4ECED;
        text-align: left;
        white-space: nowrap;
        display: none;

        .iconfont {
          color: #0a60be;
          font-size: 32px;
          margin-left: 12px;
        }

        .text {
          margin-left: 4px;

          .tit {
            font-size: 14px;
            color: #131414;
            font-weight: bold;
            line-height: 20px;
          }

          .t1 {
            font-size: 12px;
            color: #0a60be;
          }

          .t2 {
            font-size: 12px;
            color: #131414;
            opacity: 0.6;
            margin-bottom: 2px;
          }

          .t3 {
            font-size: 12px;
            color: #131414;
            opacity: 0.6;
          }
        }

        .pic {
          img {
            width: 120px;
            height: 120px;
            display: block;
            margin: 0 auto;
          }

          p {
            margin-top: 7px;
            font-size: 14px;
            color: #494c4d;
            text-align: center;
          }
        }
      }

      &:hover {
        .show {
          display: block;
        }
      }
    }

    dt {
      margin-top: 10px;
      height: 48px;
      background: #FFFFFF;
      border: 1px solid #AAD0F2;
      text-align: center;
      display: none;

      a {
        .iconfont {
          font-size: 30px;
          color: #0a60be;
          vertical-align: middle;
        }
      }
    }
  }
}

.confirm-box {
  padding: 0 24px 24px 24px;

  .pay-doing-text {
    margin-top: 22px;

    .btn-1 {
      width: 150px;
      height: 38px;
      background: #FFFFFF;
      border-radius: 2px;
      border: 1px solid #5998D9;
      line-height: 38px;
      text-align: center;
      font-size: 14px;
      color: #0A60BE;
    }

    .btn-2 {
      width: 152px;
      height: 40px;
      background: #0A60BE;
      border-radius: 2px;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      color: #ffffff;
      margin-left: 16px;
    }
  }
}

.kefu-box {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -118px;
  margin-left: 662px;
  width: 90px;
  height: 126px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #E4ECED;
  text-align: center;
  z-index: 9999;

  .t1 {
    padding-top: 36px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #131414;
    font-weight: bold;
  }

  .t2 {
    font-size: 12px;
    color: #131414;
    padding-bottom: 4px;
    opacity: 0.6;
  }

  .t3 {
    font-size: 12px;
    color: #131414;
    opacity: 0.6;
  }
  .im{
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border: 1px solid #E4ECED;
    border-radius: 50%;
    margin: 0 auto;
  }
  .text{
    position: absolute;
    bottom: -14px;
    left: 0;
    right: 0;
    width: 92px;
    height: 28px;
    background: #0A60BE;
    border-radius: 14px;
    text-align: center;
    display: block;
    .iconfont{
      font-size: 20px;
      color: #ffffff;
      margin-right: 2px;
    }
    span{
      font-size: 12px;
      color: #ffffff;
    }
  }
}

.page-bg{
  background: #E8F1F2;
}

.user-fast {
  height: 120px;
  background: #D2ECFF;
  border-top: 1px solid #AAD0F2;

  .box {
    height: 100%;

    .text {
      .t1 {
        font-size: 20px;
        color: #131414;
        font-weight: bold;
        margin-bottom: 8px;
      }

      .t2 {
        font-size: 14px;
        color: #131414;
        opacity: 0.6;
      }
    }

    .form-box {
      margin-left: 120px;

      .w1 {
        width: 122px;
        height: 38px;
        background: #FFFFFF;
        border-radius: 2px;
        border: 1px solid #5998D9;
        text-indent: 10px;
        font-size: 14px;

        &::-webkit-input-placeholder {
          color: #131414;
          opacity: 0.6;
        }

      }

      .t1 {
        font-size: 14px;
        color: #131414;
        opacity: 0.6;
        margin: 0 8px;
      }

      .t2 {
        font-size: 14px;
        color: #131414;
        opacity: 0.6;
        margin-left: 8px;
        margin-right: 18px;
      }


      .num-box {
        .inp {
          width: 164px;
          height: 38px;
          background: #FFFFFF;
          border-radius: 2px;
          border: 1px solid #5998D9;
          text-indent: 10px;
          font-size: 14px;

          &::-webkit-input-placeholder {
            color: #131414;
            opacity: 0.6;
          }
        }
      }

      .fast-btn {
        margin-left: 19px;
        width: 166px;
        height: 40px;
        background: #0A60BE;
        border-radius: 2px;
        text-align: center;

        .iconfont {
          font-size: 20px;
          color: #ffffff;
          margin-right: 4px;
        }

        span {
          font-size: 14px;
          color: #ffffff;
          font-weight: bold;
        }
      }

    }

  }

}