html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  font-family: sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
}

button, input, select, textarea {
  font-size: 100%;
  border: none;
}

input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul, dl {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}

a {
  text-decoration: none;
  transition: color 0.2s ease;

}

img {
  border: none;
}

em {
  font-style: normal;
}

.clr {
  zoom: 1;
}

.clr:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

.fl {
  float: left;
  _display: inline;
}

.fr {
  float: right;
  _display: inline;
}

.va-t {
  vertical-align: top;
}

.va-m {
  vertical-align: middle;
}

.va-b {
  vertical-align: bottom;
}

.i-hide {
  display: none;
}

.i-show {
  display: block;
}

.lineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
}

.lbBox {
  font-size: 0 !important;
  *word-spacing: -1px !important;
}

.emptys {
  margin-left: -1px;
  width: 1px;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}

label, dd, dd, dt {
  font-weight: normal;
}

.boxsiz {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a:hover, a:focus {
  text-decoration: none;
}

html, body {
  width: 100%;
  min-width: 1360px;
}

body {
  min-width: 1180px;
}

.width-1180 {
  width: 1180px;
  margin: 0 auto;
}

.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pcbbuy-head {

}


































