.user-center {
  padding: 58px 0 70px 0;

  .user-center-l {
    position: relative;
    width: 180px;

    .title {
      position: absolute;
      left: 0;
      top: -38px;
      white-space: nowrap;

      a {
        font-size: 12px;
        color: #5c5f66;

        &.curr {
          color: #959ba6;
        }
      }

      .iconfont {
        font-size: 14px;
        color: #959ba6;
        margin: 0 5px;
      }
    }

    .menu {

      dt {
        width: 180px;
        height: 50px;
        background: #0081D2;
        line-height: 50px;
        text-align: center;
        border-radius: 2px 2px 0px 0px;

        .iconfont {
          font-size: 17px;
          color: #ffffff;
        }

        span {
          margin-left: 4px;
          font-size: 14px;
          color: #ffffff;
        }
      }

      dd {
        padding-top: 20px;
        border-left: 1px solid #E6EAF2;
        border-right: 1px solid #E6EAF2;

        &:last-child {
          padding-bottom: 30px;
          border-bottom: 1px solid #E6EAF2;
        }

        .tit {
          font-size: 14px;
          color: #3a3c40;
          font-weight: bold;
          padding-left: 30px;
          display: block;
          margin-bottom: 10px;
        }

        ul {
          li {
            position: relative;
            margin-bottom: 10px;
            padding-left: 50px;

            &:last-child {
              margin-bottom: 0;
            }

            a {
              font-size: 14px;
              color: #5c5f66;
            }

            &:hover {
              a {
                color: #0081d2;
                font-weight: bold;
              }
            }

            &.curr {
              &:after {
                position: absolute;
                left: 0;
                top: 5px;
                content: '';
                width: 3px;
                height: 12px;
                background: #0081D2;
                z-index: 1;
              }

              a {
                color: #0081d2;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }

  .user-center-r {
    width: 960px;
    min-height: 500px;
    .title {
      border-bottom: 1px solid #E6EAF2;

      .l {
        position: relative;
        padding-bottom: 15px;

        span {
          font-size: 20px;
          color: #3a3c40;
          font-weight: bold;

          &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background: #0081D2;
            content: '';
          }
        }
        b{
          padding-left: 30px;
          font-weight: normal;
          font-size: 14px;
          color: #5c5f66;
          display: block;
          position: relative;
          top: 9px;
          a{
            color: #e89721;
          }
        }
      }

      .r {
        span {
          font-size: 13px;
          color: #959ba6;
        }

        .iconfont {
          font-size: 14px;
          color: #5c5f66;
        }

        .btn{
          width:120px;
          height:36px;
          line-height: 36px;
          text-align: center;
          background:#0081D2;
          border-radius:2px;
          font-size: 14px;
          color: #ffffff;
          display: block;
        }
      }
    }
  }
}