@import '../common/base.less';

.about-us {
  .about-us-img {
    height: 258px;
    background: url('../../images/aboutus/bg.png') no-repeat center;
    background-size: cover;
    min-width: 1180px;
    display: table;
    width: 100%;

    .txt {
      vertical-align: middle;
      text-align: center;
      display: table-cell;

      .t1 {
        font-size: 26px;
        color: #ffffff;
        margin-bottom: 20px;
      }

      .t2 {
        font-size: 16px;
        color: #ffffff;
      }
    }
  }

  .about-us-head {
    padding: 90px 0 90px;

    .head-left {
      margin-left: 80px;

      .company-intro {
        width: 300px;
        height: 90px;
        background: #0081D2;
        color: #fff;
        position: relative;

        h1 {
          font-size: 26px;
          font-weight: 600;
          padding: 14px 0 0 27px
        }

        p {
          font-size: 14px;
          padding: 2px 0 0 27px
        }

        .bor {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 6px;
          background-color: #DE9228;
        }
      }

      .company-img {
        height: 304px;
        width: 418px;
        background: url('../../images/aboutus/company-img.png') no-repeat;
        background-size: 100% 100%;
        margin-top: 49px;
      }
    }

    .head-right {
      width: 520px;
      font-size: 14px;
      color: #5C5F66;
      margin-left: 81px;

      p {
        line-height: 25px;
        text-indent: 2em;

        &.margin-p {
          margin-top: 25px;
        }

        a {
          color: #0081D2;
          cursor: pointer;
        }
      }
    }
  }

  .about-course {
    height: 409px;
    background: #0860BF;

    .t1 {
      padding-top: 50px;
      margin-bottom: 2px;
      text-align: center;
      font-size: 26px;
      color: #ffffff;
    }

    .t2 {
      font-size: 14px;
      color: #ffffff;
      opacity: 0.8;
      text-align: center;
    }

    .pic {
      width: 1080px;
      height: 222px;
      margin: 0 auto;
      background: url("../../images/aboutus/about1.png") no-repeat center;
      background-size: cover;
    }
  }

  .about-us-center {
    background-color: #F7F9FC;
    padding-bottom: 110px;

    .text-mark {
      position: relative;
      width:300px;
      height:90px;
      background:#DE9228;
      margin: 0 auto;
      span{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width:100%;
        height:6px;
        background:#0860BF;
      }
      .t1{
        font-size: 26px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        padding-top: 14px;
        margin-bottom: 2px;
      }
      .t2{
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        opacity: 0.8;
      }
    }

    .icon-group {
      text-align: center;
      margin-top: 70px;

      .icon-item {
        position: relative;
        width: 220px;
        height: 300px;
        background: #fff;
        border-radius: 4px;
        box-sizing: border-box;
        padding-top: 30px;
        margin-left: 60px;
        transition: all 0.2s ease;

        &.noMarginLeft {
          margin-left: 0;
        }

        .icon-img {
          height: 100px;
          width: 100px;
          margin: 0 auto;

          &.icon-img1 {
            background: url('../../images/aboutus/icon1.png') no-repeat;
          }

          &.icon-img2 {
            background: url('../../images/aboutus/icon2.png') no-repeat;
          }

          &.icon-img3 {
            background: url('../../images/aboutus/icon3.png') no-repeat;
          }

          &.icon-img4 {
            background: url('../../images/aboutus/icon4.png') no-repeat;
          }

          background-size: 100% 100%;
        }

        .title {
          text-align: center;
          font-size: 18px;
          color: #3A3C40;
          font-weight: 600;
          padding: 13px 0 16px;
        }

        .line {
          width: 22px;
          height: 3px;
          margin: 0 auto;
          background-color: #0081D2;
        }

        .desc {
          padding: 15px 0;
          font-size: 14px;
          color: #959BA6;
          text-align: center;
          line-height: 25px;

        }

        &:hover {
          margin-top: -3px;
          -webkit-transition: all .3s cubic-bezier(.55, 0, .1, 1);
          transition: all .3s cubic-bezier(.55, 0, .1, 1);
          -webkit-transform: translate3d(0, -1px, 0);
          -ms-transform: translate3d(0, -1px, 0);
          transform: translate3d(0, -1px, 0);
        }
      }
    }
  }

  .about-us-team {
    background-color: #FFFFFF;
    padding-bottom: 70px;

    .text-mark {
      position: relative;
      width:300px;
      height:90px;
      background:#0860BF;
      margin: 0 auto;
      span{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width:100%;
        height:6px;
        background:#DE9228;
      }
      .t1{
        font-size: 26px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        padding-top: 14px;
        margin-bottom: 2px;
      }
      .t2{
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        opacity: 0.8;
      }
    }

    .list{
      margin-top: 70px;
      text-align: center;
      li{
        margin-right: 19px;
        .pic{
          width:258px;
          height:172px;
          overflow: hidden;
          img{
            width:258px;
            height:172px;
          }
        }
        p{
          margin-top: 12px;
          font-size: 14px;
          color: #737780;
          text-align: center;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}