@import '../common/base.less';
@import '../common/font/iconfont.less';

.cart-box-head {
  width: 100%;
  height: 120px;
  background: #F0F4F7;

  .l {
    margin-top: 44px;
    font-size: 24px;
    color: #2b2f33;
    border-left: 5px solid #C2C7CC;
    padding-left: 10px;
  }

  .r {
    margin-top: 20px;

    ul {
      li {
        position: relative;
        text-align: center;
        margin-right: 48px;

        &:last-child {
          margin-right: 0;
        }

        .t1 {
          width: 44px;
          height: 44px;
          line-height: 44px;
          text-align: center;
          background: rgba(194, 199, 204, 1);
          margin: 0 auto;
          border-radius: 50%;

          .iconfont {
            font-size: 24px;
            color: #fff;
          }
        }

        b {
          position: absolute;
          top: 22px;
          left: 87px;
          width: 100px;
          height: 1px;
          border-top: 1px dashed #C2C7CC;
          display: block;
        }

        p {
          width: 110px;
          height: 30px;
          margin-top: 6px;
          line-height: 15px;
          font-size: 13px;
          color: #828e99;
          text-align: center;
        }

        &.curr {
          .t1 {
            background: #1DDA74;
          }

          p {
            color: #2b2f33;
          }
        }
      }
    }
  }
}

.pay-box {
  padding-bottom: 80px;
  margin-bottom: 59px;
  border-bottom: 1px solid #F0F4F7;
  margin-top: 43px;

  .pay-box-l {
    width: 880px;

    .tit {
      .l {
        font-size: 16px;
        color: #2b2f33;
      }

      .r {
        span {
          font-size: 13px;
          color: #575e66;
        }

        em {
          font-size: 13px;
          color: #0081d2;
          font-style: normal;
        }
      }
    }

    .tip {
      margin-top: 20px;
      margin-bottom: 30px;
      height: 40px;
      background: #FFF8ED;

      .iconfont {
        margin-left: 20px;
        font-size: 24px;
        color: #D9B379;
      }

      span {
        font-size: 13px;
        color: #e89721;
        margin-left: 10px;
      }
    }

    .pay-list {
      li {
        width: 368px;
        height: 307px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(240, 244, 247, 1);
        padding: 20px 30px 30px 30px;
        float: left;

        &:first-child {
          margin-right: 20px;
        }

        .top {
          padding-bottom: 20px;
          border-bottom: 1px solid #F0F4F7;

          .pay-ico2 {
            width: 60px;
            height: 60px;
            background: url("../../images/pay/bank.png") no-repeat center;
            background-size: cover;
          }

          .pay-ico1 {
            width: 60px;
            height: 60px;
            background: url("../../images/pay/Paypal.png") no-repeat center;
            background-size: cover;
          }

          span {
            margin-left: 20px;
            font-size: 24px;
            color: #2b2f33;
            font-weight: bold;
          }
        }

        .cen {
          margin-top: 20px;

          .l {
            .t1 {
              color: #828e99;
              font-size: 13px;
              margin-bottom: 8px;
            }

            .t2 {
              font-size: 13px;
              color: #2b2f33;
            }
          }

          .r {
            .t1 {
              font-size: 13px;
              color: #2b2f33;
              margin-bottom: 6px;
            }

            .t2 {
              font-size: 16px;
              color: #ff0d0d;
              font-weight: bold;
            }
          }
        }

        .txt {
          margin-top: 60px;
          width: 370px;
          height: 39px;
          font-size: 11px;
          color: #828e99;
        }

        .pay-btn {
          width: 180px;
          height: 40px;
          background: rgba(255, 13, 13, 1);
          border-radius: 2px;
          font-size: 14px;
          color: #ffffff;
          display: block;
          line-height: 40px;
          text-align: center;
          margin-top: 30px;
          cursor: pointer;
        }

        .pay-btn-a {
          width: 240px;
          height: 40px;
          background: rgba(255, 13, 13, 1);
          border-radius: 2px;
          font-size: 14px;
          color: #ffffff;
          display: block;
          line-height: 40px;
          text-align: center;
          margin-top: 30px;
          cursor: pointer;
        }
      }
    }
  }

  .pay-box-r {
    width: 241px;
    padding-left: 19px;
    text-align: left;
    border-left: 1px solid #F0F4F7;
    padding-bottom: 11px;

    .t1 {
      font-size: 16px;
      color: #2b2f33;
      font-weight: bold;
      padding-bottom: 16px;
      margin-bottom: 15px;
      border-bottom: 1px solid #F0F4F7;
    }

    .t2 {
      margin-bottom: 13px;

      .t2-1 {
        font-size: 13px;
        color: #828e99;
      }

      .t2-2 {
        font-size: 13px;
        color: #2b2f33;
        font-weight: bold;
      }

      .t2-3 {
        font-size: 16px;
        color: #2b2f33;
        font-weight: bold;
      }

      .t2-4 {
        font-size: 16px;
        color: #ff0d0d;
        font-weight: bold;
      }
    }

    .t3 {
      margin-top: 30px;
      font-size: 16px;
      color: #2b2f33;
      font-weight: bold;
      border-bottom: 1px solid #F0F4F7;
      padding-bottom: 16px;
      margin-bottom: 17px;
    }

    .t4 {
      width: 239px;
      font-size: 13px;
      color: #575e66;
      line-height: 18px;
    }
  }
}

.chat-with {
  position: fixed;
  bottom: 50px;
  right: 160px;
  width: 180px;
  height: 50px;
  background: rgba(232, 151, 33, 1);
  box-shadow: 0px -8px 10px 0px rgba(232, 151, 33, 0.2);
  border-radius: 8px 8px 0px 0px;
  text-align: center;
  cursor: pointer;

  i {
    font-size: 28px;
    color: #fff;
  }

  span {
    font-size: 16px;
    color: #ffffff;
    margin-left: 7px;
  }
}

.bankTransfer {
  padding: 40px;

  .tip {
    margin-bottom: 18px;
    height: 40px;
    background: #FFF8ED;

    .iconfont {
      margin-left: 20px;
      font-size: 24px;
      color: #D9B379;
    }

    span {
      font-size: 13px;
      color: #e89721;
      margin-left: 10px;
    }
  }

  .txt {
    font-size: 13px;
    color: #2b2f33;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .ta {
    width: 540px;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
      td {
        height: 38px;
        border: 1px solid #F0F4F7;

        .t1 {
          font-size: 13px;
          color: #828e99;
          margin-left: 20px;
          margin-right: 20px;
          display: inline-block;
          width: 204px;
        }

        .t2 {
          font-size: 13px;
          color: #2b2f33;
          font-weight: bold;
        }

      }
    }
  }

  .tt {
    margin-top: 20px;

    .t1 {
      font-size: 13px;
      color: #575E66;
      line-height: 20px;
    }
  }

  .operate {
    margin-top: 30px;

    .l {
      margin-top: 13px;

      i {
        width: 16px;
        height: 16px;
        background: url("../../images/pay/left.png") no-repeat center;
        background-size: cover;
      }

      font-size: 13px;
      color: #0081d2;
    }

    .r {
      width: 160px;
      height: 40px;
      line-height: 40px;
      background: rgba(0, 129, 210, 1);
      border-radius: 2px;
      display: block;
      text-align: center;
      font-size: 14px;
      color: #ffffff;
    }
  }
}

.message {
  padding: 40px;

  .txt {
    font-size: 13px;
    color: #575e66;
    margin-bottom: 40px;
  }

  .btn-1 {
    width: 180px;
    height: 40px;
    background: rgba(240, 244, 247, 1);
    border-radius: 2px;
    font-size: 14px;
    color: #2b2f33;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    margin-right: 20px;
  }

  .btn-2 {
    width: 160px;
    height: 40px;
    background: rgba(0, 129, 210, 1);
    border-radius: 2px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    display: inline-block;
  }
}

.pay-success-box {
  background: #F0F4F7;
  padding-top: 40px;
  padding-bottom: 108px;

  .pay-success {
    width: 550px;
    padding: 40px 80px 40px 80px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 6px 10px 0px rgba(0, 129, 210, 0.2);
    border-radius: 2px;
    margin: 0 auto;
    position: relative;

    .tip-ico {
      position: absolute;
      left: 0;
      top: 28px;
      width: 6px;
      height: 31px;
      background: rgba(232, 151, 33, 1);
    }

    .top {
      .success-ico {
        width: 120px;
        height: 120px;
        background: rgba(240, 244, 247, 1);
        border-radius: 50%;
        text-align: center;
        line-height: 120px;

        .s-ico {
          width: 80px;
          height: 80px;
          background: url("../../images/pay/success.png") no-repeat center;
          background-size: contain;
        }
        .fail-ico{
          width: 80px;
          height: 80px;
          background: url("../../images/pay/error.png") no-repeat center;
          background-size: contain;
        }
      }

      .text {
        margin-left: 30px;

        .t1 {
          font-size: 24px;
          color: #2b2f33;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .t2 {
          font-size: 16px;
          color: #2b2f33;
          font-weight: bold;
          margin-bottom: 12px;

          em {
            color: #ff0d0d;
            font-style: normal;
            margin-left: 10px;
          }
        }

        .t3 {
          font-size: 16px;
          color: #0081d2;
        }
        .t4{
          width:362px;
          font-size: 16px;
          color: #2b2f33;
          em{
            font-style: normal;
            color: #0081d2;
          }
        }
      }
    }

    .cen {
      font-size: 13px;
      color: #575e66;
      width: 550px;
      line-height: 20px;
      margin: 42px auto 30px;
    }

    .btn {
      width: 160px;
      height: 40px;
      background: rgba(0, 129, 210, 1);
      border-radius: 2px;
      font-size: 14px;
      color: #ffffff;
      line-height: 40px;
      text-align: center;
      display: block;
    }
  }
}
