@import '../common/base.less';

.fast {
  height: 120px;
  background: #D2ECFF;

  .box {
    height: 100%;

    .text {
      .t1 {
        font-size: 20px;
        color: #131414;
        font-weight: bold;
        margin-bottom: 8px;
      }

      .t2 {
        font-size: 14px;
        color: #131414;
        opacity: 0.6;
      }
    }

    .form-box {
      margin-left: 120px;

      .w1 {
        width: 122px;
        height: 38px;
        background: #FFFFFF;
        border-radius: 2px;
        border: 1px solid #5998D9;
        text-indent: 10px;
        font-size: 14px;

        &::-webkit-input-placeholder {
          color: #131414;
          opacity: 0.6;
        }

      }

      .t1 {
        font-size: 14px;
        color: #131414;
        opacity: 0.6;
        margin: 0 8px;
      }

      .t2 {
        font-size: 14px;
        color: #131414;
        opacity: 0.6;
        margin-left: 8px;
        margin-right: 18px;
      }


      .num-box {
        .inp {
          width: 164px;
          height: 38px;
          background: #FFFFFF;
          border-radius: 2px;
          border: 1px solid #5998D9;
          text-indent: 10px;
          font-size: 14px;

          &::-webkit-input-placeholder {
            color: #131414;
            opacity: 0.6;
          }
        }
      }

      .fast-btn {
        margin-left: 19px;
        width: 166px;
        height: 40px;
        background: #0A60BE;
        border-radius: 2px;
        text-align: center;

        .iconfont {
          font-size: 20px;
          color: #ffffff;
          margin-right: 4px;
        }

        span {
          font-size: 14px;
          color: #ffffff;
          font-weight: bold;
        }
      }

    }

  }

}