html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  font-family: sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  border: none;
}
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul,
dl {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
a {
  text-decoration: none;
  transition: color 0.2s ease;
}
img {
  border: none;
}
em {
  font-style: normal;
}
.clr {
  zoom: 1;
}
.clr:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.i-hide {
  display: none;
}
.i-show {
  display: block;
}
.lineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
}
.lbBox {
  font-size: 0 !important;
  *word-spacing: -1px !important;
}
.emptys {
  margin-left: -1px;
  width: 1px;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
label,
dd,
dd,
dt {
  font-weight: normal;
}
.boxsiz {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a:hover,
a:focus {
  text-decoration: none;
}
html,
body {
  width: 100%;
  min-width: 1360px;
}
body {
  min-width: 1180px;
}
.width-1180 {
  width: 1180px;
  margin: 0 auto;
}
.width-1280 {
  width: 1280px;
  margin: 0 auto;
}
.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.p-head {
  height: 68px;
  background: #ffffff;
}
.p-head .box .l {
  height: 68px;
}
.p-head .box .l .logo img {
  width: 133px;
  height: 38px;
}
.p-head .box .l .text p {
  font-size: 14px;
  color: #131414;
  line-height: 20px;
  margin-left: 14px;
  font-weight: bold;
}
.p-head .box .r {
  height: 68px;
}
.p-head .box .r .line1 {
  width: 1px;
  height: 12px;
  background: #BEC5C6;
  color: #bec5c6;
  margin: 0 12px;
}
.p-head .box .r .line2 {
  width: 1px;
  height: 12px;
  background: #BEC5C6;
  color: #bec5c6;
  margin: 0 8px;
}
.p-head .box .r .t1 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.p-head .box .r .t2 {
  margin-right: 20px;
}
.p-head .box .r .t2 .iconfont {
  font-size: 28px;
  color: #0a60be;
  margin-right: 4px;
}
.p-head .box .r .t2 span {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.p-head .box .r .car-ico {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}
.p-head .box .r .car-ico span {
  position: absolute;
  top: -9px;
  left: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background: #E59115;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  line-height: 16px;
  font-size: 11px;
  color: #ffffff;
}
.p-head .box .r .car-ico .iconfont {
  font-size: 28px;
  color: #0a60be;
}
.p-head .box .r .avatar {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  cursor: pointer;
}
.p-head .box .r .avatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.p-head .box .r .material {
  height: 68px;
  position: relative;
  cursor: pointer;
}
.p-head .box .r .material .wrap .tel {
  font-size: 14px;
  color: #131414;
}
.p-head .box .r .material .wrap .point {
  position: absolute;
  top: -5px;
  right: 11px;
  width: 6px;
  height: 6px;
  background: #E59115;
  border-radius: 50%;
}
.p-head .box .r .material .wrap .icon {
  width: 7px;
  height: 6px;
  background: url("../../images/p-home/arrow.png") no-repeat center;
  background-size: cover;
  margin-left: 5px;
}
.p-head .box .r .material .list-box {
  position: relative;
  display: none;
}
.p-head .box .r .material .list-box .up {
  position: absolute;
  top: -7px;
  right: 53px;
  width: 18px;
  height: 8px;
  background: url("../../images/p-home/up.png") no-repeat center;
  background-size: cover;
  z-index: 1;
}
.p-head .box .r .material .list-box .list {
  position: absolute;
  top: 100%;
  right: 0;
  width: 162px;
  background: #FFFFFF;
  border: 1px solid #E4ECED;
  z-index: 9999;
}
.p-head .box .r .material .list-box .list li {
  position: relative;
  padding-left: 12px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #E4ECED;
}
.p-head .box .r .material .list-box .list li:last-child {
  border-bottom: none;
}
.p-head .box .r .material .list-box .list li .iconfont {
  font-size: 18px;
  color: #131414;
}
.p-head .box .r .material .list-box .list li .num {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background: #E59115;
  border-radius: 8px;
  font-size: 12px;
  color: #ffffff;
  display: block;
}
.p-head .box .r .material .list-box .list li span {
  font-size: 14px;
  color: #0a60be;
  margin-left: 12px;
}
.p-head .box .r .material .list-box .list li span.color {
  color: #131414;
  opacity: 0.6;
}
.p-head .box .r .material:hover .list-box {
  display: block;
}
.p-nav {
  height: 48px;
  background: #0A60BE;
}
.p-nav .box {
  height: 48px;
}
.p-nav .box ul li {
  position: relative;
  padding: 0 20px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}
.p-nav .box ul li .hot {
  position: absolute;
  top: -13px;
  right: 13px;
  width: 31px;
  height: 14px;
  line-height: 14px;
  background: #E59115;
  border-radius: 3px;
  text-align: center;
}
.p-nav .box ul li .hot span {
  font-size: 11px;
  color: #ffffff;
}
.p-nav .box ul li .hot i {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 8px;
  height: 8px;
  margin: 0 auto;
  background: url("../../images/p-home/hot.png") no-repeat center;
  background-size: cover;
}
.p-nav .box ul li .link {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}
.p-nav .box ul li .arrow {
  width: 7px;
  height: 6px;
  background: url(../../images/p-home/arrow.png) no-repeat center;
  background-size: cover;
  margin-left: 4px;
}
.p-nav .box ul li .list-box {
  position: relative;
  display: none;
}
.p-nav .box ul li .list-box .up {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  width: 18px;
  height: 8px;
  margin: 0 auto;
  background: url("../../images/p-home/up.png") no-repeat center;
  background-size: cover;
  z-index: 1;
}
.p-nav .box ul li .list-box .list {
  position: absolute;
  top: 8px;
  width: 132px;
  background: #FFFFFF;
  border: 1px solid #E4ECED;
  right: -52px;
}
.p-nav .box ul li .list-box .list dd {
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #E4ECED;
  text-align: left;
}
.p-nav .box ul li .list-box .list dd:last-child {
  border-bottom: none;
}
.p-nav .box ul li .list-box .list dd .iconfont {
  font-size: 18px;
  color: #131414;
}
.p-nav .box ul li .list-box .list dd .num {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background: #E59115;
  border-radius: 8px;
  font-size: 12px;
  color: #ffffff;
  display: block;
}
.p-nav .box ul li .list-box .list dd span {
  font-size: 14px;
  color: #0a60be;
  margin-left: 12px;
}
.p-nav .box ul li .list-box .list dd span.color {
  color: #131414;
  opacity: 0.6;
}
.p-nav .box ul li:hover .list-box {
  display: block;
}
.p-nav .box ul li.curr {
  height: 32px;
  line-height: 32px;
  background: #FFFFFF;
  border-radius: 2px;
}
.p-nav .box ul li.curr a.link {
  color: #0a60be;
}
.p-footer {
  background: #131414;
  padding: 35px 0 20px 0;
}
.p-footer .box .top {
  width: 1280px;
}
.p-footer .box .top .l {
  width: 50%;
  border-right: 1px solid rgba(151, 151, 151, 0.1);
}
.p-footer .box .top .l ul li {
  float: left;
  margin-right: 96px;
}
.p-footer .box .top .l ul li dl dt {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 8px;
}
.p-footer .box .top .l ul li dl dd {
  margin-bottom: 8px;
}
.p-footer .box .top .l ul li dl dd a {
  font-size: 14px;
  color: #686c6d;
}
.p-footer .box .top .r {
  padding-left: 100px;
}
.p-footer .box .top .r .iconfont {
  font-size: 48px;
  color: #0a60be;
}
.p-footer .box .top .r .text {
  padding-top: 13px;
  margin-left: 12px;
}
.p-footer .box .top .r .text .t1 {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 4px;
}
.p-footer .box .top .r .text .t2 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 3px;
}
.p-footer .box .top .r .text .t3 {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 12px;
}
.p-footer .box .top .r .text .t4 {
  font-size: 14px;
  color: #686c6d;
  margin-bottom: 3px;
}
.p-footer .box .top .r .text .t5 {
  font-size: 14px;
  color: #686c6d;
}
.p-footer .box .top .r .code-pic {
  width: 120px;
  margin-left: 120px;
}
.p-footer .box .top .r .code-pic img {
  width: 120px;
  height: 120px;
}
.p-footer .box .top .r .code-pic p {
  text-align: center;
  margin-top: 7px;
  font-size: 14px;
  color: #494c4d;
}
.p-footer .box .bottom {
  margin-top: 54px;
  padding-bottom: 16px;
  text-align: center;
  border-bottom: 1px solid rgba(151, 151, 151, 0.1);
}
.p-footer .box .bottom .t1 {
  font-size: 14px;
  color: #494c4d;
  margin-bottom: 8px;
}
.p-footer .box .bottom .t2 {
  font-size: 14px;
  color: #494c4d;
}
.p-footer .box .copyright {
  margin-top: 20px;
}
.p-footer .box .copyright .tit {
  font-size: 14px;
  color: #494c4d;
  margin-right: 20px;
}
.p-footer .box .copyright .i1 {
  width: 110px;
  height: 36px;
  margin-right: 20px;
  background: url("../../images/p-footer/a (1).png") no-repeat center;
  background-size: cover;
}
.p-footer .box .copyright .i2 {
  width: 110px;
  height: 36px;
  background: url("../../images/p-footer/a (2).png") no-repeat center;
  background-size: cover;
}
.p-footer .box .copyright .i3 {
  width: 110px;
  height: 36px;
  margin-right: 20px;
  background: url("../../images/p-footer/a (3).png") no-repeat center;
  background-size: cover;
}
.p-footer .box .copyright .i4 {
  width: 110px;
  height: 36px;
  margin-right: 20px;
  background: url("../../images/p-footer/a (5).png") no-repeat center;
  background-size: cover;
}
.p-footer .box .copyright .i5 {
  width: 110px;
  height: 36px;
  background: url("../../images/p-footer/a (4).png") no-repeat center;
  background-size: cover;
}
.selects-qty {
  position: absolute;
  left: 0px;
  top: 39px;
  z-index: 9;
  width: 461px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding: 10px 0 16px 18px;
  display: none;
}
.selects-qty .arrow {
  position: absolute;
  left: 21px;
  top: -10px;
  width: 13px;
  height: 11px;
  background: url("../../images/p-home/ico.png") no-repeat -5px -52px;
  background-color: #fff;
}
.selects-qty dl dd {
  float: left;
  width: 14%;
  margin-bottom: 15px;
  cursor: pointer;
}
.selects-qty dl dd .arr {
  width: 14px;
  height: 13px;
  background: url("../../images/p-home/ico.png") no-repeat 0 0;
}
.selects-qty dl dd.curr .arr {
  width: 14px;
  height: 13px;
  background: url("../../images/p-home/ico.png") no-repeat -16px 0;
}
.selects-qty dl dd span {
  font-size: 14px;
  color: #666666;
  margin-left: 5px;
}
.selects-qty .wrap {
  margin-top: 3px;
}
.selects-qty .wrap label {
  font-size: 14px;
  color: #666666;
  margin-right: 13px;
  white-space: nowrap;
}
.selects-qty .wrap .inp {
  width: 158px;
  border: solid 1px #e5e5e5;
}
.selects-qty .wrap .inp::-webkit-outer-spin-button,
.selects-qty .wrap .inp::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
.selects-qty .wrap .inp:focus {
  border: solid 1px #00a0e9;
}
.selects-qty .wrap .btn {
  margin-left: 40px;
}
.selects-qty .wrap .btn a {
  width: 68px;
  height: 30px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.selects-qty .wrap .btn a.ok {
  background-color: #0A60BE;
  color: #fefefe;
  margin-right: 10px;
}
.selects-qty .wrap .btn a.canel {
  background-color: #f3f3f3;
  color: #666666;
}
.layui-layer-setwin .layui-layer-close1 {
  background-position: -96px -37px !important;
}
.layui-layer-ico {
  background: url("../../images/p-home/icon.png") no-repeat !important;
}
.layui-layer-setwin a {
  width: 18px !important;
  height: 18px !important;
}
.layui-layer-title {
  height: auto !important;
  padding: 16px 0 !important;
  background-color: #ffffff !important;
  border: none !important;
  line-height: inherit !important;
}
.layui-layer-title span {
  width: 146px;
  height: 30px;
  background: #0A60BE;
  display: inline-block;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  margin-right: 20px;
}
.layui-layer-title span.disabled {
  width: 144px;
  height: 28px;
  background: #FFFFFF;
  border: 1px solid rgba(166, 173, 173, 0.5);
  color: #0a60be;
  font-weight: bold;
}
.layui-layer-page .layui-layer-content {
  height: auto !important;
  overflow-y: hidden !important;
}
.pcb-layer-box .layui-layer-title {
  margin-left: 24px;
}
.pcb-layer-box .layui-layer-title span {
  cursor: pointer;
}
.section-car {
  background: #E8F1F2;
  padding-top: 12px;
  padding-bottom: 40px;
}
.section-car .cart-empty {
  text-align: center;
  margin-top: 88px;
  margin-bottom: 100px;
}
.section-car .cart-empty .iconfont {
  font-size: 154px;
  color: #494c4d;
}
.section-car .cart-empty .t1 {
  margin-top: 16px;
  margin-bottom: 6px;
  font-size: 24px;
  color: #131414;
  font-weight: bold;
}
.section-car .cart-empty .t2 {
  font-size: 14px;
  color: #131414;
  margin-bottom: 28px;
}
.section-car .cart-empty .car-btn {
  width: 152px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #0A60BE;
  border-radius: 2px;
  margin: 0 auto;
  font-size: 14px;
  color: #ffffff;
  display: block;
}
.section-car .top {
  border-bottom: 1px solid #E59115;
}
.section-car .top .l ul li {
  width: 123px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #131414;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.section-car .top .l ul li.curr {
  background: #E59115;
  border-radius: 2px 2px 0px 0px;
  color: #ffffff;
}
.section-car .top .r .status li {
  position: relative;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  float: left;
}
.section-car .top .r .status li.status1 {
  right: -24px;
  width: 130px;
  background: url("../../images/p-cart/status-1.png") no-repeat center;
  background-size: cover;
}
.section-car .top .r .status li.status2 {
  right: -12px;
  width: 130px;
  background: url("../../images/p-cart/status-2.png") no-repeat center;
  background-size: cover;
}
.section-car .top .r .status li.status3 {
  width: 120px;
  background: url("../../images/p-cart/status-3.png") no-repeat center;
  background-size: cover;
}
.section-car .tip {
  margin-top: 10px;
  height: 32px;
  background: #FFF1E3;
  border-radius: 2px;
  border: 1px solid #FADEBA;
}
.section-car .tip .wrap {
  padding-left: 12px;
  padding-right: 12px;
}
.section-car .tip .wrap .l {
  height: 32px;
}
.section-car .tip .wrap .l .iconfont {
  color: #e59115;
  font-size: 24px;
}
.section-car .tip .wrap .l span {
  margin-left: 8px;
  font-size: 14px;
  color: #e59115;
}
.section-car .tip .wrap .r {
  height: 32px;
  cursor: pointer;
}
.section-car .tip .wrap .r .iconfont {
  font-size: 14px;
  color: #b3b6b4;
}
.section-car .cart-section {
  margin-top: 12px;
  display: none;
}
.section-car .cart-section .box .choice {
  height: 40px;
}
.section-car .cart-section .box .choice .icon {
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #BEC5C6;
  margin-left: 20px;
  cursor: pointer;
}
.section-car .cart-section .box .choice .icon.curr {
  background: url("../../images/p-cart/select.png") no-repeat center;
  background-size: cover;
  border: 1px solid #0A60BE;
}
.section-car .cart-section .box .choice .iconfont {
  font-size: 32px;
  color: #0a60be;
  margin-left: 12px;
}
.section-car .cart-section .box .choice em {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
  margin-left: 16px;
}
.section-car .cart-section .box dt {
  background: #FFFFFF;
  height: 40px;
  line-height: 40px;
}
.section-car .cart-section .box dt span {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.section-car .cart-section .box dd {
  margin-top: 8px;
}
.section-car .cart-section .box dd .time {
  height: 40px;
  background: #e1f1fe;
}
.section-car .cart-section .box dd .time .time-text em {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.section-car .cart-section .box dd .time .time-text span {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
}
.section-car .cart-section .box dd .list li {
  position: relative;
  background: #FFFFFF;
  padding: 12px 0 20px 0px;
  border-bottom: 1px solid #E4ECED;
}
.section-car .cart-section .box dd .list li:last-child {
  border-bottom: none;
}
.section-car .cart-section .box dd .list li .color1 .icon {
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #BEC5C6;
  cursor: pointer;
  margin-left: 20px;
}
.section-car .cart-section .box dd .list li .color1 .icon.curr {
  background: url("../../images/p-cart/select.png") no-repeat center;
  background-size: cover;
  border: 1px solid #0A60BE;
}
.section-car .cart-section .box dd .list li .color1 .auto {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}
.section-car .cart-section .box dd .list li .color1 .text {
  margin-left: 16px;
}
.section-car .cart-section .box dd .list li .color1 .text .t1 em {
  font-size: 14px;
  color: #131414;
}
.section-car .cart-section .box dd .list li .color1 .text .t1 .new {
  width: 44px;
  height: 18px;
  background: #E59115;
  border-radius: 2px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  margin-left: 12px;
}
.section-car .cart-section .box dd .list li .color1 .text .t1 .return {
  width: 40px;
  height: 18px;
  background: #5998D9;
  border-radius: 2px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  margin-left: 12px;
}
.section-car .cart-section .box dd .list li .color1 .text .t1 .smt {
  width: 40px;
  height: 16px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #5998D9;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  color: #0A60BE;
  margin-left: 12px;
}
.section-car .cart-section .box dd .list li .color1 .text .t2 {
  position: relative;
  margin-top: 6px;
}
.section-car .cart-section .box dd .list li .color1 .text .t2 .wrap {
  font-size: 14px;
  color: #131414;
}
.section-car .cart-section .box dd .list li .color1 .text .t2 .wrap em {
  margin-left: 16px;
  color: #0a60be;
  cursor: pointer;
}
.section-car .cart-section .box dd .list li .color1 .text .t2 .detail-box {
  position: absolute;
  top: -51px;
  left: 175px;
  z-index: 1;
  display: none;
}
.section-car .cart-section .box dd .list li .color1 .text .t2 .detail-box .left {
  position: absolute;
  left: -8px;
  top: 53px;
  width: 10px;
  height: 17px;
  background: url("../../images/p-home/left.png") no-repeat center;
  background-size: cover;
}
.section-car .cart-section .box dd .list li .color1 .text .t2 .detail-box table {
  width: 670px;
  background: #FFFFFF;
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #0A60BE;
}
.section-car .cart-section .box dd .list li .color1 .text .t2 .detail-box table tr td {
  padding-left: 24px;
  border: 1px solid #E4ECED;
  height: 39px;
}
.section-car .cart-section .box dd .list li .color1 .text .t2 .detail-box table tr td.t1 {
  width: 145px;
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.section-car .cart-section .box dd .list li .color1 .text .t2 .detail-box table tr td.t2 {
  background: #EDF6F7;
  width: 187px;
  color: #131414;
  font-size: 14px;
  font-weight: bold;
}
.section-car .cart-section .box dd .list li .color1 .text .t2:hover .detail-box {
  display: block;
}
.section-car .cart-section .box dd .list li .color2 .timebox0 {
  width: 52px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #51B8C9;
  white-space: nowrap;
}
.section-car .cart-section .box dd .list li .color2 .timebox0 .tt {
  width: 28px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: #00A4BF;
}
.section-car .cart-section .box dd .list li .color2 .timebox0 .hour {
  width: 24px;
  background: #00A4BF;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.section-car .cart-section .box dd .list li .color2 .timebox1 {
  width: 52px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #5998D9;
  white-space: nowrap;
}
.section-car .cart-section .box dd .list li .color2 .timebox1 .tt {
  width: 28px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: #0a60be;
}
.section-car .cart-section .box dd .list li .color2 .timebox1 .hour {
  width: 24px;
  background: #0A60BE;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.section-car .cart-section .box dd .list li .color2 .timebox2 {
  width: 52px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #EFB769;
  white-space: nowrap;
}
.section-car .cart-section .box dd .list li .color2 .timebox2 .tt {
  width: 28px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: #E59115;
}
.section-car .cart-section .box dd .list li .color2 .timebox2 .hour {
  width: 24px;
  background: #E59115;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.section-car .cart-section .box dd .list li .color2 .timebox3 {
  width: 52px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #F2ACAD;
  white-space: nowrap;
}
.section-car .cart-section .box dd .list li .color2 .timebox3 .tt {
  width: 28px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: #D65B5B;
}
.section-car .cart-section .box dd .list li .color2 .timebox3 .hour {
  width: 24px;
  background: #D65B5B;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.section-car .cart-section .box dd .list li .color2 .text {
  font-size: 14px;
  color: #131414;
}
.section-car .cart-section .box dd .list li .color3 .t1 {
  font-size: 14px;
  color: #131414;
  margin-bottom: 6px;
}
.section-car .cart-section .box dd .list li .color3 .t2 {
  font-size: 12px;
  color: #131414;
  opacity: 0.6;
}
.section-car .cart-section .box dd .list li .color4 .upload .iconfont {
  font-size: 28px;
  color: #0a60be;
}
.section-car .cart-section .box dd .list li .color4 .upload em {
  margin-left: 4px;
  font-size: 14px;
  color: #0a60be;
}
.section-car .cart-section .box dd .list li .color4 .download {
  margin-bottom: 2px;
}
.section-car .cart-section .box dd .list li .color4 .download .iconfont {
  font-size: 28px;
  color: #6f6f6f;
}
.section-car .cart-section .box dd .list li .color4 .download em {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
  margin-left: 4px;
}
.section-car .cart-section .box dd .list li .color4 .download-text {
  margin-left: 30px;
  font-size: 12px;
  color: #131414;
  opacity: 0.6;
}
.section-car .cart-section .box dd .list li .color4 .download-text span {
  margin-left: 12px;
}
.section-car .cart-section .box dd .list li .color5 .t1 {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
}
.section-car .cart-section .box dd .list li .color5 .t2 {
  font-size: 12px;
  color: #131414;
  margin-bottom: 2px;
}
.section-car .cart-section .box dd .list li .color6 .t1 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  display: block;
  margin-bottom: 6px;
}
.section-car .cart-section .box dd .list li .color6 .t2 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  cursor: pointer;
}
.section-car .cart-section .box dd .list li.curr {
  background: #FFF9F2;
}
.section-car .cart-section .box dd .list li:hover {
  background: #EBF6FF;
}
.section-car .cart-section .box dd .package {
  padding-top: 12px;
  padding-bottom: 20px;
  white-space: nowrap;
  margin-left: 56px;
  border-bottom: 1px solid #E4ECED;
}
.section-car .cart-section .box dd .package:first-child {
  padding-top: 0;
}
.section-car .cart-section .box dd .package:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.section-car .cart-section .box dd .choice-package {
  position: absolute;
  left: 0;
  top: 12px;
}
.section-car .cart-section .box dd .choice-package .icon {
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #BEC5C6;
  cursor: pointer;
  margin-left: 20px;
}
.section-car .cart-section .box dd .choice-package .icon.curr {
  background: url("../../images/p-cart/select.png") no-repeat center;
  background-size: cover;
  border: 1px solid #0A60BE;
}
.section-car .cart-section .box dd.disabled .list li .color1 .icon {
  background: #E8F1F2;
  border: 1px solid #BEC5C6;
  cursor: inherit;
}
.section-car .cart-section .box dd.disabled .list li .color1 .disabled-text {
  width: 40px;
  height: 18px;
  background: #A6ADAD;
  border-radius: 2px;
  font-size: 12px;
  color: #ffffff;
  line-height: 18px;
  text-align: center;
  margin-left: 12px;
}
.section-car .cart-section .box dd.disabled .list li .color2 .timebox4 {
  width: 52px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #BEC5C6;
  white-space: nowrap;
}
.section-car .cart-section .box dd.disabled .list li .color2 .timebox4 .tt {
  width: 28px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: #686C6D;
}
.section-car .cart-section .box dd.disabled .list li .color2 .timebox4 .hour {
  width: 24px;
  background: #A6ADAD;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.section-car .cart-section .all {
  height: 48px;
  margin-top: 16px;
  background: #FFFFFF;
}
.section-car .cart-section .all .l {
  height: 48px;
}
.section-car .cart-section .all .l .icon {
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #BEC5C6;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 16px;
}
.section-car .cart-section .all .l .icon.curr {
  background: url("../../images/p-cart/select.png") no-repeat center;
  background-size: cover;
  border: 1px solid #0A60BE;
}
.section-car .cart-section .all .l span {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
  margin-right: 16px;
}
.section-car .cart-section .all .l em {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  cursor: pointer;
}
.section-car .cart-section .all .r .t1 span {
  color: #131414;
  opacity: 0.6;
  font-size: 14px;
}
.section-car .cart-section .all .r .t1 em {
  font-size: 14px;
  font-weight: bold;
  color: #0a60be;
}
.section-car .cart-section .all .r .t2 {
  margin-right: 32px;
}
.section-car .cart-section .all .r .t2 em {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
}
.section-car .cart-section .all .r .t2 span {
  font-size: 20px;
  color: #e59115;
  font-weight: bold;
}
.section-car .cart-section .all .r .line {
  width: 1px;
  height: 20px;
  color: #e4eced;
  background: #E4ECED;
  margin: 0 15px;
}
.section-car .cart-section .all .r .btn {
  width: 200px;
  height: 48px;
  background: #E59115;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}
.fast {
  height: 120px;
  background: #D2ECFF;
}
.fast .box {
  height: 100%;
}
.fast .box .text .t1 {
  font-size: 20px;
  color: #131414;
  font-weight: bold;
  margin-bottom: 8px;
}
.fast .box .text .t2 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.fast .box .form-box {
  margin-left: 120px;
}
.fast .box .form-box .w1 {
  width: 122px;
  height: 38px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #5998D9;
  text-indent: 10px;
  font-size: 14px;
}
.fast .box .form-box .w1::-webkit-input-placeholder {
  color: #131414;
  opacity: 0.6;
}
.fast .box .form-box .t1 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  margin: 0 8px;
}
.fast .box .form-box .t2 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  margin-left: 8px;
  margin-right: 18px;
}
.fast .box .form-box .num-box .inp {
  width: 164px;
  height: 38px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #5998D9;
  text-indent: 10px;
  font-size: 14px;
}
.fast .box .form-box .num-box .inp::-webkit-input-placeholder {
  color: #131414;
  opacity: 0.6;
}
.fast .box .form-box .fast-btn {
  margin-left: 19px;
  width: 166px;
  height: 40px;
  background: #0A60BE;
  border-radius: 2px;
  text-align: center;
}
.fast .box .form-box .fast-btn .iconfont {
  font-size: 20px;
  color: #ffffff;
  margin-right: 4px;
}
.fast .box .form-box .fast-btn span {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}
.car-layer {
  padding: 0 24px 28px 24px;
}
.car-layer .t1 {
  padding-left: 20px;
  height: 30px;
  background: #D2ECFF;
  border: 1px solid #AAD0F2;
  line-height: 30px;
  margin-bottom: 12px;
}
.car-layer .t1 em {
  font-size: 14px;
  color: #131414;
}
.car-layer .t1 span {
  font-size: 14px;
  color: #0a60be;
}
.car-layer .t2 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  margin-bottom: 4px;
}
.car-layer .t3 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  margin-bottom: 32px;
}
.car-layer .tab {
  text-align: center;
}
.car-layer .tab li {
  margin-right: 40px;
}
.car-layer .tab li:last-child {
  margin-right: 0;
}
.car-layer .tab li .circle {
  width: 12px;
  height: 12px;
  padding: 3px;
  border-radius: 18px;
  border: 1px solid #C2C7CC;
  position: relative;
  top: -2px;
  cursor: pointer;
}
.car-layer .tab li .circle.act {
  border-color: #0081D2;
}
.car-layer .tab li .circle.act i {
  display: block;
  width: 12px;
  height: 12px;
  background: #0081D2;
  border-radius: 12px;
}
.car-layer .tab li .t4 {
  font-size: 16px;
  color: #131414;
  font-weight: bold;
  margin-left: 12px;
}
.car-layer .tab li .t5 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  margin-left: 8px;
}
.car-layer .tab li.curr .circle {
  border-color: #0081D2;
}
.car-layer .tab li.curr .circle i {
  display: block;
  width: 12px;
  height: 12px;
  background: #0081D2;
  border-radius: 12px;
}
.car-layer .upload {
  width: 632px;
  height: 136px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px dashed rgba(166, 173, 173, 0.5);
  margin: 20px auto 0;
  cursor: pointer;
  text-align: center;
}
.car-layer .upload .iconfont {
  font-size: 40px;
  color: #0a60be;
}
.car-layer .upload .upload-t1 {
  font-size: 20px;
  color: #131414;
  font-weight: bold;
  margin-left: 8px;
}
.car-layer .upload .upload-t2 {
  margin-top: 28px;
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.car-layer .uploading-box .uploading {
  margin: 33px auto 0;
  position: relative;
  width: 630px;
  height: 62px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid rgba(166, 173, 173, 0.5);
  line-height: 64px;
}
.car-layer .uploading-box .uploading .progress {
  position: absolute;
  left: 0;
  top: 0;
  background: #D2ECFF;
  height: 64px;
  z-index: 1;
}
.car-layer .uploading-box .uploading .iconfont {
  position: relative;
  z-index: 2;
  font-size: 28px;
  color: #4f5355;
  margin-left: 24px;
}
.car-layer .uploading-box .uploading .txt {
  position: relative;
  font-size: 16px;
  color: #131414;
  font-weight: bold;
  z-index: 2;
}
.car-layer .uploading-box .uploading .status {
  position: absolute;
  right: 24px;
  top: 50%;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  color: #0a60be;
  font-size: 14px;
  z-index: 2;
}
.car-layer .uploading-box .uploading-text {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  display: block;
}
.car-layer .upload-done {
  width: 630px;
  height: 62px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid rgba(166, 173, 173, 0.5);
  margin: 33px auto 0;
}
.car-layer .upload-done .l {
  height: 100%;
  margin-left: 24px;
}
.car-layer .upload-done .l .iconfont {
  color: #4f5355;
  font-size: 28px;
}
.car-layer .upload-done .l .txt {
  font-size: 16px;
  color: #131414;
  font-weight: bold;
}
.car-layer .upload-done .btn {
  margin-right: 24px;
  line-height: 62px;
  font-size: 14px;
  color: #0a60be;
  cursor: pointer;
}
.car-layer .btn-box {
  margin-top: 38px;
}
.car-layer .btn-box .l {
  width: 542px;
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.car-layer .btn-box .btn {
  width: 152px;
  height: 40px;
  background: #0A60BE;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  display: block;
}
.car-layer .show {
  display: none;
}
.car-layer .table-box {
  width: 800px;
  margin: 16px auto 0;
}
.car-layer .table-box tr th {
  height: 34px;
  background: #E8F1F2;
  font-weight: normal;
  text-align: left;
  opacity: 0.6;
  padding-left: 20px;
}
.car-layer .table-box tr td {
  cursor: pointer;
  border-bottom: 1px solid #E4ECED;
  padding: 11px 0 12px 20px;
}
.car-layer .table-box tr td .circle {
  width: 12px;
  height: 12px;
  padding: 3px;
  border-radius: 18px;
  border: 1px solid #C2C7CC;
  position: relative;
  top: -2px;
  cursor: pointer;
}
.car-layer .table-box tr td .circle.act {
  border-color: #0081D2;
}
.car-layer .table-box tr td .circle.act i {
  display: block;
  width: 12px;
  height: 12px;
  background: #0081D2;
  border-radius: 12px;
}
.car-layer .table-box tr td .tb {
  margin-left: 14px;
}
.car-layer .table-box tr td .tb p {
  font-size: 14px;
  color: #131414;
}
.car-layer .table-box tr td .type2 {
  font-size: 14px;
  color: #131414;
}
.car-layer .table-box tr td .type3 {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
}
.car-layer .table-box tr td .type4 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.car-layer .table-box tr:hover {
  background: #FFF9F2;
}
.car-layer .steel-btn {
  width: 152px;
  height: 40px;
  background: #0A60BE;
  border-radius: 2px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  margin: 24px auto 0;
  display: block;
}
/*# sourceMappingURL=index.css.map */