@import '../common/base.less';

.w118 {
  width: 118px !important;
}
.w78 {
  width: 78px !important;
}
.w178 {
  width: 178px !important;
}

.w138 {
  width: 138px !important;
}

.w140 {
  width: 140px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.mr14 {
  margin-right: 14px !important;
}

.mt16 {
  margin-top: 16px;
}

.mt20 {
  margin-top: 20px;
}

.pl18 {
  padding-left: 18px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.disabled {
  background: none !important;
  color: #959ba6 !important;
  cursor: not-allowed !important;
  font-weight: normal !important;
  border: 1px dashed #E6EAF2 !important;

  span {
    color: #959ba6 !important;
  }

  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}

.onsroll {
  position: fixed;
  top: 0px;
  z-index: 2;
  left: 50%;
  margin-left: 211px;
  _position: absolute;
  _bottom: auto;
}

.timebor {
  border-bottom: 1px solid #E6EAF2;
  padding-bottom: 25px;
}


.bor {
  border-bottom: 10px solid #E6EAF2;
}

.pcb {
  padding: 30px 0 70px 0;
  background: #F9F8FD;

  .title {
    font-size: 20px;
    color: #3a3c40;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .section {
    .pcb-l {
      width: 780px;

      .pcb-box,.pcb-bz {
        padding: 20px 30px 20px 30px;
        margin-bottom: 20px;
        background: #FFFFFF;
        border-radius: 2px;
        // border: 1px solid #E6EAF2;


        .tit {
          margin-bottom: 20px;

          .l {
            .t1 {
              font-size: 20px;
              color: #3a3c40;
              font-weight: bold;
              margin-right: 30px;
            }

            .t2 {
              font-size: 12px;
              color: #e89721;
            }

            .t3 {
              font-size: 12px;
              color: #959ba6;
            }
          }

          .shrink{
            font-size: 12px;
            color: #0081d2;
          }
        }

        .line {
          margin-top: 20px;
          margin-bottom: 20px;
        }

        .pcb-block {
          margin-bottom: 10px;
          white-space: nowrap;

          label {
            width: 125px;
            text-align: left;
            font-size: 14px;
            color: #5c5f66;
            white-space: nowrap;
            margin-right: 8px;

            span {
              font-size: 16px;
              cursor: pointer;
              color: #ABB3BE;

              &:hover {
                color: #0081D2;

                .arrow-tips {
                  height: 100px;

                  &.arrow-tips-500 {
                    height: 180px;
                  }
                }
              }
            }
          }

          .pcb-block-inline {
            position: relative;
            max-width: 533px;

            li {
              float: left;
              height: 28px;
              background: #FFF;
              border-radius: 2px;
              line-height: 28px;
              text-align: center;
              border: 1px solid #E6EAF2;
              margin-right: 10px;
              font-size: 14px;
              color: #5c5f66;
              cursor: pointer;
              padding: 0 10px;

              &:hover {
                border: 1px solid #0081D2;
                position: relative;
              }

              &.curr {
                border: 1px solid #0081D2;
                color: #3a3c40;
                background: #F7F9FC;
                position: relative;

                // &::after {
                //   content: "";
                //   position: absolute;
                //   width: 0;
                //   height: 0;
                //   border-bottom: 18px solid #0081D2;
                //   border-left: 18px solid transparent;
                //   bottom: 0;
                //   right: 0;
                // }

                // &::before {
                //   font-family: "iconfont" !important;
                //   font-size: 12px;
                //   font-style: normal;
                //   -webkit-font-smoothing: antialiased;
                //   -moz-osx-font-smoothing: grayscale;
                //   content: "\e644";
                //   position: absolute;
                //   bottom: -8px;
                //   right: -1px;
                //   z-index: 1;
                //   color: #fff;
                //   font-weight: normal;
                // }

              }
            }

            .sel {
              height: 30px;
              background: #F7F9FC;
              border-radius: 2px;
              line-height: 28px;
              border: 1px solid #E6EAF2;
              text-indent: 1em;
              font-size: 14px;
            }

            .inp {
              height: 28px;
              background: #F7F9FC;
              border-radius: 2px;
              line-height: 28px;
              border: 1px solid #E6EAF2;
              text-indent: 1em;
              font-size: 14px;
              transition: all 0.4s ease;

              &:focus {
                background: #ffffff;
                border: 1px solid #0081D2;
              }

              &::-webkit-input-placeholder {
                color: #959ba6;
              }
            }

            .closeico {
              font-size: 14px;
              color: #5c5f66;
              margin: 0 10px;
            }

            em {
              width: 14px;
              height: 14px;

              &.color1 {
                background: #028002;
              }

              &.color2 {
                background: #BB1408;
              }

              &.color3 {
                background: #FFD203;
              }

              &.color4 {
                background: #0D4AD9;
              }

              &.color5 {
                background: #FFFFFF;
                width: 12px;
                height: 12px;
                border: 1px solid #ACB3BF;
              }

              &.color6 {
                background: #000000;
              }

              &.color7 {
                background: #a20495;
              }

              &.color8 {
                background-color: #218626;
                background-image: -webkit-linear-gradient(top, #58de5f, #218626);
              }

              &.color9 {
                background-color: #0f0f0f;
                background-image: -webkit-linear-gradient(top, #666666, #000000);
              }

            }

            span {
              font-size: 14px;
              color: #3a3c40;
            }

            .selects-qty {
              position: absolute;
              left: 0px;
              top: 39px;
              z-index: 9;
              width: 461px;
              background-color: #ffffff;
              border: solid 1px #e5e5e5;
              padding: 10px 0 16px 18px;
              display: none;

              .arrow {
                position: absolute;
                left: 21px;
                top: -10px;
                width: 13px;
                height: 11px;
                background: url("../../images/common/ico.png") no-repeat -5px -52px;
              }

              dl {
                dd {
                  float: left;
                  width: 14%;
                  margin-bottom: 15px;
                  cursor: pointer;

                  .arr {
                    width: 14px;
                    height: 13px;
                    background: url("../../images/common/ico.png") no-repeat 0 0;
                  }

                  &.curr {
                    .arr {
                      width: 14px;
                      height: 13px;
                      background: url("../../images/common/ico.png") no-repeat -16px 0;
                    }
                  }

                  span {
                    font-size: 14px;
                    color: #666666;
                    margin-left: 5px;
                  }
                }
              }

              .wrap {
                margin-top: 3px;

                label {
                  font-size: 14px;
                  color: #666666;
                  margin-right: 13px;
                }

                .inp {
                  width: 158px;
                  border: solid 1px #e5e5e5;

                  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                    -webkit-appearance: none !important;
                    margin: 0;
                  }

                  &:focus {
                    border: solid 1px #00a0e9;
                  }
                }

                .btn {
                  margin-left: 40px;

                  a {
                    width: 68px;
                    height: 30px;
                    border-radius: 2px;
                    font-size: 14px;
                    line-height: 30px;
                    text-align: center;

                    &.ok {
                      background-color: #1080d0;
                      color: #fefefe;
                      margin-right: 10px;
                    }

                    &.canel {
                      background-color: #f3f3f3;
                      color: #666666;
                    }
                  }
                }
              }
            }


          }

          .pcb_boardcolor {
            li {
              margin-bottom: 10px;
            }
          }

          .pcb_thickness {
            li {
              // margin-bottom: 10px;
            }
          }

          .text {
            font-size: 14px;
            color: #5c5f66;
          }

          .tiptext {
            margin-top: 10px;
            font-size: 12px;
            color: #959ba6;
            margin-left: 130px;

            &.cc-tips {
              margin-top: 0;
              position: relative;
              top: -8px
            }

            &.fr4-tips {
              margin: 0;
            }

            &.num-tips {
              margin: 0 0 0 20px;
              color: #E89721;
              visibility: hidden;
            }

            &.sl-tips {
              margin: 0 0 0 20px;
              font-size: 14px;
              border-bottom: 1px dashed #0081D2;
              cursor: pointer;
              position: relative;

              &:hover {
                .sl-div {
                  height: 295px;
                }
              }

              span {
                color: #0081D2;
              }

              .sl-div {
                position: absolute;
                left: -240px;
                top: 25px;
                z-index: 3;
                height: 0;
                overflow: hidden;
                transition: all .2s linear;

                .arrow {
                  display: block;
                  position: relative;
                  top: 2px;
                  left: 246px;
                  width: 13px;
                  height: 11px;
                  background: url(../../images/common/ico.png) no-repeat -5px -52px;
                }

                .img-p {
                  border: 1px solid #cccccc;
                  background-color: #fff;
                  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                }
              }
            }
          }

          .panelway_param_text {
            width: 550px;
            background: #F7F9FC;
            padding: 10px 20px 10px 20px;

            .panelway_param_text_l {

              .panelway_param_text-t1 {
                margin-bottom: 10px;

                span {
                  font-size: 14px;
                  color: #959ba6;
                }

                em {
                  font-size: 14px;
                  color: #5c5f66;
                }
              }

              .panelway_param_text-t2 {
                margin-bottom: 10px;

                span {
                  font-size: 14px;
                  color: #959ba6;
                }

                em {
                  font-size: 14px;
                  color: #5c5f66;
                }
              }

              .panelway_param_text-t3 {
                span {
                  font-size: 14px;
                  color: #959ba6;
                }

                em {
                  font-size: 14px;
                  color: #5c5f66;
                }
              }
            }

            .panelway_param_text_r {
              cursor: pointer;

              .iconfont {
                font-size: 20px;
                color: #0081d2;
              }

              span {
                margin-left: 4px;
                font-size: 15px;
                color: #0081d2;
              }
            }

          }
        }
      }

      .pcb-block-slideup {
        padding: 20px 30px 30px 30px;
        margin-bottom: 20px;
        background: #FFFFFF;
        border-radius: 2px;
        border: 1px solid #E6EAF2;

        .tit {

          .l {
            .t1 {
              font-size: 20px;
              color: #3a3c40;
              font-weight: bold;
              margin-right: 30px;
            }

            .t2 {
              font-size: 12px;
              color: #e89721;
            }

            .t3 {
              font-size: 12px;
              color: #959ba6;
            }
          }

          .shrink {
            font-size: 12px;
            color: #0081d2;
          }
        }

        .pcb-block {
          margin-bottom: 10px;
          white-space: nowrap;

          label {
            width: 125px;
            text-align: left;
            font-size: 14px;
            color: #5c5f66;
            white-space: nowrap;
            margin-right: 8px;

            span {
              font-size: 16px;
              cursor: pointer;
              color: #ABB3BE;

              &:hover {
                color: #0081D2;

                .arrow-tips {
                  height: 100px;

                  &.arrow-tips-500 {
                    height: 180px;
                  }
                }
              }
            }
          }

          .pcb-block-inline {
            li {
              float: left;
              height: 28px;
              background: #F7F9FC;
              border-radius: 2px;
              line-height: 28px;
              text-align: center;
              border: 1px solid #E6EAF2;
              margin-right: 14px;
              font-size: 14px;
              color: #5c5f66;
              cursor: pointer;
              padding: 0 13px;

              &:hover {
                border: 1px solid #0081D2;
              }

              &.curr {
                border: 2px solid #0081D2;
                color: #3a3c40;
                font-weight: bold;
                height: 26px;
                line-height: 26px;
                position: relative;

                &::after {
                  content: "";
                  position: absolute;
                  width: 0;
                  height: 0;
                  border-bottom: 18px solid #0081D2;
                  border-left: 18px solid transparent;
                  bottom: 0;
                  right: 0;
                }

                &::before {
                  font-family: "iconfont" !important;
                  font-size: 12px;
                  font-style: normal;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  content: "\e644";
                  position: absolute;
                  bottom: -8px;
                  right: -1px;
                  z-index: 1;
                  color: #fff;
                  font-weight: normal;
                }
              }
            }

            .inp {
              height: 28px;
              background: #F7F9FC;
              border-radius: 2px;
              line-height: 28px;
              border: 1px solid #E6EAF2;
              text-indent: 1em;
              font-size: 14px;
              transition: all 0.4s ease;

              &:focus {
                border: 1px solid #0081D2;
              }

              &::-webkit-input-placeholder {
                color: #959ba6;
              }
            }

            .closeico {
              font-size: 14px;
              color: #5c5f66;
              margin: 0 10px;
            }

          }

          .text {
            font-size: 14px;
            color: #5c5f66;
          }

          .tiptext {
            margin-top: 10px;
            font-size: 12px;
            color: #959ba6;
            margin-left: 120px
          }

          .textarea {
            position: relative;

            textarea {
              width: 398px;
              height: 68px;
              border-radius: 2px;
              border: 1px solid #E6EAF2;
              padding: 15px 10px;
              background: #F9F8FD;
              font-size: 14px;
              resize: none;
              transition: all 0.2s ease;
              &:focus{
                background: #ffffff;
                border: 1px solid #0081D2;
              }
              &::-webkit-input-placeholder {
                color: #959ba6;
              }
            }

            span {
              position: absolute;
              right: 10px;
              bottom: 10px;
              font-size: 12px;
              color: #959ba6;
            }
          }

        }

      }
    }

    .pcb-r {
      width: 380px;
      background: #FFFFFF;
      box-shadow: 0px 5px 20px 0px rgba(172, 179, 191, 0.2);
      border-radius: 2px;
      .pcb-r-box {
        width: 340px;
        margin: 0 20px 0 20px;
        border-bottom: 1px dashed #E6EAF2;
        padding-top:20px;
        &.price-r-box,&.textarea-box{
          border:none;
          padding-top: 0;
        }
        .tit {
          margin-bottom: 10px;

          .l {
            padding-bottom: 10px;
            position: relative;
            font-size: 14px;
            color: #3a3c40;
            font-weight: bold;

            // &:after {
            //   width: 30px;
            //   height: 5px;
            //   background: rgba(0, 129, 210, 1);
            //   position: absolute;
            //   left: 0;
            //   bottom: 0;
            //   content: '';
            //   z-index: 1;
            // }
          }

          .shrink1 {
            margin-top: 6px;
            font-size: 12px;
            color: #0081d2;
          }
          .shrink{
             font-size: 12px;
             color:#959BA6;
             .arrow-icon{
               height:20px;
               width:20px;
               &.arrow-b{
                 background: url('../../images/pcb/arrow-b.png');
               }
               &.arrow-t{
                background: url('../../images/pcb/arrow-t.png');
              }
              background-repeat: no-repeat;
              background-size: 100% 100%;
             }
          }
        }

        .cost {

          .cost-tit {
            padding: 10px 0 15px;
            .t3 {
              font-size: 14px;
              color: #5C5F66;
              text-align: left;
            }

            .t4 {
              font-size: 20px;
              color: #e82121;
              font-weight: bold;
              text-align: right;
            }
            
          }
          .detail-wrap {
            width: 340px;
            border-collapse: collapse;
            border:1px solid #E6EAF2;
            margin-bottom: 20px;
            tr {
              .bor {
                border-right: 1px solid #E6EAF2;
              }

              td {
                height: 38px;
                border-bottom: 1px solid #E6EAF2;
                white-space: nowrap;

                &.bornone {
                  border-bottom: none;
                }

                .t1 {
                  width: 68px;
                  font-size: 12px;
                  color: #5C5F66;
                  box-sizing: border-box;
                  padding:0 10px ;
                  height:100%;
                  line-height:38px;
                  background-color: #F7F9FC;

                }

                .t2 {
                  font-size: 12px;
                  color: #3a3c40;
                  // max-width: 92px;
                  width:92px;
                  overflow: hidden;
                  display: inline-block;
                  text-overflow: ellipsis;
                  vertical-align: middle;
                  box-sizing: border-box;
                  padding:0 10px;
                }
              }
            }
          }
        }

        .detail {
          .detail-wrap {
            width: 340px;
            border-collapse: collapse;
            border:1px solid #E6EAF2;
            tr {
              .bor {
                border-right: 1px solid #E6EAF2;
              }

              td {
                height: 38px;
                border-bottom: 1px solid #E6EAF2;
                white-space: nowrap;

                &.bornone {
                  border-bottom: none;
                }

                .t1 {
                  width: 68px;
                  font-size: 12px;
                  color: #5C5F66;
                  box-sizing: border-box;
                  padding:0 10px ;
                  height:100%;
                  line-height:38px;
                  background-color: #F7F9FC;

                }

                .t2 {
                  font-size: 12px;
                  color: #3a3c40;
                  // max-width: 92px;
                  width:92px;
                  overflow: hidden;
                  display: inline-block;
                  text-overflow: ellipsis;
                  vertical-align: middle;
                  box-sizing: border-box;
                  padding:0 10px;
                }
              }
            }
          }
          .table-tips{
            color:#959BA6;
            font-size: 12px;
            padding:10px 0 20px;
          }
        }
      }

      .pcb-r-boxs {
        width: 340px;
        padding: 20px 20px 20px 20px;
        .timebor {
          border-bottom: none;
          padding-bottom: 0 !important;
        }

        .tit {
          margin-bottom: 10px;

          .l {
            position: relative;
            font-size: 14px;
            color: #3a3c40;
            font-weight: bold;

            // &:after {
            //   width: 30px;
            //   height: 5px;
            //   background: rgba(0, 129, 210, 1);
            //   position: absolute;
            //   left: 0;
            //   bottom: 0;
            //   content: '';
            //   z-index: 1;
            // }
          }

          .shrink {
            margin-top: 6px;
            font-size: 12px;
            color: #0081d2;
          }
        }

        .delivery {
          ul {
            // margin-top: 15px;
            // margin-bottom: 15px;
            background-color: #F7F9FC;
            padding:5px 10px;
            li {
              &:first-child {
                margin-right: 30px;
              }

              .t1 {
                font-size: 14px;
                color: #5c5f66;
              }

              .t2 {
                font-size: 14px;
                color: #0081D2;
                font-weight: bold;
              }
            }
          }

          .text {
            font-size: 12px;
            color: #5c5f66;
            white-space: nowrap;
            margin-bottom: 10px;

            .t1 {
              width: 290px;
              white-space: normal;
            }
          }
        }

        .logistics {
          margin-top: 20px;

          .select-box {
            margin-bottom: 13px;

            .sel {
              width: 160px;
              height: 40px;
              padding-left: 10px;
              line-height: 40px;
              border-radius: 2px;
              border: 1px solid #E6EAF2;
              font-size: 14px;
              color: #3a3c40;
              cursor: pointer;
            }
          }

          .text {
            margin-bottom: 20px;

            .t1 {
              font-size: 14px;
              color: #5c5f66;
            }

            .t2 {
              font-size: 14px;
              color: #3a3c40;
              font-weight: bold;
            }

            .t3 {
              font-size: 14px;
              color: #e82121;
              font-weight: bold;
            }

            .im {
              width: 120px;
              height: 40px;
            }
          }
        }


      }

      .btn {
        width: 380px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #0081D2;
        box-shadow: 0px 5px 20px 0px rgba(172, 179, 191, 0.2);
        border-radius: 2px;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        display: block;
        &:hover{
          background: #0090EB;
        }
      }
      .textarea-box{
        .textarea {
          position: relative;
          textarea {
            width: 318px;
            height: 48px;
            border-radius: 2px;
            border: 1px solid #E6EAF2;
            padding: 15px 10px;
            background: #F9F8FD;
            font-size: 14px;
            resize: none;
            transition: all 0.2s ease;
            &:focus{
              background: #ffffff;
              // border: 1px solid #0081D2;
            }
            &::-webkit-input-placeholder {
              color: #959ba6;
            }
          }

          span {
            position: absolute;
            right: 10px;
            bottom: 10px;
            font-size: 12px;
            color: #959ba6;
          }
        }
      }
      .warn-div{
        padding:20px 20px 20px 20px;
        .warn-title{
          span{
            font-size: 14px;
            color: #5C5F66;
            font-weight: 600;
          }
          .warn-icon{
            height:18px;
            width:18px;
            background: url('../../images/pcb/warn-icon.png') no-repeat;
            background-size: 100% 100%;
            margin-right: 6px;
          }
        }
        .warn-tips{
          margin-top: 6px;
          font-size: 12px;
          color:#959BA6
        }
      }
    }
  }
}

.board-up-layer {
  padding: 30px 30px 40px 50px;

  .list-wrap {
    margin-bottom: 30px;

    li {
      margin-bottom: 12px;

      .circle {
        width: 12px;
        height: 12px;
        padding: 3px;
        border-radius: 18px;
        border: 1px solid #C2C7CC;
        cursor: pointer;

        &.act {
          border-color: #0081D2;

          i {
            display: block;
            width: 12px;
            height: 12px;
            background: #0081D2;
            border-radius: 12px;
          }
        }
      }

      .text {
        margin-left: 14px;
        font-size: 14px;
        color: #5c5f66;
      }
    }
  }

  .input-group {
    li {
      margin-bottom: 10px;

      label {
        width: 17px;
        font-size: 14px;
        color: #5c5f66;
        vertical-align: middle;
        margin-right: 15px;
        text-align: left;
      }

      input {
        width: 298px;
        height: 38px;
        line-height: 38;
        text-indent: 1em;
        border-radius: 2px;
        border: 1px solid #E6EAF2;
        background: #F9F8FD;

        &:focus {
          border: 1px solid #0081D2;
        }

        &::-webkit-input-placeholder {
          color: #959ba6;
        }
      }
    }
  }

  .btn-wrap {
    margin-top: 30px;

    .r {
      .canel {
        width: 98px;
        height: 38px;
        border-radius: 2px;
        border: 1px solid rgba(230, 234, 242, 1);
        margin-right: 20px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        color: #5c5f66;
      }

      .ok {
        width: 100px;
        height: 40px;
        background: rgba(0, 129, 210, 1);
        border-radius: 2px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        color: #FFFFFF;
      }
    }
  }
}

.car-layer {
  padding: 40px 0;
  text-align: center;

  .cal {
    width: 158px;
    height: 38px;
    line-height: 38px;
    border-radius: 2px;
    border: 1px solid #E6EAF2;
    font-size: 14px;
    color: #5c5f66;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
  }

  .ok {
    width: 120px;
    height: 40px;
    background: rgba(0, 129, 210, 1);
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
  }

}

.wt1 {
  height: 54px;
  width: 156px;
  margin-left: 20px;
}

.wt2 {
  height: 28px;
  width: 70px;
  margin-left: 10px;
}

.wt3 {
  height: 27px;
  width: 89px;
  margin-left: 10px;
}

.wt4 {
  height: 32px;
  width: 80px;
  margin-left: 10px;
}

.wt5 {
  height: 36px;
  width: 31px;
  margin-left: 10px;
}

label {
  .iconiconfontquestion {
    position: relative;

    .arrow-tips {
      position: absolute;
      z-index: 1;
      top: 18px;
      left: -22px;
      height: 0px;
      overflow: hidden;
      transition: all .2s linear;

      &.arrow-tips-500 {
        transition: all .3s linear;

      }

      .arrow {
        position: relative;
        z-index: 4;
        top: 1px;
        left: 21px;
        display: block;
        height: 8px;
        width: 16px;
        background: url('../../images/pcb/top-arrow.png') no-repeat;
        background-size: 100% 100%;
      }

      .tips {
        background: #fff;
        box-shadow: 0px 5px 20px 0px rgba(172, 179, 191, 0.2);
        padding: 20px;
        border: 1px solid #0081D2;
        z-index: 3;
        font-size: 12px;
        color: #5C5F66;
        width: 280px;
        white-space: pre-wrap;
      }
    }
  }
}

.pcb-layer-box {

  .pcb-way-layer {
    position: relative;
    padding: 20px 30px 30px 40px;

    .pcb-way-show {
      position: absolute;
      right: 60px;
      top: 30px;
      text-align: center;

      .pic {
        width: 123px;
        height: 78px;

        img {
          width: 123px;
          height: 78px;
        }

        margin-bottom: 10px;
      }

      .pic-text {
        .iconfont {
          font-size: 20px;
          color: #0081d2;
        }

        span {
          font-size: 14px;
          color: #0081d2;
        }
      }
    }

    .pcb-way-layer-input {
      margin-bottom: 15px;

      label {
        width: 84px;
        text-align: left;
        font-size: 14px;
        color: #5c5f66;
      }

      .pcb-way-layer-wrap {
        font-size: 14px;
        color: #3a3c40;

        .pcb-way-inp {
          white-space: nowrap;

          input {
            height: 28px;
            line-height: 28px;
            border-radius: 2px;
            border: 1px solid #E6EAF2;
            text-indent: 1em;
            font-size: 14px;
            color: #3a3c40;
            background: #F7F9FC;

            &:focus {
              background: #ffffff;
            }

            &::-webkit-input-placeholder {
              color: #959ba6;
            }

            &.w1 {
              width: 138px;
            }
          }

          .tip-text {
            color: #5c5f66;
            font-size: 14px;
            margin-left: 10px;
          }
        }

        select {
          height: 28px;
          line-height: 28px;
          border-radius: 2px;
          border: 1px solid #E6EAF2;
          text-indent: 1em;
          font-size: 14px;
          color: #3a3c40;
          background: #F7F9FC;
        }

        .type {
          margin-bottom: 10px;

          p {
            margin-right: 9px;

            span {
              color: #5c5f66;
              font-size: 14px;
            }

            em {
              font-size: 14px;
              color: #5c5f66;
              margin-left: 5px;
              margin-right: 8px;
              font-weight: bold;
            }
          }

          .txt-wrap {
            input {
              height: 28px;
              border-radius: 2px;
              border: 1px solid rgba(230, 234, 242, 1);
              text-indent: 1em;
              font-size: 14px;
              color: #3a3c40;
              background: #F7F9FC;

              &:focus {
                background: #ffffff;
              }

              &::-webkit-input-placeholder {
                color: #959ba6;
              }

              &.w1 {
                width: 78px;
              }
            }

            span {
              font-size: 14px;
              color: #5c5f66;
            }
          }
        }

        .tt {
          margin-bottom: 8px;

          span {
            font-size: 14px;
            color: #959ba6;
          }

          em {
            font-size: 14px;
            color: #5C5F66;
          }
        }
      }

      .txt {
        font-size: 12px;
        color: #959ba6;
      }

      .tit {
        font-size: 14px;
        color: #5c5f66;
        font-weight: bold;
        margin-bottom: 19px;
      }
    }

    .line {
      height: 1px;
      color: #e6eaf2;
      background: #E6EAF2;
      margin-bottom: 15px;
    }

    .design {
      padding-top: 28px;
      text-align: center;

      .tit {
        position: relative;
        width: 580px;
        height: 1px;
        background: #E6EAF2;
        margin: 0 auto;

        .left {
          position: absolute;
          left: 0;
          top: -8px;
          width: 1px;
          height: 16px;
          background: #E6EAF2;
          color: #E6EAF2;
        }

        .right {
          position: absolute;
          right: 0;
          top: -8px;
          width: 1px;
          height: 16px;
          background: #E6EAF2;
          color: #E6EAF2;
        }

        span {
          position: absolute;
          left: 0;
          right: 0;
          top: -9px;
          text-align: center;
          font-size: 14px;
          color: #5c5f66;
          background: #ffffff;
          display: block;
          margin: 0 auto;
          max-width: 100px;
        }
      }

      .design-wrap {
        position: relative;
        margin-top: 23px;
        text-align: center;

        .design-wrap-tit {
          position: absolute;
          right: 33px;
          width: 1px;
          height: 99%;
          background: #E6EAF2;
          margin: 0 auto;

          .left {
            position: absolute;
            left: -7px;
            top: 0;
            width: 16px;
            height: 1px;
            background: #E6EAF2;
            color: #E6EAF2;
          }

          .right {
            position: absolute;
            left: -7px;
            bottom: 0;
            width: 16px;
            height: 1px;
            background: #E6EAF2;
            color: #E6EAF2;
          }

          span {
            position: absolute;
            left: -10px;
            top: 50%;
            text-align: center;
            font-size: 14px;
            color: #5c5f66;
            background: #ffffff;
            display: block;
            margin-top: -16px;
          }
        }

        .needHold {
          position: relative;
          width: 580px;
          padding: 20px;
          border: 1px solid #0081D2;
          box-sizing: border-box;
          margin: 0 auto;

          .left {
            position: absolute;
            left: 0;
            top: 0;
            color: #959ba6;
            font-size: 12px;
            width: 20px;
            height: 100%;
            text-align: center;
            border-right: 1px solid #0081D2;

            &:after {
              position: absolute;
              top: 50%;
              left: 0;
              content: '工艺边';
              display: block;
              margin-top: -24px;
            }
          }

          .top {
            position: absolute;
            left: 0;
            right: 0;
            top: 2px;
            text-align: center;
            color: #959ba6;
            font-size: 12px;
          }

          .bottom {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 2px;
            text-align: center;
            color: #959ba6;
            font-size: 12px;
          }

          .right {
            position: absolute;
            right: 0;
            top: 0;
            color: #959ba6;
            font-size: 12px;
            width: 20px;
            height: 100%;
            text-align: center;
            border-left: 1px solid #0081D2;

            &:after {
              position: absolute;
              top: 50%;
              right: 0;
              content: '工艺边';
              display: block;
              margin-top: -24px;
            }
          }

          &.needHoldnone {
            border: none;

            .left, .top, .right, .bottom {
              display: none !important;
            }
          }

          &.needHoldleft {
            padding: 0;
            border: none;

            .left {
              height: calc(100% - 2px);
              left: -2px;
              border: 1px solid #0081D2;
            }

            .right {
              height: calc(100% - 2px);
              right: 0;
              border: 1px solid #0081D2;
              border-left: none;
            }

            table {
              width: 540px;
              margin: 0 auto;
              border-left: none;
            }
          }

          &.needHoldtop {
            padding: 10px 0;
            border: none;

            .top {
              top: -7px;
              border: 1px solid #0081D2;
              border-bottom: none;
            }

            .bottom {
              bottom: -7px;
              border: 1px solid #0081D2;
              border-top: none;
            }
          }
        }

        table {
          width: 100%;
          margin: 0 auto;
          border-collapse: collapse;
          box-sizing: border-box;
          border: 1px solid #0081D2;

          tr {
            td {
              height: 56px;
              border-right: 1px solid #0081D2;
              border-bottom: 1px solid #0081D2;
              font-size: 14px;
              color: #5c5f66;
              background: #F7F9FC;
            }
          }
        }
      }
    }

    .error {
      margin: 30px auto 20px;
      width: 678px;
      height: 58px;
      padding-left: 20px;
      background: #F7F9FC;
      border: 1px solid #E6EAF2;

      .iconfont {
        color: #e89721;
        font-size: 20px;
      }

      span {
        font-size: 14px;
        color: #3a3c40;
        font-weight: bold;
        margin-left: 10px;
      }
    }

    .bnt-wrap {
      margin-top: 30px;

      .l {
        margin-top: 10px;
        font-size: 14px;
        color: #5c5f66;

        em {
          color: #0081d2;
        }

      }

      .btn-calel {
        width: 118px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        background: #ffffff;
        border-radius: 2px;
        font-size: 14px;
        color: #5c5f66;
        margin-right: 5px;
        border: 1px solid #E6EAF2;
      }

      .btn {
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #0081D2;
        border-radius: 2px;
        font-size: 14px;
        color: #ffffff;
      }
    }
  }
}

.pcb-layer-box .layui-input, .layui-select, .layui-textarea {
  height: 28px !important;
  line-height: 28px !important;
}

