body{ background-color: #fff;}
.w800{ margin:0; width:820px; padding:20px;}


.bdbot{ border-bottom: 1px solid #e2e2e2;}
.tright{ text-align: right;}
.w980{ width: 980px; margin: 0px auto;}
.loginimg{  width: 620px; margin-right: 30px;}
.loginbox{ width: 260px; border: 1px solid #ccc; background-color: #fff; padding: 20px; border-radius:4px;}
.loginbox dl{ margin-bottom: 12px;}
.loginbox dl dt{ margin-bottom: 5px; width: 100%; overflow: hidden;}
.loginbox dl dd{ position: relative;}
.loginbox dl dd label{ position: absolute; left: 8px; top: 0px; line-height: 27px; color: #999;}
.loginbox a{ color: #4f88d5;}
.txt-input{ width: 242px; height: 34px; line-height: 34px; border:1px solid #aaa; padding: 0px 8px;border-radius:4px;}
.btn-input{ border: 1px solid #7e7e7e; color: #fff;  font-size: 14px; background:#7e7e7e; height: 34px; width: 262px; cursor: pointer;border-radius:4px;}
.otherlogin{ border-top:1px dashed #ccc; margin-top: 8px; padding-top: 6px; border-bottom: 0px; margin-bottom: 0px; padding-bottom: 0px;}
.otherlogin a{ width: 16px; height: 16px; background-position: left -145px;}

.footer{ border-top: 2px solid #ccc; text-align: center; padding: 10px 0px; color: #999;}
.footer a{ color: #999;}

.join { }
.join dl { margin-bottom:15px; font-size:14px;  overflow:hidden;}
.join dt { float:left; width:140px; /*text-align:right;*/ padding-right:20px; height:35px; line-height:32px; }
.join dt em { color:#ff9900}
.join dd {  text-align:left; font-size:11px; float:left;}
.join dd input { height:32px; line-height:32px; border-radius:4px; border:1px solid #aaa; text-indent:10px; width:260px;}
.joinfoart { font-size:14px; font-weight:bold; padding-left:300px; background:url(../img/join.gif) 275px 0px no-repeat}

.join .b-buton{font-weight:bold; font-size:14px; background:#ff9900; border:1px solid #ff9900; color:#fff; text-indent:0; border-color:#ff9900;}


.login-account-button{ margin-top:40px; margin-bottom:150px;}
.logInWrap{width: 600px; margin: 0 auto}
.logInWrap input.inputbox{width:200px;height:33px; border:1px solid #aaa; text-indent:6px; line-height:33px; border-radius:4px; margin-right:10px; float:left;}
.logInWrap input.b-buton{width:120px; text-align:center; height:33px; border-radius:4px; line-height:33px; font-weight:bold; font-size:14px;border: 1px solid #ff9900; color:#fff; background:#ff9900;float:left;}

.jointitle{        font-size: 20px;
        font-weight: bold;
		margin-bottom:10px;
		padding-left:160px;
		line-height:30px;
}

.login_title{        font-size: 16px;
        font-weight: bold;
		margin-bottom:10px;
			line-height:30px;
}
		
.logInWrap h1.Recover{ font-size:34px;}


.suc{ width:800px; margin:50px auto; text-align:center;}
.suctitle{font-size: 30px; font-weight: bold; color:#ff9900;}

.suc_text{ font-size:14px; text-decoration:underline;}
.suc_services{ border-top: 1px solid #ccc;
    font-size: 22px;
    font-weight: bold;
    margin: 60px auto 30px;
    padding-top: 30px;}
.suc_services p{ overflow:hidden; margin-bottom:12px;}
.suc_services  a{ padding:0 10px; height:35px; line-height:35px; font-size:14px; font-weight:bold; background:#777; color:#fff; display:inline-block; margin:0 10px; border-radius:4px;}
.suc_services  a:hover{background:#ff9900; color:#fff; text-decoration:none;}


.join_l{ width:460px;float:left; border-right:1px solid #ccc;}
.login_r{ width:300px; float:left; padding-left:40px;}