html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  font-family: sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  border: none;
}
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul,
dl {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
a {
  text-decoration: none;
  transition: color 0.2s ease;
}
img {
  border: none;
}
em {
  font-style: normal;
}
.clr {
  zoom: 1;
}
.clr:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.i-hide {
  display: none;
}
.i-show {
  display: block;
}
.lineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
}
.lbBox {
  font-size: 0 !important;
  *word-spacing: -1px !important;
}
.emptys {
  margin-left: -1px;
  width: 1px;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
label,
dd,
dd,
dt {
  font-weight: normal;
}
.boxsiz {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a:hover,
a:focus {
  text-decoration: none;
}
html,
body {
  width: 100%;
  min-width: 1360px;
}
body {
  min-width: 1180px;
}
.width-1180 {
  width: 1180px;
  margin: 0 auto;
}
.width-1280 {
  width: 1280px;
  margin: 0 auto;
}
.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.p-head {
  height: 68px;
  background: #ffffff;
}
.p-head .box .l {
  height: 68px;
}
.p-head .box .l .logo img {
  width: 133px;
  height: 38px;
}
.p-head .box .l .text p {
  font-size: 14px;
  color: #131414;
  line-height: 20px;
  margin-left: 14px;
  font-weight: bold;
}
.p-head .box .r {
  height: 68px;
}
.p-head .box .r .line1 {
  width: 1px;
  height: 12px;
  background: #BEC5C6;
  color: #bec5c6;
  margin: 0 12px;
}
.p-head .box .r .line2 {
  width: 1px;
  height: 12px;
  background: #BEC5C6;
  color: #bec5c6;
  margin: 0 8px;
}
.p-head .box .r .t1 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.p-head .box .r .t2 {
  margin-right: 20px;
}
.p-head .box .r .t2 .iconfont {
  font-size: 28px;
  color: #0a60be;
  margin-right: 4px;
}
.p-head .box .r .t2 span {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.p-head .box .r .car-ico {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}
.p-head .box .r .car-ico span {
  position: absolute;
  top: -9px;
  left: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background: #E59115;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  line-height: 16px;
  font-size: 11px;
  color: #ffffff;
}
.p-head .box .r .car-ico .iconfont {
  font-size: 28px;
  color: #0a60be;
}
.p-head .box .r .avatar {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  cursor: pointer;
}
.p-head .box .r .avatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.p-head .box .r .material {
  height: 68px;
  position: relative;
  cursor: pointer;
}
.p-head .box .r .material .wrap .tel {
  font-size: 14px;
  color: #131414;
}
.p-head .box .r .material .wrap .point {
  position: absolute;
  top: -5px;
  right: 11px;
  width: 6px;
  height: 6px;
  background: #E59115;
  border-radius: 50%;
}
.p-head .box .r .material .wrap .icon {
  width: 7px;
  height: 6px;
  background: url("../../images/p-home/arrow.png") no-repeat center;
  background-size: cover;
  margin-left: 5px;
}
.p-head .box .r .material .list-box {
  position: relative;
  display: none;
}
.p-head .box .r .material .list-box .up {
  position: absolute;
  top: -7px;
  right: 53px;
  width: 18px;
  height: 8px;
  background: url("../../images/p-home/up.png") no-repeat center;
  background-size: cover;
  z-index: 1;
}
.p-head .box .r .material .list-box .list {
  position: absolute;
  top: 100%;
  right: 0;
  width: 162px;
  background: #FFFFFF;
  border: 1px solid #E4ECED;
  z-index: 9999;
}
.p-head .box .r .material .list-box .list li {
  position: relative;
  padding-left: 12px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #E4ECED;
}
.p-head .box .r .material .list-box .list li:last-child {
  border-bottom: none;
}
.p-head .box .r .material .list-box .list li .iconfont {
  font-size: 18px;
  color: #131414;
}
.p-head .box .r .material .list-box .list li .num {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background: #E59115;
  border-radius: 8px;
  font-size: 12px;
  color: #ffffff;
  display: block;
}
.p-head .box .r .material .list-box .list li span {
  font-size: 14px;
  color: #0a60be;
  margin-left: 12px;
}
.p-head .box .r .material .list-box .list li span.color {
  color: #131414;
  opacity: 0.6;
}
.p-head .box .r .material:hover .list-box {
  display: block;
}
.p-nav {
  height: 48px;
  background: #0A60BE;
}
.p-nav .box {
  height: 48px;
}
.p-nav .box ul li {
  position: relative;
  padding: 0 20px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}
.p-nav .box ul li .hot {
  position: absolute;
  top: -13px;
  right: 13px;
  width: 31px;
  height: 14px;
  line-height: 14px;
  background: #E59115;
  border-radius: 3px;
  text-align: center;
}
.p-nav .box ul li .hot span {
  font-size: 11px;
  color: #ffffff;
}
.p-nav .box ul li .hot i {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 8px;
  height: 8px;
  margin: 0 auto;
  background: url("../../images/p-home/hot.png") no-repeat center;
  background-size: cover;
}
.p-nav .box ul li .link {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}
.p-nav .box ul li .arrow {
  width: 7px;
  height: 6px;
  background: url(../../images/p-home/arrow.png) no-repeat center;
  background-size: cover;
  margin-left: 4px;
}
.p-nav .box ul li .list-box {
  position: relative;
  display: none;
}
.p-nav .box ul li .list-box .up {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  width: 18px;
  height: 8px;
  margin: 0 auto;
  background: url("../../images/p-home/up.png") no-repeat center;
  background-size: cover;
  z-index: 1;
}
.p-nav .box ul li .list-box .list {
  position: absolute;
  top: 8px;
  width: 132px;
  background: #FFFFFF;
  border: 1px solid #E4ECED;
  right: -52px;
}
.p-nav .box ul li .list-box .list dd {
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #E4ECED;
  text-align: left;
}
.p-nav .box ul li .list-box .list dd:last-child {
  border-bottom: none;
}
.p-nav .box ul li .list-box .list dd .iconfont {
  font-size: 18px;
  color: #131414;
}
.p-nav .box ul li .list-box .list dd .num {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background: #E59115;
  border-radius: 8px;
  font-size: 12px;
  color: #ffffff;
  display: block;
}
.p-nav .box ul li .list-box .list dd span {
  font-size: 14px;
  color: #0a60be;
  margin-left: 12px;
}
.p-nav .box ul li .list-box .list dd span.color {
  color: #131414;
  opacity: 0.6;
}
.p-nav .box ul li:hover .list-box {
  display: block;
}
.p-nav .box ul li.curr {
  height: 32px;
  line-height: 32px;
  background: #FFFFFF;
  border-radius: 2px;
}
.p-nav .box ul li.curr a.link {
  color: #0a60be;
}
.p-footer {
  background: #131414;
  padding: 35px 0 20px 0;
}
.p-footer .box .top {
  width: 1280px;
}
.p-footer .box .top .l {
  width: 50%;
  border-right: 1px solid rgba(151, 151, 151, 0.1);
}
.p-footer .box .top .l ul li {
  float: left;
  margin-right: 96px;
}
.p-footer .box .top .l ul li dl dt {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 8px;
}
.p-footer .box .top .l ul li dl dd {
  margin-bottom: 8px;
}
.p-footer .box .top .l ul li dl dd a {
  font-size: 14px;
  color: #686c6d;
}
.p-footer .box .top .r {
  padding-left: 100px;
}
.p-footer .box .top .r .iconfont {
  font-size: 48px;
  color: #0a60be;
}
.p-footer .box .top .r .text {
  padding-top: 13px;
  margin-left: 12px;
}
.p-footer .box .top .r .text .t1 {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 4px;
}
.p-footer .box .top .r .text .t2 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 3px;
}
.p-footer .box .top .r .text .t3 {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 12px;
}
.p-footer .box .top .r .text .t4 {
  font-size: 14px;
  color: #686c6d;
  margin-bottom: 3px;
}
.p-footer .box .top .r .text .t5 {
  font-size: 14px;
  color: #686c6d;
}
.p-footer .box .top .r .code-pic {
  width: 120px;
  margin-left: 120px;
}
.p-footer .box .top .r .code-pic img {
  width: 120px;
  height: 120px;
}
.p-footer .box .top .r .code-pic p {
  text-align: center;
  margin-top: 7px;
  font-size: 14px;
  color: #494c4d;
}
.p-footer .box .bottom {
  margin-top: 54px;
  padding-bottom: 16px;
  text-align: center;
  border-bottom: 1px solid rgba(151, 151, 151, 0.1);
}
.p-footer .box .bottom .t1 {
  font-size: 14px;
  color: #494c4d;
  margin-bottom: 8px;
}
.p-footer .box .bottom .t2 {
  font-size: 14px;
  color: #494c4d;
}
.p-footer .box .copyright {
  margin-top: 20px;
}
.p-footer .box .copyright .tit {
  font-size: 14px;
  color: #494c4d;
  margin-right: 20px;
}
.p-footer .box .copyright .i1 {
  width: 110px;
  height: 36px;
  margin-right: 20px;
  background: url("../../images/p-footer/a (1).png") no-repeat center;
  background-size: cover;
}
.p-footer .box .copyright .i2 {
  width: 110px;
  height: 36px;
  background: url("../../images/p-footer/a (2).png") no-repeat center;
  background-size: cover;
}
.p-footer .box .copyright .i3 {
  width: 110px;
  height: 36px;
  margin-right: 20px;
  background: url("../../images/p-footer/a (3).png") no-repeat center;
  background-size: cover;
}
.p-footer .box .copyright .i4 {
  width: 110px;
  height: 36px;
  margin-right: 20px;
  background: url("../../images/p-footer/a (5).png") no-repeat center;
  background-size: cover;
}
.p-footer .box .copyright .i5 {
  width: 110px;
  height: 36px;
  background: url("../../images/p-footer/a (4).png") no-repeat center;
  background-size: cover;
}
.selects-qty {
  position: absolute;
  left: 0px;
  top: 39px;
  z-index: 9;
  width: 461px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding: 10px 0 16px 18px;
  display: none;
}
.selects-qty .arrow {
  position: absolute;
  left: 21px;
  top: -10px;
  width: 13px;
  height: 11px;
  background: url("../../images/p-home/ico.png") no-repeat -5px -52px;
  background-color: #fff;
}
.selects-qty dl dd {
  float: left;
  width: 14%;
  margin-bottom: 15px;
  cursor: pointer;
}
.selects-qty dl dd .arr {
  width: 14px;
  height: 13px;
  background: url("../../images/p-home/ico.png") no-repeat 0 0;
}
.selects-qty dl dd.curr .arr {
  width: 14px;
  height: 13px;
  background: url("../../images/p-home/ico.png") no-repeat -16px 0;
}
.selects-qty dl dd span {
  font-size: 14px;
  color: #666666;
  margin-left: 5px;
}
.selects-qty .wrap {
  margin-top: 3px;
}
.selects-qty .wrap label {
  font-size: 14px;
  color: #666666;
  margin-right: 13px;
  white-space: nowrap;
}
.selects-qty .wrap .inp {
  width: 158px;
  border: solid 1px #e5e5e5;
}
.selects-qty .wrap .inp::-webkit-outer-spin-button,
.selects-qty .wrap .inp::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
.selects-qty .wrap .inp:focus {
  border: solid 1px #00a0e9;
}
.selects-qty .wrap .btn {
  margin-left: 40px;
}
.selects-qty .wrap .btn a {
  width: 68px;
  height: 30px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.selects-qty .wrap .btn a.ok {
  background-color: #0A60BE;
  color: #fefefe;
  margin-right: 10px;
}
.selects-qty .wrap .btn a.canel {
  background-color: #f3f3f3;
  color: #666666;
}
.layui-layer-setwin .layui-layer-close1 {
  background-position: -96px -37px !important;
}
.layui-layer-ico {
  background: url("../../images/p-home/icon.png") no-repeat !important;
}
.layui-layer-setwin a {
  width: 18px !important;
  height: 18px !important;
}
.layui-layer-title {
  height: auto !important;
  padding: 16px 0 !important;
  background-color: #ffffff !important;
  border: none !important;
  line-height: inherit !important;
}
.layui-layer-title span {
  padding: 0 24px;
  height: 30px;
  background: #0A60BE;
  display: inline-block;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  margin-right: 20px;
}
.layui-layer-title span.disabled {
  width: 144px;
  height: 28px;
  background: #FFFFFF;
  border: 1px solid rgba(166, 173, 173, 0.5);
  color: #0a60be;
  font-weight: bold;
}
.layui-layer-page .layui-layer-content {
  height: auto !important;
  overflow-y: hidden !important;
}
.pcb-layer-box .layui-layer-title {
  margin-left: 24px;
}
.pcb-layer-box .layui-layer-title span {
  cursor: pointer;
}
.section-order {
  background: #E8F1F2;
  padding-bottom: 40px;
}
.section-order .top {
  height: 52px;
}
.section-order .top .l {
  height: 100%;
}
.section-order .top .l .t1 {
  font-size: 20px;
  color: #131414;
  font-weight: bold;
}
.section-order .top .r {
  height: 100%;
}
.section-order .top .r .status li {
  position: relative;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  float: left;
}
.section-order .top .r .status li.status1 {
  right: -24px;
  width: 130px;
  background: url("../../images/p-cart/status-1.png") no-repeat center;
  background-size: cover;
}
.section-order .top .r .status li.status2 {
  right: -12px;
  width: 130px;
  background: url("../../images/p-cart/status-2.png") no-repeat center;
  background-size: cover;
}
.section-order .top .r .status li.status2.curr {
  background: url("../../images/p-cart/status-2s.png") no-repeat center;
  background-size: cover;
}
.section-order .top .r .status li.status3 {
  width: 120px;
  background: url("../../images/p-cart/status-3.png") no-repeat center;
  background-size: cover;
}
.section-order .top .r .status li.status3.curr {
  background: url("../../images/p-cart/status-3s.png") no-repeat center;
  background-size: cover;
}
.section-order .address-box {
  width: 100%;
  background: #FFFFFF;
}
.section-order .address-box .address-bar {
  margin-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #E4ECED;
  height: 53px;
  background: #FFFFFF;
}
.section-order .address-box .address-bar .l {
  height: 53px;
}
.section-order .address-box .address-bar .l span {
  vertical-align: middle;
}
.section-order .address-box .address-bar .l .t1 {
  font-size: 16px;
  color: #0a60be;
  font-weight: bold;
}
.section-order .address-box .address-bar .l .t2 {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
}
.section-order .address-box .address-bar .r {
  height: 53px;
}
.section-order .address-box .address-bar .r .btn1 {
  width: 100px;
  height: 30px;
  background: #0A60BE;
  border-radius: 2px;
  line-height: 30px;
  text-align: center;
  margin-right: 20px;
}
.section-order .address-box .address-bar .r .btn1 span {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}
.section-order .address-box .address-bar .r .btn1 .iconfont {
  margin-left: 4px;
  font-size: 16px;
  color: #5998d9;
}
.section-order .address-box .address-bar .r .btn2 {
  width: 120px;
  height: 30px;
  line-height: 30px;
  background: #E59115;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
.section-order .address-box .delivery {
  height: 53px;
  background: #FFFFFF;
  padding-left: 24px;
}
.section-order .address-box .delivery .t1 {
  font-size: 16px;
  color: #0a60be;
  font-weight: bold;
}
.section-order .address-box .delivery .t2 {
  width: 128px;
  height: 32px;
  background: #D2ECFF;
  border-radius: 2px;
  border: 1px solid #0A60BE;
  font-size: 14px;
  color: #131414;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  margin-left: 40px;
}
.section-order .address-box .delivery .t3 {
  margin-left: 16px;
  font-size: 12px;
  color: #131414;
}
.section-order .address-box .delivery .t3 em {
  color: #0a60be;
}
.section-order .address-box .delivery .t4 {
  margin-left: 60px;
  width: 138px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid rgba(166, 173, 173, 0.5);
  font-size: 14px;
  color: #131414;
  text-align: center;
  line-height: 32px;
}
.section-order .order-box {
  margin-top: 8px;
}
.section-order .order-box .list li {
  background: #FFFFFF;
  padding: 0 24px 0 24px;
  margin-bottom: 10px;
  border-top: 1px solid #AAD0F2;
}
.section-order .order-box .list li .top {
  height: 48px;
}
.section-order .order-box .list li .top .icontubiao13 {
  font-size: 32px;
  color: #0a60be;
}
.section-order .order-box .list li .top .t1 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.section-order .order-box .list li .top .t2 {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
}
.section-order .order-box .list li .top .sel {
  margin-left: 14px;
}
.section-order .order-box .list li .top .sel select {
  font-size: 14px;
  color: #0a60be;
  cursor: pointer;
}
.section-order .order-box .list li .top .timebox0 {
  width: 52px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #51B8C9;
  white-space: nowrap;
  margin-left: 8px;
}
.section-order .order-box .list li .top .timebox0 .tt {
  width: 28px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: #00A4BF;
}
.section-order .order-box .list li .top .timebox0 .hour {
  width: 24px;
  background: #00A4BF;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.section-order .order-box .list li .top .timebox1 {
  width: 52px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #5998D9;
  white-space: nowrap;
  margin-left: 8px;
}
.section-order .order-box .list li .top .timebox1 .tt {
  width: 28px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: #0a60be;
}
.section-order .order-box .list li .top .timebox1 .hour {
  width: 24px;
  background: #0A60BE;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.section-order .order-box .list li .top .timebox2 {
  width: 52px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #EFB769;
  white-space: nowrap;
  margin-left: 8px;
}
.section-order .order-box .list li .top .timebox2 .tt {
  width: 28px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: #E59115;
}
.section-order .order-box .list li .top .timebox2 .hour {
  width: 24px;
  background: #E59115;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.section-order .order-box .list li .top .timebox3 {
  width: 52px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #F2ACAD;
  white-space: nowrap;
  margin-left: 8px;
}
.section-order .order-box .list li .top .timebox3 .tt {
  width: 28px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: #D65B5B;
}
.section-order .order-box .list li .top .timebox3 .hour {
  width: 24px;
  background: #D65B5B;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.section-order .order-box .list li dl dt {
  padding-left: 20px;
  height: 35px;
  line-height: 35px;
  background: #E8F1F2;
}
.section-order .order-box .list li dl dt span {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.section-order .order-box .list li dl dd {
  padding: 12px 0 14px 20px;
  border-bottom: 1px solid #E4ECED;
}
.section-order .order-box .list li dl dd .type1 .t1 {
  font-size: 14px;
  color: #131414;
  margin-bottom: 6px;
}
.section-order .order-box .list li dl dd .type1 .t2 {
  font-size: 14px;
  color: #131414;
}
.section-order .order-box .list li dl dd .type2 {
  font-size: 14px;
  color: #131414;
}
.section-order .order-box .list li dl dd .type3 {
  font-size: 14px;
  color: #131414;
}
.section-order .order-box .list li dl dd .type4 {
  white-space: nowrap;
}
.section-order .order-box .list li dl dd .type4 .iconfont {
  font-size: 28px;
  color: #8D8F90;
}
.section-order .order-box .list li dl dd .type4 .text {
  margin-left: 4px;
}
.section-order .order-box .list li dl dd .type4 .text .t1 {
  font-size: 14px;
  color: #131414;
}
.section-order .order-box .list li dl dd .type4 .text .t2 em {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.section-order .order-box .list li dl dd .type4 .text .t2 span {
  font-size: 14px;
  color: #131414;
}
.section-order .order-box .list li dl dd .type4 .text .t2.mb {
  margin-bottom: 6px;
}
.section-order .order-box .list li dl dd .type5 .t0 {
  font-size: 12px;
  color: #131414;
  margin-bottom: 2px;
}
.section-order .order-box .list li dl dd .type5 .t1 {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
}
.section-order .order-box .list li .total {
  height: 54px;
}
.section-order .order-box .list li .total .l {
  height: 54px;
}
.section-order .order-box .list li .total .l .t1 {
  font-size: 16px;
  color: #0a60be;
  font-weight: bold;
}
.section-order .order-box .list li .total .l .t2 {
  margin-left: 16px;
}
.section-order .order-box .list li .total .l .t2 span {
  font-size: 12px;
  color: #131414;
  opacity: 0.6;
}
.section-order .order-box .list li .total .l .t2 em {
  font-size: 12px;
  color: #e59115;
  font-weight: bold;
}
.section-order .order-box .list li .total .l .t3 {
  margin-left: 14px;
  font-size: 12px;
  color: #0a60be;
}
.section-order .order-box .list li .total .l .sel-coupon {
  margin-left: 57px;
}
.section-order .order-box .list li .total .l .sel-coupon select {
  width: 356px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid rgba(166, 173, 173, 0.5);
  font-size: 14px;
  color: #131414;
  font-weight: bold;
  cursor: pointer;
}
.section-order .order-box .list li .total .r {
  padding-right: 30px;
  height: 54px;
}
.section-order .order-box .list li .total .r span {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.section-order .order-box .list li .total .r em {
  font-size: 14px;
  color: #131414;
}
.section-order .order-box .list li .total .r b {
  font-size: 14px;
  color: #0a60be;
  font-weight: bold;
}
.section-order .order-box .list li:first-child {
  border-top: none;
}
.section-order .order-box .order-detail {
  padding: 0 24px 24px 24px;
  background: #ffffff;
}
.section-order .order-box .order-detail .box {
  height: 54px;
  border-bottom: 1px solid #E4ECED;
}
.section-order .order-box .order-detail .box .l {
  width: 50%;
  height: 54px;
}
.section-order .order-box .order-detail .box .l .icon {
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #BEC5C6;
  cursor: pointer;
}
.section-order .order-box .order-detail .box .l .icon.curr {
  background: url("../../images/p-cart/select.png") no-repeat center;
  background-size: cover;
  border: 1px solid #0A60BE;
}
.section-order .order-box .order-detail .box .l .t1 {
  font-size: 16px;
  color: #0a60be;
  font-weight: bold;
  margin-right: 40px;
}
.section-order .order-box .order-detail .box .l .t2 {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
  margin-left: 12px;
}
.section-order .order-box .order-detail .box .r {
  width: 50%;
  height: 54px;
}
.section-order .order-box .order-detail .box .r .icon {
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #BEC5C6;
  cursor: pointer;
}
.section-order .order-box .order-detail .box .r .icon.curr {
  background: url("../../images/p-cart/select.png") no-repeat center;
  background-size: cover;
  border: 1px solid #0A60BE;
}
.section-order .order-box .order-detail .box .r .t1 {
  font-size: 16px;
  color: #0a60be;
  font-weight: bold;
  margin-right: 40px;
}
.section-order .order-box .order-detail .box .r .t2 {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
  margin-left: 12px;
}
.section-order .order-box .order-detail .box .inp {
  width: 146px;
  height: 28px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid rgba(166, 173, 173, 0.5);
  text-indent: 1em;
  margin-right: 16px;
  font-size: 14px;
}
.section-order .order-box .order-detail .box .inp::-webkit-input-placeholder {
  color: #131414;
  opacity: 0.6;
}
.section-order .order-box .order-detail .order-bar {
  padding-top: 10px;
}
.section-order .order-box .order-detail .order-bar .l {
  position: relative;
}
.section-order .order-box .order-detail .order-bar .l .remarks .t1 {
  font-size: 16px;
  color: #0a60be;
  font-weight: bold;
  margin-right: 40px;
}
.section-order .order-box .order-detail .order-bar .l .remarks textarea {
  width: 468px;
  height: 56px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid rgba(166, 173, 173, 0.5);
  padding-top: 6px;
  padding-left: 10px;
  vertical-align: top;
  font-size: 14px;
}
.section-order .order-box .order-detail .order-bar .l .remarks textarea::-webkit-input-placeholder {
  color: #131414;
  opacity: 0.6;
}
.section-order .order-box .order-detail .order-bar .l .remarks .limit {
  position: absolute;
  right: 121px;
  top: 38px;
  font-size: 12px;
  color: #131414;
  opacity: 0.35;
}
.section-order .order-box .order-detail .order-bar .l .address-order {
  margin-top: 24px;
}
.section-order .order-box .order-detail .order-bar .l .address-order .iconfont {
  font-size: 32px;
  color: #a8afaf;
}
.section-order .order-box .order-detail .order-bar .l .address-order .t1 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  margin-left: 8px;
  margin-right: 16px;
}
.section-order .order-box .order-detail .order-bar .l .address-order .t2 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  margin-right: 16px;
}
.section-order .order-box .order-detail .order-bar .l .address-order .t3 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.section-order .order-box .order-detail .order-bar .r .price li {
  margin-bottom: 6px;
}
.section-order .order-box .order-detail .order-bar .r .price li .t1 {
  width: 88px;
  text-align: right;
  font-size: 14px;
  color: #131414;
  font-weight: bold;
  margin-right: 68px;
}
.section-order .order-box .order-detail .order-bar .r .price li .t2 {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
}
.section-order .order-box .order-detail .order-bar .r .price li .t3 {
  width: 88px;
  text-align: right;
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  margin-right: 68px;
}
.section-order .order-box .order-detail .order-bar .r .total-text {
  margin-top: 12px;
}
.section-order .order-box .order-detail .order-bar .r .total-text .t1 {
  width: 88px;
  text-align: right;
  font-size: 14px;
  color: #131414;
  font-weight: bold;
  line-height: 33px;
}
.section-order .order-box .order-detail .order-bar .r .total-text .t2 {
  font-size: 24px;
  color: #e59115;
  line-height: 33px;
  font-weight: bold;
}
.section-order .order-box .order-detail .order-bar .r .toggle {
  cursor: pointer;
  text-align: right;
}
.section-order .order-box .order-detail .order-bar .r .toggle span {
  font-size: 14px;
  color: #0a60be;
}
.section-order .order-box .order-detail .order-bar .r .toggle .iconfont {
  margin-left: 4px;
  font-size: 16px;
  color: #0a60be;
}
.section-order .order-box .order-detail .submit {
  margin-top: 20px;
  display: block;
  width: 200px;
  height: 48px;
  line-height: 48px;
  background: #E59115;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.address-box {
  padding: 0 24px 28px 24px;
}
.address-box .inp-wrap {
  margin-bottom: 12px;
}
.address-box .inp-wrap .tit {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  margin-bottom: 8px;
  display: block;
}
.address-box .inp-wrap .inp-box .inp {
  height: 28px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid rgba(166, 173, 173, 0.5);
  text-indent: 10px;
}
.address-box .inp-wrap .inp-box .inp.w1 {
  width: 252px;
}
.address-box .inp-wrap .inp-box .inp.w2 {
  width: 522px;
}
.address-box .inp-wrap .inp-box .inp::-webkit-input-placeholder {
  color: #131414;
  opacity: 0.6;
}
.address-box .inp-wrap .inp-box textarea {
  width: 512px;
  height: 56px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid rgba(166, 173, 173, 0.5);
  font-size: 14px;
  padding-left: 10px;
  padding-top: 6px;
}
.address-box .inp-wrap .inp-box textarea::-webkit-input-placeholder {
  color: #131414;
  opacity: 0.6;
}
.address-box .btn-box .l {
  margin-top: 10px;
}
.address-box .btn-box .l .icon {
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #BEC5C6;
  cursor: pointer;
}
.address-box .btn-box .l .icon.curr {
  background: url("../../images/p-cart/select.png") no-repeat center;
  background-size: cover;
  border: 1px solid #0A60BE;
}
.address-box .btn-box .l span {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  margin-left: 8px;
}
.address-box .btn-box .r {
  width: 152px;
  height: 40px;
  line-height: 40px;
  background: #0A60BE;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
.view-address {
  padding: 0 24px 28px 24px;
}
.view-address .list li {
  position: relative;
  padding-left: 20px;
  height: 72px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid rgba(166, 173, 173, 0.5);
  margin-bottom: 12px;
  cursor: pointer;
}
.view-address .list li .t1 span {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
}
.view-address .list li .t1 em {
  font-size: 14px;
  color: #131414;
  font-weight: bold;
}
.view-address .list li .t2 {
  margin-top: 8px;
}
.view-address .list li .t2 span {
  font-size: 14px;
  color: #131414;
}
.view-address .list li .t2 .default {
  width: 64px;
  height: 18px;
  line-height: 18px;
  background: #0A60BE;
  border-radius: 2px;
  font-size: 12px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  margin-left: 19px;
}
.view-address .list li .operation {
  position: absolute;
  right: 20px;
  bottom: 8px;
  display: none;
}
.view-address .list li .operation .t1 {
  font-size: 14px;
  color: #131414;
  opacity: 0.6;
  margin-right: 16px;
}
.view-address .list li .operation .t2 {
  font-size: 14px;
  color: #0a60be;
  margin-right: 16px;
}
.view-address .list li .operation .t3 {
  font-size: 14px;
  color: #0a60be;
}
.view-address .list li.curr {
  background: #D2ECFF;
  border: 1px solid #0A60BE;
}
.view-address .list li:hover .operation {
  display: block;
}
.view-address .btn-box {
  margin-top: 24px;
}
.view-address .btn-box .l {
  margin-top: 10px;
}
.view-address .btn-box .l span {
  font-size: 14px;
  color: #0A60BE;
  cursor: pointer;
}
.view-address .btn-box .r {
  width: 152px;
  height: 40px;
  line-height: 40px;
  background: #0A60BE;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */