@import '../common/base.less';

.order-status {
  height: 100px;

  .l {
    height: 100px;

    p {
      color: #3a3c40;
      font-size: 20px;
    }
  }

  .r {
    height: 100px;

    ul {
      li {
        position: relative;
        width: 123px;
        float: left;

        p {
          margin-bottom: 7px;

          .iconfont {
            color: #bbc1c8;
            font-size: 30px;
          }

          span {
            font-size: 14px;
            color: #959ba6;
            margin-left: 5px;
          }
        }

        .circle {
          width: 13px;
          height: 13px;
          background: #E6EAF2;
          border-radius: 50%;
          margin-left: 10px;
        }

        .line-0 {
          position: absolute;
          left: 14px;
          top: 45px;
          width: 60px;
          height: 3px;
          background: #E6EAF2;
        }

        .line-1 {
          position: absolute;
          left: -50px;
          top: 45px;
          width: 60px;
          height: 3px;
          background: #E6EAF2;
        }

        .line-2 {
          position: absolute;
          left: 22px;
          top: 45px;
          width: 60px;
          height: 3px;
          background: #E6EAF2;
        }

        &.curr {
          p {
            .iconfont {
              color: #ffb74f;
            }

            span {
              color: #3a3c40;
              font-weight: bold;
            }
          }

          .circle {
            background: #E89721;
          }

          b {
            background: #E89721;
          }
        }
      }
    }
  }
}

.order-section {
  background: #fff;
  padding: 40px 0 70px 0;

  .order-section-wrap {
    border: 1px solid #E6EAF2;
    padding: 30px;

    .bor {
      border-bottom: 1px solid #E6EAF2;
    }

    .address {
      position: relative;
      padding: 30px 0;

      .l {
        span {
          font-size: 16px;
          color: #3a3c40;
          font-weight: bold;
        }
      }

      .addAddress{
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        .iconfont{
          font-size: 20px;
          color: #0081d2;
        }
        span{
          font-size: 14px;
          color: #0081d2;
        }
      }
    }

    .coupon {
      .coupon-box {
        padding-bottom: 29px;
        border-bottom: 1px solid #E6EAF2;

        ul {
          li {
            margin-right: 20px;
            margin-bottom: 20px;
            width: 380px;
            height: 140px;
            background: url("../../images/order/coupon.png") no-repeat center;
            background-size: cover;
            float: left;
            cursor: pointer;
            transition: all 0.2s ease;

            &:nth-of-type(3n) {
              margin-right: 0;
            }

            .l-text {
              padding-left: 32px;

              .t1 {
                margin-bottom: 9px;

                em {
                  font-size: 20px;
                  color: #ffffff;
                }

                span {
                  font-size: 44px;
                  color: #ffffff;
                }
              }

              .t2 {
                font-size: 14px;
                color: #ffffff;
              }
            }

            .c-text {
              padding-left: 59px;

              .t1 {
                font-size: 16px;
                color: #3a3c40;
                font-weight: bold;
                margin-bottom: 14px;
              }

              .t2 {
                font-size: 12px;
                color: #959BA6;
                margin-bottom: 8px;

                .ico {
                  cursor: pointer;
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  background: #E89721;
                  color: #ffffff;
                  font-size: 12px;
                  text-align: center;
                  line-height: 12px;
                  font-style: normal;
                  margin-left: 8px;
                }

                em {
                  color: #5c5f66;
                }
              }
            }

            &.curr {
              background: url("../../images/order/coupon1.png") no-repeat center;
              background-size: cover;
            }
          }
        }
      }
    }

    .order-remarks {
      margin-top: 30px;
      margin-bottom: 30px;

      .l {
        .t1 {
          font-size: 20px;
          color: #3a3c40;
          margin-bottom: 20px;
        }

        .textarea {
          position: relative;
          width: 580px;
          height: 100px;
          border-radius: 2px;
          border: 1px solid #E6EAF2;

          &:focus {
            border: 1px solid #0081D2;
          }

          textarea {
            width: 570px;
            height: 90px;
            padding: 5px;
            resize: none;
          }

          .limitWords {
            font-size: 12px;
            color: #959ba6;
            position: absolute;
            right: 14px;
            bottom: 9px;
            z-index: 1;
          }
        }
      }

      .r {
        .t1 {
          margin-bottom: 12px;

          label {
            font-size: 14px;
            color: #5c5f66;
            width: 118px;
            text-align: right;
            vertical-align: middle;
          }

          span {
            font-size: 14px;
            color: #3a3c40;
            font-weight: bold;
            vertical-align: middle;
            text-align: right;
            width: 120px;
          }
        }

        .t2 {
          margin-top: 20px;

          label {
            font-size: 20px;
            color: #3A3C40;
            width: 118px;
            font-weight: bold;
            text-align: right;
            vertical-align: middle;
          }

          span {
            font-size: 20px;
            color: #E82121;
            font-weight: bold;
            vertical-align: middle;
            text-align: right;
            width: 120px;
          }
        }
      }
    }

    .order-submit {
      width: 1128px;
      height: 100px;
      background: #F7F9FC;
      border-radius: 2px;
      border: 1px solid #E6EAF2;
      padding: 0 30px 0 20px;

      .l {
        height: 100%;

        .iconfont {
          font-size: 40px;
          color: #0081d2;
        }

        .text {
          margin-left: 20px;

          .t1 {
            em {
              font-size: 16px;
              color: #3a3c40;
              font-weight: bold;
            }

            span {
              margin-left: 20px;
              font-size: 16px;
              color: #3a3c40;
              font-weight: bold;
            }
          }

          .t2 {
            margin-top: 10px;
            font-size: 14px;
            color: #3a3c40;
          }
        }
      }

      .r {
        height: 100%;

        .btn {
          width: 200px;
          height: 60px;
          background: #E82121;
          border-radius: 2px;
          line-height: 60px;
          text-align: center;
          font-size: 20px;
          color: #ffffff;

          &:hover {
            background: #ff2424;
          }
        }
      }
    }
  }
}

.material-layer {
  dl {
    padding: 40px 0;
    white-space: nowrap;
    text-align: center;

    dd {
      &:first-child {
        border-right: 1px solid #E6EAF2;
        margin-right: 39px;
        padding-right: 60px;
      }

      p {
        margin-bottom: 20px;

        .t1 {
          width: 112px;
          font-size: 14px;
          color: #959ba6;
          text-align: left;
        }

        .t2 {
          width: 144px;
          font-size: 14px;
          color: #3a3c40;
          font-weight: bold;
          text-align: left;
        }
      }
    }
  }
}

.address-add-layer {
  padding: 30px 30px 40px 30px;

  .form-input {
    position: relative;
    margin-bottom: 20px;

    label {
      font-size: 14px;
      color: #3a3c40;
      margin-bottom: 10px;
      display: block;
    }

    .inp {
      .w1 {
        width: 278px;
      }

      .w2 {
        width: 578px;
      }

      textarea {
        width: 558px;
        height: 83px;
        border-radius: 2px;
        border: 1px solid #E6EAF2;
        font-size: 14px;
        color: #959ba6;
        padding: 15px 10px 0px 10px;
        resize: none;
      }

      input {
        height: 50px;
        line-height: 50px;
        border-radius: 2px;
        border: 1px solid #E6EAF2;
        background: #F9F8FD;
        font-size: 14px;
        text-indent: 1em;

        &::-webkit-input-placeholder {
          color: #959ba6;
        }
      }

    }

  }

  .circle-wrap {
    .circle {
      width: 12px;
      height: 12px;
      padding: 3px;
      border-radius: 18px;
      border: 1px solid #C2C7CC;
      cursor: pointer;

      &.act {
        border-color: #0081D2;

        i {
          display: block;
          width: 12px;
          height: 12px;
          background: #0081D2;
          border-radius: 12px;
        }
      }
    }

    span {
      font-size: 14px;
      color: #3a3c40;
      vertical-align: middle;
    }
  }

  .btn-wrap {
    text-align: right;
    margin-top: 30px;

    .canel {
      width: 98px;
      height: 38px;
      border-radius: 2px;
      border: 1px solid rgba(230, 234, 242, 1);
      margin-right: 20px;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      color: #5c5f66;
    }

    .ok {
      width: 100px;
      height: 40px;
      background: rgba(0, 129, 210, 1);
      border-radius: 2px;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      color: #FFFFFF;
    }
  }

  .area {
    position: absolute;
    top: 81px;
    left: 0;
    width: 100%;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #0081D2;
    z-index: 1;
    display: none;

    ul {
      padding: 16px 20px 20px 20px;

      li {
        float: left;
        font-size: 14px;
        color: #3a3c40;
        margin-bottom: 10px;
        margin-right: 20px;
        cursor: pointer;

        &:hover {
          color: #0081D2;
        }
      }
    }
  }
}

.address-choince-layer {
  padding: 20px 30px 40px 30px;

  ul {
    li {
      position: relative;
      width: 538px;
      height: 88px;
      background: #F7F9FC;
      border-radius: 2px;
      border: 1px solid #E6EAF2;
      padding: 20px;
      margin-bottom: 20px;
      cursor: pointer;

      .iconfont {
        font-size: 20px;
        color: #0081d2;
        position: absolute;
        right: 10px;
        top: 10px;
        display: none;
      }

      .text {
        white-space: nowrap;
        margin-bottom: 20px;

        .text-t1 {
          span {
            font-size: 14px;
            color: #959ba6;
          }

          em {
            width: 180px;
            font-size: 16px;
            color: #3a3c40;
            font-weight: bold;
          }
        }

        .text-t2 {
          span {
            font-size: 14px;
            color: #959ba6;
          }

          em {
            font-size: 16px;
            color: #3a3c40;
          }
        }
      }

      .t1 {
        margin-bottom: 10px;
        font-size: 14px;
        color: #3a3c40;
        width: 540px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .wrap-bar {
        .l {
          .circle {
            width: 12px;
            height: 12px;
            padding: 3px;
            border-radius: 18px;
            border: 1px solid #C2C7CC;
            cursor: pointer;

            &.act {
              border-color: #0081D2;

              i {
                display: block;
                width: 12px;
                height: 12px;
                background: #0081D2;
                border-radius: 12px;
              }
            }
          }

          .txt {
            font-size: 12px;
            color: #5c5f66;
          }
        }

        .r {
          .edit {
            font-size: 12px;
            color: #0081d2;
            margin-right: 20px;
          }

          .del {
            font-size: 12px;
            color: #0081d2;
          }
        }
      }

      &.curr {
        border: 2px solid #0081D2;
        background: #ffffff;

        .iconfont {
          display: block;
        }
      }
    }
  }

  .btn-wrap {
    text-align: right;
    margin-top: 30px;

    .canel {
      width: 98px;
      height: 38px;
      border-radius: 2px;
      border: 1px solid rgba(230, 234, 242, 1);
      margin-right: 20px;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      color: #5c5f66;
    }

    .ok {
      width: 100px;
      height: 40px;
      background: rgba(0, 129, 210, 1);
      border-radius: 2px;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      color: #FFFFFF;
    }
  }
}

.layui-layer-page .layui-layer-content {
  overflow: hidden !important;
}

.aa {
  max-height: 634px !important;
}

.aa .layui-layer-content {
  overflow: auto !important;
}