@charset "utf-8";
.address .dizhi .conter {
    width: 250px;
    border: 2px solid #ddd;
    padding: 10px;
    background: #fff
}

.address .dizhi .conter:hover, .address .dizhi .on {
    border: 2px solid #FF9900;
    position: relative
}

.address .dizhi .on .bg_ico {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-position: -74px -49px;
    position: absolute;
    right: -1px;
    bottom: -1px
}

.address .dizhi .tcenter {
    text-align: center;
}

.address table th {
    text-align: right;
    padding-right: 10px
}

.address table td {
    padding: 3px 0
}

.address .table td select {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 362px;
    height: 32px;
    line-height: 32px;
    padding-left: 5px
}

.address .table td .input {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 350px;
    height: 28px;
    line-height: 28px;
    padding-left: 10px
}

.address .enter {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    background: #FF9900;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    margin: 10px 0;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    border: 0
}

.hbtishi .address .ww {
    padding-left: 20px;
    display: block;
}

.hbtishi .address .w1 {
    width: 170px;
}

.hbtishi .address dd .w1 {
    width: 170px;
    padding-left: 10px;
}

.hbtishi .address .w2 {
    width: 120px;
    height: 20px;
}

.hbtishi .address .w3 {
    width: 490px;
    word-break: break-all;
}

.hbtishi .address .w4 {
    width: 120px;
}

.hbtishi .address .w5 {
    width: 100px;
}

.hbtishi .address .w6 {
    width: 160px;
}

.hbtishi .address dt {
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    border-top: 3px solid #f90;
    box-shadow: 1px 1px 10px #ccc;
    margin-bottom: 5px;
    overflow: hidden;
}

.hbtishi .address dd {
    background: #fff;
    padding: 8px 10px;
    overflow: hidden;
}

.hbtishi .address label {
    overflow: hidden;
    display: block;
}

.hbtishi .address dd input[type="radio"] {
    margin-right: 6px;
}

.hbtishi .address .on, .hbtishi .address dd:hover {
    background: #fff3e1;
}

.hbtishi .notCombine {
    text-align: center
}

.hbtishi .notCombine .enter {
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    background: #FF9900;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    cursor: pointer
}

a {
    cursor: pointer
}

.selectAddress, .reviewConfirmOrder, .addNewAddress {
    display: none;
}

.noshop {
    text-align: center
}

.noshop span {
    display: inline-block;
    margin: 0 auto;
    padding: 30px 100px;
    border: 2px solid #eee
}

/*20160718*/
.item-coupon {
    position: relative;
    padding: 4px 8px;
    cursor: pointer;
    border: 1px solid #ffe1d3;
    margin-left: 15px;
    color: #f40;
    background-color: #fff0e7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.item-coupon .i-arrow {
    background: url('../img/i_arrow.png') no-repeat 0 0;
    margin-left: 6px;
    width: 5px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
}

.item-coupon p {
    display: none;
    position: absolute;
    top: 28px;
    left: 0;
    width: 140px;
    background-color: #fff;
    padding: 8px 10px;
    border: 1px solid #ddd;
}

/*20160926*/
.mb5 {
    margin-bottom: 5px;
}

.ml20 {
    margin-left: 20px;
}

/*.dingdan{border-bottom:1px solid #e4c392; background:#fff;}*/
.dingdan .Remove .bg_ico {
    width: 14px;
    height: 18px;
    margin-right: 5px;
    background-position: 0 -29px;
    vertical-align: text-bottom;
    display: inline-block
}

.dingdan .img {
    width: 50px;
    height: 80px;
    text-align: center;
}

.dingdan .img img {
    max-width: 80px;
    max-height: 80px;
    text-align: center;
}

.dingdan .manufacturer-img {
    width: 80px;
    height: auto;
    max-height: 80px;
}

.Cart select, .dingdan select {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    padding-left: 5px
}

.dingdan .enter, .buyall {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    background: #FF9900;
    text-align: center;
    font-size: 16px;
    color: #fff;
    width: 90px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none
}

.buyall {
    width: 164px;
    height: 53px;
    line-height: 53px;
}

.dingdan .enter:active, .buyall:active {
    font-size: 20px;
}

.buyall:hover {
    color: #fff;
    font-size: 18px;
}

.dingdan .enter:hover, .buyall:hover, .dingdan .add:hover, .hbtishi .notCombine .enter:hover, .subtotal .enter:hover {
    background-color: #ffad33;
}

.dingdan .add {
    background: #FF9900;
    border-radius: 4px;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    text-decoration: none
}

.dingdan .del {
    background: #FF9900;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    margin-left: 5px
}

.subtotal .btn-add {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background: #bfbfbf;
    border: none;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    font-weight: 400;
}

.subtotal .btn-add:hover {
    background-color: #aaa;
}

.subtotal .enter {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    background: #FF9900;
    text-align: center;
    font-size: 18px;
    color: #fff;
    width: 126px;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none
}

.subtotal .enter:active {
    font-size: 24px;
}


.dingdan .item_hd {
    border-bottom: 1px solid #eee;
}

.dingdan .item_tit {
    width: 63%;
}

.item_tit li {
    float: left;
    color: #999;
}

.dingdan .item_del {
    margin-left: 20px;
}

.dingdan .item_info {
    width: 63%;
}

.dingdan .item_tit {
    line-height: 28px;
}

.dingdan textarea {
    border: 1px solid #ddd;
    padding: 6px;
    width: 200px;
    color: #ccc;
}

.item_service {
    width: 275px;
}

.item_service h3 {
    background-color: #fff;
    color: #000;
    padding: 8px 12px;
    border: 1px solid #f0dcbe;
}

.item_service h3 label {
    width: 13px;
    height: 13px;
    margin-right: 8px;
    margin-top: 4px;
    display: block;
    background: url('../img/orderonline/jijia_ico.png') no-repeat -19px -200px;
}

.item_service h3 input {
    display: none;
}

.item_service h3.selected label {
    background-position: -36px -200px;
}

.item_service h3 span {
    width: 225px;
    display: block;
    font-weight: 400;
}

.pcba .filelist {
    margin-left: 40px;
}

.up-success {
    display: none !important;
}

.filelist dd {
    position: relative;
    float: left;
    width: 105px;
    margin-right: 5px;
    text-align: center;
    padding: 0 !important;
}

.filelist .uploadify, .filelist .swfupload {
    width: 72px !important;
    height: 73px !important;
    line-height: 73px !important;
}

.filelist .uploadify-button {
    width: 72px !important;
    height: 73px !important;
    line-height: 73px !important;
    background: url('../img/orderonline/icon_pcba.png') no-repeat;
    border: none !important;
    border-radius: 0 !important;
    text-indent: -9999em;
    overflow: hidden;
}

.uploadify-button.disabled {
    background-color: #D0D0D0;
    color: #808080;
}

.uploadify-queue {
    margin-bottom: 1em;
}

.uploadify-queue-item {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    max-width: 350px;
    padding: 10px;
}

.uploadify-error {
    background-color: #FDE5DD !important;
}

.uploadify-queue-item .cancel a {
    background: url('../img/orderonline/cancel.png') 0 0 no-repeat;
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}

.uploadify-queue-item.completed {
    background-color: #E5E5E5;
}

.uploadify-progress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}

.uploadify-progress-bar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}

[module=bomfile] .uploadify-button {
    background-position: 0 0;
}

[module=gerberfile] .uploadify-button {
    background-position: -77px 0;
}

[module=silkfile] .uploadify-button {
    background-position: -154px 0;
}

.filelist .upload {
    background: url('../img/orderonline/icon_pcba.png') no-repeat;
}

/*.bomselected{background-position:0 -79px;}*/
[module=bomfile] .bomselected {
    background-position: 0 -79px;
}

[module=gerberfile] .gerberselected {
    background-position: -77px -79px;
}

[module=silkfile] .silkselected {
    background-position: -154px -79px;
}

/*20161101*/
.chk_list {
    width: 14px;
    height: 14px; /*margin-right: 4px;*/
    vertical-align: text-bottom;
}

#scrolldiv {
    width: 62px;
    height: 50px;
    right: 50px;
    bottom: 80px;
    cursor: pointer;
    position: fixed;
    display: none;
    z-index: 20;
}

/*20170418 购物车列表样式修改*/
.f30 {
    font-size: 30px;
}

.cl-c00 {
    color: #c00;
}

.cl-333 {
    color: #333;
}

.cl-f90 {
    color: #E89721;
}

.cl-414141 {
    color: #414141;
}

.cl-5a5a5a {
    color: #5a5a5a;
}

.cl-868686 {
    color: #868686;
}

.txt-r {
    text-align: right;
}

.cart-listactive {
    background-color: #fffbf5;
}

.cart-listnormal {
    background-color: #fff;
}

.selfZone {
    width: 1298px;
    margin-bottom: 20px;
}

.cart-info .subtotal {
    width: 280px;
    margin-top: 24px;
}

.subtotal .position {
    width: 278px;
    background-color: #fff;
    border: 1px solid #e4c392;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}

.cart-list dt {
    overflow: hidden;
}

.cart-list dt {
    padding-bottom: 5px;
    color: #333;
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #f2f2f2;
    border-top: 1px solid #d7993e;
}

.cart-list dt span {
    display: inline-block;
    color: #868686;
    line-height: 18px;
}

.cart-list dt .product-name {
    width: 370px;
    padding-left: 15px;
}

.cart-list dt .product-info {
    width: 380px;
}

.cart-list dt .product-quantity {
    width: 200px;
}

.cart-list dt .product-subtotal {
    width: 210px;
}

.cart-list dt .product-operation {
    width: 70px;
}


.cart-list dd {
    padding: 15px;
}

.cart-list .item_infod {
    display: inline-block;
    vertical-align: top;
}

.cart-list02 dd {
    border-top: 1px dashed #e2e2e2;
}

.cart-list .info_1 {
    width: 370px;
}

.cart-list .info_2 {
    width: 380px;
}

.cart-list .info_3 {
    width: 200px;
}

.cart-list .info_4 {
    width: 200px;
}

.cart-list .info_5 {
    width: 90px;
}

.okuplaod {
    text-decoration: underline;
}

.okuplaod:hover {
    color: #f90 !important;
    text-decoration: underline;
}

.subtotal .hd {
    background-color: #fffbf5;
    padding: 10px 15px;
    border-bottom: 1px solid #e4c392;
}

.subtotal .bd {
    padding: 15px;
}

.linebox_staic {
    position: relative;
}

.linebox_fixed {
    position: fixed;
    top: 0;
    z-index: 100;
}

/*20180702 重定义 .tipscon*/
.tipscon {
    right: unset;
    left: 30px;
    max-width: 470px;
}

.tipscon img {
    max-width: 470px;
}

/*20181119修改下载按钮和pdf的样式*/
.cart-info .buyallzone .progressbar {
    display: none;
}

/*购物车*/
.cart-total .con {
    width: 1300px;
    background-color: #fff;
    border: 1px solid #efefef;
    overflow: hidden;
}

.cart-total .hd {
    padding: 35px 15px;
}

.cart-total .chk_all {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin: 0;
}

.cart-smile {
    width: 40px;
    background: url(../img/pcbonline/cart-smile.png) no-repeat center;
    height: 38px;
}

.cart-listactive {
    background-color: #fffbf5;
}

.icon-show-hide {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.close-icon {
    background: url(../img/pcbonline/close.png) no-repeat center;
}

.open-icon {
    background: url(../img/pcbonline/open.png) no-repeat center;
}

.cart-total-box {
    width: 100%;
    padding: 39px 0 30px 0;
    border-bottom: 1px solid #ddd;
}

.cart-total-box:hover {
    background: #fffbf5;
}

.cart-total-box-cont {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px;
}

.pcb-dt-all {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pcb_chk_list, .bom_chk_list, .stencil_chk_list {
    margin-right: 16px !important;
    cursor: pointer
}

/*侧边*/
.rightsidebar {
    display: none;
}

.delete-order {
    color: #999
}

.ticketul li {
    line-height: 34px;
}

.ticketul li label {
    cursor: pointer;
}

.ticketul li input {
    vertical-align: middle
}

.ticketul {
    padding: 0 15px;
}

.nodisabled {
    color: #a6a6a6
}

.preferentialbox {
    position: absolute;
    width: 310px;
    box-shadow: 0 0 5px #ddd;
    left: -15px;
    top: -15px;
    padding: 15px 0 0;
    display: none;
    z-index: 9;
    background: #fff;
}

/*.couponsbtn{text-align:center;color:#2e98dc;line-height:18px;}*/
.preferentialbox .btnbox {
    padding: 0 33px;
}

.preferentialbox .btnbox a {
    display: inline-block;
    width: 80px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    color: #000;
    background: #eeeeee;
    margin: 20px;
}