@charset "utf-8";
a{cursor: pointer;}
.bd ul{margin-bottom:0}
.mt10{margin-top: 10px;}
.ml25{margin-left: 25px;}
.mb4{margin-bottom: 4px; }
.user i.ico{ background-image: url('../img/hyzs/icon.png'); background-repeat: no-repeat; display: block; float: left}
.user-hd{width: 100%; height: 105px; background: url('../img/hyzs/hd_bg.jpg') repeat-x center bottom;}
.user-hd-l{margin-top: 16px; margin-left: 26px; width:245px; }
.user-hd-l .user_img{width: 70px; height: 70px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; -webkit-box-shadow: 0px 2px 5px #b6b6b6; -moz-box-shadow: 0px 2px 5px #b6b6b6; box-shadow: 0px 2px 5px #b6b6b6; overflow:hidden;}
.user-hd-l .ml15{width: 160px;}
.user-hd-l h3{font-size: 18px; color: #000; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.user-hd-l p{font-size: 14px; color: #936d51;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#Division{height:16px!important}
.user-hd-r{margin-top: 10px; }
.user-hd-r li{float: left; padding: 0 20px; border-left: 1px solid #d4d4d4;}
.user-hd-r p{color: #7d7d7d; font-size: 12px;}
.user-hd-r .info-box{margin-top: 0;}
.user-hd-r .info-box i{width: 23px; height: 17px; margin-top: 9px; margin-right: 6px;}
.user-hd-r .info-box i.ico01{background-position: 0 0;}
.user-hd-r .info-box i.ico02{background-position: -32px 0; height: 14px; margin-top: 10px;}
.user-hd-r .info-box i.ico03{background-position: -190px 0; height:16px;}
.user-hd-r .info-box span{color:#424242; font-size:26px; display: block; float: left}
.user-hd-r .info-box #recharge{width: 72px; height: 23px;text-align: center; line-height: 23px; font-size: 12px; margin-top: 7px; margin-left: 10px; background-color: #1979ca; color: #fff;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; display: block; float: left}
.user-hd-r .info-box02 a.top-tips{display: block; float: left; background: url('../img/hyzs/icon.png') no-repeat -65px -1px; width: 14px; height: 14px;margin-left: 6px; margin-top:9px;}

.user-hd-r #topRecharge{width: 72px; height: 23px;text-align: center; line-height: 23px; font-size: 12px; margin-top: 0px; margin-left: 30px; background-color: #1979ca; color: #fff;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; display: block;}


.customer-service .avatar{width: 46px; height: 46px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; border: 1px solid #e5e5e5;}
.customer-service dd{float: left;}
.customer-service .btn-change{position:absolute; left: 1px; top: 12px; width: 46px; height: 18px; -webkit-opacity: 0.6; -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6; filter:alpha(opacity=60); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);}
.customer-service a:hover .btn-change{opacity: 1;}
.customer-service-info{margin-top: 8px; margin-left: 8px;}

.user-bd-l{width: 218px; padding: 15px 0;}
.user-bd-l h3{color: #ff9900; font-size: 18px; font-weight: normal; margin-left: 13px;}
.user-bd-l h3 a{color: #ff9900; font-size: 18px; font-weight: normal; margin-left: 13px;}
.user-bd-l dl{margin-top: 16px; border-bottom: 1px solid #e0e0e0; padding-bottom: 20px;}
.user-bd-l dt{font-weight: bold; color: #000; margin-left: 13px; font-size: 14px; line-height: 28px;}
.user-bd-l dt i{width: 12px; height: 11px; margin-right: 5px; background: url('../img/hyzs/icon.png') no-repeat -85px -3px; display: inline-block;}
.user-bd-l dd a{color: #555; padding-left: 30px; width: 188px; font-size: 14px; line-height: 28px; display: inline-block}
.user-bd-l dd a:hover{background-color: #fffaf3;}
.leftnav-active{background-color: #ffeed4; color: #794a01 !important;}
.on-color{color:#794a01 !important;}

.user-bd-r{width: 1060px; padding-left: 20px; padding-bottom: 100px; min-height: 650px; border-left: 1px solid #e0e0e0;}
.user-bd-r .tips {color: #707070; text-align: center; width: 100%; font-size: 16px;}
.quotestep{ height: 106px; border-bottom: 1px solid #e5e5e5; width: 100%; background: url(../img/hyzs/stepbg.gif) repeat-x left bottom; padding-top: 20px;}
.stepbox{ width: 860px; padding-top:29px; margin: 0px auto;overflow: hidden;}
.stepbox .steptit{ text-align: center; font-size: 14px; color: #999; margin-bottom: 8px;}
.stepbox a{ width: 63px; text-align: center; color: #666; position: relative;}
.stepbox a span{ display: block; margin: 0px auto; width: 38px; height: 28px; background: url(../img/hyzs/stepicon01.png) no-repeat left 0;}
.stepbox a em{ display: block; margin-top: 12px; line-height: 16px; width:106px; text-align:left;}
.stepbox span.jt{ width: 85px; height: 2px; background-color:#d8d8d8; margin-top:13px;}
.stepbox a span.stepicon2{background-position: -38px 0;}
.stepbox a span.stepicon3{background-position: -76px 0;}
.stepbox a span.stepicon4{background-position: -114px 0;}
.stepbox a span.stepicon5{background-position: -152px 0;}
.stepbox a span.stepicon6{background-position: -190px 0;}
.stepbox a.active,.stepbox a:hover{ color: #f90; text-decoration: none;}
.orderbox {background-color:#f9f9f9;border:1px solid #e7e7e7;padding:20px 0;}
.orderbox ul {overflow:hidden;width:100%;}
.orderbox ul li {border-right:1px solid #d4d4d4 ;float:left;text-align:center;width:150px;}
.orderbox ul li span {display:block;font-size:20px;width:100%;}
.orderbox ul li.nobd {border:0 none;}
.orderbox ul li a {display:block;}
.orderbox ul li a:hover {color:#666;text-decoration:none;}
.orderbox ul li a:hover span {color:#ff9900;}

.order-box{margin-top: 30px;}
.orders .order-box{margin-top: 15px;}
.control-btn a{color: #fff; background-color: #969696; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; padding: 4px 10px; margin-right: 10px; display: inline-block;}
.order-box table th,.orderReview table th{background-color: #f5f5f5; color: #000; border-bottom: 1px solid #e7e7e7; height: 40px; line-height: 40px;}
.order-box table td{padding: 20px 0 10px; border-bottom: 1px solid #ebebeb;}
.order-box table td .tips{color: #707070; text-align: center; width: 100%; font-size:16px;}
.order-box table td p a{color: #126ddd;}
.order-id p{color: #1d67ff; font-size: 16px;}
.order-id p span{color: #696969; font-size: 9px;}
.order-price{color: #cc0000; font-size: 20px; text-align: center}
.order-national{color: #767676; font-size: 14px;}
.order-national img{vertical-align: baseline}
.order-status a.pay{width:85px; height: 26px; background-color: #f90; margin-bottom: 2px; color: #fff; text-align: center; line-height: 26px;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; display: block;}
.order-status a.cancel{color: #535353; padding-left: 6px;}
.order-status a.ok{color: #00ba00; margin-left: 10px; font-size: 13px; font-weight: bold; display: block}
.order-listview a{display: block; float: left}
.order-listview a.more{color: #1d67ff; width: 100%; text-align: center; font-weight:bold;}
.order-listview a.order-proforma{margin-left: 6px;}
.order-listview a.order-proforma i{width: 15px; height: 13px; background-position: -103px -3px; margin-top: 5px; margin-right: 6px;}
.order-listview a.order-proforma span{font-weight: bold; font-size: 14px; color: #424242;}
.order-listview a.order-proforma:hover span{ color:#1d67ff}

.user-mission{margin-top: 40px;}
.user-mission h3{color: #000; font-size: 14px;}
.user-mission h2{ padding-bottom: 6px; color: #000; font-size: 16px; font-weight:700; border-bottom: 1px solid #eee; padding-left: 20px;}
.user-mission-l{width: 360px; padding: 0 0px 20px 20px; border-right: 1px solid #dadada;}
.user-mission-l p{color: #888; font-size: 13px;}
.user-mission-l p span{color: #c00;}
.user-mission-l a.btn{background-color: #f90; width: 240px; height: 33px; line-height:33px; margin-top: 5px; font-size: 18px; color: #fff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; display: block}
.user-mission-l a.btn i{width: 20px; height: 14px; background-position: -126px -1px; margin-top: 10px; margin-left: 10px; margin-right: 4px;}
.user-mission-l li{float: left; height:144px; margin-top: 14px; margin-right: 14px; overflow:hidden;}
.user-mission-l li a{width:130px; height:95px; border: 3px solid #c6c6c6; vertical-align:middle; text-align:center; display:block; overflow:hidden;}
.user-mission-l li img{width:100%;}
.user-mission-l .refresh{position:absolute; right:20px; bottom:70px;}

.user-mission-r{width: 480px; padding-left:20px;}
.user-mission-r ul{padding-bottom: 8px; margin-bottom: 30px; border-bottom:1px solid #eee;}
.user-mission-r li{background: url('../img/hyzs/dian.png') no-repeat 0px 7px; text-indent: 10px;}
.user-mission-r li p{font-size: 13px;}
.user-mission-r li p span{color: #c00;}
.description dd span{color:#888; line-height:20px;}
.description dd a{margin-left:10px;}
.description dd a:hover{text-decoration:underline;}

.user-mission-r-btn dd a{width: 32px; height: 32px; margin-right: 2px; background-image: url('../img/hyzs/icon.jpg'); background-repeat: no-repeat; display: inline-block}
.user-mission-r-btn dd a.btn-facebook{ background-position: 0 0;}
.user-mission-r-btn dd a.btn-twitter{ background-position: -36px 0;}
.user-mission-r dl .user-eamil input{width: 120px; color: #333; margin-right: 4px;}
.user-mission-r dl .user-eamil input[type="text"]{border:1px solid #ddd; height:18px; line-height:18px; padding:4px 6px;}
.btn-email{position:absolute; right:47px; top:74px;}
.user-mission-r dl .user-eamil label{font-style: italic; color: #229000;}
.user-mission-r dl .user-eamil img{padding: 0 4px;}
.user-mission-r dl .user-eamil input.btn-send{width: 80px; height: 30px; background-color: #f90; color: #fff; text-align: center;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; line-height: 30px; display: inline-block;border:none; padding:0px;}

.user-bd-tit h3{font-size: 16px; color: #000; padding: 20px 0 12px; border-bottom: 1px solid #e8e8e8;}
.user-bd-tit h3 span{color: #848484; font-size: 12px; font-weight: normal; padding-left: 20px;}
.user-bd-tit form{margin-left: 70px; margin-top: 60px;}
.user-bd-tit form label,.formdata .info-box p{color:#949494; font-size: 13px; margin-bottom: 6px; display: inline-block}
.message form textarea,.info-box textarea,.submit-box form textarea{width: 548px; height: 166px; padding: 6px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow: 1px 1px 4px #ccc inset; -moz-box-shadow: 1px 1px 4px #ccc inset; box-shadow: 1px 1px 4px #ccc inset;border:1px solid #b6b6b6; font-family:Roboto,Helvetica,Tahoma,Arial,"Microsoft YaHei";}
.user-bd-tit form a.btn{width: 188px; height: 36px; text-align: center; line-height: 36px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; background-color: #f90; color: #fff; font-size: 16px; margin-top: 15px; display: inline-block;}
.pass form input,.info-box input,.info-box select,.add-show-box input,.add-show-box select{padding: 6px; width: 278px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -webkit-box-shadow: 1px 1px 2px #f9f9f9 inset; -moz-box-shadow: 1px 1px 2px #f9f9f9 inset; box-shadow: 0px 0px 3px #ddd inset;border: 1px solid #b6b6b6;}
.pass form input{margin-bottom:15px;}
.user-bd-tit form label{margin-bottom:0;}
.info-hd-l {width: 70px; height: 70px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; -webkit-box-shadow: 0px 2px 5px #b6b6b6; -moz-box-shadow: 0px 2px 5px #b6b6b6; box-shadow: 0px 2px 5px #b6b6b6; overflow:hidden;}
.info-hd{margin-bottom: 15px;}
.info-hd-r{margin-left: 12px; margin-top: 15px;}
.info-hd-r a{width: 106px; height: 30px; background: url('../img/hyzs/btn-select.gif') no-repeat; text-align: center; line-height: 30px; color: #000; font-size: 13px; font-weight: bold; display: block;}
.info-hd-r p{color: #848484; line-height: 22px;}
.info form{margin-left: 60px; margin-top: 25px;}
.info form p label{color: #000; font-size: 14px; line-height: 22px; font-weight: bold;}
.formdata .info-box p{ display:block;}
.info-box{margin-top: 15px;}
.info-box input,.info-box select{padding: 8px; margin-top: 4px; width: 388px; margin-bottom: 0;}
.info-box select{width: 388px;}
.info-box textarea{width: 394px; margin-top: 4px; }


.orderReview h3,.ship-add h3{border-bottom: 0;}
.or-product p{width:220px;}
.orderReview td .or-gfile p{width:306px;}
.orderReview p span em{color: #777;}
.orderReview table{margin-top: 10px;}
.orderReview table th{border-top: 1px solid #e8e8e8;}
.orderReview table td{padding: 20px 0; border-bottom: 1px solid #ebebeb;}
.orderReview table a img,.orderReview table .manufacturer-img{max-width:80px; max-height:80px;}
.orderReview .or-status img{width:auto}
.or-product-l{margin-right: 8px;}
.or-product-l a{width: 58px; height: 58px; border: 1px solid #c9c9c9; display: table-cell; text-align: center; vertical-align: middle;}
.or-product-l span{width: 58px; height: 58px; display:block;}
.or-product-l span img{max-width:58px; max-height:58px;}
.or-product p.tit{border: 1px dashed #ababab; text-align: left; text-indent:5px; margin-top:3px; margin-bottom:3px;}
.or-product i.ico03{width: 16px; height: 16px; background-position: -151px -1px; margin-right: 4px; margin-top: 4px;}
.or-product p span{color: #808080;}
.or-gfile p a{color:#2192d9;}
.or-gfile p a:hover,.or-product p.tit a:hover{color:#f90 !important;}
.orderReview span.or-qty,.orderReview span.or-total{color: #000; font-weight: 400; font-size: 15px;}
.orderReview a.btn-evared{width:100px; height: 26px; background-color: #EB0004; margin-top: 6px; margin-bottom: 2px; color: #FFF; text-align: center; line-height: 26px;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; display: block;}

.ship-add p{margin-left: 30px; color: #000; line-height: 26px; font-size: 14px;margin-bottom:0;}
.ship-add p img{vertical-align: text-bottom; margin-right: 6px;}
.ship-add p span{font-size: 18px;}
.ship-add p a{color: #1d67ff;}

.orders-pay{padding: 30px 25px; background-color: #f8f8f8; border-bottom: 1px solid #ebebeb;}
.orders-pay-l{width: 450px;}
.orders-pay-l p span{color: #cc0000;}
.orders-pay-r p{font-size: 14px; text-align: right; line-height: 28px;margin-bottom:0;}
.orders-pay-r p span{margin-left:4px; text-align: right; display: inline-block;}
.orders-pay-r p.pay-total{font-size: 18px; color: #000;}
.orders-pay-r p.pay-total span{color: #c00}
.btn-order{ margin-top: 20px; margin-bottom:50px; width:172px; float:right;}
.btn-order a{background-color: #126ddd; color: #fff; font-size: 14px; width: 148px; text-align:center; height: 33px; line-height: 33px; -webkit-border-top-left-radius: 4px; -moz-border-top-left-radius: 4px; border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-top-right-radius: 4px; border-top-right-radius: 4px; display: inline-block;}
.btn-order .ico04{width: 15px; height: 17px; display:inline-block; background:url('../img/hyzs/icon.png') -173px 0; margin-left: 10px; margin-top: 8px; margin-right: 8px;}
.btn-order em{width: 172px; height: 2px; display: block; margin-top: -2px; margin-left: -12px; border-bottom: 2px solid #d9d9d9;}


.balance-box .tips{ color:#707070; text-align:center;}
.balance ul{margin-top: 40px;}
.balance .user-hd-r li{border-left: 1px solid #e1e1e1; border-right: 0;}
.balance .info-box  span{font-size: 30px; font-weight: bold}
.balance span.credit{color: #936d51;}
.balance span.coupon{color: #cc0000;}
.balance .info-box02 .how a{background: none; width: 100%; height: 100%; color: #000; margin: 0; padding: 0; text-align: left}
.tabBox-tab li{float: left; margin-right: 5px; margin-left: 11px; width:192px; height: 38px;}
.tabBox-tab li a{width:192px; height: 38px; font-size: 16px; position: relative; text-align: center; line-height: 38px; -webkit-border-top-left-radius: 4px; -moz-border-top-left-radius: 4px; border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-top-right-radius: 4px; border-top-right-radius: 4px; border-left: 1px solid #dedede; border-right: 1px solid #dedede; border-top: 1px solid #dedede; display: block;}
.on{background-color: #f2f2f2; z-index: 3; color: #794a01;}
.tabCon{position: relative}
.tabCon table th{background-color: #f2f2f2;text-align: left; height: 40px; line-height: 40px; font-size: 13px; color: #000; border-top: 1px solid #dadada; border-bottom: 1px solid #dadada;}
.tabCon table td{padding: 18px 0; border-bottom: 1px solid #e8e8e8; font-size: 14px; color: #000;}
.balance-con span.red,.balance-con span.green{font-size: 18px;}
.tabCon span.red{color: #cc0000;}
.tabCon span.green{color: #2dac00;}
.tabCon span.yellow{color: #ff9900;}
.tabCon table p a{width: 100%; text-align: center; color: #676767; font-size: 16px; display: inline-block}
.more{display: none; width: 100%}

.purchaseExperience h3{margin-bottom: 15px;}
.purchaseExperience p{color: #707070; font-size: 14px; line-height: 20px;}
.purchaseExperience p a{color: #126ddd;}
.purchaseExperience a.submit{width: 345px; height: 36px; margin-top: 30px; text-align: center; line-height: 36px; font-size: 18px; display: block; background-color: #f90; color: #fff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.purE-box{margin-top:25px;}

.box-bg{display: none; position: fixed; z-index: 66; top:0; left: 0; width: 100%; height: 100%; background-color: #000; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); -moz-opacity: 0.3; opacity: 0.3;}
.submit-box{ width: 640px; padding: 30px 40px; background-color: #fff;margin:auto;}
.submit-box h4{color: #000; font-size: 14px; line-height: 30px;}
.submit-box p,div.addcls{color: #787878; line-height: 26px;}
.submit-box form{margin: 0;}
.submit-box form textarea{width: 458px;}
.submit-box form input.btn{width:148px; height: 36px; text-align: center; line-height: 36px; color: #fff;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; border: none; font-size: 16px; cursor: pointer}
.submit-box form input.btn-submit{background-color: #f90;}
.submit-box form input.btn-cancle{background-color: #e3e3e3; margin-left: 10px; color: #737373;}

.address h3 a{width: 188px; height: 42px; line-height: 42px; font-weight: normal; background: url('../img/hyzs/btn-add.png'); margin-top: -12px; color: #000; text-indent: 40px; display: inline-block;}
.address .tips{ margin:20px 0;}
.add-item{border: 1px solid #e1e1e1; background-color: #fcfcfc; padding: 12px; cursor: pointer}
.add-item.active{border: 2px solid #efdec5; background-color: #fffbf6;}
.add-item p{line-height: 22px;}
.add-item p img{margin-right: 6px;}
.add-item li{float: left}
.add-item-l{width: 330px; border-right: 1px solid #ebddc9;}
.add-item-l p{color: #000;}
.add-item-l p em{font-size: 20px;}
.add-item.active p em { color:#8a5200; line-height:18px;}
.add-item-l span{color: #767676; line-height:16px;}
/*.add-item-c{width: 450px; padding: 0 30px;}*/
/*.add-item-c .img{width:26px; text-align:right; display:block;}*/
.add-item-c .img img{max-width:20px;}
.add-item-c .add-info{width:80%; display:block;}
.add-show-box form label{width: 170px; text-align: right; margin-right: 10px; color: #000; font-size: 14px; display:inline-block;font-family: arial; float:left;}
.add-show-box form p,div.addcls{margin-bottom: 14px;}
div.addcls { position:relative;}
.add-show-box form input{width: 320px;}
.add-show-box form select{width: 336px;}
.add-show-box form textarea{width: 320px; height: 55px;}
.add-show-box-btn{margin-left: 260px;}
.add-show-box form input.btn{padding: 0;}
.add-show-box form .ckcbox input{width: 13px; box-shadow: none; border-radius: 0;}
.add-show-box form .ckcbox{color: #000; font-size: 14px; margin-left: 180px;}
.add-show-box input,.add-show-box select{margin-bottom:0;}
/*foot*/
.foot{width: 100%; background-color: #f7f7f7; border-top: 2px solid #e0e0e0; text-align: center; padding-bottom: 20px;}
.foot p{font-size: 14px;}
.foot p span{color: #f90;}


/*-------------------------------增加提示框的样式-----------------------------------*/
.tips-box{position: relative; z-index: 100; display: none; }
.tips-box i{position: absolute; right: 299px; top: -9px; z-index: 102; width: 14px; height: 10px; background: url('../img/hyzs/tip_icon.png') no-repeat; display: block}
.tips-con{ position: absolute; right: -300px; top: -8px; z-index: 101; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; border: 1px solid #dbdbdb; padding: 15px 15px 10px; background-color: #fff; width: 340px;}
.tips-con table th,.tips-con table td{padding-left: 6px;}
.tips-con table th{color: #ff9900; font-size: 16px; border-bottom: 1px solid #e9e9e9; padding-bottom: 4px;}
.tips-con table td{color: #4a4a4a; font-size: 13px; line-height: 30px;}
.tips-con table td strong{color: #cc0000;}
.tips-con table td.price{text-align: center;}

/*-------------------------------Your Invite页面的样式-----------------------------------*/
.txt-c{text-align: center !important;}
.invite-hd{border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; background-color: #f4f4f4; padding: 20px 30px 40px 0;}
.invite-hd h3{border-bottom: 0; padding: 0; font-size: 14px;}
.invite-hd-r{border: 3px solid #936d51; width: 480px;}
.invite-hd-r table th{background-color: #ffeed4; text-align: left; border-bottom: 1px solid #edcab1; height: 40px; line-height: 40px; font-size: 14px; color: #794a01;}
.invite-hd-r table td{border-bottom: 1px solid #f7f7f7; background-color: #fff; padding: 8px 0;}
.invite-hd-r table td a{width: 19px; height: 19px; background: url('../img/hyzs/icon_num.png') no-repeat 0 0; text-align: center; line-height: 19px; color: #fff; display: inline-block;}
.invite-hd-r table td a.top{background-position: 0 -19px;}
.invite-hd-r table td span{color: #5a5a5a;}
.invite-hd-r table td strong{color: #cc0000;}

/*新增*/
.invite h4{font-size: 18px; font-weight: normal; color: #000; margin-bottom: 10px;}
.invite h4 p{color: #848484; font-size: 14px; margin-left: 20px; display: inline-block}
.invite p strong{color: #cc0000; margin-left:6px;}
.invite table th{text-align: left; line-height:20px; font-weight: normal; padding:10px 0; color: #000; font-size: 15px; border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; background-color: #f5f5f5;}
.invite table td{color: #000; border-bottom: 1px solid #e7e7e7; font-size: 13px;}
.invite table td p a{color: #676767;display: inline-block; font-size: 16px; text-align: center; width: 100%;}

/*-------------------------------Your Balance页面的提示-----------------------------------*/
.recharge-box{padding: 0px 70px 30px;}
.recharge-box h4{font-size: 16px; color: #000; font-weight: 400; padding: 20px 0 12px;}
.recharge-box i { background-image: url('../img/hyzs/icon.png');background-repeat: no-repeat; display: block; float: left;}
.recharge-box i.ico01{background-position: 0 0; width: 23px; height: 17px; margin-top: 3px; margin-right: 6px;}
.recharge-box label{color: #5d5d5d !important; font-size: 16px !important; width:110px; text-align:right; display:inline-block;}
.recharge-box em{font-size:16px;}
.recharge-box em.green{color:#2dac00;}
.recharge-box .inp-price{border: 1px solid #c9c9c9; color: #936d51; font-size: 22px; width: 170px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font-weight: 400; height: 20px; padding: 8px; background-color: #f0f0f0;}
.recharge-box span{color: #5b5b5b; font-size: 30px; font-weight: 400; margin-left: 4px;}
.rech-btn{  margin-top: 15px; -webkit-border-radius:3px; margin-right: 15px; -moz-border-radius:3px; border-radius:3px; padding: 10px 36px; cursor: pointer; border: none; color: #fff; font-size: 16px;}
.btn-rech{background-color: #1979ca; margin-left: 60px;}
.btn-noted{background-color: #ff9900;}
.btn-close{background-color: #a0a0a0;}
.rech-tip{text-align: center; padding: 0px 50px 20px; margin-bottom: 10px; border-bottom: 1px solid #e8e8e8;}
.recharge-box img{vertical-align: bottom}
.rech-tip span{font-size: 22px; color: #000;}
.rech-tip span.success{ color: #1b9a13;}
.rech-btn-box{text-align: center}
.rech-btn-box .btn-rech{margin-left: 0;}

/*-------------------------------适用于个人信息修改页面-----------------------------------*/
.grid-col-container h3.page-title {font-size: 18px; padding-top: 10px;}
.grid-col-container .me-ui-box {background-color: #fff; padding: 15px;}
.message-list-header h3 {padding-top: 5px;}
.message-list { min-height: 240px; padding-bottom: 15px;}
.message-list-item {font-size: 12px; margin-top: 20px;}
.col-xs-8 {float: left; width: 13.3333%; min-height: 1px; padding-left: 0; padding-right: 0; position: relative;}
.col-xs-44 {float: left; width: 73.3333%; min-height: 1px; padding-left: 0; padding-right: 0; position: relative;}
.message-buyer .message-user-info {padding-left: 12px;}
.message-seller .message-content-tip {float: left;}
.message-buyer .message-content-tip {float: right;}
.message-buyer .message-content {background-color: #e6e6e6; float: right;}
.message-buyer .message-content pre{font: 12px/1.5 Roboto,Helvetica,Tahoma,Arial,"Microsoft YaHei"}
.message-content {border-radius: 5px; display: inline-block; padding: 12px; position: relative;}
.message-user-name {overflow: hidden; text-overflow: ellipsis; width: 109.063px;}
.message-date {color: #999;}
.message-seller .message-content {background-color: #ffeed4;}
.message-seller .message-content:before {content: ""; position: absolute; top: 12px; right: 100%; width: 0; height: 0; border-top: 5px solid transparent;  border-right: 10px solid #F2F2F2; border-bottom: 5px solid transparent; }
/*.col-right-buyer {float: right; }*/
.green6 {color:#00A523;}

/*----------------余额页面单独添加样式-------------------*/
.clearfix i.ico { background-image: url('../img/hyzs/icon.png'); background-repeat: no-repeat; display: block; float: left}
/*----------------余额页面单独添加样式-------------------*/

/*-------------------------------evaluate 页面-----------------------------------*/
.order-status a.review{background-color: #00ba00; margin-top: 5px;}
.e-orderReview table th{text-align: left;}
.e-orderReview table td{vertical-align: top}
.e-orderReview form{margin: 0;}
.e-orderReview .rating {height:19px;overflow:hidden;zoom:1;padding:2px 0px; margin-bottom: 4px; position:relative;z-index:999;}
.e-orderReview .rating span {height:19px;display:block;line-height:19px;float:left;}
.e-orderReview .rating span.title {width:90px;text-align:right;margin-right:5px; color: #000; font-size: 14px;}
.e-orderReview .rating ul {float:left;margin:0;padding:0;}
.e-orderReview .rating .result {margin-left:50px;padding-top:2px;}
.e-orderReview .rating span.title .rating .result em {color:#f60;font-family:arial;font-weight:bold;}
.e-orderReview .rating .result strong {color:#666666;font-weight:normal;}
.e-orderReview .rating-level,.rating-level a {background:url('../img/hyzs/star.png') no-repeat scroll 1000px 1000px;}
.e-orderReview .rating-level {background-position:0px 0px;width:120px;height:19px;position:relative;z-index:1000;}
.e-orderReview .rating-level li {display:inline;}
.e-orderReview .rating-level a {line-height:19px;height:19px;position:absolute;top:0px;left:0px;text-indent:-999em;*zoom:1;outline:none;}
.e-orderReview .rating-level a.one-star {width:20%;z-index:6;}
.e-orderReview .rating-level a.two-stars {width:40%;z-index:5;}
.e-orderReview .rating-level a.three-stars {width:60%;z-index:4;}
.e-orderReview .rating-level a.four-stars {width:80%;z-index:3;}
.e-orderReview .rating-level a.five-stars {width:100%;z-index:2;}
.e-orderReview .rating-level .current-rating,.rating-level a:hover{background-position:0 -30px;}

.e-orderReview .rating-level a span{ margin-left:130px; width: 20px; height: 20px; display: none; background:url('../img/hyzs/star.png') no-repeat scroll 1000px 1000px;}
.e-orderReview .rating-level a.current-rating span,.e-orderReview .rating-level a:hover span{display: inline-block;}
.e-orderReview .rating-level a.one-star.current-rating span,.e-orderReview .rating-level a.one-star:hover span{background-position: 0 -60px;}
.e-orderReview .rating-level a.two-stars.current-rating span,.e-orderReview .rating-level a.two-stars:hover span{background-position: -23px -60px;}
.e-orderReview .rating-level a.three-stars.current-rating span,.e-orderReview .rating-level a.three-stars:hover span{background-position: -46px -60px;}
.e-orderReview .rating-level a.four-stars.current-rating span,.e-orderReview .rating-level a.four-stars:hover span{background-position: -69px -60px;}
.e-orderReview .rating-level a.five-stars.current-rating span,.e-orderReview .rating-level a.five-stars:hover span{background-position: -92px -60px;}

.e-orderReview .e-item{border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; margin: 20px 0; padding: 10px 0 20px;}
.e-orderReview .e-item p{color: #606060; font-weight: 400; margin-bottom: 20px;}
.e-orderReview .e-item li{float: left; margin-left: 10px; margin-bottom: 10px;}
.e-orderReview .e-item li div{position: relative; width: 68px; height: 68px; border: 1px solid #d2d2d2; vertical-align: middle; text-align: center; cursor: pointer; display: table-cell; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.e-orderReview .e-item li div img{width: 100%;}
.e-orderReview .e-item li .pic-item i{width: 68px; height: 68px; background: url('../img/hyzs/icon_del.png') no-repeat; display: none; position: absolute; z-index: 6; top: 0px; left: 0px;}
.e-orderReview .e-item li:hover .pic-item i{display: block;}
.e-orderReview input{padding: 6px 8px; width: 260px; margin-bottom: 10px; display: block;}
.e-orderReview textarea{padding: 6px 8px; width: 300px; }
.e-orderReview input,.e-orderReview textarea{color: #a9a9a9; font-size: 14px; border: 1px solid #ddd;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}

.e-orderReview .btn-submit{width: 238px; height: 36px; background-color: #ff9900; cursor: pointer; font-size: 16px; margin-top: 20px; margin-left: 636px; color: #fff; border: none; text-align: center;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}

/*-------------------------------分页-----------------------------------*/
.SearchResultsPaging {
    font-size: 13px;
    font-weight: bold;
    padding: 10px 15px;
    background: #fff;
}

    .SearchResultsPaging a:link, .SearchResultsPaging a:visited, .SearchResultsPaging a:hover, .SearchResultsPaging a:active {
        color: #ff9900;
        padding: 2px 4px;
        text-decoration: none;
    }

    .SearchResultsPaging a:hover {
        color: #fff;
        background-color: #999;
    }

#pages a#pageactive {
    background: #ff9900 none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    padding: 2px 4px;
}


/*-------------------------------evaluate01 页面-----------------------------------*/
.order-status a.review{background-color: #00ba00; margin-top: 5px;}
.eva-orderReview a.btn-eva{width:85px; height: 26px; background-color: #00ba00; margin-top: 6px; margin-bottom: 2px; color: #fff; text-align: center; line-height: 26px;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; display: block;}
.eva-orderReview .or-status-ok{color: #00ba00;}
.maskLayer{background-color: #000; }
.eva-box{}
.cl-22282D{color:#22282D}
.eva-box .item-con{background-color: #fff; margin: 0 auto 0; -webkit-border-radius: 10px; -moz-border-radius: 10px;border-radius: 10px;}
.eva-box .item-l{width: 325px; padding-right: 30px;height:720px; overflow-y:auto;background:#f8f8f8;padding:60px 0 0 40px;}
.eva-box .item-l .portrait{width:60px;height:60px;border-radius:50%;border:1px solid #ddd;margin-right:10px;}
.eva-box .item-l p{margin-bottom:0}
.eva-box .grade1 ul li{overflow:hidden;margin-bottom:17px;}
.eva-box .grade1 ul li p{display:inline-block;width:140px;color:#999;}
.cursor{cursor:pointer}
.eva-box .grade2{border-bottom:1px solid #eee;}
.eva-box .grade2 p{margin-bottom:0;}
.eva-box .grade2 ul li{overflow:hidden;margin-bottom:14px;}
.eva-box .grade2 ul li p{display:inline-block;width:128px;color:#999;margin-bottom:0}
.eva-box .item-l textarea{height:100px;width:265px;border:0;border-bottom:1px solid #ccc;background:#f8f8f8;resize: none;margin-bottom:80px;font-size:16px;outline:none}
.eva-box .item-r textarea{height:100px;width:380px;border:0;border-bottom:1px solid #ccc;background:#fff;resize: none;margin-bottom:20px;font-size:16px;outline:none}
.eva-box .item-l .textp{background:#FFFAF1;color:#794A01;font-size:12px;padding:14px 22px;display:inline-block;width:280px;height:88px;margin-left:-10px;line-height:20px;}

#gundongbox {width: 455px;height: 560px;padding:0px 50px 0 26px;overflow-x: hidden;overflow-y: scroll;}
#gundongbox::-webkit-scrollbar {display: none;}
.eva-box .item-r{ width: 435px;padding-top:60px}
.eva-box .item-r i.ico03{width: 16px; height: 16px; background-position: -151px -1px; margin-right: 4px; margin-top: 4px;background-image: url('../img/hyzs/icon.png'); background-repeat: no-repeat; display: block; float: left}
.eva-box .item-r .addphoto{width:380px;height:42px;line-height:40px;vertical-align:middle;background:#f6f6f6;border:2px dashed #dddddd;margin-top:22px;cursor:pointer;}
.eva-box .item-r .addphoto span{line-height:40px;vertical-align:middle;}
.closeeva-box{width:15px;height:15px;position:absolute;right:20px;top:20px;cursor:pointer;}
.closeeva-box img{width:100%;}
.ulphotoul{padding:10px 10px 0 0 ;}
.ulphotoul li{overflow:hidden;margin:5px auto;}
.ulphotoul li img{width:30px;height:30px;border:1px solid #ddd;border-radius:2px;margin-right:5px;}
.ulphotoul li span{vertical-align:middle;line-height:30px;}
.text-div p{margin-bottom:7px;}
.eva-box .item-r .btn-box a{display:inline-block;width:120px;height:40px;text-align:center;line-height:40px;font-size:14px;border-radius:2px;margin-top:20px}
.eva-box .item-r .btn-yellow{ background:#ff9900;color:#fff}
.eva-box .item-r .btn-yellow:hover{background:#ffad33}
.eva-box .item-r .btn-cancle{ background:#EBEBEB!important;color:#000!important;margin-left:155px;margin-right:7px;}
/*星星打分*/
.start-two{line-height:21px;}
.start-two .star_score{ float:left;}
.star_list{height:21px;margin:50px; line-height:21px;}
.start-two p,.start-two .attitude{ padding-left:20px; line-height:21px; display:inline-block;}
.start-two p{color: #f90;}
.start-two p span{ color:#E89721; font-size:14px; }
.star_score { width:160px; height:21px; position:relative;}
.star_score a{ height:21px;display:block;text-indent:-999em; position:absolute;left:0;}
.star_score a:hover{left:0;}
.star_score a.clibg{left:0;}
.start-two .star_score { background:url(../img/indexV3/starky.png);}
.start-two .star_score a:hover{ background:url(../img/indexV3/starsy.png);left:0;}
.start-two .star_score a.clibg{ background:url(../img/indexV3/starsy.png);left:0;}
.start-score-box li{margin-bottom: 10px;}
.submit-btn{width: 175px;height: 50px;line-height: 50px;text-align: center;font-size: 20px;}
/*文件上传样式*/
.e-pic {width: 418px; background: url('../img/hyzs/example.jpg') no-repeat;}
.c_upbtn,.c_upbtn:link{width:88px;height:0;padding:68px 0 0;line-height:24px;color:#333;background: url(../img/hyzs/icon_add.png);border:1px solid #c7c7c7;float:left;overflow:hidden;}
.c_upbtn:hover{color:#000;}
.c_upbox{overflow:hidden;}
.c_upfileli{width:88px!important;height:68px!important;margin:0 12px 12px 0!important;border:1px solid #d2d2d2;float:left;overflow:hidden;border-radius:4px;}
.c_upfileli img{width:88px;height:68px;border:0;border-radius:4px;}
.c_upfileli span, .upfile .c_upfileli a{float:left;}
.c_upfileli .img{width:100%;height:100%;display:block;}
.c_upfileli .c_upimageclose{width:100%;height:0;padding:68px 0 0;text-align:center;background:#fff;float:left;border-radius:4px;opacity:0.01;filter:alpha(1);}
.c_upfileli .c_upimageclose:hover{color:#fff;background:url(../img/hyzs/icon_del.png) no-repeat;opacity:1;filter:alpha(100);}
.c_upfileli .c_upimageedit{width:15px;height:15px;line-height:15px;padding:0;text-indent:0;text-align:center;background:#ccc;border-radius:4px;float:left;cursor:pointer;right:20px;top:0;position:absolute;}
.c_upfileli .c_upimageedit:hover{color:#fff;background:#999;}
.c_upfileli .c_upimagetitle{width:100%;border-radius:4px;float:left;display:none;resize: none;}
.c_upfileli .c_upimagetitlefocus{height:80px;margin-top:0;padding:0px;border:0;text-align:left;color:#333;background:#fff;display:block;left:0;top:0;position:absolute;opacity:0.85;filter:alpha(opacity=85);}
.c_upfileli .c_upimageview{width:100%;height:40px;line-height:16px;margin-top:5px;color:#333;overflow:auto;}


/*20160729 Member Grade*/
.b_bj{ background:#fff5e5; padding:20px; border:1px solid #fce3bc; margin-bottom:30px;}
.mG-hd .mG-hd-detailed span.last{ color:#000; font-weight:normal;}
.mG-hd .mG-hd-detailed span.last b{ color:#ff9900;}
.mG-hd .mG-hd-detailed span{font-size: 16px; font-weight: bold; color: #936d51; line-height: 30px;}
.mG-hd .mG-hd-arrow{margin-top: 11px; position: relative; z-index: 5;}
.mG-hd .mG-hd-tips{padding: 4px 10px; color: #000; margin-left: -1px; position: relative; z-index: 4; font-size: 14px; font-weight: bold; border: 1px solid #ffdaa2; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.mG-hd .mG-hd-tips font{ color:#ff9900;}
.mG-progress{padding-top: 50px;}
.mG-progress .i-progress,.mG-info .i-progress,.user-hd-l .i-progress,.b_bj .i-progress{background-image: url('../img/hyzs/i-star.png'); background-repeat: no-repeat; display: inline-block; width: 109px; height: 20px;}
.mG-progress .mG-progress-l .i-progress,.user-hd-l .i-progress,.b_bj .i-progress{background-position: 0 -20px;}
.user-hd-l .i-progress{margin-top: 3px; margin-left: 6px;}
.mG-progress .mG-progress-c{position: relative;}.mG-progress .mG-progress-c-bg{width: 700px; height: 13px; overflow: hidden; margin-top: 4px; background-color: #e6d2b1; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.mG-progress .mG-progress-c i{background-color: #f90; height: 13px; display: block;}
.mG-progress .mG-progress-r div.i-progress,.mG-info div.i-progress{width: 109px;}
.mG-progress .mG-progress-r i.i-progress,.mG-info i.i-progress{background-position: 0 -20px;}
.mG-progress .vip-progress{position: absolute; top:-30px; left:0;}

.memberGrade a{width: 186px; height: 34px; text-align: center; line-height: 34px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; background-color: #f90; color: #fff; font-size: 16px; display: block;}
.mG-ps{font-size: 14px;}
.mG-info h3,.mG-record h3{padding-bottom: 10px; border-bottom: 0;}
.memberGrade table{font-size: 14px;}
.memberGrade th{font-weight: normal; text-align: left; background-color: #f6f6f6; border-top: 1px solid #e9e9e9; padding: 10px 20px; color: #424242;}
.memberGrade td{padding: 10px 20px; border-bottom: 1px solid #e2e2e2;}
.mG-info td{padding: 12px 20px;}

.mG-record{margin-top: 40px;}
.mG-record td{width: 25%;}
.mG-record .btn-more{display: block; color:#676767; background-color: #fff;}
.user-hd-l .btn-link{position: absolute; top:0; left: 0; height:46px; width: 230px; display: block;}


/*20160830*/
.od-tips {background-color:#fffaf2; border:1px solid #ecd4c3; padding:20px 10px; margin-bottom:20px;}
.od-tips .od-step h4{color:#b0b0b0;}
.od-tips .od-step p{color:#7b7b7b;}
.od-tips .od-step{width:130px; text-align:center;}
.od-tips .tip-ico{background:url('../img/hyzs/od_tips.png') no-repeat; vertical-align:middle; display:inline-block; margin-top:2px;}
.od-tips .tip-step1{width:28px; height:20px; background-position:0 -23px;}
.od-tips .tip-step2{width:46px; height:29px; background-position:-33px -23px;}
.od-tips .tip-step3{width:74px; height:19px; background-position:-85px -23px;}
.od-tips .tip-step4{width:22px; height:24px; background-position:-163px -23px;}
.od-tips .od-line .tip-line{width:208px; height:11px; background-position:0 -11px; margin-top:6px;}
.od-tips .od-line .on-step{width:208px; height:11px; background-position:0 0; margin-top:6px;}
.od-tips .od-line .item-logistics{text-align:center; margin-top:3px;}
.od-tips .od-line .item-logistics p{font-size:12px; color:#003eda; margin-top:6px;}
.od-tips .on-step h4{color:#936d51;}


/*20161025*/
.share_index { }
.share_index h3 { }
.share_index p { color: #707070; font-size: 14px; line-height: 20px;margin-top: 5px;}
.share_index p a { color: #126ddd;}
.share_index_top { padding: 0px 0 20px; border-bottom: 1px solid #e8e8e8;margin-bottom:20px;}

.share_index .submit-box { width: 100%; padding: 0; background-color: #fff;}
.share_index .submit-box p {margin:0;} 
.share_index .submit-box p a {padding-left:15px;} 
.share_index .submit-box form textarea{ height:100px; width:90%;margin-bottom:10px;}

/*20161124*/
#p_msg font{color:#000;}

/*20170206 Our Customer Reviews*/
.CustomerReviews{margin-top:60px; font-family:"Microsoft YaHei";}
.CustomerReviews-hd{border-bottom:1px solid #eee; padding:0 20px 10px;}
.CustomerReviews-hd h2{font-weight:700;}
.CustomerReviews-hd .tit a{color:#1d67ff; font-weight:700;}

.sharedata li{float:left; margin-right:50px;}
.sharedata li span{font-size:24px; line-height:26px; display:block;}
.sharedata li em{color:#7b7b7b; font-size:14px;}
.sharedata .share{margin-right:0;}
.sharedata .share a{width:108px; height:40px; text-align:center; line-height:40px; color:#fff; font-size:16px; font-weight:700; background-color:#E89721; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; display:block;}

.CustomerReviews-con{margin-left:1%;}
.CustomerReviews-con .item{float: left; background-color: #fff; width: 24%; margin-right:1%;}
.CustomerReviews-con .item .small_img{margin-right: 4px; margin-left: 4px; height: 20px; vertical-align:text-bottom;}
.CustomerReviews-con .item .country_icon{margin-right: 4px; height: 14px; vertical-align:text-bottom;}
.CustomerReviews-con .item-box{background-color: #fff; border-top: 1px solid #dae2ed; margin-bottom: 20px;}

.CustomerReviews-con .item-box .strar{margin-top: 3px; margin-right: 6px; background: url('../img/orderonline/jijia_ico.png') no-repeat 0 -169px; display:inline-block; width:80px; height:15px; text-align:left}
.CustomerReviews-con .item-box .strar .bg_ico{display:inline-block;background-position:0 -154px; height:15px;}
.CustomerReviews-con .item-bd-con{height: 54px; line-height:18px; overflow:hidden;}
.CustomerReviews-con .item-bd-con a{-webkit-line-clamp:3; display: -webkit-box;overflow: hidden; text-overflow: ellipsis;  -webkit-box-orient: vertical; color:#000;}
.CustomerReviews-con .item-box .item-bd-con a:hover{color: #f90;}

.CustomerReviews-con .fd_pic{width: 100%; overflow: hidden;}
.CustomerReviews-con .fd_pic img{width: 100%; height:200px;}
.CustomerReviews-con .item-con{width:100%;}

.invite-list{border: 3px solid #936d51; width: 310px; margin-left:20px;}
.invite-list .hd{background-color: #ffeed4; text-align: left; border-bottom: 1px solid #edcab1; height: 40px; line-height: 40px; font-size: 14px; color: #794a01;}
.invite-list dt,.invite-list dd{overflow:hidden; text-indent:10px;}
.invite-list span{float:left; display:block;}
.invite-list dt span{font-weight:700;}
.invite-list dd span{padding:10px 0; border-bottom:1px solid #f7f7f7; color:#5a5a5a;}
.invite-list .w1{width:20%;}
.invite-list .w2{width:45%;}
.invite-list .w3{width:35%;}
.invite-list dd .w3{font-weight:700; color:#cc0000;}
.invite-listcon{height:400px; overflow:hidden;}

.invite-list dd em{width: 19px; height: 19px; background: url('../img/hyzs/icon_num.png') no-repeat 0 0; text-align: center; text-indent:0; line-height: 19px; color: #fff; display: inline-block;}
.invite-list dd em.top{background-position: 0 -19px;}

/*20170220 订单评论*/
.pic-description span{color:#606060; line-height:18px; display:block;}

/*20170301 积分详情*/
.exchange-link{margin-top: 15px; margin-bottom: 15px; height: 40px; line-height: 40px; font-size: 18px; color: #fff; padding-left: 30px; padding-right: 30px; background-color: #f90; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; display: block;}
.exchange-link:hover{color: #fff; text-decoration: underline;}
.cl-999{color: #999;}
.points-goods .img{width: 60px; height: 60px; border: 1px solid #ccc; margin-right: 8px; display: none;}
.points-goods .img img{width: 60px; height: 60px;}
.points-goods .con{width: 270px;}
.points-goods .tit{line-height: 18px; height: 36px; line-height:36px; margin-bottom: 5px;-webkit-line-clamp:2; display: -webkit-box;overflow: hidden; text-overflow: ellipsis;  -webkit-box-orient: vertical;}
.pic-description span{color:#606060; line-height:18px; display:block;}

/*20170308 Message 未读消息提示*/
.tips-numbox{margin-left:6px; margin-top: 8px;}
.tips-num{height:18px; min-width:10px; text-align:center; font-size:12px; line-height:20px; padding-left:4px; padding-right:4px; background-color:#E89721; color:#fff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; display:inline-block;}
.no-message a,.no-message em{background-color:#ccc;}
.tips-numbox .i-ico{position:absolute; top:18px; left:4px; width:7px; height:4px; background-position: -8px -630px;}
.no-message .i-ico{background-position: 0 -630px;}

.user-bd-l .tips-numbox{margin-left:6px; margin-top:4px; display:block;}

.order-status a.pay:hover,.purchaseExperience a.submit:hover,.user-mission-r dl dd.user-eamil input.btn-send:hover,.exchange-link:hover,.submit-box form input.btn-submit:hover,.user-bd-tit form a.btn:hover{background-color: #ffad33;}

/*20170405 广告图片轮播*/
.points_add{height:160px;}
.points_add .imglist{width:1060px;height:160px;position:absolute; top: 15px; right: 0; z-index: 2;}
.points_add .imglist .imgdiv{width:1060px;height:160px;z-index:9;}
.points_add .imglist .imgdiv a{width:1060px;height:160px;display:block; text-indent: -9999em; overflow:hidden;}
.points_add  .jsNav{position:absolute;bottom:12px;z-index:10;width:100%;left:0px;height:15px;}
.points_add .jsNav_num{width:100%;text-align:center; position:absolute; left:0; top:0;}
.points_add .jsNav a{width:14px;height:14px;line-height:14px;text-indent:-9999px;background:#fff;border-radius:50%;display:inline-block;text-align:center;margin:0 2px;color:#000;font-weight:700}
.points_add .jsNav .imgSelected{color:#fff;background:#ff9900}


.pi_select{}
.pi_select .c_btns{padding:20px;}
.pi_select .c_btns .c_btn{height:30px;line-height:30px;padding:0 20px;background:#f90; color:#fff; border-radius:3px; display:inline-block;}
.pi_select .c_btns .c_btn:hover{background:#ffad33;}


/*20170417 专属商务电话*/
/*.tipscon{position:absolute;top:0px;right:20px;z-index:1000; display: none; width:250px;font-weight:400;line-height:16px;color:#000;background-color:#fff;border:1px solid #ccc;padding:10px;text-align:left;-webkit-box-shadow: 0 0 15px #999;-moz-box-shadow: 0 0 15px #999;box-shadow: 0 0 15px #999;}*/
.service-tel .item-tips .ico{width: 15px; height: 15px; background:url('../img/hyzs/b_tel.gif') no-repeat 0 0; vertical-align:text-bottom; margin-left:5px; display:inline-block;}

/*20170418 会员助手首页*/
/*颜色*/
.black{color: #000;}
.cl-f90{color: #f90;}
.cl-c00{color: #c00 !important;}
.cl-126ddd{color: #126ddd;}
.cl-acacac{color: #acacac !important;}
.cl-8a8a8a{color: #8a8a8a;}
.cl-00ba00{color: #00ba00;}

.btn-com{height: 30px; background-color: #f90; margin-bottom: 2px; color: #fff; text-align: center; line-height: 30px;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; display: block;margin-bottom:8px;}
.btn-com:hover{color: #fff; background-color: #ffad33; text-decoration: none;}

/*订单信息*/
.orders{margin-top: 30px;}

.orders dt{min-width: 1150px; background-color: #f5f5f5; margin-bottom: 20px; overflow: hidden;}
.orders dt span{display: block; float: left; height: 40px; line-height: 40px; font-weight: 700; color: #000; text-indent: 18px; border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8;}
.orders dt .w1{width: 28%;}
.orders dt .w2{width: 10%;}
.orders dt .w3{width: 12%;}
.orders dt .w4{width: 18%;}
.orders dt .w5{width: 14%; text-align: center; text-indent: 0;}
.orders dt .w6{width: 28%; text-align: center;}
@media screen and (min-width: 1920px) {
.orders dt{width: 1545px!important; background-color: #f5f5f5; margin-bottom: 20px; overflow: hidden;}
}
.orders dd{margin-bottom: 30px;}
/*hd*/
.orders .hd{height: 40px; line-height: 40px; background-color: #fff4e3; padding-left: 18px; padding-right: 18px;}
.orders .hd span{color: #000;}
.orders .order-id{margin-right: 30px;}
.orders .order-id i,.orderReview p span i{font-weight: 700; color: #2792d9;}
.orders .proforma-invoice{display: block; width: 130px; margin-left: auto; margin-right: auto;}
.orders .proforma-invoice .ico{width: 15px; height: 13px; background-position: -103px -3px; margin-right: 6px; float:none; display:inline-block; vertical-align:middle;}

/*bd*/
.orders  .bd{border: 1px solid #eccea0;}
.order-info{width: 82%;}
.order-info li{color: #000; border-right: 1px solid #eccea0; min-height:205px; border-bottom: 1px solid #eccea0; padding-top: 20px; padding-bottom: 20px;}
.order-info li:last-child{border-bottom: 0;}
.order-info p span{color: #808080;}
.order-info .ww{display:inline-block; text-indent: 18px; min-height:30px; vertical-align: top;}
.order-info .ww1{width: 4%; text-align: center; text-indent: 0;margin-left:2%;}
.order-info .ww2{width: 26%; text-indent: 4px;}
.order-info .ww3{width: 13%; text-indent: 14px;}
.order-info .ww4{width: 15%;}
.order-info .ww5{width: 20%; text-indent: 0; margin-left: 12px; min-height:32px;}
.order-info .ww6{width: 16%; text-align: center; text-indent: 0;}

.order-info .ww1 img{max-width: 100%; text-align: center;}
.order-no{border: 1px dashed #ababab; margin-top: 3px; margin-bottom: 3px; height:20px; line-height:21px;}
.order-no a:hover,.order-operating .view-more:hover,.orders .hd a:hover{color:#f90 !important;}
.order-type{font-weight: 700;}
.order-time span{display: block; margin-bottom: 1px; text-indent: 4px;}
.order-time .ico{width: 16px; height: 16px;}
.order-time .ico03{background-position: -151px -1px; margin-top: 0px !important;}
.order-time .ico-payment{background-position: -180px -50px;}
.order-time .ico-shipping{background-position: -196px -50px;}
.order-info .ww3 img{width:80px; height:auto;max-height:80px;}

.order-operating{width: 18%; padding-top:10px;}
.order-status a{display:block; text-align: center; margin-left: auto; margin-right: auto;}
.order-status .pay-now{width: 100px;}
.order-status .confirm-received{width: 120px; background-color: #00ba00;}
.order-status .confirm-received:hover,.order-status .comment:hover{background-color: #26c426;}
.order-status .comment{width: 100px; background-color: #00ba00;}
.order-totalprice{margin-top: 5px;}
.order-totalprice p{text-align: center;}
.order-operating .view-more{display: block; font-weight: 700; text-align: center;}

.or-gfile p{line-height: 16px;}

.ico{display: inline-block; background-image: url("../img/hyzs/icon.png"); background-repeat: no-repeat; vertical-align: middle;}
.tipscon{position:absolute;top:0px;right:20px;z-index:1000; display: none; min-width:250px; max-width: 690px; font-weight:400;line-height:16px;color:#000;background-color:#fff;border:1px solid #ccc;padding:10px;text-align:left;-webkit-box-shadow: 0 0 15px #999;-moz-box-shadow: 0 0 15px #999;box-shadow: 0 0 15px #999;}
.tipscon img{ min-width: 250px; max-width: 690px; margin-bottom: 10px;}
.item-tips .ico{width: 16px; height: 16px; background-position: -220px 0;}

.btn-edit{width: 130px; margin-top: 5px; margin-left: auto; margin-right: auto;}

.linebox_staic{position: relative;}
.linebox_fixed{position: fixed; top: 0; z-index: 100;}
.box-shadow{-webkit-box-shadow: 2px 2px 4px rgba(83, 100, 122, 0.35); -moz-box-shadow: 2px 2px 4px rgba(83, 100, 122, 0.35); box-shadow: 2px 2px 4px rgba(83, 100, 122, 0.35);}

.username-info{width:286px; margin-left:4px;}

.invite-hd .h-tit{padding-left:20px; padding-right:20px;}
.invite-hd .h-tit .ico{width:22px; height:27px; background-position: -240px 0;}
.invite-hd .h-tit h3{font-size:16px; margin-left:10px; margin-top:4px;}

.description dt span,.email-invitation dt span{font-weight:700;}

.link-tit dd{float:left; margin-right:20px;}
.link-tit dd a:hover{text-decoration: none;}
.active-yellow{border-bottom:2px solid #f90;}
.active-yellow a{color:#E89721;}

.link-con{height:200px;}

.generate-link textarea{width: 385px; height:100px; line-height:18px; text-align:left; margin-bottom:10px; padding:8px; display:block; border:1px solid #b6b6b6; color:#888; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.generate-link .btn{height:26px; line-height:26px; padding-left:10px; padding-right:10px; margin-right:8px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; display:inline-block;}
.generate-link .btn-create{background-color:#E89721; color:#fff;}
.generate-link .btn-create:hover{background-color:#ffad33;}
.generate-link .btn-link{background-color:#ffeed4; color:#ad9061; border: 1px solid #c9b799; height:24px;}

.popular-link dd{height:60px; margin-bottom:5px; overflow:hidden;}
.popular-link .btn-link{width:70px;height:26px; line-height:26px;margin:0 0 0 10px;background-color:#e5e5e5; border:1px solid #cecece; color:#888;float:right;text-align:center;}
.popular-link .url{width:370px;height:40px;line-height:20px;padding:5px 10px;border:1px solid #cecece;color:#9a9a9a;background-color:#fff;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; float:left;}

.popular-link dd.hover{ }
.popular-link dd.hover .btn-link{background-color:#ffeed4; border:1px solid #c9b799; color:#ad9061;}
.popular-link dd.hover .url{color:#000;border:1px solid #c9b799;}

.email-invitation dt{margin-bottom:4px;}
.email-invitation .user-eamil{margin-bottom:8px;}

.invited-friendslist table th,.invited-friendslist table td{padding:10px 15px;}

/*20170427 */
/*邀请数据*/
.invite-data li{float:left; margin-right:30px;}
.invite-data p{line-height:28px;}
.invite-data span{color:#ababab;}
.invite-data .ico{width: 56px; height:47px; margin-right:8px;}
.invite-data .ico-registration{background-position: 0 -27px;}
.invite-data .ico-order{background-position: -56px -27px;}
.invite-data .ico-commision{background-position: -112px -27px;}

/*Your Monthly Promotion Data*/
.monthly-promotiondata table{width:100%;}
.monthly-promotiondata table th,.monthly-promotiondata table td{font-size:14px; padding:10px 0 10px 12px;}
.monthly-promotiondata .ico{width: 23px; height:21px; margin-right:4px;}
.monthly-promotiondata .ico-coupon{background-position:-266px 0;}
.monthly-promotiondata .ico-commision{background-position:-289px 0;}
.monthly-promotiondata .view-details{position:absolute; right:0; top:10px;}

/*20170703 出货视图*/
.shipment-view li{float: left; width: 60px; height: 60px; border: 1px solid #ddd; margin-right: 10px; margin-bottom: 10px;}
.shipment-view li img{width: 100%;}


/*20180702 等级-钻石*/
.diamond{width: 102px; height: 18px; background: url('../img/hyzs/new/icon_diamond.png') no-repeat 0 0;}
.diamond .icon-diamond{display: block; height: 18px; background: url('../img/hyzs/new/icon_diamond.png') no-repeat 0 -18px;}


/*20190307 dyb 查看进度*/
.view-progress {position: relative;}
.view-progress a{display: block;}
.view-progress-con{position: absolute; left: -50px; top: 16px; z-index:100; width:450px; max-height: 500px; overflow-y:scroll; padding: 15px 0 20px 30px; background-color: #fff; border: 1px solid #ddd; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.view-progress-list .item{position: relative; border-left: 2px solid #ddd; padding-left: 10px; padding-bottom: 6px;}
.view-progress-list i{display:block; position: absolute; top: 1px; left:-8px; width: 14px; height: 14px; background-color: #ddd;  -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
.view-progress-list .status-start{background-color: #008a00;}
.view-progress-list .status-success{background: url("/img/img/hyzs/new/icon_statusok.png") no-repeat 0 0 #fff; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.view-progress-list span{min-height: 20px;margin-left:10px; text-align: left; display: block;margin-bottom: 0px;border:0;}
.view-progress-list .title{border-left: 0;}
.view-progress-list .title span{font-size: 14px; font-weight: 700;}
.view-progress .process{width: 53%;float:left;}
.view-progress .starting-time{width: 42%;float:left;}



@media screen and (max-width:750px) {   
.linebox_fixed{position:relative!important}
.col-right-buyer{float:none}
.add-item{ word-wrap: break-word;word-break: normal;}
.add-item-c .add-info,.add-item-l{border:0}
.address h3 a{margin:30px 0;display:block;float:none!important}
.col-right-buyer .add-item > ul li:nth-of-type(3) {width: 14%;margin-left: -9%;}
 } 
