@import '../common/base.less';

.certification {
  .head-text {
    width: 100%;
    height: 300px;
    background: rgba(0, 129, 210, 1);
    text-align: center;

    .t1 {
      padding-top: 75px;
      font-size: 38px;
      color: #ffffff;
      margin-bottom: 12px;
    }

    .t2 {
      font-size: 16px;
      color: #ffffff;
    }
  }

  .section {

  }
}

