@import '../common/base.less';

.factory-banner {
    height: 300px;
    background: url('../../images/factory/bb.png') no-repeat center;
    background-size: cover;
    min-width: 1180px;
    display: table;
    width: 100%;

    .txt {
        vertical-align: middle;
        text-align: center;
        display: table-cell;

        .t1 {
            font-size: 26px;
            color: #ffffff;
            font-weight: bold;
            margin-bottom: 12px;
        }

        .t2 {
            font-size: 16px;
            color: #ffffff;
        }
    }
}

.processshow-ad {
  width: 100%;
  height: 120px;
  background: url("../../images/factory/hh.png") no-repeat center;
  background-size: cover;
}

.processshow {
  background: #f2f3f7;
  padding-bottom: 30px;

  .processshow-wrap {
    background: #FFFFFF;
    padding: 30px 0;

    .processshow-btn {
      padding: 5px 20px;
      color: #fff;
      background: #0081D2;
      text-align: center;
      display: inline-block;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 20px;
    }

    .processshow-table {
      width: 1120px;
      margin: 0 auto;
      border-collapse: collapse;
      font-size: 14px;

      tr {
        th {
          border: 1px solid #767676;
          background-color: #767676;
          color: #fff;
          padding: 8px 20px;
          text-align: left;
        }

        td {
          padding: 15px 20px;
          border: 1px solid #e7e7e7;
          color: #333;
          font-size: 14px;
          line-height: 25px;

          .t {
            margin-bottom: 5px;
          }

          &.bold {
            font-weight: bold;
            background-color: #f2f3f7;
          }
        }
      }
    }
  }
}