html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  font-family: sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  border: none;
}
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul,
dl {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
a {
  text-decoration: none;
  transition: color 0.2s ease;
}
img {
  border: none;
}
em {
  font-style: normal;
}
.clr {
  zoom: 1;
}
.clr:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.i-hide {
  display: none;
}
.i-show {
  display: block;
}
.lineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
}
.lbBox {
  font-size: 0 !important;
  *word-spacing: -1px !important;
}
.emptys {
  margin-left: -1px;
  width: 1px;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
label,
dd,
dd,
dt {
  font-weight: normal;
}
.boxsiz {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a:hover,
a:focus {
  text-decoration: none;
}
html,
body {
  width: 100%;
}
body {
  min-width: 1280px;
}
.width-1280 {
  width: 1280px;
  margin: 0 auto;
}
.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.pcbbuy-head {
  height: 60px;
  background: #ffffff;
}
.pcbbuy-head .l {
  height: 60px;
}
.pcbbuy-head .l .logo {
  width: 384px;
  height: 33px;
}
.pcbbuy-head .l .logo img {
  width: 384px;
  height: 33px;
}
.pcbbuy-head .l .text {
  margin-left: 80px;
}
.pcbbuy-head .l .text .t1 {
  font-size: 11px;
  color: #666666;
  margin-bottom: 3px;
}
.pcbbuy-head .l .text .t2 {
  font-size: 11px;
  color: #666666;
}
.pcbbuy-head .r {
  height: 60px;
}
.pcbbuy-head .r .text .t1 {
  margin-bottom: 3px;
}
.pcbbuy-head .r .text .t1 .iconfont {
  font-size: 12px;
  color: #222222;
}
.pcbbuy-head .r .text .t1 span {
  font-size: 12px;
  color: #222222;
  font-weight: bold;
  margin-left: 3px;
}
.pcbbuy-head .r .text .t2 {
  font-size: 11px;
  color: #666666;
}
.pcbbuy-head .r .car-bar {
  margin-left: 60px;
}
.pcbbuy-head .r .car-bar .iconfont {
  font-size: 19px;
  color: #ed3400;
}
.pcbbuy-head .r .car-bar span {
  font-size: 12px;
  color: #222222;
  margin-left: 3px;
  margin-right: 3px;
}
.pcbbuy-head .r .car-bar em {
  font-size: 12px;
  color: #ed3400;
}
.pcbbuy-head .r .login-bar {
  margin-left: 19px;
}
.pcbbuy-head .r .login-bar .iconfont {
  font-size: 19px;
  color: #1180c9;
  margin-right: 3px;
}
.pcbbuy-head .r .login-bar a {
  font-size: 12px;
  color: #1180c9;
  vertical-align: middle;
  font-weight: bold;
}
.pcbbuy-head .r .login-bar em {
  font-size: 12px;
  color: #222222;
  vertical-align: middle;
  margin: 0 7px;
}
.pcbbuy-nav {
  height: 40px;
  background: #1360A7;
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.pcbbuy-nav .box {
  height: 40px;
}
.pcbbuy-nav .box a {
  position: relative;
  font-size: 14px;
  color: #FFFFFF;
  vertical-align: middle;
  opacity: 0.7;
  margin-right: 60px;
}
.pcbbuy-nav .box a.curr {
  font-weight: bold;
  opacity: 1;
}
.pcbbuy-nav .box a.curr:after {
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  width: 80%;
  height: 3px;
  background: #FFFFFF;
  border-radius: 2px;
  margin: 0 auto;
  content: '';
}
.pcbbuy-footer {
  width: 100%;
}
.pcbbuy-footer .footer-top {
  background: #09223C;
  border-radius: 1px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.pcbbuy-footer .footer-top .l img {
  width: 157px;
  height: 33px;
}
.pcbbuy-footer .footer-top .l .t1 {
  font-size: 12px;
  color: #1180c9;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 10px;
}
.pcbbuy-footer .footer-top .l .t2 {
  font-size: 10px;
  color: #ffffff;
  width: 359px;
  line-height: 14px;
  opacity: 0.6;
}
.pcbbuy-footer .footer-top .r {
  padding-top: 40px;
}
.pcbbuy-footer .footer-top .r dl {
  vertical-align: top;
  margin-right: 150px;
}
.pcbbuy-footer .footer-top .r dl dt {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 15px;
}
.pcbbuy-footer .footer-top .r dl dd {
  margin-bottom: 15px;
}
.pcbbuy-footer .footer-top .r dl dd a {
  font-size: 14px;
  color: #ffffff;
  opacity: 0.6;
}
.pcbbuy-footer .footer-bottom {
  border-top: 1px solid #17395D;
  height: 69px;
  background: #04192F;
  border-radius: 1px;
}
.pcbbuy-footer .footer-bottom .l {
  height: 69px;
}
.pcbbuy-footer .footer-bottom .r {
  height: 69px;
}
.pcbbuy-footer .footer-bottom span {
  font-size: 10px;
  color: #ffffff;
}
.pcbbuy-footer .footer-bottom .im1 {
  width: 181px;
  height: 38px;
  margin-left: 8px;
}
.pcbbuy-footer .footer-bottom .im2 {
  width: 418px;
  height: 25px;
  margin-left: 4px;
}
.layui-layer-title {
  color: #222222 !important;
  font-size: 16px !important;
  font-weight: bold !important;
}
.pcbbuy-footer-top {
  padding: 33px 0;
  background: #F1F9FF;
}
.pcbbuy-footer-top ul {
  white-space: nowrap;
}
.pcbbuy-footer-top ul li {
  width: 25%;
  text-align: center;
  border-right: 1px solid #D7E8F5;
}
.pcbbuy-footer-top ul li:last-child {
  border-right: none;
}
.pcbbuy-footer-top ul li i {
  width: 66px;
  height: 66px;
  background-image: url("../../images/icn.png");
  background-repeat: no-repeat;
}
.pcbbuy-footer-top ul li .i-1 {
  background-position: 0 -76px;
}
.pcbbuy-footer-top ul li .i-2 {
  background-position: -69px -76px;
}
.pcbbuy-footer-top ul li .i-3 {
  background-position: -139px -77px;
}
.pcbbuy-footer-top ul li .i-4 {
  background-position: -208px -80px;
}
.pcbbuy-footer-top ul li .text {
  text-align: left;
  margin-left: 15px;
}
.pcbbuy-footer-top ul li .text .t1 {
  font-size: 24px;
  color: #1180c9;
  font-weight: bold;
}
.pcbbuy-footer-top ul li .text .t2 {
  margin-top: 5px;
  font-size: 14px;
  color: #222222;
  font-weight: bold;
}
.pcbbuy-tip {
  height: 38px;
  background: #E6F7FF;
  border: 1px solid #91D5FF;
  padding: 0 16px;
}
.pcbbuy-tip .l {
  height: 38px;
}
.pcbbuy-tip .l .iconfont {
  font-size: 14px;
  color: #1890ff;
}
.pcbbuy-tip .l span {
  font-size: 14px;
  color: #222222;
  margin-left: 8px;
}
.pcbbuy-tip .r {
  height: 38px;
}
.pcbbuy-tip .r .iconfont {
  font-size: 12px;
  color: #8a9499;
  cursor: pointer;
}
.layui-layer {
  border-radius: 6px !important;
}
.layui-layer-title {
  border-radius: 6px 6px 0 0 !important;
  background: transparent !important;
}
.layui-layer-page .layui-layer-content {
  height: auto !important;
  overflow: hidden;
}
.layer-footer {
  text-align: right;
  padding: 12px 20px 12px 0;
  background: #F8F8F8;
  box-shadow: 0px 1px 0px 0px #DDDDDD;
  border-radius: 0px 0px 6px 6px;
  border-top: 1px solid #DDDDDD;
}
.layer-footer .btn1 {
  width: 67px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  font-size: 14px;
  color: #222222;
  margin-right: 15px;
}
.layer-footer .btn2 {
  min-width: 70px;
  padding: 0 12px;
  height: 30px;
  background: #1180C9;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
.circle {
  position: relative;
  width: 14px;
  height: 14px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
}
.circle.act {
  border: 1px solid #1180C9;
}
.circle.act span {
  position: absolute;
  left: 0;
  right: 0;
  top: 3px;
  width: 8px;
  height: 8px;
  background: #1180C9;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}
.pcbbuy-car {
  background: #F5F5F5;
  padding: 15px 0 15px 0;
}
.pcbbuy-car .section .title {
  margin-top: 15px;
}
.pcbbuy-car .section .title .l .t1 {
  font-size: 16px;
  color: #222222;
  font-weight: bold;
}
.pcbbuy-car .section .title .r .t1 {
  font-size: 14px;
  color: #666666;
}
.pcbbuy-car .section .title .r .t2 {
  font-size: 14px;
  color: #222222;
}
.pcbbuy-car .section .title .r .iconfont {
  font-size: 16px;
  color: #00aef3;
  margin-left: 6px;
}
.pcbbuy-car .section .tab {
  padding-left: 60px;
  margin-top: 15px;
  border: 1px solid #DDDDDD;
  background: #FFFFFF;
}
.pcbbuy-car .section .tab li {
  float: left;
  height: 48px;
  line-height: 48px;
  border-radius: 1px;
  margin-right: 64px;
  cursor: pointer;
}
.pcbbuy-car .section .tab li span {
  font-size: 14px;
  color: #222222;
  font-weight: bold;
}
.pcbbuy-car .section .tab li em {
  font-size: 14px;
  color: #1180c9;
  margin-left: 1px;
}
.pcbbuy-car .section .tab li.curr span {
  color: #1180c9;
}
.pcbbuy-car .section .list dt {
  border: 1px solid #DDDDDD;
  border-top: none;
  height: 49px;
  line-height: 49px;
  background: #F8F8F8;
  box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
}
.pcbbuy-car .section .list dt span {
  font-size: 14px;
  color: #222222;
}
.pcbbuy-car .section .list dd {
  background: #FFFFFF;
  box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.05);
  border-radius: 1px;
  border: 1px solid #DDDDDD;
  margin-bottom: 15px;
  transition: all 0.2s ease;
}
.pcbbuy-car .section .list dd ul li {
  padding: 20px 0 20px 14px;
  border-bottom: 1px dashed #DDDDDD;
}
.pcbbuy-car .section .list dd ul li:last-child {
  border-bottom: none;
}
.pcbbuy-car .section .list dd ul li .box1 .checkbox {
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #CCCCCC;
  opacity: 0;
}
.pcbbuy-car .section .list dd ul li .box1 .text {
  margin-left: 5px;
}
.pcbbuy-car .section .list dd ul li .box1 .text .p1 {
  margin-bottom: 16px;
}
.pcbbuy-car .section .list dd ul li .box1 .text .p1 .t1 {
  font-size: 14px;
  color: #666666;
}
.pcbbuy-car .section .list dd ul li .box1 .text .p1 .btn {
  margin-left: 5px;
  padding: 0 6px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background: #1180C9;
  border-radius: 2px;
  font-size: 10px;
  color: #ffffff;
}
.pcbbuy-car .section .list dd ul li .box1 .text .p1 .btn1 {
  margin-left: 5px;
  padding: 0 6px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background: #2EB3A2;
  border-radius: 2px;
  font-size: 10px;
  color: #ffffff;
}
.pcbbuy-car .section .list dd ul li .box1 .text .p1 .btn2 {
  margin-left: 5px;
  padding: 0 6px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background: #F38A16;
  border-radius: 2px;
  font-size: 10px;
  color: #ffffff;
}
.pcbbuy-car .section .list dd ul li .box1 .text .p2 {
  font-size: 14px;
  color: #222222;
  margin-bottom: 13px;
}
.pcbbuy-car .section .list dd ul li .box1 .text .p3 .t1 {
  font-size: 14px;
  color: #222222;
}
.pcbbuy-car .section .list dd ul li .box1 .text .p3 .iconiconcenterorderziliao {
  font-size: 14px;
  color: #1180c9;
  margin-left: 4px;
  cursor: pointer;
}
.pcbbuy-car .section .list dd ul li .box1 .text .p3 .iconiconcenterorderziliaobeifen {
  font-size: 14px;
  color: #222222;
  margin-left: 4px;
  cursor: pointer;
}
.pcbbuy-car .section .list dd ul li .box2 .error {
  font-size: 12px;
  color: #ed3400;
  margin-bottom: 14px;
}
.pcbbuy-car .section .list dd ul li .box2 .p1 {
  width: 110px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  margin: 0 auto 18px;
  cursor: pointer;
}
.pcbbuy-car .section .list dd ul li .box2 .p1 .iconfont {
  font-size: 16px;
  color: #222222;
}
.pcbbuy-car .section .list dd ul li .box2 .p1 span {
  font-size: 10px;
  color: #222222;
  margin-left: 2px;
}
.pcbbuy-car .section .list dd ul li .box2 .filename {
  font-size: 11px;
  color: #666666;
  white-space: nowrap;
}
.pcbbuy-car .section .list dd ul li .box2 .filename em {
  font-size: 11px;
  color: #24b268;
}
.pcbbuy-car .section .list dd ul li .box2 .tip .iconfont {
  font-size: 12px;
  color: #ed3400;
}
.pcbbuy-car .section .list dd ul li .box2 .tip .tt {
  font-size: 11px;
  color: #ed3400;
  margin-left: 3px;
}
.pcbbuy-car .section .list dd ul li .box2 .tip .more {
  position: relative;
  margin-left: 5px;
  cursor: pointer;
}
.pcbbuy-car .section .list dd ul li .box2 .tip .more span {
  font-size: 11px;
  color: #1180c9;
}
.pcbbuy-car .section .list dd ul li .box2 .tip .more .wrap {
  position: absolute;
  bottom: -91px;
  left: -29px;
  font-size: 12px;
  color: #ed3400;
  width: 268px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #1180C9;
  padding: 14px 12px;
  text-align: left;
  line-height: 17px;
  display: none;
}
.pcbbuy-car .section .list dd ul li .box2 .tip .more .wrap .arrow {
  position: absolute;
  left: 34px;
  top: -9px;
  width: 17px;
  height: 10px;
  background: url("../../images/arrow.png") no-repeat center;
  background-size: cover;
  display: block;
}
.pcbbuy-car .section .list dd ul li .box2 .tip .more:hover .wrap {
  display: block;
}
.pcbbuy-car .section .list dd ul li .box3 .t1 {
  font-size: 14px;
  color: #222222;
  margin-bottom: 16px;
}
.pcbbuy-car .section .list dd ul li .box3 .time1 {
  width: 50px;
  height: 20px;
  margin: 0 auto;
}
.pcbbuy-car .section .list dd ul li .box3 .time1 span {
  width: 24px;
  height: 18px;
  font-size: 12px;
  color: #ed3400;
  border: 1px solid #ED3400;
  border-right: none;
  border-radius: 3px 0px 0px 3px;
  text-align: center;
  line-height: 18px;
}
.pcbbuy-car .section .list dd ul li .box3 .time1 em {
  width: 25px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #ED3400;
  border-radius: 0px 3px 3px 0px;
  font-size: 12px;
  color: #ffffff;
}
.pcbbuy-car .section .list dd ul li .box3 .time2 {
  width: 50px;
  height: 20px;
  margin: 0 auto;
}
.pcbbuy-car .section .list dd ul li .box3 .time2 span {
  width: 24px;
  height: 18px;
  font-size: 12px;
  color: #F38A16;
  border: 1px solid #F38A16;
  border-right: none;
  border-radius: 3px 0px 0px 3px;
  text-align: center;
  line-height: 18px;
}
.pcbbuy-car .section .list dd ul li .box3 .time2 em {
  width: 25px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #F38A16;
  border-radius: 0px 3px 3px 0px;
  font-size: 12px;
  color: #ffffff;
}
.pcbbuy-car .section .list dd ul li .box3 .time3 {
  width: 50px;
  height: 20px;
  margin: 0 auto;
}
.pcbbuy-car .section .list dd ul li .box3 .time3 span {
  width: 24px;
  height: 18px;
  font-size: 12px;
  color: #1180C9;
  border: 1px solid #1180C9;
  border-right: none;
  border-radius: 3px 0px 0px 3px;
  text-align: center;
  line-height: 18px;
}
.pcbbuy-car .section .list dd ul li .box3 .time3 em {
  width: 25px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #1180C9;
  border-radius: 0px 3px 3px 0px;
  font-size: 12px;
  color: #ffffff;
}
.pcbbuy-car .section .list dd ul li .box4 .t1 span {
  font-size: 14px;
  color: #222222;
  font-weight: bold;
}
.pcbbuy-car .section .list dd ul li .box4 .t1 em {
  font-size: 12px;
  color: #999999;
  margin-left: 2px;
}
.pcbbuy-car .section .list dd ul li .box5 .btn {
  width: 80px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  display: block;
  margin: 0 auto 13px;
}
.pcbbuy-car .section .list dd ul li .box5 .btn .iconfont {
  font-size: 13px;
  color: #222222;
}
.pcbbuy-car .section .list dd ul li .box5 .btn span {
  font-size: 10px;
  color: #222222;
  margin-left: 5px;
}
.pcbbuy-car .section .list dd ul li .box5 .t1 {
  font-size: 14px;
  color: #666666;
  margin-bottom: 15px;
}
.pcbbuy-car .section .list dd ul li .box5 .t2 .iconfont {
  font-size: 16px;
  color: #525252;
  cursor: pointer;
}
.pcbbuy-car .section .list dd ul li .box5 .t2 span {
  margin-left: 2px;
  font-size: 14px;
  color: #222222;
}
.pcbbuy-car .section .list dd ul li:first-child .checkbox {
  opacity: 1;
}
.pcbbuy-car .section .list dd:hover {
  border: 1px solid #1180C9;
}
.pcbbuy-car .section .checkall {
  height: 58px;
  background: #FFFFFF;
  box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #DDDDDD;
}
.pcbbuy-car .section .checkall .l {
  height: 58px;
  padding-left: 15px;
}
.pcbbuy-car .section .checkall .l .checkbox {
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #CCCCCC;
}
.pcbbuy-car .section .checkall .l .t1 {
  font-size: 14px;
  color: #222222;
}
.pcbbuy-car .section .checkall .l .text {
  margin-left: 20px;
  font-size: 14px;
  color: #222222;
}
.pcbbuy-car .section .checkall .l .text em {
  color: #ed3400;
}
.pcbbuy-car .section .checkall .r {
  height: 58px;
}
.pcbbuy-car .section .checkall .r .t1 {
  font-size: 14px;
  color: #222222;
}
.pcbbuy-car .section .checkall .r .t2 {
  font-size: 14px;
  color: #ed3400;
  font-weight: bold;
}
.pcbbuy-car .section .checkall .r .t3 {
  font-size: 20px;
  color: #ed3400;
  font-weight: bold;
}
.pcbbuy-car .section .checkall .r .btn {
  width: 206px;
  height: 58px;
  background: #1180C9;
  line-height: 58px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 25px;
}
.pcbbuy-car .section .ad {
  margin-top: 25px;
  width: 1280px;
  height: 120px;
}
.pcbbuy-car .section .ad img {
  width: 1280px;
  height: 120px;
}
.changeOrderParamLayer .box {
  padding: 20px 20px 0 20px;
}
.changeOrderParamLayer .box .pcb-block {
  margin-bottom: 20px;
}
.changeOrderParamLayer .box .pcb-block .label-box {
  width: 186px;
  text-align: right;
  margin-right: 10px;
}
.changeOrderParamLayer .box .pcb-block .label-box label {
  white-space: nowrap;
  font-size: 14px;
  color: #666666;
}
.changeOrderParamLayer .box .pcb-block .label-box .tip {
  margin-left: 5px;
}
.changeOrderParamLayer .box .pcb-block .label-box .tip .icn {
  width: 18px;
  height: 18px;
  background: url("../../images/wen.png") no-repeat center;
  background-size: cover;
  display: block;
}
.changeOrderParamLayer .box .pcb-block .pcb-block-inline {
  max-width: 604px;
}
.changeOrderParamLayer .box .pcb-block .pcb-block-inline li {
  float: left;
  padding: 0 15px;
  height: 33px;
  line-height: 33px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  margin-right: 10px;
  font-size: 14px;
  color: #222222;
  cursor: pointer;
}
.changeOrderParamLayer .box .pcb-block .pcb-block-inline li.color {
  padding: 0 10px;
}
.changeOrderParamLayer .box .pcb-block .pcb-block-inline li.color span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.changeOrderParamLayer .box .pcb-block .pcb-block-inline li.color em {
  color: #222222;
  font-size: 14px;
}
.changeOrderParamLayer .box .pcb-block .pcb-block-inline li.curr {
  padding: 0 14px;
  height: 31px;
  line-height: 31px;
  background: #E7F2FA;
  border: 2px solid #1180C9;
  color: #1180c9;
}
.changeOrderParamLayer .box .pcb-block .input-box {
  width: 210px;
  height: 33px;
  border: 1px solid #DDDDDD;
  white-space: nowrap;
}
.changeOrderParamLayer .box .pcb-block .input-box input {
  width: 177px;
  font-size: 14px;
  color: #222222;
  text-indent: 9px;
}
.changeOrderParamLayer .box .pcb-block .input-box span {
  width: 32px;
  height: 33px;
  background: #F1F2F7;
  border-left: 1px solid #DDDDDD;
  font-size: 12px;
  color: #666666;
  text-align: center;
  line-height: 33px;
}
.changeOrderParamLayer .box .pcb-block .text {
  margin-left: 10px;
  font-size: 14px;
  color: #999999;
}
.changeOrderParamLayer .price {
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: right;
}
.changeOrderParamLayer .price span {
  font-size: 14px;
  color: #222222;
}
.changeOrderParamLayer .price em {
  font-size: 16px;
  color: #ed3400;
  font-weight: bold;
  margin-left: 2px;
}
.link-pcb-layer .box {
  padding: 15px 15px 20px 15px;
}
.link-pcb-layer .box .search {
  text-align: center;
}
.link-pcb-layer .box .search .inp {
  width: 435px;
  height: 33px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-right: none;
  font-size: 14px;
  text-indent: 8px;
}
.link-pcb-layer .box .search .inp::-webkit-input-placeholder {
  color: #cccccc;
}
.link-pcb-layer .box .search .sear-btn {
  width: 65px;
  height: 35px;
  background: #1180C9;
  font-size: 14px;
  color: #ffffff;
}
.link-pcb-layer .box .list {
  margin-top: 15px;
  width: 870px;
  background: #F8F8F8;
  border: 1px solid #DDDDDD;
}
.link-pcb-layer .box .list tr th {
  height: 40px;
  background: #F8F8F8;
  border-bottom: 1px solid #DDDDDD;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  color: #222222;
}
.link-pcb-layer .box .list tr td {
  height: 40px;
  background: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  text-align: center;
  font-size: 14px;
  color: #222222;
}
.link-pcb-layer .box .list tr td .circle {
  margin-right: 36px;
}
.detail-layer .box {
  padding: 15px;
}
.detail-layer .box .tit {
  font-size: 16px;
  color: #222222;
  font-weight: bold;
  margin-bottom: 10px;
}
.detail-layer .box .list {
  width: 870px;
}
.detail-layer .box .list tr td {
  width: 217px;
  border: 1px solid #E8EAEC;
  padding: 12px 0 12px 12px;
  color: #222222;
  font-size: 12px;
}
.detail-layer .box .list tr td.color1 {
  background: #F8F8F8;
}
.detail-layer .box .list tr td.color2 {
  color: #ed3400;
}
.upload-layer .box {
  padding: 10px 15px 30px 15px;
}
.upload-layer .box .upload-tip {
  width: 868px;
  height: 38px;
  background: #FFFBE6;
  border-radius: 4px;
  border: 1px solid #FFE58F;
}
.upload-layer .box .upload-tip .l {
  height: 38px;
  padding-left: 16px;
}
.upload-layer .box .upload-tip .l .iconfont {
  font-size: 14px;
  color: #faad14;
}
.upload-layer .box .upload-tip .l span {
  font-size: 14px;
  color: #222222;
  margin-left: 8px;
}
.upload-layer .box .upload-tip .r {
  padding-right: 16px;
  height: 38px;
}
.upload-layer .box .upload-tip .r .iconfont {
  font-size: 14px;
  color: #8a9499;
  cursor: pointer;
}
.upload-layer .box .t1 {
  font-size: 16px;
  color: #222222;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}
.upload-layer .box .t2 {
  font-size: 14px;
  color: #666666;
  margin-bottom: 10px;
}
.upload-layer .box .t3 {
  font-size: 14px;
  color: #666666;
  margin-bottom: 15px;
}
.upload-layer .box .tab {
  width: 868px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
}
.upload-layer .box .tab li {
  cursor: pointer;
  margin-right: 40px;
  height: 38px;
}
.upload-layer .box .tab li:first-child {
  margin-left: 10px;
}
.upload-layer .box .text-btn {
  margin-top: 15px;
}
.upload-layer .box .text-btn .btn {
  width: 95px;
  height: 33px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  line-height: 33px;
  text-align: center;
}
.upload-layer .box .text-btn .btn .iconfont {
  font-size: 16px;
  color: #222222;
}
.upload-layer .box .text-btn .btn span {
  font-size: 14px;
  color: #222222;
}
.upload-layer .box .text-btn .txt {
  font-size: 14px;
  color: #999999;
  margin: 15px;
}
/*# sourceMappingURL=index.css.map */