html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  font-family: sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  border: none;
}
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul,
dl {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
a {
  text-decoration: none;
  transition: color 0.2s ease;
}
img {
  border: none;
}
em {
  font-style: normal;
}
.clr {
  zoom: 1;
}
.clr:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.i-hide {
  display: none;
}
.i-show {
  display: block;
}
.lineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
}
.lbBox {
  font-size: 0 !important;
  *word-spacing: -1px !important;
}
.emptys {
  margin-left: -1px;
  width: 1px;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
label,
dd,
dd,
dt {
  font-weight: normal;
}
.boxsiz {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a:hover,
a:focus {
  text-decoration: none;
}
html,
body {
  width: 100%;
  min-width: 1360px;
}
body {
  min-width: 1180px;
}
.width-1180 {
  width: 1180px;
  margin: 0 auto;
}
.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mr24 {
  margin-right: 24px;
}
.mr26 {
  margin-right: 26px;
}
.mr20 {
  margin-right: 20px;
}
.ml56 {
  margin-left: 56px;
}
.mb20 {
  margin-bottom: 20px;
}
.pcb-head {
  width: 100%;
  height: 70px;
}
.pcb-head .pcb-head-wrap {
  height: 100%;
}
.pcb-head .pcb-head-wrap .l {
  height: 100%;
}
.pcb-head .pcb-head-wrap .l .t1 {
  font-size: 13px;
  color: #5c5f66;
  font-weight: 600;
  margin-left: 20px;
}
.pcb-head .pcb-head-wrap .r {
  height: 100%;
}
.pcb-head .pcb-head-wrap .r .t1 em {
  font-size: 12px;
  color: #959ba6;
}
.pcb-head .pcb-head-wrap .r .t1 .iconfont {
  color: #0081d2;
  font-size: 20px;
  cursor: pointer;
}
.pcb-head .pcb-head-wrap .r .t1 span {
  font-size: 12px;
  color: #737780;
}
.pcb-head .pcb-head-wrap .r .t2 em {
  font-size: 12px;
  color: #959ba6;
}
.pcb-head .pcb-head-wrap .r .t2 span {
  font-size: 12px;
  color: #5c5f66;
  font-weight: bold;
}
.pcb-footer {
  padding: 30px 0;
  border-top: 1px solid #E6EAF2;
}
.pcb-footer .pcb-footer-top .l ul {
  border-right: 1px dashed #E6EAF2;
  padding-right: 86px;
}
.pcb-footer .pcb-footer-top .l ul li {
  float: left;
  margin-right: 90px;
}
.pcb-footer .pcb-footer-top .l ul li a {
  margin-bottom: 10px;
  font-size: 14px;
  color: #5c5f66;
  display: block;
}
.pcb-footer .pcb-footer-top .l ul li a:hover {
  color: #0081d2;
}
.pcb-footer .pcb-footer-top .l ul li a:first-child {
  margin-bottom: 12px;
  color: #3a3c40;
  font-weight: bold;
}
.pcb-footer .pcb-footer-top .l ul li:last-child {
  margin-right: 0;
}
.pcb-footer .pcb-footer-top .r {
  padding-left: 60px;
}
.pcb-footer .pcb-footer-top .r .t1 {
  font-size: 14px;
  color: #5c5f66;
  margin-bottom: 3px;
}
.pcb-footer .pcb-footer-top .r .t2 {
  font-size: 20px;
  color: #3a3c40;
  font-weight: bold;
  margin-bottom: 20px;
}
.pcb-footer .pcb-footer-top .r .t3 {
  font-size: 14px;
  color: #5c5f66;
  margin-bottom: 4px;
}
.pcb-footer .pcb-footer-top .r .t4 {
  font-size: 14px;
  color: #5c5f66;
}
.pcb-footer .pcb-footer-top .r .code-pic {
  padding-left: 47px;
}
.pcb-footer .pcb-footer-top .r .code-pic img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
}
.pcb-footer .pcb-footer-top .r .code-pic p {
  font-size: 12px;
  color: #959ba6;
  text-align: center;
}
.pcb-footer .pcb-footer-bottom {
  border-top: 1px solid #E6EAF2;
  padding-top: 20px;
  margin-top: 10px;
}
.pcb-footer .pcb-footer-bottom .l .text {
  width: 504px;
  margin-right: 97px;
}
.pcb-footer .pcb-footer-bottom .l .text p {
  font-size: 12px;
  color: #959ba6;
}
.pcb-footer .pcb-footer-bottom .l .text p.t1 {
  margin-bottom: 8px;
}
.pcb-footer .pcb-footer-bottom .l .pic p {
  font-size: 12px;
  color: #959ba6;
  margin-bottom: 12px;
}
.pcb-footer .pcb-footer-bottom .l .pic img {
  width: 120px;
  height: 40px;
  margin-right: 20px;
}
.pcb-footer .pcb-footer-bottom .r p {
  font-size: 12px;
  color: #959ba6;
}
.pcb-footer .pcb-footer-bottom .r .pic img {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}
.sldie-bar {
  position: fixed;
  right: 5px;
  bottom: 100px;
  width: 48px;
  z-index: 999;
  display: none;
}
.sldie-bar dl {
  width: 48px;
}
.sldie-bar dl dd {
  width: 48px;
  height: 50px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 2px 24px 0px rgba(230, 234, 242, 0.5);
}
.sldie-bar dl dd:hover {
  background-color: #E6EAF2;
}
.sldie-bar dl dd a {
  height: 50px;
  display: block;
  text-align: center;
}
.sldie-bar dl dd a.phone-a {
  position: relative;
}
.sldie-bar dl dd a.phone-a:hover .phone-div {
  display: block;
}
.sldie-bar dl dd a.phone-a .phone-div {
  text-align: left;
  position: absolute;
  height: 185px;
  width: 200px;
  box-shadow: 0px 2px 24px 0px rgba(230, 234, 242, 0.5);
  background-color: #fff;
  z-index: 99;
  padding: 8px 0;
  box-sizing: border-box;
  top: 0;
  left: -215px;
  display: none;
}
.sldie-bar dl dd a.phone-a .phone-div .item {
  padding: 12px 0 0 20px;
}
.sldie-bar dl dd a.phone-a .phone-div .item h3 {
  font-size: 12px;
  color: #959BA6;
}
.sldie-bar dl dd a.phone-a .phone-div .item p {
  font-size: 14px;
  color: #3A3C40;
  padding-top: 4px;
}
.sldie-bar dl dd a.ewm-a {
  position: relative;
}
.sldie-bar dl dd a.ewm-a:hover .ewm-div {
  display: block;
}
.sldie-bar dl dd a.ewm-a .ewm-div {
  position: absolute;
  height: 225px;
  width: 200px;
  box-shadow: 0px 2px 24px 0px rgba(230, 234, 242, 0.5);
  background-color: #fff;
  z-index: 99;
  top: 0;
  left: -215px;
  display: none;
  box-sizing: border-box;
  padding-top: 20px;
}
.sldie-bar dl dd a.ewm-a .ewm-div img {
  width: 160px;
  height: 160px;
}
.sldie-bar dl dd a.ewm-a .ewm-div p {
  font-size: 12px;
  color: #959BA6;
  margin-top: 8px;
}
.sldie-bar dl dd a .icon {
  height: 40px;
  width: 40px;
  margin: 5px 4px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sldie-bar dl dd a .icon.car-icon {
  background-image: url('../../images/common/slide1.png');
}
.sldie-bar dl dd a .icon.message-icon {
  background-image: url('../../images/common/slide2.png');
}
.sldie-bar dl dd a .icon.jsq-icon {
  background-image: url('../../images/common/slide3.png');
}
.sldie-bar dl dd a .icon.ewm-icon {
  background-image: url('../../images/common/slide4.png');
}
.sldie-bar dl dd a .icon.edit-icon {
  background-image: url('../../images/common/slide5.png');
}
.sldie-bar dl dd a .circle {
  position: absolute;
  right: 0;
  top: -4px;
  min-width: 10px;
  height: 16px;
  background: #E82121;
  border-radius: 8px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  padding: 0 3px;
  z-index: 99;
}
.sldie-bar dl dt {
  width: 48px;
  height: 48px;
  margin-top: 10px;
  background: #737780;
}
.sldie-bar dl dt a {
  height: 48px;
  display: block;
  text-align: center;
  line-height: 48px;
}
.sldie-bar dl dt a .iconfont {
  font-size: 40px;
  color: #fff;
}
.home {
  height: 48px;
  background: #0081D2;
}
.home .nav-wrap {
  height: 48px;
}
.home .nav-wrap .nav li {
  position: relative;
  float: left;
  height: 48px;
  line-height: 48px;
  margin-right: 40px;
  white-space: nowrap;
  transition: all 0.2s ease;
}
.home .nav-wrap .nav li.curr:after {
  position: absolute;
  left: 0;
  bottom: 1px;
  background: #FFFFFF;
  width: 100%;
  height: 3px;
  content: '';
}
.home .nav-wrap .nav li a.link {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
}
.home .nav-wrap .nav li .iconzujiantubiaojiantou1 {
  font-size: 14px;
  color: #FFFFFF;
}
.home .nav-wrap .nav li dl {
  position: absolute;
  bottom: -74px;
  width: 100%;
  left: 0;
  background: #0081D2;
  z-index: 99999999;
  display: none;
}
.home .nav-wrap .nav li dl dd {
  text-align: center;
  height: 37px;
  line-height: 37px;
  transition: all 0.2s ease;
}
.home .nav-wrap .nav li dl dd:hover {
  background: #0090EB;
}
.home .nav-wrap .nav li dl dd a {
  font-size: 14px;
  color: #ffffff;
}
.home .nav-wrap .nav li.curr a,
.home .nav-wrap .nav li:hover a {
  color: #FFFFFF;
}
.home .nav-wrap .nav li:hover:after {
  position: absolute;
  left: 0;
  bottom: 1px;
  background: #FFFFFF;
  width: 100%;
  height: 3px;
  content: '';
}
.home .nav-wrap .nav li:hover dl {
  display: block;
}
.home .nav-wrap .login-bar {
  height: 100%;
  white-space: nowrap;
}
.home .nav-wrap .login-bar .logged {
  height: 100%;
  padding: 0 20px;
  vertical-align: top;
}
.home .nav-wrap .login-bar .logged a:hover {
  color: #0090eb;
}
.home .nav-wrap .login-bar .logged .lg .iconfont {
  font-size: 20px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged .lg span {
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
}
.home .nav-wrap .login-bar .logged .line {
  width: 1px;
  height: 14px;
  background: #E6EAF2;
  color: #e6eaf2;
  margin: 0 5px 0 5px;
}
.home .nav-wrap .login-bar .logged .rg {
  font-size: 14px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged .car {
  margin-left: 30px;
}
.home .nav-wrap .login-bar .logged .car .iconfont {
  font-size: 20px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged .car span {
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
  margin-right: 6px;
}
.home .nav-wrap .login-bar .logged .car .circle {
  min-width: 10px;
  height: 16px;
  background: #E82121;
  border-radius: 8px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  padding: 0 3px;
}
.home .nav-wrap .login-bar .logged-in {
  height: 100%;
  vertical-align: top;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar {
  position: relative;
  text-align: center;
  cursor: pointer;
  height: 100%;
  padding: 0 10px;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar ul {
  position: absolute;
  bottom: -74px;
  width: 100%;
  left: 0;
  background: #0081D2;
  z-index: 99999999;
  display: none;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar ul li {
  height: 37px;
  line-height: 37px;
  transition: all 0.2s ease;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar ul li:hover {
  background: #0090EB;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar ul li a {
  font-size: 14px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar .iconzujiantubiaojiantou9 {
  font-size: 20px;
  color: #FFFFFF;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar .iconzujiantubiaojiantou1 {
  font-size: 14px;
  color: #FFFFFF;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar .tel {
  font-weight: bold;
  padding: 0 5px;
  font-size: 14px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar:hover {
  background: #0090EB;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar:hover ul {
  display: block;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar:hover .iconzujiantubiaojiantou1:before {
  content: "\e628";
}
.home .nav-wrap .login-bar .logged-in .car {
  height: 100%;
  padding: 0 10px;
}
.home .nav-wrap .login-bar .logged-in .car .iconfont {
  font-size: 20px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged-in .car span {
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
  margin-right: 6px;
}
.home .nav-wrap .login-bar .logged-in .car .circle {
  min-width: 10px;
  height: 16px;
  background: #E82121;
  border-radius: 8px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  padding: 0 3px;
}
.home .nav-wrap .login-bar .logged-in .car:hover {
  background: #0090EB;
}
.layui-layer-setwin {
  right: 36px !important;
  top: 19px !important;
}
.layui-layer-title {
  font-size: 13px !important;
  font-weight: bold !important;
  background: #ffffff !important;
  height: auto !important;
  line-height: 21px !important;
  padding: 10px 0 15px 0 !important;
  margin: 0 30px;
}
.layui-layer-title span {
  position: relative;
  display: inline-block;
}
.layui-layer-title span:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  text-align: center;
  width: 100%;
  height: 5px;
  background: #0081D2;
  content: "";
  display: inline-block;
}
.layui-layer-page .layui-layer-content {
  height: auto;
  overflow: hidden;
}
.login-layer {
  padding: 50px 60px 40px 60px;
}
.login-layer .inpt {
  position: relative;
  margin-bottom: 20px;
  white-space: nowrap;
}
.login-layer .inpt .iconfont {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 30px;
  color: #e6eaf2;
  margin-top: -17px;
}
.login-layer .inpt .imgCode {
  width: 164px;
  height: 60px;
  text-align: right;
}
.login-layer .inpt .imgCode img {
  width: 120px;
  height: 60px;
}
.login-layer .inpt .inp {
  width: 320px;
  height: 58px;
  line-height: 58px;
  background: #f7f9fc;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
  padding-left: 60px;
  transition: all 0.4s ease;
}
.login-layer .inpt .inp:focus {
  border: 1px solid #0081d2;
  background: #ffffff;
}
.login-layer .inpt .inp::-webkit-input-placeholder {
  color: #959ba6;
}
.login-layer .inpt.error .iconfont {
  color: #e82121;
}
.login-layer .inpt.error .inp {
  border: 1px solid #e82121;
  color: #e82121;
}
.login-layer .inpt.status .iconfont {
  color: #0081d2;
}
.login-layer .btn {
  margin-top: 20px;
}
.login-layer .btn a {
  width: 380px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #0081D2;
  border-radius: 2px;
  display: block;
  font-size: 18px;
  color: #ffffff;
}
.login-layer .login-bar {
  padding-top: 30px;
}
.login-layer .login-bar .l .circle {
  width: 12px;
  height: 12px;
  padding: 3px;
  border-radius: 18px;
  border: 1px solid #C2C7CC;
  position: relative;
  top: -2px;
  cursor: pointer;
}
.login-layer .login-bar .l .circle.act {
  border-color: #0081D2;
}
.login-layer .login-bar .l .circle.act i {
  display: block;
  width: 12px;
  height: 12px;
  background: #0081D2;
  border-radius: 12px;
}
.login-layer .login-bar .l .txt {
  font-size: 14px;
  color: #959ba6;
  margin-left: 6px;
}
.login-layer .login-bar .r a {
  font-size: 14px;
  color: #0081d2;
}
.website-tip {
  text-align: center;
  height: 40px;
  line-height: 40px;
  background: rgba(255, 224, 178, 0.5);
}
.website-tip .tip-wrap {
  position: relative;
}
.website-tip .tip-wrap span {
  font-size: 14px;
  color: #e89721;
}
.website-tip .tip-wrap .iconfont {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
  color: #e89721;
  cursor: pointer;
}
.selects-qty {
  position: absolute;
  left: 0px;
  top: 39px;
  z-index: 9;
  width: 461px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding: 10px 0 16px 18px;
  display: none;
}
.selects-qty .arrow {
  position: absolute;
  left: 21px;
  top: -10px;
  width: 13px;
  height: 11px;
  background: url("../../images/common/ico.png") no-repeat -5px -52px;
  background-color: #fff;
}
.selects-qty dl dd {
  float: left;
  width: 14%;
  margin-bottom: 15px;
  cursor: pointer;
}
.selects-qty dl dd .arr {
  width: 14px;
  height: 13px;
  background: url("../../images/common/ico.png") no-repeat 0 0;
}
.selects-qty dl dd.curr .arr {
  width: 14px;
  height: 13px;
  background: url("../../images/common/ico.png") no-repeat -16px 0;
}
.selects-qty dl dd span {
  font-size: 14px;
  color: #666666;
  margin-left: 5px;
}
.selects-qty .wrap {
  margin-top: 3px;
}
.selects-qty .wrap label {
  font-size: 14px;
  color: #666666;
  margin-right: 13px;
  white-space: nowrap;
}
.selects-qty .wrap .inp {
  width: 158px;
  border: solid 1px #e5e5e5;
}
.selects-qty .wrap .inp::-webkit-outer-spin-button,
.selects-qty .wrap .inp::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
.selects-qty .wrap .inp:focus {
  border: solid 1px #00a0e9;
}
.selects-qty .wrap .btn {
  margin-left: 40px;
}
.selects-qty .wrap .btn a {
  width: 68px;
  height: 30px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.selects-qty .wrap .btn a.ok {
  background-color: #1080d0;
  color: #fefefe;
  margin-right: 10px;
}
.selects-qty .wrap .btn a.canel {
  background-color: #f3f3f3;
  color: #666666;
}
.pcb-ad .indexRightAd {
  position: fixed;
  width: 140px;
  height: 254px;
  bottom: 54px;
  z-index: 101;
}
.pcb-ad .indexRightAd img {
  width: 140px;
  height: 254px;
}
.pcb-ad .indexRightAd.none {
  left: -150px;
}
.pcb-ad .indexRightAd.show {
  left: 10px;
}
.pcb-ad .fast-key {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 120px;
  background: #0860BF;
  z-index: 999;
}
.pcb-ad .fast-key.none {
  display: none;
}
.pcb-ad .fast-key.show {
  display: block;
}
.pcb-ad .fast-key .fast-key-wrap .l {
  position: relative;
  height: 120px;
  white-space: nowrap;
}
.pcb-ad .fast-key .fast-key-wrap .l .pic {
  position: absolute;
  top: -46px;
  left: 0;
  width: 162px;
  height: 146px;
  background: url("../../images/registerPage/b.png") no-repeat center;
  background-size: cover;
}
.pcb-ad .fast-key .fast-key-wrap .l .text {
  margin-left: 191px;
}
.pcb-ad .fast-key .fast-key-wrap .l .text .t1 {
  font-size: 20px;
  color: #f7f9fc;
}
.pcb-ad .fast-key .fast-key-wrap .l .text .t2 {
  font-size: 30px;
  color: #f7f9fc;
  font-weight: bold;
}
.pcb-ad .fast-key .fast-key-wrap .l .text .t2 em {
  font-size: 30px;
  color: #e0c629;
  font-weight: bold;
}
.pcb-ad .fast-key .fast-key-wrap .r {
  position: relative;
  height: 120px;
  white-space: nowrap;
}
.pcb-ad .fast-key .fast-key-wrap .r .iconzujiantubiaojiantou10 {
  position: absolute;
  right: -46px;
  top: 10px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}
.pcb-ad .fast-key .fast-key-wrap .r .input-wrap {
  width: 360px;
  height: 48px;
  border-radius: 2px;
  background: #FFFFFF;
  border: 1px solid #ffffff;
}
.pcb-ad .fast-key .fast-key-wrap .r .input-wrap .iconfont {
  font-size: 30px;
  color: #BBC1CC;
  margin-left: 16px;
  margin-right: 16px;
}
.pcb-ad .fast-key .fast-key-wrap .r .input-wrap input {
  font-size: 14px;
  height: 100%;
  vertical-align: middle;
}
.pcb-ad .fast-key .fast-key-wrap .r .input-wrap input::-webkit-input-placeholder {
  color: #959ba6;
}
.pcb-ad .fast-key .fast-key-wrap .r .btn {
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #e89721;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  margin-left: 20px;
}
.layui-form-checked[lay-skin=primary] i {
  border-color: #0081D2 !important;
  background-color: #0081D2 !important;
}
.car-status {
  background: #F7F9FC;
  height: 100px;
}
.car-status .l {
  height: 100px;
}
.car-status .l p {
  color: #3a3c40;
  font-size: 20px;
}
.car-status .r {
  height: 100px;
}
.car-status .r ul li {
  position: relative;
  width: 123px;
  float: left;
}
.car-status .r ul li p {
  margin-bottom: 7px;
}
.car-status .r ul li p .iconfont {
  color: #bbc1c8;
  font-size: 30px;
}
.car-status .r ul li p span {
  font-size: 14px;
  color: #959ba6;
  margin-left: 5px;
}
.car-status .r ul li .circle {
  width: 13px;
  height: 13px;
  background: #E6EAF2;
  border-radius: 50%;
  margin-left: 10px;
}
.car-status .r ul li .line-0 {
  position: absolute;
  left: 14px;
  top: 45px;
  width: 60px;
  height: 3px;
  background: #E6EAF2;
}
.car-status .r ul li .line-1 {
  position: absolute;
  left: -50px;
  top: 45px;
  width: 60px;
  height: 3px;
  background: #E6EAF2;
}
.car-status .r ul li .line-2 {
  position: absolute;
  left: 22px;
  top: 45px;
  width: 60px;
  height: 3px;
  background: #E6EAF2;
}
.car-status .r ul li.curr p .iconfont {
  color: #ffb74f;
}
.car-status .r ul li.curr p span {
  color: #3a3c40;
  font-weight: bold;
}
.car-status .r ul li.curr .circle {
  background: #E89721;
}
.car-status .r ul li.curr b {
  background: #E89721;
}
.car-section {
  padding-top: 40px;
  background: #fff;
}
.car-section .car-tit .l {
  padding-bottom: 19px;
  border-bottom: 5px solid #0081D2;
}
.car-section .car-tit .l .t1 {
  font-size: 20px;
  color: #3a3c40;
}
.car-section .car-tit .l .circle {
  min-width: 10px;
  height: 16px;
  background: #E82121;
  border-radius: 8px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  padding: 0 3px;
}
.car-section .car-tit .r .t1 {
  font-size: 14px;
  color: #5c5f66;
}
.car-section .car-tit .r .t2 {
  color: #0081d2;
  font-size: 14px;
}
.car-section .car-tit .r .t3 {
  font-size: 14px;
  color: #5c5f66;
  margin-left: 20px;
  margin-right: 10px;
}
.car-section .car-tit .r .t4 {
  font-size: 14px;
  color: #959ba6;
}
.car-section .car-tit .r .iconfont {
  color: #0081d2;
  font-size: 20px;
}
.car-section .car-list {
  width: 1180px;
  margin-top: 20px;
}
.car-section .car-list table {
  width: 1180px;
  border: 1px solid #E6EAF2;
  border-collapse: collapse;
}
.car-section .car-list table tr th {
  height: 60px;
  background: #F7F9FC;
  font-size: 14px;
  color: #5c5f66;
  font-weight: normal;
  text-align: left;
  padding-left: 20px;
}
.car-section .car-list table tr td {
  vertical-align: top;
  padding: 30px 0 30px 20px;
  border-top: 1px solid #E6EAF2;
  border-bottom: 1px solid #E6EAF2;
}
.car-section .car-list table tr td.box1 {
  white-space: nowrap;
}
.car-section .car-list table tr td.box1 .checkedbox {
  width: 30px;
}
.car-section .car-list table tr td.box1 .invalid {
  background: #3A3C40;
  opacity: 0.5;
  border-radius: 2px;
  font-size: 12px;
  color: #ffffff;
  width: 30px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
.car-section .car-list table tr td.box1 .t1 {
  font-size: 16px;
  color: #3a3c40;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.car-section .car-list table tr td.box1 .t2 {
  margin-top: 15px;
  margin-bottom: 7px;
  font-size: 14px;
  color: #5c5f66;
}
.car-section .car-list table tr td.box1 .t2 .t2-1 {
  margin-right: 28px;
}
.car-section .car-list table tr td.box1 .t3 {
  font-size: 14px;
  color: #5c5f66;
}
.car-section .car-list table tr td.box1 .detail {
  font-size: 12px;
  color: #0081d2;
  display: block;
  margin-left: 34px;
  position: relative;
}
.car-section .car-list table tr td.box1 .detail:hover .detail-div {
  display: block;
}
.car-section .car-list table tr td.box1 .detail .detail-div {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  width: 900px;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}
.car-section .car-list table tr td.box1 .detail .detail-div .title {
  background: #3A3C40;
  color: #fff;
  padding: 10px 10px;
  font-size: 12px;
  opacity: 0.5;
}
.car-section .car-list table tr td.box1 .relation {
  margin-top: 7px;
  font-size: 14px;
  color: #0081d2;
  cursor: pointer;
}
.car-section .car-list table tr td.box1 .relation-wrap {
  margin-top: 7px;
}
.car-section .car-list table tr td.box1 .relation-wrap .relation-t1 {
  width: 100px;
  font-size: 14px;
  color: #0081d2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.car-section .car-list table tr td.box1 .relation-wrap .relation-t2 {
  font-size: 14px;
  color: #5c5f66;
  margin-left: 10px;
  cursor: pointer;
}
.car-section .car-list table tr td.box2 p {
  font-size: 14px;
  color: #5c5f66;
  margin-bottom: 5px;
}
.car-section .car-list table tr td.box3 {
  text-align: center;
}
.car-section .car-list table tr td.box3 .upload-input {
  position: relative;
  white-space: nowrap;
  margin-bottom: 8px;
}
.car-section .car-list table tr td.box3 .upload-input .iconfont {
  font-size: 24px;
  color: #0080d4;
  margin-right: 3px;
}
.car-section .car-list table tr td.box3 .upload-input input {
  position: absolute;
  right: 22px;
  top: 5px;
  width: 130px;
  height: 20px;
  opacity: 0;
}
.car-section .car-list table tr td.box3 .upload-input .upload-input-wrap span {
  font-size: 14px;
  color: #0081d2;
  cursor: pointer;
}
.car-section .car-list table tr td.box3 .rlation {
  font-size: 12px;
  color: #959ba6;
}
.car-section .car-list table tr td.box3 .upload-show {
  margin-bottom: 8px;
}
.car-section .car-list table tr td.box3 .upload-show .upload-show-wrap {
  margin-bottom: 2px;
}
.car-section .car-list table tr td.box3 .upload-show .upload-show-wrap .iconfont {
  font-size: 24px;
  color: #e8b46b;
}
.car-section .car-list table tr td.box3 .upload-show .upload-show-wrap .t1 {
  font-size: 14px;
  color: #3a3c40;
  margin-left: 7px;
}
.car-section .car-list table tr td.box3 .upload-show .upload-show-reload .download {
  font-size: 14px;
  color: #0081d2;
  margin-right: 20px;
}
.car-section .car-list table tr td.box3 .upload-show .upload-show-reload .txt {
  position: relative;
}
.car-section .car-list table tr td.box3 .upload-show .upload-show-reload .txt span {
  color: #0081d2;
  font-size: 14px;
}
.car-section .car-list table tr td.box3 .upload-show .upload-show-reload .txt input {
  position: absolute;
  left: -6px;
  top: 2px;
  width: 80px;
  height: 27px;
  opacity: 0;
}
.car-section .car-list table tr td.box3 .uploadbtn {
  cursor: pointer;
}
.car-section .car-list table tr td.box4 {
  font-size: 14px;
  color: #e82121;
  font-weight: bold;
}
.car-section .car-list table tr td.box5 {
  font-size: 14px;
  color: #5C5F66;
  line-height: 20px;
}
.car-section .car-list table tr td.box6 {
  text-align: center;
}
.car-section .car-list table tr td.box6 .btn {
  width: 100px;
  height: 36px;
  background: #0081D2;
  border-radius: 2px;
  display: block;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin: 0 auto 10px;
  transition: all 0.4s ease;
}
.car-section .car-list table tr td.box6 .btn:hover {
  background: #0090eb;
}
.car-section .car-list table tr td.box6 .del {
  width: 100px;
  font-size: 14px;
  color: #5c5f66;
  display: block;
  margin: 0 auto;
}
.car-section .car-list table tr:hover {
  background: #F7F9FC;
}
.car-section .car-list .car-total {
  text-align: center;
  margin: 40px auto 0;
  width: 1190px;
  white-space: nowrap;
  z-index: 1;
}
.car-section .car-list .car-total .l {
  width: 979px;
  height: 66px;
  border: 1px solid #E6EAF2;
  border-right: none;
  background: #F7F9FC;
  padding-left: 20px;
}
.car-section .car-list .car-total .l .ll {
  height: 100%;
}
.car-section .car-list .car-total .l .ll .all {
  font-size: 14px;
  color: #3a3c40;
  margin-left: 10px;
  margin-right: 28px;
  cursor: pointer;
  font-weight: bold;
}
.car-section .car-list .car-total .l .ll .delall {
  font-size: 14px;
  color: #5c5f66;
  cursor: pointer;
}
.car-section .car-list .car-total .l .rr {
  height: 100%;
  margin-right: 60px;
}
.car-section .car-list .car-total .l .rr .t1 {
  font-size: 14px;
  color: #5c5f66;
}
.car-section .car-list .car-total .l .rr .t1 em {
  color: #3a3c40;
  padding: 0 3px;
  font-weight: bold;
}
.car-section .car-list .car-total .l .rr .t2 {
  margin-left: 18px;
  font-size: 14px;
  color: #3a3c40;
}
.car-section .car-list .car-total .l .rr .t3 {
  font-size: 20px;
  color: #e82121;
  font-weight: bold;
}
.car-section .car-list .car-total .r {
  width: 180px;
  height: 68px;
  background: #E82121;
  line-height: 68px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  transition: all 0.4s ease;
}
.car-section .car-list .car-total .r:hover {
  background: #FF2424;
}
.car-section .car-list .order-description .tit {
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid #E6EAF2;
  margin-top: 40px;
  margin-bottom: 40px;
}
.car-section .car-list .order-description .tit span {
  font-size: 20px;
  color: #3a3c40;
}
.car-section .car-list .order-description .tit span:after {
  width: 80px;
  height: 5px;
  background: #0081D2;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
}
.car-section .car-list .order-description dl dd {
  margin-bottom: 40px;
}
.car-section .car-list .order-description dl dd .t1 {
  font-size: 16px;
  color: #3a3c40;
  font-weight: bold;
  margin-bottom: 15px;
}
.car-section .car-list .order-description dl dd .t2 {
  font-size: 14px;
  color: #5c5f66;
  line-height: 20px;
}
.car-section .form-div {
  height: 120px;
  background-color: #0081D2;
}
.car-section .form-div .width-1180 {
  height: 120px;
}
.car-section .form-div .width-1180 .l {
  color: #fff;
}
.car-section .form-div .width-1180 .l h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 24px 0 10px;
}
.car-section .form-div .width-1180 .l p {
  font-size: 14px;
}
.car-section .form-div .width-1180 .r {
  padding-top: 35px;
  height: 50px;
}
.car-section .form-div .width-1180 .r .input-v {
  height: 50px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 2px;
  padding: 0 10px;
  line-height: 50px;
  font-size: 14px;
  color: #959BA6;
  width: 100px;
}
.car-section .form-div .width-1180 .r span {
  font-size: 14px;
  color: #fff;
  padding: 0 10px;
}
.car-section .form-div .width-1180 .r .sel-div {
  width: 160px;
  font-size: 14px;
  color: #959BA6;
  margin-left: 10px;
}
.car-section .form-div .width-1180 .r .sel-div input {
  height: 50px;
}
.car-section .form-div .width-1180 .r .sel-div .layui-form-select dl dd.layui-this {
  background-color: #0081D2;
}
.car-section .form-div .width-1180 .r .btn {
  width: 160px;
  height: 50px;
  box-sizing: border-box;
  text-align: center;
  line-height: 48px;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
  cursor: pointer;
  margin-left: 20px;
  color: #FFFFFF;
  font-size: 14px;
}
.material-layer dl {
  white-space: nowrap;
  text-align: center;
}
.material-layer dl dd:first-child {
  border-right: 1px solid #E6EAF2;
  margin-right: 39px;
  padding-right: 60px;
}
.material-layer dl dd p .t1 {
  width: 112px;
  font-size: 12px !important;
  color: #959ba6;
  text-align: left;
}
.material-layer dl dd p .t2 {
  width: 144px;
  font-size: 12px !important;
  color: #3a3c40;
  font-weight: bold;
  text-align: left;
}
.relation-layer .search {
  padding: 30px 0;
  text-align: center;
}
.relation-layer .search input {
  width: 300px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  border: 1px solid #e6eaf2;
  font-size: 14px;
  margin-right: 20px;
  text-indent: 1em;
}
.relation-layer .search input::-webkit-input-placeholder {
  color: #959ba6;
}
.relation-layer .search a {
  width: 100px;
  height: 40px;
  background: #0081d2;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
}
.relation-layer .list {
  padding: 0 30px 20px 30px;
}
.relation-layer .list table {
  width: 720px;
  border-collapse: collapse;
}
.relation-layer .list table tr {
  transition: all 0.4s ease;
}
.relation-layer .list table tr.bor {
  border: 1px solid #E6EAF2;
}
.relation-layer .list table tr:hover {
  background: #F7F9FC;
}
.relation-layer .list table tr th {
  background: #F7F9FC;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.relation-layer .list table tr td {
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  border-bottom: 1px solid #E6EAF2;
}
.relation-layer .list table tr td .t1 {
  font-size: 14px;
  color: #5c5f66;
}
.relation-layer .list table tr td .color1 {
  font-size: 14px;
  color: #0081d2;
}
.relation-layer .list table tr td .color2 {
  font-size: 14px;
  color: #3a3c40;
  white-space: nowrap;
}
.relation-layer .list .page {
  margin-top: 20px;
  text-align: right;
}
.upload-layer {
  padding: 0 40px 40px 30px;
}
.upload-layer .upload-text {
  padding: 28px 30px 40px 30px;
}
.upload-layer .upload-text p {
  font-size: 14px;
  color: #5c5f66;
  margin-bottom: 10px;
}
.upload-layer .tab {
  margin-bottom: 50px;
  text-align: center;
}
.upload-layer .tab li {
  margin-right: 60px;
}
.upload-layer .tab li:last-child {
  margin-right: 0;
}
.upload-layer .tab li .circle {
  width: 12px;
  height: 12px;
  padding: 3px;
  border-radius: 18px;
  border: 1px solid #C2C7CC;
  cursor: pointer;
}
.upload-layer .tab li .circle.act {
  border-color: #0081D2;
}
.upload-layer .tab li .circle.act i {
  display: block;
  width: 12px;
  height: 12px;
  background: #0081D2;
  border-radius: 12px;
}
.upload-layer .tab li .txt {
  font-size: 14px;
  color: #5c5f66;
  margin-left: 8px;
}
.upload-layer .upload-box {
  width: 420px;
  height: 115px;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #e6eaf2;
  text-align: center;
  cursor: pointer;
  margin: 0 auto 70px;
}
.upload-layer .upload-box .upload-ico .iconfont {
  font-size: 40px;
  color: #047fd3;
}
.upload-layer .upload-box .upload-ico span {
  font-size: 14px;
  color: #3a3c40;
}
.upload-layer .upload-box .text {
  margin-top: 10px;
  color: #959ba6;
  font-size: 12px;
}
.upload-layer .upload-show {
  width: 378px;
  background: #f7f9fc;
  border-radius: 2px;
  border: 1px solid #e6eaf2;
  padding: 22px 20px;
  margin: 0 auto 70px;
}
.upload-layer .upload-show .l .iconfont {
  font-size: 20px;
  color: #e8b46b;
}
.upload-layer .upload-show .l span {
  font-size: 14px;
  color: #3a3c40;
  margin-left: 10px;
}
.upload-layer .upload-show .r {
  font-size: 14px;
  color: #0081d2;
}
.upload-layer .btn-wrap .l {
  font-size: 12px;
  color: #5C5F66;
  margin-top: 14px;
  width: 439px;
}
.upload-layer .btn-wrap .l em {
  font-size: 12px;
  color: #e82121;
}
.upload-layer .btn-wrap .r .canel {
  width: 98px;
  height: 38px;
  border-radius: 2px;
  border: 1px solid #e6eaf2;
  margin-right: 20px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #5c5f66;
}
.upload-layer .btn-wrap .r .ok {
  width: 100px;
  height: 40px;
  background: #0081d2;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
}
.car-empty {
  text-align: center;
  margin-bottom: 50px;
}
.car-empty .iconfont {
  font-size: 180px;
  color: #0081D2;
  margin: 0 auto;
}
.car-empty .t1 {
  margin-top: 19px;
  font-size: 20px;
  color: #3a3c40;
  font-weight: bold;
  text-align: center;
}
.car-empty .t2 {
  font-size: 14px;
  color: #5c5f66;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.car-empty a {
  width: 120px;
  height: 36px;
  background: #0081D2;
  border-radius: 2px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}
.onsroll {
  position: static !important;
}
/*# sourceMappingURL=index.css.map */