html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  font-family: sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  border: none;
}
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul,
dl {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
a {
  text-decoration: none;
  transition: color 0.2s ease;
}
img {
  border: none;
}
em {
  font-style: normal;
}
.clr {
  zoom: 1;
}
.clr:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.i-hide {
  display: none;
}
.i-show {
  display: block;
}
.lineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
}
.lbBox {
  font-size: 0 !important;
  *word-spacing: -1px !important;
}
.emptys {
  margin-left: -1px;
  width: 1px;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
label,
dd,
dd,
dt {
  font-weight: normal;
}
.boxsiz {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a:hover,
a:focus {
  text-decoration: none;
}
html,
body {
  width: 100%;
  min-width: 1360px;
}
body {
  min-width: 1180px;
}
.width-1180 {
  width: 1180px;
  margin: 0 auto;
}
.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mr24 {
  margin-right: 24px;
}
.mr26 {
  margin-right: 26px;
}
.mr20 {
  margin-right: 20px;
}
.ml56 {
  margin-left: 56px;
}
.mb20 {
  margin-bottom: 20px;
}
.pcb-head {
  width: 100%;
  height: 70px;
}
.pcb-head .pcb-head-wrap {
  height: 100%;
}
.pcb-head .pcb-head-wrap .l {
  height: 100%;
}
.pcb-head .pcb-head-wrap .l .t1 {
  font-size: 13px;
  color: #5c5f66;
  font-weight: 600;
  margin-left: 20px;
}
.pcb-head .pcb-head-wrap .r {
  height: 100%;
}
.pcb-head .pcb-head-wrap .r .t1 em {
  font-size: 12px;
  color: #959ba6;
}
.pcb-head .pcb-head-wrap .r .t1 .iconfont {
  color: #0081d2;
  font-size: 20px;
  cursor: pointer;
}
.pcb-head .pcb-head-wrap .r .t1 span {
  font-size: 12px;
  color: #737780;
}
.pcb-head .pcb-head-wrap .r .t2 em {
  font-size: 12px;
  color: #959ba6;
}
.pcb-head .pcb-head-wrap .r .t2 span {
  font-size: 12px;
  color: #5c5f66;
  font-weight: bold;
}
.pcb-footer {
  padding: 30px 0;
  border-top: 1px solid #E6EAF2;
}
.pcb-footer .pcb-footer-top .l ul {
  border-right: 1px dashed #E6EAF2;
  padding-right: 86px;
}
.pcb-footer .pcb-footer-top .l ul li {
  float: left;
  margin-right: 90px;
}
.pcb-footer .pcb-footer-top .l ul li a {
  margin-bottom: 10px;
  font-size: 14px;
  color: #5c5f66;
  display: block;
}
.pcb-footer .pcb-footer-top .l ul li a:hover {
  color: #0081d2;
}
.pcb-footer .pcb-footer-top .l ul li a:first-child {
  margin-bottom: 12px;
  color: #3a3c40;
  font-weight: bold;
}
.pcb-footer .pcb-footer-top .l ul li:last-child {
  margin-right: 0;
}
.pcb-footer .pcb-footer-top .r {
  padding-left: 60px;
}
.pcb-footer .pcb-footer-top .r .t1 {
  font-size: 14px;
  color: #5c5f66;
  margin-bottom: 3px;
}
.pcb-footer .pcb-footer-top .r .t2 {
  font-size: 20px;
  color: #3a3c40;
  font-weight: bold;
  margin-bottom: 20px;
}
.pcb-footer .pcb-footer-top .r .t3 {
  font-size: 14px;
  color: #5c5f66;
  margin-bottom: 4px;
}
.pcb-footer .pcb-footer-top .r .t4 {
  font-size: 14px;
  color: #5c5f66;
}
.pcb-footer .pcb-footer-top .r .code-pic {
  padding-left: 47px;
}
.pcb-footer .pcb-footer-top .r .code-pic img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
}
.pcb-footer .pcb-footer-top .r .code-pic p {
  font-size: 12px;
  color: #959ba6;
  text-align: center;
}
.pcb-footer .pcb-footer-bottom {
  border-top: 1px solid #E6EAF2;
  padding-top: 20px;
  margin-top: 10px;
}
.pcb-footer .pcb-footer-bottom .l .text {
  width: 504px;
  margin-right: 97px;
}
.pcb-footer .pcb-footer-bottom .l .text p {
  font-size: 12px;
  color: #959ba6;
}
.pcb-footer .pcb-footer-bottom .l .text p.t1 {
  margin-bottom: 8px;
}
.pcb-footer .pcb-footer-bottom .l .pic p {
  font-size: 12px;
  color: #959ba6;
  margin-bottom: 12px;
}
.pcb-footer .pcb-footer-bottom .l .pic img {
  width: 120px;
  height: 40px;
  margin-right: 20px;
}
.pcb-footer .pcb-footer-bottom .r p {
  font-size: 12px;
  color: #959ba6;
}
.pcb-footer .pcb-footer-bottom .r .pic img {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}
.sldie-bar {
  position: fixed;
  right: 5px;
  top: 50%;
  width: 48px;
  z-index: 999;
  margin-top: -154px;
  display: block !important;
}
.sldie-bar dl {
  width: 48px;
}
.sldie-bar dl dd {
  width: 48px;
  height: 50px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 2px 24px 0px rgba(230, 234, 242, 0.5);
}
.sldie-bar dl dd:hover {
  background-color: #E6EAF2;
}
.sldie-bar dl dd a {
  height: 50px;
  display: block;
  text-align: center;
}
.sldie-bar dl dd a.phone-a {
  position: relative;
}
.sldie-bar dl dd a.phone-a:hover .phone-div {
  display: block;
}
.sldie-bar dl dd a.phone-a .phone-div {
  text-align: left;
  position: absolute;
  height: 185px;
  width: 200px;
  box-shadow: 0px 2px 24px 0px rgba(230, 234, 242, 0.5);
  background-color: #fff;
  z-index: 99;
  padding: 8px 0;
  box-sizing: border-box;
  top: 0;
  left: -200px;
  display: none;
}
.sldie-bar dl dd a.phone-a .phone-div .item {
  padding: 12px 0 0 20px;
}
.sldie-bar dl dd a.phone-a .phone-div .item h3 {
  font-size: 12px;
  color: #959BA6;
}
.sldie-bar dl dd a.phone-a .phone-div .item p {
  font-size: 14px;
  color: #3A3C40;
  padding-top: 4px;
}
.sldie-bar dl dd a.ewm-a {
  position: relative;
}
.sldie-bar dl dd a.ewm-a:hover .ewm-div {
  display: block;
}
.sldie-bar dl dd a.ewm-a .ewm-div {
  position: absolute;
  height: 225px;
  width: 200px;
  box-shadow: 0px 2px 24px 0px rgba(230, 234, 242, 0.5);
  background-color: #fff;
  z-index: 99;
  top: 0;
  left: -200px;
  display: none;
  box-sizing: border-box;
  padding-top: 20px;
}
.sldie-bar dl dd a.ewm-a .ewm-div img {
  width: 160px;
  height: 160px;
}
.sldie-bar dl dd a.ewm-a .ewm-div p {
  font-size: 12px;
  color: #959BA6;
  margin-top: 8px;
}
.sldie-bar dl dd a .icon {
  height: 40px;
  width: 40px;
  margin: 5px 4px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sldie-bar dl dd a .icon.car-icon {
  background-image: url('../../images/common/slide1.png');
}
.sldie-bar dl dd a .icon.message-icon {
  background-image: url('../../images/common/slide2.png');
}
.sldie-bar dl dd a .icon.jsq-icon {
  background-image: url('../../images/common/slide3.png');
}
.sldie-bar dl dd a .icon.ewm-icon {
  background-image: url('../../images/common/slide4.png');
}
.sldie-bar dl dd a .icon.edit-icon {
  background-image: url('../../images/common/slide5.png');
}
.sldie-bar dl dd a .circle {
  position: absolute;
  right: 0;
  top: -4px;
  min-width: 10px;
  height: 16px;
  background: #E82121;
  border-radius: 8px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  padding: 0 3px;
  z-index: 99;
}
.sldie-bar dl dt {
  width: 48px;
  height: 48px;
  margin-top: 10px;
  background: #737780;
}
.sldie-bar dl dt a {
  height: 48px;
  display: block;
  text-align: center;
  line-height: 48px;
}
.sldie-bar dl dt a .iconfont {
  font-size: 40px;
  color: #fff;
}
.home {
  height: 48px;
  background: #0081D2;
}
.home .nav-wrap {
  height: 48px;
}
.home .nav-wrap .nav li {
  position: relative;
  float: left;
  height: 48px;
  line-height: 48px;
  margin-right: 40px;
  white-space: nowrap;
  transition: all 0.2s ease;
}
.home .nav-wrap .nav li.curr:after {
  position: absolute;
  left: 0;
  bottom: 1px;
  background: #FFFFFF;
  width: 100%;
  height: 3px;
  content: '';
}
.home .nav-wrap .nav li a.xb {
  position: absolute;
  left: 41px;
  top: -5px;
  width: 50px;
  height: 20px;
  background: url('../../images/home/yu.png') no-repeat center;
  background-size: cover;
}
.home .nav-wrap .nav li a.link {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
}
.home .nav-wrap .nav li .iconzujiantubiaojiantou1 {
  font-size: 14px;
  color: #FFFFFF;
}
.home .nav-wrap .nav li dl {
  position: absolute;
  bottom: -74px;
  width: 100%;
  left: 0;
  background: #0081D2;
  z-index: 99999999;
  display: none;
}
.home .nav-wrap .nav li dl dd {
  text-align: center;
  height: 37px;
  line-height: 37px;
  transition: all 0.2s ease;
}
.home .nav-wrap .nav li dl dd:hover {
  background: #0090EB;
}
.home .nav-wrap .nav li dl dd a {
  font-size: 14px;
  color: #ffffff;
}
.home .nav-wrap .nav li.curr a,
.home .nav-wrap .nav li:hover a {
  color: #FFFFFF;
}
.home .nav-wrap .nav li:hover:after {
  position: absolute;
  left: 0;
  bottom: 1px;
  background: #FFFFFF;
  width: 100%;
  height: 3px;
  content: '';
}
.home .nav-wrap .nav li:hover dl {
  display: block;
}
.home .nav-wrap .login-bar {
  height: 100%;
  white-space: nowrap;
}
.home .nav-wrap .login-bar .logged {
  height: 100%;
  padding: 0 20px;
  vertical-align: top;
}
.home .nav-wrap .login-bar .logged a:hover {
  color: #0090eb;
}
.home .nav-wrap .login-bar .logged .lg .iconfont {
  font-size: 20px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged .lg span {
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
}
.home .nav-wrap .login-bar .logged .line {
  width: 1px;
  height: 14px;
  background: #E6EAF2;
  color: #e6eaf2;
  margin: 0 5px 0 5px;
}
.home .nav-wrap .login-bar .logged .rg {
  font-size: 14px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged .car {
  margin-left: 30px;
}
.home .nav-wrap .login-bar .logged .car .iconfont {
  font-size: 20px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged .car span {
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
  margin-right: 6px;
}
.home .nav-wrap .login-bar .logged .car .circle {
  min-width: 10px;
  height: 16px;
  background: #E82121;
  border-radius: 8px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  padding: 0 3px;
}
.home .nav-wrap .login-bar .logged-in {
  height: 100%;
  vertical-align: top;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar {
  position: relative;
  text-align: center;
  cursor: pointer;
  height: 100%;
  padding: 0 10px;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar ul {
  position: absolute;
  bottom: -74px;
  width: 100%;
  left: 0;
  background: #0081D2;
  z-index: 99999999;
  display: none;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar ul li {
  height: 37px;
  line-height: 37px;
  transition: all 0.2s ease;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar ul li:hover {
  background: #0090EB;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar ul li a {
  font-size: 14px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar .iconzujiantubiaojiantou9 {
  font-size: 20px;
  color: #FFFFFF;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar .iconzujiantubiaojiantou1 {
  font-size: 14px;
  color: #FFFFFF;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar .tel {
  font-weight: bold;
  padding: 0 5px;
  font-size: 14px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar:hover {
  background: #0090EB;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar:hover ul {
  display: block;
}
.home .nav-wrap .login-bar .logged-in .logged-in-bar:hover .iconzujiantubiaojiantou1:before {
  content: "\e628";
}
.home .nav-wrap .login-bar .logged-in .car {
  height: 100%;
  padding: 0 10px;
}
.home .nav-wrap .login-bar .logged-in .car .iconfont {
  font-size: 20px;
  color: #ffffff;
}
.home .nav-wrap .login-bar .logged-in .car span {
  font-size: 14px;
  color: #ffffff;
  margin-left: 5px;
  margin-right: 6px;
}
.home .nav-wrap .login-bar .logged-in .car .circle {
  min-width: 10px;
  height: 16px;
  background: #E82121;
  border-radius: 8px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  padding: 0 3px;
}
.home .nav-wrap .login-bar .logged-in .car:hover {
  background: #0090EB;
}
.layui-layer-setwin {
  right: 36px !important;
  top: 19px !important;
}
.layui-layer-title {
  font-size: 13px !important;
  font-weight: bold !important;
  background: #ffffff !important;
  height: auto !important;
  line-height: 21px !important;
  padding: 10px 0 15px 0 !important;
  margin: 0 30px;
}
.layui-layer-title span {
  position: relative;
  display: inline-block;
}
.layui-layer-title span:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  text-align: center;
  width: 100%;
  height: 5px;
  background: #0081D2;
  content: "";
  display: inline-block;
}
.layui-layer-page .layui-layer-content {
  height: auto;
  overflow: hidden;
}
.login-layer {
  padding: 30px 60px 40px 60px;
}
.login-layer .cypbb {
  display: none;
}
.login-layer .inpt {
  position: relative;
  margin-bottom: 20px;
  white-space: nowrap;
}
.login-layer .inpt .iconfont {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 30px;
  color: #e6eaf2;
  margin-top: -17px;
}
.login-layer .inpt .imgCode {
  width: 164px;
  height: 60px;
  text-align: right;
}
.login-layer .inpt .imgCode img {
  width: 120px;
  height: 60px;
}
.login-layer .inpt .inp {
  width: 320px;
  height: 58px;
  line-height: 58px;
  background: #f7f9fc;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
  padding-left: 60px;
  transition: all 0.4s ease;
}
.login-layer .inpt .inp:focus {
  border: 1px solid #0081d2;
  background: #ffffff;
}
.login-layer .inpt .inp::-webkit-input-placeholder {
  color: #959ba6;
}
.login-layer .inpt .button-class {
  font-size: 14px;
  color: #0081d2;
  position: absolute;
  right: 21px;
  top: 21px;
  font-weight: bold;
  background: none;
}
.login-layer .inpt.error .iconfont {
  color: #e82121;
}
.login-layer .inpt.error .inp {
  border: 1px solid #e82121;
  color: #e82121;
}
.login-layer .inpt.status .iconfont {
  color: #0081d2;
}
.login-layer .btn {
  margin-top: 20px;
}
.login-layer .btn a {
  width: 380px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #0081D2;
  border-radius: 2px;
  display: block;
  font-size: 18px;
  color: #ffffff;
}
.login-layer .login-bar {
  padding-top: 30px;
}
.login-layer .login-bar .l .circle {
  width: 12px;
  height: 12px;
  padding: 3px;
  border-radius: 18px;
  border: 1px solid #C2C7CC;
  position: relative;
  top: -2px;
  cursor: pointer;
}
.login-layer .login-bar .l .circle.act {
  border-color: #0081D2;
}
.login-layer .login-bar .l .circle.act i {
  display: block;
  width: 12px;
  height: 12px;
  background: #0081D2;
  border-radius: 12px;
}
.login-layer .login-bar .l .txt {
  font-size: 14px;
  color: #959ba6;
  margin-left: 6px;
}
.login-layer .login-bar .r a {
  font-size: 14px;
  color: #0081d2;
}
.login-layer .other-login {
  margin-top: 60px;
  text-align: center;
}
.login-layer .other-login .t1 {
  position: relative;
  font-size: 14px;
  color: #5c5f66;
}
.login-layer .other-login .t1:before {
  position: absolute;
  left: 0;
  top: 11px;
  width: 117px;
  height: 1px;
  color: #e6eaf2;
  background: #E6EAF2;
  content: '';
}
.login-layer .other-login .t1:after {
  position: absolute;
  right: 0;
  top: 11px;
  width: 117px;
  height: 1px;
  color: #e6eaf2;
  background: #E6EAF2;
  content: '';
}
.login-layer .other-login .icon-wrap {
  margin-top: 24px;
}
.login-layer .other-login .icon-wrap li {
  background: #E6EAF2;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.login-layer .other-login .icon-wrap li:hover {
  background: #0081D2;
}
.login-layer .other-login .icon-wrap li .iconfont {
  font-size: 30px;
  color: #FFFFFF;
}
.login-layer .code-login {
  cursor: pointer;
}
.login-layer .code-login .pull-left {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: url("../../images/home/code2.jpg") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.login-layer .code-login .pull-lefts {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: url("../../images/home/code1.jpg") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.login-layer .onRegister2 .wrp_code {
  border: 1px solid #E2E2E2;
  width: 198px;
  height: 198px;
  margin: 0 auto;
}
.login-layer .onRegister2 .wrp_code .qrcode {
  width: 198px;
  height: 198px;
}
.login-layer .onRegister2 .info {
  margin-top: 15px;
}
.login-layer .onRegister2 .info .t1 {
  text-align: center;
  color: #373737;
  font-size: 13px;
}
.login-layer .onRegister2 .text-center {
  margin-top: 20px;
  text-align: center;
}
.login-layer .onRegister2 .text-center .t1 {
  font-size: 14px;
  color: #0081d2;
  margin-right: 20px;
}
.login-layer .onRegister2 .text-center .t1:hover {
  text-decoration: underline;
}
.login-layer .onRegister2 .text-center .t2 {
  font-size: 14px;
  color: #0081d2;
}
.login-layer .onRegister2 .text-center .t2:hover {
  text-decoration: underline;
}
.login-layer .tab-box {
  text-align: center;
  margin-bottom: 26px;
  padding-bottom: 14px;
}
.login-layer .tab-box span {
  position: relative;
  width: 50%;
  text-align: center;
  font-size: 20px;
  color: #959ba6;
  cursor: pointer;
}
.login-layer .tab-box span.curr {
  color: #3a3c40;
  font-weight: bold;
}
.login-layer .tab-box span.curr::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  height: 5px;
  width: 80px;
  background: #0081D2;
  content: '';
  z-index: 11;
  margin: 0 auto;
}
.website-tip {
  text-align: center;
  height: 40px;
  line-height: 40px;
  background: rgba(255, 224, 178, 0.5);
}
.website-tip .tip-wrap {
  position: relative;
}
.website-tip .tip-wrap span {
  font-size: 14px;
  color: #e89721;
}
.website-tip .tip-wrap .iconfont {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
  color: #e89721;
  cursor: pointer;
}
.selects-qty {
  position: absolute;
  left: 0px;
  top: 39px;
  z-index: 9;
  width: 461px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding: 10px 0 16px 18px;
  display: none;
}
.selects-qty .arrow {
  position: absolute;
  left: 21px;
  top: -10px;
  width: 13px;
  height: 11px;
  background: url("../../images/common/ico.png") no-repeat -5px -52px;
  background-color: #fff;
}
.selects-qty dl dd {
  float: left;
  width: 14%;
  margin-bottom: 15px;
  cursor: pointer;
}
.selects-qty dl dd .arr {
  width: 14px;
  height: 13px;
  background: url("../../images/common/ico.png") no-repeat 0 0;
}
.selects-qty dl dd.curr .arr {
  width: 14px;
  height: 13px;
  background: url("../../images/common/ico.png") no-repeat -16px 0;
}
.selects-qty dl dd span {
  font-size: 14px;
  color: #666666;
  margin-left: 5px;
}
.selects-qty .wrap {
  margin-top: 3px;
}
.selects-qty .wrap label {
  font-size: 14px;
  color: #666666;
  margin-right: 13px;
  white-space: nowrap;
}
.selects-qty .wrap .inp {
  width: 158px;
  border: solid 1px #e5e5e5;
}
.selects-qty .wrap .inp::-webkit-outer-spin-button,
.selects-qty .wrap .inp::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
.selects-qty .wrap .inp:focus {
  border: solid 1px #00a0e9;
}
.selects-qty .wrap .btn {
  margin-left: 40px;
}
.selects-qty .wrap .btn a {
  width: 68px;
  height: 30px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.selects-qty .wrap .btn a.ok {
  background-color: #1080d0;
  color: #fefefe;
  margin-right: 10px;
}
.selects-qty .wrap .btn a.canel {
  background-color: #f3f3f3;
  color: #666666;
}
.pcb-ad .indexRightAd {
  position: fixed;
  width: 140px;
  height: 254px;
  bottom: 54px;
  z-index: 101;
}
.pcb-ad .indexRightAd img {
  width: 140px;
  height: 254px;
}
.pcb-ad .indexRightAd.none {
  left: -150px;
}
.pcb-ad .indexRightAd.show {
  left: 10px;
}
.pcb-ad .fast-key {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 120px;
  background: #0860BF;
  z-index: 999;
}
.pcb-ad .fast-key.none {
  display: none;
}
.pcb-ad .fast-key.show {
  display: block;
}
.pcb-ad .fast-key .fast-key-wrap .l {
  position: relative;
  height: 120px;
  white-space: nowrap;
}
.pcb-ad .fast-key .fast-key-wrap .l .pic {
  position: absolute;
  top: -46px;
  left: 0;
  width: 162px;
  height: 146px;
  background: url("../../images/registerPage/b.png") no-repeat center;
  background-size: cover;
}
.pcb-ad .fast-key .fast-key-wrap .l .text {
  margin-left: 191px;
}
.pcb-ad .fast-key .fast-key-wrap .l .text .t1 {
  font-size: 20px;
  color: #f7f9fc;
}
.pcb-ad .fast-key .fast-key-wrap .l .text .t2 {
  font-size: 30px;
  color: #f7f9fc;
  font-weight: bold;
}
.pcb-ad .fast-key .fast-key-wrap .l .text .t2 em {
  font-size: 30px;
  color: #e0c629;
  font-weight: bold;
}
.pcb-ad .fast-key .fast-key-wrap .r {
  position: relative;
  height: 120px;
  white-space: nowrap;
}
.pcb-ad .fast-key .fast-key-wrap .r .iconzujiantubiaojiantou10 {
  position: absolute;
  right: -46px;
  top: 10px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}
.pcb-ad .fast-key .fast-key-wrap .r .input-wrap {
  width: 360px;
  height: 48px;
  border-radius: 2px;
  background: #FFFFFF;
  border: 1px solid #ffffff;
}
.pcb-ad .fast-key .fast-key-wrap .r .input-wrap .iconfont {
  font-size: 30px;
  color: #BBC1CC;
  margin-left: 16px;
  margin-right: 16px;
}
.pcb-ad .fast-key .fast-key-wrap .r .input-wrap input {
  font-size: 14px;
  height: 100%;
  vertical-align: middle;
}
.pcb-ad .fast-key .fast-key-wrap .r .input-wrap input::-webkit-input-placeholder {
  color: #959ba6;
}
.pcb-ad .fast-key .fast-key-wrap .r .btn {
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #e89721;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  margin-left: 20px;
}
.layui-form-checked[lay-skin=primary] i {
  border-color: #0081D2 !important;
  background-color: #0081D2 !important;
}
#nc_1_wrapper {
  width: 100% !important;
}
.nc-container .nc_scale .nc_ok,
.nc-container .nc_scale .nc_bg {
  background: #0081D2 !important;
}
.nc-container .nc_scale .btn_ok {
  color: #0081D2 !important;
}
.layui-layer-title em {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
}
.layui-layer-title em.curr:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  text-align: center;
  width: 100%;
  height: 5px;
  background: #0081D2;
  content: "";
  display: inline-block;
}
.paymentSetting-layer {
  padding: 20px;
}
.paymentSetting-layer .inpt-wrap {
  margin-bottom: 20px;
  white-space: nowrap;
}
.paymentSetting-layer .inpt-wrap .code-wrap {
  position: relative;
}
.paymentSetting-layer .inpt-wrap .code-wrap .code {
  position: absolute;
  right: 10px;
  top: 16px;
  background: none;
  font-size: 14px;
  color: #0081d2;
}
.paymentSetting-layer .inpt-wrap .code-wrap .code.btnDisabled {
  color: #CCCCCC;
}
.paymentSetting-layer .inpt-wrap .code-wrap .inp0 {
  width: 298px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
  background: #F7F9FC;
  text-indent: 1em;
}
.paymentSetting-layer .inpt-wrap .code-wrap .inp0:focus {
  background: #ffffff;
}
.paymentSetting-layer .inpt-wrap label {
  width: 96px;
  font-size: 14px;
  color: #5c5f66;
  text-align: right;
  margin-right: 22px;
}
.paymentSetting-layer .inpt-wrap .inp1 {
  height: 48px;
  line-height: 48px;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
  text-indent: 1em;
  background: #F7F9FC;
}
.paymentSetting-layer .inpt-wrap .inp1:focus {
  background: #ffffff;
}
.paymentSetting-layer .inpt-wrap .inp2 {
  height: 54px;
  background: #F7F9FC;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
  margin-right: 8px;
  font-size: 16px;
  color: #3a3c40;
  line-height: 54px;
  text-align: center;
}
.paymentSetting-layer .inpt-wrap .inp2:focus {
  background: #ffffff;
}
.paymentSetting-layer .inpt-wrap .w2 {
  width: 54px;
}
.paymentSetting-layer .inpt-wrap .w3 {
  width: 198px;
}
.paymentSetting-layer .inpt-wrap .imgCode {
  width: 76px;
  height: 50px;
}
.paymentSetting-layer .inpt-wrap .imgCode img {
  width: 76px;
  height: 50px;
}
.paymentSetting-layer .inpt-wrap .t1 {
  font-size: 16px;
  color: #3a3c40;
  font-weight: bold;
}
.paymentSetting-layer .inpt-wrap .t2 {
  margin-top: 10px;
  font-size: 12px;
  color: #5c5f66;
}
.paymentSetting-layer .inpt-wrap .t3 {
  font-size: 12px;
  color: #0081d2;
  margin-left: 10px;
  cursor: pointer;
}
.paymentSetting-layer .btn {
  margin-top: 40px;
  margin-left: 121px;
}
.paymentSetting-layer .btn a {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #0081D2;
  border-radius: 2px;
  display: block;
  color: #ffffff;
  font-size: 14px;
}
.browser {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background: #ffe0b2;
  z-index: 999999;
}
.browser .tip-wrap {
  position: relative;
}
.browser .tip-wrap span {
  font-size: 14px;
  color: #e89721;
}
.browser .tip-wrap .iconfont {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
  color: #e89721;
  cursor: pointer;
}
.home-section .banner-box {
  position: relative;
}
.home-section .banner-box .banner {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
  z-index: 2;
}
.home-section .banner-box .banner .bd {
  height: 480px;
}
.home-section .banner-box .banner .bd ul {
  height: 480px;
}
.home-section .banner-box .banner .bd ul li {
  width: 100%;
  height: 480px;
}
.home-section .banner-box .banner .bd ul li a {
  width: 100%;
  height: 480px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
}
.home-section .banner-box .banner .hd {
  position: absolute;
  bottom: 65px;
  left: 0;
  right: 0;
  text-align: center;
}
.home-section .banner-box .banner .hd li {
  display: inline-block;
  width: 40px;
  height: 4px;
  background: #FFFFFF;
  cursor: pointer;
  margin-right: 4px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.home-section .banner-box .banner .hd li.on {
  background-color: #0081D2;
}
.home-section .banner-box .home-pcb {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  width: 1180px;
  height: 295px;
  margin: 0 auto;
}
.home-section .banner-box .home-pcb .home-pcb-box {
  background: #FFFFFF;
  width: 480px;
  height: 295px;
  border-radius: 2px;
  position: relative;
  z-index: 3;
}
.home-section .banner-box .home-pcb .home-pcb-box .tab {
  height: 39px;
  background: #f7f9fc;
  border-radius: 2px 0px 0px 2px;
  background: #F7F9FC;
  border-bottom: 1px solid #E6EAF2;
}
.home-section .banner-box .home-pcb .home-pcb-box .tab li {
  position: relative;
  width: 136px;
  padding-left: 29px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #5c5f66;
  border-right: 1px solid #E6EAF2;
  cursor: pointer;
  transition: all 0.2s ease;
}
.home-section .banner-box .home-pcb .home-pcb-box .tab li:last-child {
  border-right: none;
}
.home-section .banner-box .home-pcb .home-pcb-box .tab li.curr {
  color: #3a3c40;
  font-weight: bold;
  background: #FFFFFF;
}
.home-section .banner-box .home-pcb .home-pcb-box .location {
  height: 39px;
  margin-right: 24px;
}
.home-section .banner-box .home-pcb .home-pcb-box .location .iconfont {
  font-size: 20px;
  color: #0081d2;
  margin-right: 4px;
}
.home-section .banner-box .home-pcb .home-pcb-box .location em {
  font-size: 14px;
  color: #959ba6;
  margin-left: 4px;
  margin-right: 4px;
}
.home-section .banner-box .home-pcb .home-pcb-box .location span {
  font-size: 14px;
  color: #3a3c40;
  font-weight: bold;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap {
  padding: 20px 30px 0 30px;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .form-box .form-boxs {
  white-space: nowrap;
  margin-bottom: 15px;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .form-box label {
  color: #5C5F66;
  font-size: 14px;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .form-box .inp-wrap {
  margin-top: 5px;
  white-space: nowrap;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .form-box .inp-wrap .w98 {
  width: 73px;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .form-box .inp-wrap .w78 {
  width: 78px;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .form-box .inp-wrap .w220 {
  width: 180px;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .form-box .inp-wrap .sel {
  height: 50px;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
  font-size: 14px;
  padding-left: 10px;
  background: #F9F9FB;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .form-box .inp-wrap .sel::-webkit-input-placeholder {
  color: #959ba6;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .form-box .inp-wrap .inp {
  height: 34px;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
  font-size: 14px;
  text-indent: 1em;
  background: #F9F9FB;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .form-box .inp-wrap .inp::-webkit-input-placeholder {
  color: #959ba6;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .form-box .inp-wrap .tt {
  font-size: 14px;
  color: #5c5f66;
  padding: 0 6px;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .form-box .layui-input {
  height: 36px !important;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .btn-wrap {
  padding-top: 15px;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .btn-wrap .form-tips {
  width: 180px;
  margin-right: 40px;
  font-size: 12px;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .btn-wrap .form-tips .form-tips-top {
  color: #E89721;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .btn-wrap .form-tips .form-tips-top .icon {
  font-size: 20px;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .btn-wrap .form-tips .form-tips-top .icon-text {
  font-size: 14px;
  font-weight: 600;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .btn-wrap .form-tips p {
  color: #959BA6;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .btn-wrap .form-tips p span {
  color: #E89721;
}
.home-section .banner-box .home-pcb .home-pcb-box .show-wrap .btn-wrap .btn {
  width: 180px;
  height: 36px;
  background: #0081D2;
  border-radius: 2px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
.home-section .banner-box .notice {
  height: 130px;
  width: 1180px;
  position: absolute;
  box-shadow: 0px 8px 24px 0px rgba(58, 60, 64, 0.05);
  background: #fff;
  left: 50%;
  margin-left: -590px;
  z-index: 2;
  bottom: -79px;
}
.home-section .banner-box .notice .notice-ul {
  padding-top: 30px;
}
.home-section .banner-box .notice .li-1 {
  margin-left: 30px;
}
.home-section .banner-box .notice .li-2 {
  margin-left: 60px;
}
.home-section .banner-box .notice .li-3 {
  margin-left: 60px;
}
.home-section .banner-box .notice .pic {
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.home-section .banner-box .notice .pic.pic-1 {
  background-image: url('../../images/home/notice-1.png');
}
.home-section .banner-box .notice .pic.pic-2 {
  background-image: url('../../images/home/notice-2.png');
}
.home-section .banner-box .notice .pic.pic-3 {
  background-image: url('../../images/home/notice-3.png');
}
.home-section .banner-box .notice .text {
  margin-left: 10px;
}
.home-section .banner-box .notice .text .t1 {
  font-size: 16px;
  color: #3A3C40;
  font-weight: 600;
}
.home-section .banner-box .notice .text .t2 {
  padding-top: 5px;
  font-size: 12px;
  color: #959BA6;
}
.home-section .banner-box .notice .notice-r {
  width: 310px;
  height: 130px;
  background-color: #0081D2;
  padding: 20px 30px;
  box-sizing: border-box;
}
.home-section .banner-box .notice .notice-r .tit .ll {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.home-section .banner-box .notice .notice-r .tit .rr .see-more-text {
  font-size: 12px;
  color: #fff;
}
.home-section .banner-box .notice .notice-r .tit .rr .see-more-btn {
  height: 14px;
  width: 14px;
  background-color: #E89721;
  color: #fff;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
}
.home-section .banner-box .notice .notice-r .news {
  margin-top: 10px;
  height: 60px;
  overflow: hidden;
}
.home-section .banner-box .notice .notice-r .news dd {
  margin-top: 4px;
}
.home-section .banner-box .notice .notice-r .news dd span {
  color: #fff;
  font-size: 12px;
}
.home-section .home-price {
  margin: 80px auto 0;
}
.home-section .home-price .tit {
  text-align: center;
}
.home-section .home-price .tit h3 {
  color: #3A3C40;
  font-size: 24px;
  font-weight: 600;
  padding-top: 50px;
}
.home-section .home-price .tit h5 {
  color: #959BA6;
  font-size: 12px;
  padding: 4px 0 30px;
}
.home-section .home-price .home-price-wrap .l {
  padding: 40px;
  width: 380px;
  height: 220px;
  background: url('../../images/home/xb.png') no-repeat center;
  background-size: cover;
  transition: all 0.2s ease;
}
.home-section .home-price .home-price-wrap .l .t1 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 14px;
}
.home-section .home-price .home-price-wrap .l .t2 {
  margin-bottom: 20px;
}
.home-section .home-price .home-price-wrap .l .t2 p {
  margin-bottom: 8px;
}
.home-section .home-price .home-price-wrap .l .t2 p span {
  width: 5px;
  height: 5px;
  background: #FFFFFF;
  border-radius: 50%;
  margin-right: 8px;
}
.home-section .home-price .home-price-wrap .l .t2 p em {
  font-size: 14px;
  color: #ffffff;
}
.home-section .home-price .home-price-wrap .l .block-price {
  margin-bottom: 40px;
}
.home-section .home-price .home-price-wrap .l .block-price li {
  width: 62px;
  height: 21px;
  line-height: 21px;
  border-radius: 2px;
  border: 1px solid #FFFFFF;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  display: block;
  float: left;
  margin-right: 20px;
}
.home-section .home-price .home-price-wrap .l .btn {
  position: relative;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #E89721;
  border-radius: 2px;
  display: block;
  overflow: hidden;
}
.home-section .home-price .home-price-wrap .l .btn .imme_price_txt1 {
  transform: translate(-90px, 0);
  transition: all 0.3s;
  position: absolute;
  z-index: 9;
  display: block;
  font-size: 14px;
  color: #ffffff;
}
.home-section .home-price .home-price-wrap .l .btn .imme_price_txt1 .arrow_long_right {
  background-position: -361px -89px;
  width: 20px;
  height: 7px;
  vertical-align: middle;
  margin-left: 7px;
  background-image: url(../../images/home/icons5.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.home-section .home-price .home-price-wrap .l .btn .imme_price_txt2 {
  font-size: 14px;
  color: #ffffff;
  transition: all 0.3s;
  position: absolute;
  z-index: 7;
  transform: translate(-30px, 0);
}
.home-section .home-price .home-price-wrap .l .btn:hover .imme_price_txt1 {
  transform: translate(43px, 0);
}
.home-section .home-price .home-price-wrap .l .btn:hover .imme_price_txt2 {
  transform: translate(100px, 0);
}
.home-section .home-price .home-price-wrap .l:hover {
  margin-top: -3px;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transform: translate3d(0, -1px, 0);
  -ms-transform: translate3d(0, -1px, 0);
  transform: translate3d(0, -1px, 0);
}
.home-section .home-price .home-price-wrap .r ul li {
  position: relative;
  width: 340px;
  height: 300px;
  float: left;
  margin-right: 20px;
  transition: all 0.2s ease;
}
.home-section .home-price .home-price-wrap .r ul li:nth-of-type(2n) {
  margin-right: 0;
}
.home-section .home-price .home-price-wrap .r ul li .pic img {
  width: 340px;
  height: 146px;
}
.home-section .home-price .home-price-wrap .r ul li:hover {
  margin-top: -3px;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transform: translate3d(0, -1px, 0);
  -ms-transform: translate3d(0, -1px, 0);
  transform: translate3d(0, -1px, 0);
}
.home-section .home-price .home-price-wrap .r ul li .pic-desc {
  height: 160px;
  box-shadow: 0px 8px 24px 0px rgba(58, 60, 64, 0.05);
  border-radius: 10px 10px 0px 0px;
  background-color: #fff;
  position: relative;
  top: -6px;
  z-index: 2;
}
.home-section .home-price .home-price-wrap .r ul li .pic-desc .t1 {
  font-size: 18px;
  color: #3a3c40;
  text-align: center;
  font-weight: bold;
  padding: 16px 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.home-section .home-price .home-price-wrap .r ul li .pic-desc .t2 {
  padding: 4px 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  color: #959BA6;
}
.home-section .home-price .home-price-wrap .r ul li .pic-desc .items {
  margin-top: 10px;
  text-align: center;
}
.home-section .home-price .home-price-wrap .r ul li .pic-desc .items .item {
  border: 1px solid #E6EAF2;
  padding: 2px 4px;
  font-size: 12px;
  color: #959BA6;
  margin-right: 14px;
}
.home-section .home-price .home-price-wrap .r ul li .pic-desc .items .item:last-child {
  margin-right: 0;
}
.home-section .home-price .home-price-wrap .r ul .btn {
  position: relative;
  width: 160px;
  height: 36px;
  background: #0081D2;
  border-radius: 2px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  margin-top: 15px;
}
.home-section .home-price .home-price-wrap .r ul .btn .imme_price_txt1 {
  transform: translate(-90px, 0);
  transition: all 0.3s;
  position: absolute;
  z-index: 9;
  display: block;
  font-size: 14px;
  color: #ffffff;
}
.home-section .home-price .home-price-wrap .r ul .btn .imme_price_txt1 .arrow_long_right {
  background-position: -361px -89px;
  width: 20px;
  height: 7px;
  vertical-align: middle;
  margin-left: 7px;
  background-image: url(../../images/home/icons5.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.home-section .home-price .home-price-wrap .r ul .btn .imme_price_txt2 {
  font-size: 14px;
  color: #ffffff;
  transition: all 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 7;
}
.home-section .home-price .home-price-wrap .r ul .btn:hover .imme_price_txt1 {
  transform: translate(44px, 0);
}
.home-section .home-price .home-price-wrap .r ul .btn:hover .imme_price_txt2 {
  transform: translate(150px, 0);
}
.home-section .home-price .explain {
  position: relative;
  top: 79px;
  height: 159px;
  box-shadow: 0px 8px 24px 0px rgba(58, 60, 64, 0.05);
  background-color: #fff;
}
.home-section .home-price .explain .l-bar {
  padding-left: 40px;
  padding-top: 40px;
  text-align: center;
}
.home-section .home-price .explain .l-bar .t1 {
  font-size: 18px;
  color: #3a3c40;
  font-weight: bold;
  margin-bottom: 14px;
}
.home-section .home-price .explain .l-bar a {
  width: 160px;
  height: 40px;
  background: #0081D2;
  border-radius: 2px;
  display: block;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.2s ease;
}
.home-section .home-price .explain .l-bar a:hover {
  background: #0090eb;
}
.home-section .home-price .explain .r-bar {
  width: 892px;
  height: 160px;
  padding-left: 68px;
}
.home-section .home-price .explain .r-bar dl dd {
  float: left;
  margin-right: 26px;
}
.home-section .home-price .explain .r-bar dl dd:last-child {
  margin-right: 0;
}
.home-section .home-price .explain .r-bar dl dd .text {
  margin-right: 30px;
}
.home-section .home-price .explain .r-bar dl dd .text .bz-icon {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.home-section .home-price .explain .r-bar dl dd .text .bz-icon.bz-icon1 {
  background-image: url('../../images/home/bz1.png');
}
.home-section .home-price .explain .r-bar dl dd .text .bz-icon.bz-icon2 {
  background-image: url('../../images/home/bz2.png');
}
.home-section .home-price .explain .r-bar dl dd .text .bz-icon.bz-icon3 {
  background-image: url('../../images/home/bz3.png');
}
.home-section .home-price .explain .r-bar dl dd .text .bz-icon.bz-icon4 {
  background-image: url('../../images/home/bz4.png');
}
.home-section .home-price .explain .r-bar dl dd .text .bz-icon.bz-icon5 {
  background-image: url('../../images/home/bz5.png');
}
.home-section .home-price .explain .r-bar dl dd .text .bz-icon.bz-icon6 {
  background-image: url('../../images/home/bz6.png');
}
.home-section .home-price .explain .r-bar dl dd .text .bz-icon.bz-icon7 {
  background-image: url('../../images/home/bz7.png');
}
.home-section .home-price .explain .r-bar dl dd .text p {
  margin-top: 7px;
  font-size: 14px;
  color: #5c5f66;
}
.home-section .home-price .explain .r-bar dl dd .iconzujiantubiaojiantou {
  font-size: 14px;
  color: #fff;
  vertical-align: top;
  position: relative;
  top: 16px;
  width: 20px;
  height: 20px;
  background-color: #E6EAF2;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
.home-section .home-price .explain .r-bar dl dd:hover .text .iconfont {
  color: #0081d2;
}
.home-section .home-price .explain .r-bar dl dd:hover .text p {
  color: #0081d2;
}
.home-section .home-section {
  background: #F7F9FC;
}
.home-section .home-section .home-section-head {
  text-align: center;
}
.home-section .home-section .home-section-head h3 {
  font-size: 24px;
  color: #3A3C40;
  font-weight: 600;
  padding-top: 130px;
}
.home-section .home-section .home-section-head h5 {
  font-size: 12px;
  color: #959BA6;
  padding-top: 4px;
}
.home-section .home-section .factory {
  padding: 30px 0 40px;
}
.home-section .home-section .factory .factory-l {
  height: 380px;
  width: 460px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 30px;
}
.home-section .home-section .factory .factory-l h3 {
  font-size: 24px;
  font-weight: 600;
  color: #3A3C40;
}
.home-section .home-section .factory .factory-l p {
  font-size: 14px;
  color: #959BA6;
  line-height: 25px;
  margin-top: 12px;
  height: 250px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}
.home-section .home-section .factory .factory-l .see-more-div {
  text-align: right;
}
.home-section .home-section .factory .factory-l .see-more-div a span {
  font-size: 12px;
  color: #0081D2;
}
.home-section .home-section .factory .factory-l .see-more-div a i {
  height: 14px;
  width: 14px;
  background-color: #E89721;
  color: #fff;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
}
.home-section .home-section .factory .factory-r {
  width: 710px;
  margin-left: 10px;
}
.home-section .home-section .factory .factory-r .item {
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}
.home-section .home-section .factory .factory-r .item img {
  width: 345px;
  height: 185px;
}
.home-section .home-section .factory .factory-r .item .opacity {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.home-section .home-section .factory .factory-r .item .opacity:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.home-section .home-section .factory .factory-r .item .opacity:hover .text-div {
  bottom: 0;
}
.home-section .home-section .factory .factory-r .item .opacity .text-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -185px;
  transition: bottom linear 0.2s;
}
.home-section .home-section .factory .factory-r .item .opacity .text-div .text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 15px 20px;
}
.home-section .home-section .factory .factory-r .item .opacity .text-div .text h3 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-section .home-section .factory .factory-r .item .opacity .text-div .text p {
  font-size: 12px;
  max-height: 130px;
  overflow: hidden;
}
.home-section .map-section {
  background-color: #fff;
  padding-bottom: 50px;
}
.home-section .map-section .b-title {
  font-size: 24px;
  color: #3A3C40;
  font-weight: 600;
  padding-top: 50px;
  text-align: center;
}
.home-section .map-section .s-title {
  font-size: 12px;
  color: #959BA6;
  padding-top: 4px;
  text-align: center;
}
.home-section .map-section .map-div {
  margin-top: 30px;
}
.home-section .map-section .map-l {
  width: 460px;
}
.home-section .map-section .map-l-t {
  padding-left: 30px;
}
.home-section .map-section .map-l-t .item {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
}
.home-section .map-section .map-l-t .item.zs-item {
  margin-left: 105px;
}
.home-section .map-section .map-l-t .item.time-item {
  margin-left: 100px;
}
.home-section .map-section .map-l-t .item .item-l {
  font-size: 60px;
  color: #0090EB;
}
.home-section .map-section .map-l-t .item .item-l.icon-y {
  color: #E89721;
}
.home-section .map-section .map-l-t .item .item-r p {
  font-size: 12px;
  color: #959BA6;
  padding-top: 10px;
}
.home-section .map-section .map-l-t .item .item-r div {
  padding-top: 4px;
}
.home-section .map-section .map-l-t .item .item-r div .val {
  font-size: 24px;
  color: #3A3C40;
}
.home-section .map-section .map-l-t .item .item-r div .dw {
  font-size: 12px;
  color: #5C5F66;
}
.home-section .map-section .map-l-b {
  margin-top: 30px;
  display: block;
}
.home-section .map-section .map-l-b img {
  height: 100px;
  width: 460px;
}
.home-section .map-section .map-r {
  height: 330px;
  width: 680px;
  background: url('../../images/home/map-bg.png') no-repeat;
  background-size: 100% 100%;
  margin-left: 40px;
  position: relative;
}
.home-section .map-section .map-r .point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0090EB;
  z-index: 2;
}
.home-section .map-section .map-r .point.active::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0090EB;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
}
.home-section .map-section .map-r .point.point1 {
  top: 81px;
  left: 103px;
}
.home-section .map-section .map-r .point.point2 {
  top: 116px;
  left: 93px;
}
.home-section .map-section .map-r .point.point3 {
  top: 139px;
  left: 133px;
}
.home-section .map-section .map-r .point.point4 {
  top: 222px;
  left: 179px;
}
.home-section .map-section .map-r .point.point5 {
  top: 282px;
  left: 180px;
}
.home-section .map-section .map-r .point.point6 {
  top: 111px;
  left: 335px;
}
.home-section .map-section .map-r .point.point7 {
  top: 106px;
  left: 360px;
}
.home-section .map-section .map-r .point.point8 {
  top: 125px;
  left: 355px;
}
.home-section .map-section .map-r .point.point9 {
  top: 166px;
  left: 360px;
}
.home-section .map-section .map-r .point.point10 {
  top: 259px;
  left: 355px;
}
.home-section .map-section .map-r .point.point11 {
  top: 57px;
  left: 498px;
}
.home-section .map-section .map-r .point.point12 {
  top: 147px;
  left: 513px;
}
.home-section .map-section .map-r .point.point13 {
  top: 190px;
  left: 512px;
}
.home-section .map-section .map-r .point.point14 {
  top: 267px;
  left: 572px;
}
.home-section .evaluate-section {
  background-color: #F7F9FC;
  padding-bottom: 50px;
}
.home-section .evaluate-section .b-title {
  font-size: 24px;
  color: #3A3C40;
  font-weight: 600;
  padding-top: 50px;
  text-align: center;
}
.home-section .evaluate-section .s-title {
  font-size: 12px;
  color: #959BA6;
  padding-top: 4px;
  text-align: center;
}
.home-section .evaluate-section .list-pic {
  margin-top: 30px;
  position: relative;
}
.home-section .evaluate-section .list-pic .prev {
  position: absolute;
  left: 0;
  top: 136px;
  width: 25px;
  height: 48px;
  background: rgba(0, 0, 0, 0.25);
  display: block;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 3;
}
.home-section .evaluate-section .list-pic .prev:hover {
  background: rgba(0, 0, 0, 0.6);
}
.home-section .evaluate-section .list-pic .prev .iconfont {
  font-size: 25px;
  color: #fff;
}
.home-section .evaluate-section .list-pic .next {
  position: absolute;
  right: 0;
  top: 136px;
  width: 25px;
  height: 48px;
  background: rgba(0, 0, 0, 0.25);
  display: block;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 3;
}
.home-section .evaluate-section .list-pic .next:hover {
  background: rgba(0, 0, 0, 0.6);
}
.home-section .evaluate-section .list-pic .next .iconfont {
  font-size: 25px;
  color: #fff;
}
.home-section .evaluate-section .list-pic .bd {
  height: 330px;
  overflow: hidden;
}
.home-section .evaluate-section .list-pic .bd ul {
  width: 1216px;
  height: 330px;
}
.home-section .evaluate-section .list-pic .bd ul li {
  position: relative;
  float: left;
  height: 330px;
  margin-right: 20px;
  transition: all 0.4s ease;
  width: 280px;
}
.home-section .evaluate-section .list-pic .bd ul li a {
  display: block;
}
.home-section .evaluate-section .list-pic .bd ul li .pic {
  width: 280px;
  height: 180px;
  overflow: hidden;
}
.home-section .evaluate-section .list-pic .bd ul li .pic img {
  width: 280px;
  height: 220px;
  transition: all 0.2s ease;
}
.home-section .evaluate-section .list-pic .bd ul li .pic:hover img {
  transform: scale(1.1);
}
.home-section .evaluate-section .list-pic .bd ul li .text {
  background: #ffffff;
  height: 173px;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  z-index: 2;
  top: -20px;
  box-sizing: border-box;
  padding: 0 30px;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-top {
  padding-top: 20px;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-top .im {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-top .im img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-top-l .icon {
  font-size: 36px;
  color: #959BA6;
  margin-right: 10px;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-top-l .username {
  font-size: 14px;
  font-weight: 600;
  color: #3A3C40;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-top-l .address {
  font-size: 12px;
  color: #959BA6;
  margin-top: 2px;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-top-r {
  padding-top: 8px;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-top-r .icon {
  font-size: 14px;
  color: #E89721;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-top-r .default {
  color: #afb2bc;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-center {
  font-size: 12px;
  color: #5C5F66;
  line-height: 17px;
  padding: 13px 0;
  height: 74px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-bottom .text-bottom-l {
  font-size: 12px;
  color: #959BA6;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-bottom .text-bottom-r .see-div {
  color: #959BA6;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-bottom .text-bottom-r .see-div .icon {
  font-size: 16px;
  vertical-align: sub;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-bottom .text-bottom-r .see-div span {
  font-size: 12px;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-bottom .text-bottom-r .praise-div {
  margin-left: 10px;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-bottom .text-bottom-r .praise-div .icon {
  font-size: 16px;
  color: #959BA6;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-bottom .text-bottom-r .praise-div .icon.curr {
  color: #0081D2;
}
.home-section .evaluate-section .list-pic .bd ul li .text .text-bottom .text-bottom-r .praise-div .bb {
  font-size: 12px;
  color: #959BA6;
}
.home-section .news-questions-section {
  padding: 50px 0 40px;
}
.home-section .news-questions-section .title .title-l {
  font-size: 24px;
  color: #3A3C40;
  font-weight: 600;
}
.home-section .news-questions-section .title .title-r {
  margin-top: 6px;
}
.home-section .news-questions-section .title .title-r span {
  font-size: 12px;
  color: #0081D2;
}
.home-section .news-questions-section .title .title-r i {
  height: 14px;
  width: 14px;
  background-color: #E89721;
  color: #fff;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
}
.home-section .news-questions-section .news-l {
  width: 772px;
}
.home-section .news-questions-section .news-l .news-div {
  margin-top: 20px;
}
.home-section .news-questions-section .news-l .news-div .news-div-l {
  position: relative;
  height: 280px;
  width: 380px;
  overflow: hidden;
}
.home-section .news-questions-section .news-l .news-div .news-div-l img {
  height: 280px;
  width: 380px;
}
.home-section .news-questions-section .news-l .news-div .news-div-l .desc-mask {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 107px;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 30px;
  color: #fff;
}
.home-section .news-questions-section .news-l .news-div .news-div-l .desc-mask h3 {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 20px;
}
.home-section .news-questions-section .news-l .news-div .news-div-l .desc-mask p {
  font-size: 12px;
  margin-top: 9px;
  max-height: 48px;
  overflow: hidden;
}
.home-section .news-questions-section .news-l .news-div .news-div-r {
  margin-left: 20px;
  width: 372px;
}
.home-section .news-questions-section .news-l .news-div .news-div-r .item {
  padding-bottom: 20px;
  border-bottom: 1px dashed #E6EAF2;
  margin-bottom: 20px;
}
.home-section .news-questions-section .news-l .news-div .news-div-r .item h3 {
  font-size: 14px;
  color: #3A3C40;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home-section .news-questions-section .news-l .news-div .news-div-r .item p {
  font-size: 12px;
  color: #959BA6;
  margin-top: 8px;
  height: 32px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.home-section .news-questions-section .questions-r {
  width: 378px;
  margin-left: 30px;
}
.home-section .news-questions-section .questions-r .questions-div {
  margin-top: 20px;
}
.home-section .news-questions-section .questions-r .questions-div .item {
  padding-bottom: 16px;
  border-bottom: 1px dashed #E6EAF2;
  margin-bottom: 20px;
}
.home-section .news-questions-section .questions-r .questions-div .item h3 .icon {
  font-size: 20px;
  color: #0081D2;
  width: 20px;
  margin-right: 4px;
}
.home-section .news-questions-section .questions-r .questions-div .item h3 span {
  font-size: 14px;
  color: #3A3C40;
  font-weight: 600;
  width: 351px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-section .news-questions-section .questions-r .questions-div .item p {
  padding-left: 24px;
  font-size: 12px;
  color: #959BA6;
  margin-top: 8px;
  height: 32px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.home-section .form-div {
  height: 100px;
  background-color: #0081D2;
}
.home-section .form-div .width-1180 {
  height: 100px;
}
.home-section .form-div .width-1180 .l {
  color: #fff;
}
.home-section .form-div .width-1180 .l h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0 4px;
}
.home-section .form-div .width-1180 .l p {
  font-size: 14px;
}
.home-section .form-div .width-1180 .r {
  padding-top: 30px;
  height: 50px;
}
.home-section .form-div .width-1180 .r .input-v {
  height: 40px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 2px;
  padding: 0 10px;
  line-height: 40px;
  font-size: 14px;
  color: #959BA6;
  width: 100px;
}
.home-section .form-div .width-1180 .r span.tt {
  font-size: 14px;
  color: #fff;
  padding: 0 10px;
}
.home-section .form-div .width-1180 .r .sel-div {
  width: 160px;
  font-size: 14px;
  color: #959BA6;
  margin-left: 10px;
}
.home-section .form-div .width-1180 .r .sel-div input {
  height: 40px;
}
.home-section .form-div .width-1180 .r .sel-div .layui-form-select dl dd.layui-this {
  background-color: #0081D2;
}
.home-section .form-div .width-1180 .r .btns {
  width: 160px;
  height: 40px;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  margin-left: 20px;
  color: #FFFFFF;
  font-size: 14px;
  background-color: #E89721;
}
.home-section .form-div .width-1180 .r .selects-qty .inp {
  height: 34px;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
  font-size: 14px;
  text-indent: 1em;
  background: #F9F9FB;
}
.layui-form-select .layui-input {
  font-size: 14px;
}
.layui-form-select dl dd {
  font-size: 14px;
}
.layui-form-select dl dd.layui-this {
  background-color: #0081D2;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%,
  75% {
    transform: scale(2.5);
  }
  78%,
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=index0721.css.map */