html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  font-family: sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  border: none;
}
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul,
dl {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
a {
  text-decoration: none;
  transition: color 0.2s ease;
}
img {
  border: none;
}
em {
  font-style: normal;
}
.clr {
  zoom: 1;
}
.clr:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.i-hide {
  display: none;
}
.i-show {
  display: block;
}
.lineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
}
.lbBox {
  font-size: 0 !important;
  *word-spacing: -1px !important;
}
.emptys {
  margin-left: -1px;
  width: 1px;
  height: 100%;
  font-size: 0;
  vertical-align: middle;
}
label,
dd,
dd,
dt {
  font-weight: normal;
}
.boxsiz {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a:hover,
a:focus {
  text-decoration: none;
}
html,
body {
  width: 100%;
  min-width: 1360px;
}
body {
  min-width: 1180px;
}
.width-1180 {
  width: 1180px;
  margin: 0 auto;
}
.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mr24 {
  margin-right: 24px;
}
.mr26 {
  margin-right: 26px;
}
.mr20 {
  margin-right: 20px;
}
.ml56 {
  margin-left: 56px;
}
.mb20 {
  margin-bottom: 20px;
}
.pcb-head {
  width: 100%;
  height: 130px;
  border-bottom: 1px solid #E6EAF2;
}
.pcb-head .pcb-head-wrap {
  height: 100%;
}
.pcb-head .pcb-head-wrap .l {
  height: 100%;
}
.pcb-head .pcb-head-wrap .l h2 a {
  width: 166px;
  height: 74px;
  display: block;
}
.pcb-head .pcb-head-wrap .l h2 a img {
  width: 166px;
  height: 74px;
}
.pcb-head .pcb-head-wrap .l .logo-tit {
  font-size: 16px;
  color: #5c5f66;
  font-weight: bold;
  margin-left: 35px;
}
.pcb-head .pcb-head-wrap .l .text {
  margin-left: 254px;
}
.pcb-head .pcb-head-wrap .l .text .text-t1 {
  font-size: 12px;
  margin-bottom: 8px;
  color: #737780;
}
.pcb-head .pcb-head-wrap .r {
  height: 100%;
}
.pcb-head .pcb-head-wrap .r .btn {
  width: 120px;
  height: 40px;
  background: #e89721;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
}
.pcb-head .pcb-head-wrap .r .car .iconfont {
  font-size: 32px;
  color: #d89941;
}
.pcb-head .pcb-head-wrap .r .car span {
  font-size: 14px;
  color: #5c5f66;
  padding: 0 10px 0 6px;
}
.pcb-head .pcb-head-wrap .r .car .circle {
  min-width: 10px;
  height: 16px;
  background: #E82121;
  border-radius: 8px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  padding: 0 3px;
}
.pcb-head .pcb-head-wrap .r .car:hover span {
  color: #0081d2;
}
.pcb-head .pcb-head-wrap .r .show {
  margin-left: 50px;
}
.pcb-head .pcb-head-wrap .r .show .tel {
  font-size: 14px;
  color: #0081d2;
  margin-bottom: 5px;
}
.pcb-head .pcb-head-wrap .r .show .bar-bottom .t1 {
  font-size: 14px;
  color: #5c5f66;
}
.pcb-head .pcb-head-wrap .r .show .bar-bottom .t1:hover {
  color: #0090eb;
}
.pcb-head .pcb-head-wrap .r .show .bar-bottom .circle {
  min-width: 10px;
  height: 16px;
  background: #E82121;
  border-radius: 8px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  padding: 0 3px;
  margin-left: 7px;
}
.pcb-footer {
  padding: 30px 0;
  border-top: 1px solid #E6EAF2;
}
.pcb-footer .pcb-footer-top .l ul {
  border-right: 1px dashed #E6EAF2;
  padding-right: 86px;
}
.pcb-footer .pcb-footer-top .l ul li {
  float: left;
  margin-right: 90px;
}
.pcb-footer .pcb-footer-top .l ul li a {
  margin-bottom: 10px;
  font-size: 14px;
  color: #5c5f66;
  display: block;
}
.pcb-footer .pcb-footer-top .l ul li a:hover {
  color: #0081d2;
}
.pcb-footer .pcb-footer-top .l ul li a:first-child {
  margin-bottom: 12px;
  color: #3a3c40;
  font-weight: bold;
}
.pcb-footer .pcb-footer-top .l ul li:last-child {
  margin-right: 0;
}
.pcb-footer .pcb-footer-top .r {
  padding-left: 60px;
}
.pcb-footer .pcb-footer-top .r .t1 {
  font-size: 14px;
  color: #5c5f66;
  margin-bottom: 3px;
}
.pcb-footer .pcb-footer-top .r .t2 {
  font-size: 20px;
  color: #3a3c40;
  font-weight: bold;
  margin-bottom: 20px;
}
.pcb-footer .pcb-footer-top .r .t3 {
  font-size: 14px;
  color: #5c5f66;
  margin-bottom: 4px;
}
.pcb-footer .pcb-footer-top .r .t4 {
  font-size: 14px;
  color: #5c5f66;
}
.pcb-footer .pcb-footer-top .r .code-pic {
  padding-left: 47px;
}
.pcb-footer .pcb-footer-top .r .code-pic img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
}
.pcb-footer .pcb-footer-top .r .code-pic p {
  font-size: 12px;
  color: #959ba6;
  text-align: center;
}
.pcb-footer .pcb-footer-bottom {
  border-top: 1px solid #E6EAF2;
  padding-top: 30px;
  margin-top: 30px;
}
.pcb-footer .pcb-footer-bottom .l .text {
  width: 504px;
  margin-right: 97px;
}
.pcb-footer .pcb-footer-bottom .l .text p {
  font-size: 12px;
  color: #959ba6;
}
.pcb-footer .pcb-footer-bottom .l .text p.t1 {
  margin-bottom: 8px;
}
.pcb-footer .pcb-footer-bottom .l .pic p {
  font-size: 12px;
  color: #959ba6;
  margin-bottom: 12px;
}
.pcb-footer .pcb-footer-bottom .l .pic img {
  width: 120px;
  height: 40px;
  margin-right: 20px;
}
.pcb-footer .pcb-footer-bottom .r p {
  font-size: 12px;
  color: #959ba6;
}
.pcb-footer .pcb-footer-bottom .r .pic img {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}
.sldie-bar {
  position: fixed;
  right: 5px;
  bottom: 100px;
  width: 80px;
  z-index: 999;
  display: none;
}
.sldie-bar dl {
  width: 80px;
  border-top: 1px solid #E6EAF2;
}
.sldie-bar dl dd {
  width: 78px;
  height: 80px;
  text-align: center;
  border-bottom: 1px solid #E6EAF2;
  border-left: 1px solid #E6EAF2;
  border-right: 1px solid #E6EAF2;
  transition: all 0.4s ease;
  background: #FAFAFE;
}
.sldie-bar dl dd a {
  height: 80px;
  display: block;
  text-align: center;
}
.sldie-bar dl dd a .circle {
  position: absolute;
  right: 18px;
  top: 11px;
  min-width: 10px;
  height: 16px;
  background: #E82121;
  border-radius: 8px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  padding: 0 3px;
  z-index: 99;
}
.sldie-bar dl dd a .iconfont {
  font-size: 40px;
  color: #76787c;
}
.sldie-bar dl dd a p {
  color: #5c5f66;
  font-size: 12px;
  margin-top: 6px;
}
.sldie-bar dl dd:hover a .iconfont {
  color: #0081d2;
}
.sldie-bar dl dd:hover a p {
  color: #0081d2;
}
.sldie-bar dl dt {
  width: 78px;
  height: 60px;
  margin-top: 20px;
  border: 1px solid #E6EAF2;
  background: #FAFAFE;
}
.sldie-bar dl dt a {
  height: 60px;
  display: block;
  text-align: center;
}
.sldie-bar dl dt a .iconfont {
  font-size: 40px;
  color: #76787c;
}
.sldie-bar dl dt:hover a .iconfont {
  color: #0081d2;
}
.sldie-bar dl dt:hover a p {
  color: #0081d2;
}
.home .nav-wrap .nav li {
  position: relative;
  float: left;
  height: 60px;
  line-height: 60px;
  margin-right: 60px;
  transition: all 0.2s ease;
}
.home .nav-wrap .nav li.curr:after {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #0081D2;
  width: 100%;
  height: 3px;
  content: '';
}
.home .nav-wrap .nav li a {
  font-size: 16px;
  color: #3a3c40;
  font-weight: bold;
}
.home .nav-wrap .nav li.curr a,
.home .nav-wrap .nav li:hover a {
  color: #0081d2;
}
.home .nav-wrap .login-bar {
  height: 60px;
}
.home .nav-wrap .login-bar .logged {
  width: 140px;
  height: 60px;
  padding: 0 20px;
  background: #F7F9FC;
  vertical-align: top;
}
.home .nav-wrap .login-bar .logged a:hover {
  color: #0090eb;
}
.home .nav-wrap .login-bar .logged .lg .iconfont {
  font-size: 26px;
  color: #959ba6;
}
.home .nav-wrap .login-bar .logged .lg span {
  font-size: 16px;
  color: #0081d2;
  font-weight: bold;
  margin-left: 10px;
}
.home .nav-wrap .login-bar .logged .line {
  width: 1px;
  height: 20px;
  background: #E6EAF2;
  color: #e6eaf2;
  margin: 0 20px 0 16px;
}
.home .nav-wrap .login-bar .logged .rg {
  font-size: 16px;
  color: #0081d2;
  font-weight: bold;
}
.home .nav-wrap .login-bar .logged-in .iconfont {
  font-size: 26px;
  color: #959ba6;
}
.home .nav-wrap .login-bar .logged-in .tel {
  font-size: 16px;
  color: #0081d2;
  font-weight: bold;
  padding: 0 10px;
}
.home .nav-wrap .login-bar .logged-in .text {
  font-size: 14px;
  color: #959ba6;
}
.layui-layer-setwin {
  right: 36px !important;
  top: 47px !important;
}
.layui-layer-title {
  font-size: 20px !important;
  font-weight: bold !important;
  background: #ffffff !important;
  height: auto !important;
  padding: 30px 0 15px 0 !important;
  margin: 0 30px;
}
.layui-layer-title span {
  position: relative;
  display: inline-block;
}
.layui-layer-title span:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  text-align: center;
  width: 100%;
  height: 5px;
  background: #0081D2;
  content: "";
  display: inline-block;
}
.layui-layer-page .layui-layer-content {
  height: auto;
  overflow: hidden;
}
.login-layer {
  padding: 50px 60px 40px 60px;
}
.login-layer .inpt {
  position: relative;
  margin-bottom: 20px;
  white-space: nowrap;
}
.login-layer .inpt .iconfont {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 30px;
  color: #e6eaf2;
  margin-top: -17px;
}
.login-layer .inpt .imgCode {
  width: 164px;
  height: 60px;
  text-align: right;
}
.login-layer .inpt .imgCode img {
  width: 120px;
  height: 60px;
}
.login-layer .inpt .inp {
  width: 320px;
  height: 58px;
  line-height: 58px;
  background: #f7f9fc;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
  padding-left: 60px;
  transition: all 0.4s ease;
}
.login-layer .inpt .inp:focus {
  border: 1px solid #0081d2;
  background: #ffffff;
}
.login-layer .inpt .inp::-webkit-input-placeholder {
  color: #959ba6;
}
.login-layer .inpt.error .iconfont {
  color: #e82121;
}
.login-layer .inpt.error .inp {
  border: 1px solid #e82121;
  color: #e82121;
}
.login-layer .inpt.status .iconfont {
  color: #0081d2;
}
.login-layer .btn {
  margin-top: 20px;
}
.login-layer .btn a {
  width: 380px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #0081D2;
  border-radius: 2px;
  display: block;
  font-size: 18px;
  color: #ffffff;
}
.login-layer .login-bar {
  padding-top: 30px;
}
.login-layer .login-bar .l .circle {
  width: 12px;
  height: 12px;
  padding: 3px;
  border-radius: 18px;
  border: 1px solid #C2C7CC;
  position: relative;
  top: -2px;
  cursor: pointer;
}
.login-layer .login-bar .l .circle.act {
  border-color: #0081D2;
}
.login-layer .login-bar .l .circle.act i {
  display: block;
  width: 12px;
  height: 12px;
  background: #0081D2;
  border-radius: 12px;
}
.login-layer .login-bar .l .txt {
  font-size: 14px;
  color: #959ba6;
  margin-left: 6px;
}
.login-layer .login-bar .r a {
  font-size: 14px;
  color: #0081d2;
}
.tip {
  text-align: center;
  height: 40px;
  line-height: 40px;
  background: rgba(255, 224, 178, 0.5);
}
.tip .tip-wrap {
  position: relative;
}
.tip .tip-wrap span {
  font-size: 14px;
  color: #e89721;
}
.tip .tip-wrap .iconfont {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
  color: #e89721;
  cursor: pointer;
}
.user-center {
  padding: 58px 0 70px 0;
}
.user-center .user-center-l {
  position: relative;
  width: 180px;
}
.user-center .user-center-l .title {
  position: absolute;
  left: 0;
  top: -38px;
  white-space: nowrap;
}
.user-center .user-center-l .title a {
  font-size: 12px;
  color: #5c5f66;
}
.user-center .user-center-l .title a.curr {
  color: #959ba6;
}
.user-center .user-center-l .title .iconfont {
  font-size: 14px;
  color: #959ba6;
  margin: 0 5px;
}
.user-center .user-center-l .menu dt {
  width: 180px;
  height: 50px;
  background: #0081D2;
  line-height: 50px;
  text-align: center;
  border-radius: 2px 2px 0px 0px;
}
.user-center .user-center-l .menu dt .iconfont {
  font-size: 17px;
  color: #ffffff;
}
.user-center .user-center-l .menu dt span {
  margin-left: 4px;
  font-size: 14px;
  color: #ffffff;
}
.user-center .user-center-l .menu dd {
  padding-top: 20px;
  border-left: 1px solid #E6EAF2;
  border-right: 1px solid #E6EAF2;
}
.user-center .user-center-l .menu dd:last-child {
  padding-bottom: 30px;
  border-bottom: 1px solid #E6EAF2;
}
.user-center .user-center-l .menu dd .tit {
  font-size: 14px;
  color: #3a3c40;
  font-weight: bold;
  padding-left: 30px;
  display: block;
  margin-bottom: 10px;
}
.user-center .user-center-l .menu dd ul li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 50px;
}
.user-center .user-center-l .menu dd ul li:last-child {
  margin-bottom: 0;
}
.user-center .user-center-l .menu dd ul li a {
  font-size: 14px;
  color: #5c5f66;
}
.user-center .user-center-l .menu dd ul li:hover a {
  color: #0081d2;
  font-weight: bold;
}
.user-center .user-center-l .menu dd ul li.curr:after {
  position: absolute;
  left: 0;
  top: 5px;
  content: '';
  width: 3px;
  height: 12px;
  background: #0081D2;
  z-index: 1;
}
.user-center .user-center-l .menu dd ul li.curr a {
  color: #0081d2;
  font-weight: bold;
}
.user-center .user-center-r {
  width: 960px;
  min-height: 500px;
}
.user-center .user-center-r .title {
  border-bottom: 1px solid #E6EAF2;
}
.user-center .user-center-r .title .l {
  position: relative;
  padding-bottom: 15px;
}
.user-center .user-center-r .title .l span {
  font-size: 20px;
  color: #3a3c40;
  font-weight: bold;
}
.user-center .user-center-r .title .l span:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #0081D2;
  content: '';
}
.user-center .user-center-r .title .l b {
  padding-left: 30px;
  font-weight: normal;
  font-size: 14px;
  color: #5c5f66;
  display: block;
  position: relative;
  top: 9px;
}
.user-center .user-center-r .title .l b a {
  color: #e89721;
}
.user-center .user-center-r .title .r span {
  font-size: 13px;
  color: #959ba6;
}
.user-center .user-center-r .title .r .iconfont {
  font-size: 14px;
  color: #5c5f66;
}
.user-center .user-center-r .title .r .btn {
  width: 120px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #0081D2;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  display: block;
}
.user-center .user-center-r .user-center-head .user-center-head-l {
  position: relative;
  width: 380px;
  height: 291px;
  background: #FFFFFF;
  border-radius: 40px 0 0 0;
  border: 1px solid #E6EAF2;
  white-space: nowrap;
}
.user-center .user-center-r .user-center-head .user-center-head-l .pic {
  width: 88px;
  cursor: pointer;
  margin: 30px auto 0;
}
.user-center .user-center-r .user-center-head .user-center-head-l .pic img {
  width: 88px;
  height: 88px;
}
.user-center .user-center-r .user-center-head .user-center-head-l .pic p {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #959ba6;
}
.user-center .user-center-r .user-center-head .user-center-head-l .text {
  text-align: center;
}
.user-center .user-center-r .user-center-head .user-center-head-l .text .t1 {
  font-size: 20px;
  color: #3a3c40;
  font-weight: bold;
  margin-bottom: 9px;
  padding-top: 10px;
}
.user-center .user-center-r .user-center-head .user-center-head-l .text .t2 {
  font-size: 12px;
  color: #959ba6;
}
.user-center .user-center-r .user-center-head .user-center-head-l .text .bar {
  margin-top: 19px;
  white-space: nowrap;
}
.user-center .user-center-r .user-center-head .user-center-head-l .text .bar li {
  text-align: center;
  width: 50%;
}
.user-center .user-center-r .user-center-head .user-center-head-l .text .bar li:first-child {
  border-right: 1px solid #E6EAF2;
}
.user-center .user-center-r .user-center-head .user-center-head-l .text .bar .t3 .iconzujiantubiaojiantou15 {
  font-size: 20px;
  color: #ffa624;
}
.user-center .user-center-r .user-center-head .user-center-head-l .text .bar .t3 .iconzujiantubiaojiantou13 {
  font-size: 20px;
  color: #0090eb;
}
.user-center .user-center-r .user-center-head .user-center-head-l .text .bar .t3 span {
  font-size: 12px;
  color: #5c5f66;
  margin-left: 5px;
}
.user-center .user-center-r .user-center-head .user-center-head-l .text .bar .t4 {
  font-size: 20px;
  color: #e82121;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
}
.user-center .user-center-r .user-center-head .user-center-head-r {
  width: 577px;
  height: 291px;
  background: #F7F9FC;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid #E6EAF2;
  border-left: none;
  text-align: center;
}
.user-center .user-center-r .user-center-head .user-center-head-r .my-account {
  padding: 30px;
  border-bottom: 1px solid #E6EAF2;
}
.user-center .user-center-r .user-center-head .user-center-head-r .my-account h3 {
  color: #3A3C40;
  font-size: 16px;
  font-weight: 600;
}
.user-center .user-center-r .user-center-head .user-center-head-r .my-account .setting {
  font-size: 12px;
  color: #0081D2;
  cursor: pointer;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-warpper {
  margin-top: 40px;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-1 {
  padding-right: 29px;
  text-align: left;
  border-right: 1px solid #E6EAF2;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-1 ul li {
  width: 250px;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-1 ul li img {
  height: 50px;
  width: 50px;
  border-radius: 50% 50%;
  border: 1px solid #E6EAF2;
  box-sizing: border-box;
  margin-right: 18px;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-1 ul li:first-child {
  margin-bottom: 30px;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-1 ul li .t1 {
  margin-bottom: 6px;
  width: 182px;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-1 ul li .t1 .l {
  font-size: 14px;
  color: #5c5f66;
  margin-top: 5px;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-1 ul li .t1 .r {
  position: relative;
  top: 3px;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-1 ul li .t1 .r em {
  font-size: 14px;
  color: #0081d2;
  vertical-align: middle;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-1 ul li .t1 .r i {
  font-size: 20px;
  color: #0081d2;
  vertical-align: middle;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-1 ul li .t2 span {
  font-size: 14px;
  color: #3a3c40;
  font-weight: bold;
  margin-right: 10px;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-1 ul li .t2 em {
  font-size: 14px;
  color: #959ba6;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-2 {
  width: 200px;
  padding-left: 28px;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-2 .tit .l .iconfont {
  font-size: 20px;
  color: #0081d2;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-2 .tit .l span {
  font-size: 16px;
  color: #3a3c40;
  font-weight: bold;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-2 .tit .r span {
  font-size: 13px;
  color: #959ba6;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-2 .tit .r .iconfont {
  font-size: 14px;
  color: #5c5f66;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-2 .text {
  margin-top: 19px;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-2 .text li {
  margin-bottom: 10px;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-2 .text li a {
  display: block;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-2 .text li a .l {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #5c5f66;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-2 .text li a .r {
  font-size: 12px;
  color: #959ba6;
}
.user-center .user-center-r .user-center-head .user-center-head-r .text-2 .text li:hover a .l {
  color: #0090eb;
}
.user-center .user-center-r .user-center-section {
  position: relative;
  margin-top: 30px;
}
.user-center .user-center-r .user-center-section .order-status {
  white-space: nowrap;
}
.user-center .user-center-r .user-center-section .order-status li {
  width: 159px;
  margin: 30px 0 35px 0;
  border-right: 1px solid #E6EAF2;
  text-align: center;
  vertical-align: middle;
}
.user-center .user-center-r .user-center-section .order-status li .ico .iconfont {
  font-size: 20px;
  color: #959ba6;
  vertical-align: middle;
}
.user-center .user-center-r .user-center-section .order-status li .ico .iconzujiantubiaojiantou {
  color: #1A8ED7;
}
.user-center .user-center-r .user-center-section .order-status li .ico span {
  font-size: 14px;
  color: #3a3c40;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 4px;
}
.user-center .user-center-r .user-center-section .order-status li .num {
  font-size: 20px;
  color: #e82121;
  font-weight: bold;
}
.user-center .user-center-r .user-center-section .order-status li:last-child {
  border-right: none;
}
.user-center .user-center-r .user-center-section .order-status li em {
  font-size: 14px;
  color: #0081d2;
  font-weight: bold;
}
.user-center .user-center-r .user-center-section .list-th {
  width: 928px;
  height: 50px;
  padding-left: 30px;
  line-height: 50px;
  background: #F7F9FC;
  border-radius: 2px;
  border: 1px solid #E6EAF2;
}
.user-center .user-center-r .user-center-section .list-th li {
  float: left;
  font-size: 14px;
  color: #5c5f66;
}
.user-center .user-center-r .user-center-section .list-th li.tc {
  text-align: center;
}
.user-center .user-center-r .user-center-section .list-th li.tr {
  text-align: right;
}
.user-center .user-center-r .user-center-section .data-list {
  margin-top: 10px;
  margin-bottom: 40px;
}
.user-center .user-center-r .user-center-section .data-list table {
  width: 960px;
  border: 1px solid #ACB3BF;
  margin-bottom: 10px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr:nth-of-type(n+2) td:first-child {
  border-left: 1px solid #ACB3BF;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr:nth-of-type(n+2) td:last-child {
  border-right: 1px solid #ACB3BF;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr:nth-of-type(n+2):last-child {
  border-bottom: 1px solid #ACB3BF;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr:nth-of-type(n+2):last-child td {
  border-bottom: 1px solid #ACB3BF;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr th {
  white-space: nowrap;
  padding-left: 30px;
  height: 50px;
  text-align: left;
  font-weight: normal;
  border: 1px solid #ACB3BF;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr th .t1 {
  font-size: 14px;
  color: #3a3c40;
  font-weight: bold;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr th .t2 {
  font-size: 14px;
  color: #5c5f66;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr th .t3 i {
  font-size: 26px;
  color: #0081D2;
  vertical-align: middle;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr th .t3 em {
  font-size: 14px;
  color: #0081d2;
  vertical-align: middle;
  margin-left: 8px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td {
  border: 1px solid #E6EAF2;
  padding: 20px 0;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type1 {
  padding-left: 30px;
  width: 253px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type1 .t1 {
  width: 253px;
  color: #3a3c40;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type1 .t2 {
  color: #5c5f66;
  font-size: 14px;
  margin-bottom: 8px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type1 .t3 {
  color: #5c5f66;
  font-size: 14px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type2 {
  width: 72px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type2 .t1 {
  width: 72px;
  font-size: 14px;
  color: #5C5F66;
  text-align: center;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type3 {
  text-align: center;
  width: 218px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type3 .t1 {
  width: 218px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type3 .t1 .iconfont {
  font-size: 24px;
  color: #e8b46b;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type3 .t1 span {
  font-size: 14px;
  color: #3a3c40;
  margin-left: 7px;
  font-weight: bold;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type3 .t2 {
  width: 218px;
  margin-top: 7px;
  font-size: 14px;
  color: #959ba6;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type4 {
  width: 128px;
  padding-left: 9px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type4 .t1 {
  width: 118px;
  color: #e82121;
  font-size: 14px;
  font-weight: bold;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type5 {
  width: 100px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type5 .t1 {
  width: 100px;
  font-size: 14px;
  color: #5c5f66;
  text-align: center;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 {
  width: 72px;
  font-size: 14px;
  color: #e82121;
  text-align: center;
  font-weight: bold;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t1 {
  width: 72px;
  color: #E82121;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t2 {
  width: 72px;
  font-size: 14px;
  color: #0081d2;
  font-weight: bold;
  margin-bottom: 10px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t3 {
  width: 72px;
  font-size: 14px;
  color: #5c5f66;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t4 {
  width: 72px;
  font-size: 14px;
  color: #0081D2;
  font-weight: 600;
  margin-bottom: 10px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t5 {
  width: 72px;
  font-size: 14px;
  color: #5C5F66;
  cursor: pointer;
  position: relative;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t5:hover {
  color: #0081D2;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t5:hover .translate-tips {
  height: auto;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t5 .translate-tips {
  position: absolute;
  width: 320px;
  left: -143px;
  z-index: 1;
  height: 0;
  overflow: hidden;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t5 .translate-tips .arrow {
  position: relative;
  z-index: 4;
  top: 1px;
  left: 165px;
  display: block;
  height: 8px;
  width: 16px;
  background: url('../../images/pcb/top-arrow.png') no-repeat;
  background-size: 100% 100%;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t5 .translate-tips .tips-text {
  border: 1px solid #0081D2;
  padding: 3px 24px 18px;
  background-color: #fff;
  box-shadow: 0px 5px 20px 0px rgba(172, 179, 191, 0.2);
  border-radius: 2px;
  max-height: 300px;
  overflow-y: auto;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t5 .translate-tips .tips-text .tip {
  position: relative;
  margin-top: 15px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t5 .translate-tips .tips-text .tip .mark {
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50% 50%;
  background-color: #ACB3BF;
  top: 5px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t5 .translate-tips .tips-text .tip .mark.active {
  background-color: #0081D2;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t5 .translate-tips .tips-text .tip .text {
  margin-left: 31px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t5 .translate-tips .tips-text .tip .text p {
  text-align: left;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t5 .translate-tips .tips-text .tip .text p.detail {
  font-size: 14px;
  color: #3A3C40;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type6 .t5 .translate-tips .tips-text .tip .text p.time {
  font-size: 12px;
  color: #959BA6;
  margin-top: 2px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type7 {
  width: 70px;
  font-size: 14px;
  color: #0081d2;
  text-align: center;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type7 .t1 {
  width: 70px;
  font-size: 14px;
  color: #0081d2;
  margin-bottom: 10px;
  display: block;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.type7 .t2 {
  width: 70px;
  font-size: 14px;
  color: #5c5f66;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.sumtext {
  height: 59px;
  padding: 0 20px 0 30px;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.sumtext .l {
  height: 100%;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.sumtext .l .t1 span {
  font-size: 14px;
  color: #5c5f66;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.sumtext .l .t1 em {
  font-size: 14px;
  color: #3a3c40;
  font-weight: bold;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.sumtext .l .t2 span {
  font-size: 14px;
  color: #5c5f66;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.sumtext .l .t2 em {
  font-size: 16px;
  color: #e82121;
  font-weight: bold;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.sumtext .r {
  height: 59px;
  white-space: nowrap;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.sumtext .r .canel {
  font-size: 14px;
  color: #959ba6;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.user-center .user-center-r .user-center-section .data-list table tbody tr td.sumtext .r .ok {
  width: 120px;
  height: 40px;
  background: #E82121;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-left: 20px;
}
.user-center .user-center-r .user-center-section .drying-list ul {
  margin-top: 20px;
  width: 960px;
}
.user-center .user-center-r .user-center-section .drying-list ul li {
  float: left;
  height: 383px;
  margin-right: 20px;
}
.user-center .user-center-r .user-center-section .drying-list ul li:nth-of-type(3n) {
  margin-right: 0;
}
.user-center .user-center-r .user-center-section .drying-list ul li a {
  display: block;
}
.user-center .user-center-r .user-center-section .drying-list ul li a .pic {
  width: 280px;
  height: 220px;
}
.user-center .user-center-r .user-center-section .drying-list ul li a .pic img {
  width: 280px;
  height: 220px;
}
.user-center .user-center-r .user-center-section .drying-list ul li a .text {
  padding: 20px 20px 30px 20px;
  background: #ffffff;
}
.user-center .user-center-r .user-center-section .drying-list ul li a .text .t1 {
  font-size: 14px;
  color: #5c5f66;
  margin-bottom: 30px;
  width: 240px;
  height: 38px;
  white-space: normal;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.user-center .user-center-r .user-center-section .drying-list ul li a .text .t2 {
  font-size: 14px;
  color: #3a3c40;
  margin-bottom: 6px;
}
.user-center .user-center-r .user-center-section .drying-list ul li a .text .t3 {
  font-size: 12px;
  color: #959BA6;
}
.user-center .user-center-r .user-center-section .drying-list ul li a .text .star dd {
  float: left;
  font-size: 16px;
  color: #ea9621;
  margin-right: 5px;
}
.user-center .user-center-r .user-center-section .drying-list ul li a .text .star dd.default {
  color: #afb2bc;
}
.user-center-layer {
  padding: 30px;
}
.user-center-layer .t1 {
  font-size: 15px;
  color: #5c5f66;
}
.user-center-layer .txt {
  margin-top: 30px;
}
.user-center-layer .txt .t2 {
  font-size: 14px;
  color: #5c5f66;
  margin-right: 5px;
}
.user-center-layer .btn {
  margin-top: 30px;
  margin-left: 63px;
}
.user-center-layer .btn a {
  width: 100px;
  height: 40px;
  background: #0081d2;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  display: block;
}
.layui-form-select .layui-input,
.layui-form-select dl dd,
.layui-form-select dl dt {
  font-size: 14px;
}
.layui-form-select dl dd.layui-this {
  background: #0081d2 !important;
}
.layui-layer-page .layui-layer-content {
  height: auto !important;
  overflow: visible !important;
}
.review-layer {
  padding: 30px;
}
.review-layer table {
  width: 100%;
}
.review-layer table tbody tr td {
  padding: 10px;
  border: 1px solid #E6EAF2;
  font-size: 14px;
  height: 50px;
  color: #5c5f66;
}
.review-layer table tbody tr td p {
  color: #5c5f66;
  font-size: 14px;
}
.review-layer .btn {
  width: 100px;
  height: 40px;
  background: #0081d2;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  margin: 20px auto 0;
  display: block;
}
.layui-textarea {
  font-size: 14px;
}
.user-center-empty {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.user-center-empty .iconfont {
  font-size: 180px;
  color: #0081d2;
}
.user-center-empty p {
  margin-top: 19px;
  font-size: 20px;
  color: #3a3c40;
  font-weight: bold;
}
/*# sourceMappingURL=index.css.map */